// NOTIFICATION & ALERT COLORS
$red: #e33734;
$light-red: #ed9898;
$lighter-red: #fccacf;

$orange: #f24f1d;
$alt-dark-orange: #e97659;

$yellow: #fad634;
$light-yellow: #fcf39d;
$lighter-yellow: #fcf7c2;

$green: #429e47;
$light-green: #a5d6a7;
$lighter-green: #c5e3c6;

$alt-red: #e45959;
$alt-orange: #ffa059;
$alt-yellow: #ffc859;
$alt-green: #59db8f;
$alt-dark-blue: #7499ff;
$alt-blue-grey: #97aab3;

$white: #fff !default;
$transparent: transparent;

// MAIN COLORS
$body-bg-color: #ebeef0 !default; //NEW page bg color
$font-color: #1f2c33 !default; //NEW
$font-alt-color: #768d99 !default; //NEW
$main-color: #0275b8 !default; //NEW Used across main nav bg and main button bg
//$main-subnav-bg-color: #013e61 !default; //NEW

// UI COLORS
$ui-bg-color: #fff !default; //NEW ui element's bg color: widgets, containers for forms, tables, filters, action menus
$ui-bg-hover-color: #e8f4fa !default; //NEW light blue hover for table rows, alt buttons, etc.
$ui-border-color: #e8f4fa !default; //NEW
$action-bg-hover-color: #ebebeb !default; //NEW action menu item, calendar item hover colors
$action-border-color: #ccd5d9 !default; //NEW action menu item, calendar, all overlay border color
$table-border-color: #ebeef0 !default; // NEW row separator color in tables


// FORM COLORS
$form-border-color: #acbbc2 !default; //NEW
$form-bg-color: #fff !default; //NEW
$form-disabled-bg-color: #ebebeb !default; //NEW

// BUTTON COLORS
$main-btn-bg-color: #0275b8 !default;
$alt-btn-bg-color: transparent !default;
$form-btn-bg-color: transparent !default;






$primary-blue: #0275b8 !default; // USED Primary top nav color
//$secondary-blue: #013e61 !default; // USED Secondary top subnav color


$alt-blue: #e8f4fa!default; // USED

$blue-grey: #768d99 !default;
$light-blue-grey: #acbbc2 !default;
$lighter-blue-grey: #ccd5d9 !default;
$lightest-blue-grey: #ebeef0 !default; //Background color and table border color



$light-grey: #ebebeb !default; // USED
//$lighter-grey: #f2f2f2 !default;

$indigo-black: #1f2c33 !default; // USED















// LINK COLORS
$link-color: #0275b8 !default; // Primary Blue
$link-hover-color: #0275b8 !default;
$link-active-color: #0275b8 !default;
$link-visited-color: #0275b8 !default;

$link-main-nav-color: #bfdced !default; // Nav Blue
$link-main-nav-hover-color: #fff !default;
$link-main-nav-active-color: #fff !default;
$link-main-nav-visited-color: #bfdced !default;

$link-main-subnav-color: #bfced7 !default; // SubNav Blue
$link-main-subnav-hover-color: #fff !default;
$link-main-subnav-active-color: #fff !default;
$link-main-subnav-visited-color: #bfced7 !default;

