// NOTIFICATION & ALERT COLORS
$red: #e33734;
$light-red: #ed9898;
$lighter-red: #fccacf;

$orange: #f24f1d;
$alt-dark-orange: #e97659;

$yellow: #fad634;
$light-yellow: #fcf39d;
$lighter-yellow: #fcf7c2;

$green: #429e47;
$light-green: #a5d6a7;
$lighter-green: #c5e3c6;

$alt-red: #e45959;
$alt-orange: #ffa059;
$alt-yellow: #ffc859;
$alt-green: #59db8f;
$alt-dark-blue: #7499ff;
$alt-blue-grey: #97aab3;

$white: #fff !default;
$transparent: transparent;

// MAIN COLORS
$body-bg-color: #ebeef0 !default; //NEW page bg color
$font-color: #1f2c33 !default; //NEW
$font-alt-color: #768d99 !default; //NEW
$main-color: #0275b8 !default; //NEW Used across main nav bg and main button bg
//$main-subnav-bg-color: #013e61 !default; //NEW

// UI COLORS
$ui-bg-color: #fff !default; //NEW ui element's bg color: widgets, containers for forms, tables, filters, action menus
$ui-bg-hover-color: #e8f4fa !default; //NEW light blue hover for table rows, alt buttons, etc.
$ui-border-color: #e8f4fa !default; //NEW
$action-bg-hover-color: #ebebeb !default; //NEW action menu item, calendar item hover colors
$action-border-color: #ccd5d9 !default; //NEW action menu item, calendar, all overlay border color
$table-border-color: #ebeef0 !default; // NEW row separator color in tables


// FORM COLORS
$form-border-color: #acbbc2 !default; //NEW
$form-bg-color: #fff !default; //NEW
$form-disabled-bg-color: #ebebeb !default; //NEW

// BUTTON COLORS
$main-btn-bg-color: #0275b8 !default;
$alt-btn-bg-color: transparent !default;
$form-btn-bg-color: transparent !default;






$primary-blue: #0275b8 !default; // USED Primary top nav color
//$secondary-blue: #013e61 !default; // USED Secondary top subnav color


$alt-blue: #e8f4fa!default; // USED

$blue-grey: #768d99 !default;
$light-blue-grey: #acbbc2 !default;
$lighter-blue-grey: #ccd5d9 !default;
$lightest-blue-grey: #ebeef0 !default; //Background color and table border color



$light-grey: #ebebeb !default; // USED
//$lighter-grey: #f2f2f2 !default;

$indigo-black: #1f2c33 !default; // USED















// LINK COLORS
$link-color: #0275b8 !default; // Primary Blue
$link-hover-color: #0275b8 !default;
$link-active-color: #0275b8 !default;
$link-visited-color: #0275b8 !default;

//$link-alt-color: #4e9ecd !default; // Light Primary Blue
//$link-alt-hover-color: #4e9ecd !default;
//$link-alt-active-color: #4e9ecd !default;
//$link-alt-visited-color: #4e9ecd !default;

$link-main-nav-color: #bfdced !default; // Nav Blue
$link-main-nav-hover-color: #fff !default;
$link-main-nav-active-color: #fff !default;
$link-main-nav-visited-color: #bfdced !default;

$link-main-subnav-color: #bfced7 !default; // SubNav Blue
$link-main-subnav-hover-color: #fff !default;
$link-main-subnav-active-color: #fff !default;
$link-main-subnav-visited-color: #bfced7 !default;


// TYPOGRAPHY
$font-stack: Arial, Tahoma, Verdana, sans-serif;

$font-body-size: 75%; // Default 1em/12px
$body-line-height: 1.4em;

$font-h1-size: 1.750em; // 21px
$h1-line-height: 1.2em;

$font-h2-size: 1.5em; // 18px
$h2-line-height: 1.2em;

$font-h3-size: 0.917em; // 11px

$font-h4-size: 1.333em; //16px
$h4-line-height: 1.2em;

$font-top-nav-size: 1.167em; // 14px

$font-setup-title: 7em; // 84px
$setup-title-line-height: 0.75em;
$font-setup-sup-title: 0.250em; // 21px

$font-form-size: 1em; // Default 1em/12px 
$font-msg-reset-size: 0.850em; // Default 1em/12px

$font-transform: uppercase;

// IMAGE MAPS
$browsers: (
	chrome: url(../img/browser-sprite.png) no-repeat 0 0,
	ff: url(../img/browser-sprite.png) no-repeat -66px 0px,
	ie: url(../img/browser-sprite.png) no-repeat 0 -66px,
	opera: url(../img/browser-sprite.png) no-repeat -66px -66px,
	safari: url(../img/browser-sprite.png) no-repeat 0 -132px

);

// FONT MIXINS
@mixin font-body {
	font: $font-body-size $font-stack;
	line-height: $body-line-height;
}

@mixin font-h1 {
	font-size: $font-h1-size;
	line-height: $h1-line-height;
}

@mixin font-h2 {
	font-size: $font-h2-size;
	line-height: $h2-line-height;
}

@mixin font-h3 {
	font-size: $font-h3-size;
	text-transform: $font-transform;
	color: $blue-grey;
	letter-spacing: 0.0688em;
	text-rendering: optimizeLegibility;
}

@mixin font-h4 {
	font-size: $font-h4-size;
	line-height: $h4-line-height;
}

@mixin font-form {
	font: $font-form-size $font-stack;
}

@mixin font-setup-title {
	font-size: $font-setup-title;
	line-height: $setup-title-line-height;
}


//CSS3 MIXINS
@mixin box-shadow($shadow...) {
	-webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin transition($arguments...) {
	-webkit-transition: $arguments;
	-moz-transition: $arguments;
	transition: $arguments;
}

@mixin box-sizing($box-model) {
	-webkit-box-sizing: $box-model;
	-moz-box-sizing: $box-model;
	box-sizing: $box-model;
}

@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity=$opacity-ie);
}

@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	transform: $transforms;
}

@mixin rotate($rotate: 0) {
	-webkit-transform: rotate($rotate +deg);
	-moz-transform: rotate($rotate +deg);
	-ms-transform: rotate($rotate +deg);
	transform: rotate($rotate +deg);
}
