// TYPOGRAPHY
$font-stack: Arial, Tahoma, Verdana, sans-serif;
$font-stack-mono: "Courier New", Courier, monospace;

$font-body-size: 75%; // Default 1em/12px
$body-line-height: 1.4em;

$font-h1-size: 1.750em; // 21px
$h1-line-height: 1.2em;

$font-h2-size: 1.5em; // 18px
$h2-line-height: 1.2em;

$font-h3-size: 0.917em; // 11px

$font-h4-size: 1.167em; // 14px //1.333em; // 16px
$h4-line-height: 1.2em;

$font-top-nav-size: 1.167em; // 14px

$font-mono-size: 1em; // 12px

$font-setup-title: 7em; // 84px
$setup-title-line-height: 0.75em;
$font-setup-sup-title: 0.250em; // 21px

$font-form-size: 1em; // Default 1em/12px 
$font-msg-reset-size: 0.850em; // Default 1em/12px

$font-transform: uppercase;
