//CSS3 MIXINS
@mixin box-shadow($shadow...) {
	-webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin transition($arguments...) {
	-webkit-transition: $arguments;
	-moz-transition: $arguments;
	transition: $arguments;
}

@mixin box-sizing($box-model) {
	-webkit-box-sizing: $box-model;
	-moz-box-sizing: $box-model;
	box-sizing: $box-model;
}

@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity=$opacity-ie);
}

@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	transform: $transforms;
}

@mixin rotate($rotate: 0) {
	-webkit-transform: rotate($rotate +deg);
	-moz-transform: rotate($rotate +deg);
	-ms-transform: rotate($rotate +deg);
	transform: rotate($rotate +deg);
}
