// MAIN ELEMENT COLORS
$primary-color: #1e71ad; // Blue
$secondary-color: #1e3d61; // Dark Blue 
$body-bgcolor: #e9edf2; // Grey Blue
$body-content-bgcolor: #fff; // Body Content White
$underline-color: #d0d4d9; 


// LINK COLORS
$link-color: #3071ab; // Blue
$link-hover-color: #3b8bd1; // Light Blue
$link-active-color: #3b8bd1; // Light Blue
$link-visited-color: #3071ab; // Blue

$link-alt-color: #4f86a8; // Alt Blue
$link-alt-hover-color: #3b8bd1; // Alt Light Blue
$link-alt-active-color: #3b8bd1; // Alt Light Blue
$link-alt-visited-color: #4f86a8; // Alt Blue

$link-topnav-color: #bfdbea; // Nav Light Blue
$link-topnav-hover-color: #fff; // Nav White
$link-topnav-active-color: #fff; // Nav White
$link-topnav-visited-color: #bfdbea; // Nav White

$link-topsubnav-color: #bfced7; // SubNav Light Blue
$link-topsubnav-hover-color: #fff; // SubNav White
$link-topsubnav-active-color: #fff; // SubNav White
$link-topsubnav-visited-color: #bfced7; // SubNav Light Blue

// TABLE COLORS
$table-hordivider-color: #e9edf2; // Grey Blue
$table-tr-selected-color: #ffffcc; // Yellow


// FORM COLORS
$form-transparent-color: transparent;
$form-disabled-color: #c4c8cc; // Disabled Light Grey 
$form-input-color: #b8bbbf; // Light Grey
$form-input-top-placeholder: #c5d8e5; // Search Light Blue
$form-input-top-focus-placeholder: #a9a9a9; // Search Grey

// ALERT COLORS
$alert-green-color: #3a8a43; // Green
$alert-green-bg-color: #dff0d8; // Light Green
$alert-green-border-color: #ccdebd; // Dark Green

$alert-red-color: #a83331; // Red
$alert-red-bg-color: #f2dede; // Light Red
$alert-red-border-color: #ebccd1; // Dark Red

$alert-orange-color: #f37421; // Orange

$alert-grey-color: #828282; // Alert Grey
$alert-grey-bg-color: #e0e0e0; // Alert Light Grey 
$alert-grey-border-color: #cfcfcf; // Alert Dark Grey

// TYPOGRAPHY
$font-stack: Arial, Tahoma, Verdana, sans-serif;

$font-color: #1f2c33; // Navy Black
$font-alt-color: #828282; // Alt Grey
$font-white-color: #fff; // Alt White

$font-body-size: 75%; // Default 1em/12px
$body-line-height: 1.4em;

$font-h1-size: 1.750em; // 21px
$h1-line-height: 1.2em;

$font-h2-size: 1.500em; // 18px
$h2-line-height: 1.2em;

$font-h3-size: 0.917em; // 11px

$font-h4-size: 1.167em; //14px
$h4-line-height: 1.2em;

$font-top-nav-size: 1.167em; // 14px

$font-form-size: 1em; // Default 1em/12px 

$font-transform: uppercase;


// MIXINS

// Fonts
@mixin font-body {
	font: $font-body-size $font-stack;
	line-height: $body-line-height;
}

@mixin font-h1 {
	font-size: $font-h1-size;
	line-height: $h1-line-height;
}

@mixin font-h2 {
	font-size: $font-h2-size;
	line-height: $h2-line-height;
}

@mixin font-h3 {
	font-size: $font-h3-size;
	text-transform: $font-transform;
	color: $font-alt-color;
}

@mixin font-h4 {
	font-size: $font-h4-size;
	line-height: $h4-line-height;
}

@mixin font-form {
	font: $font-form-size $font-stack;
}

// Tables
@mixin list-table-header {
	font-size: $font-h3-size;   
	text-transform: $font-transform;
}

//CSS3
@mixin box-shadow($shadow) {
	-webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin transition($arguments...) {
	-webkit-transition: $arguments;
	-moz-transition: $arguments;
	transition: $arguments;
}

@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity=$opacity-ie);
}

@mixin placeholder($placehldr-color) {
	&::-webkit-input-placeholder {
		color: $placehldr-color;
	}

	&::-moz-placeholder {
		color: $placehldr-color;
	}

	&:-ms-input-placeholder {
		color: $placehldr-color;
	}
}
