// NOTIFICATION & ALERT
$red: #e45959;
$light-red: #503434;
$lighter-red: #473232;

$lighter-yellow: #4a442c;

$green: #59db8f;
$light-green: #344e3f;
$lighter-green: #32453a;


// MAIN
$main-color: #2d3135;
$font-color: #f2f2f2;
$font-alt-color: #737373;//#768d99;
$body-bg-color: #0e1012;


// UI
$ui-bg-color: #2b2b2b;
$ui-bg-selected-color: #4f4f4f;
$ui-hover-color: #333;

$action-hover-color: #454545;
$action-border-color: #383838;

$table-border-color: #383838;


// FORMS
$form-font-color: #e1e3ed;
$form-bg-color: #2b2b2b;
$form-border-color: #4f4f4f;
$form-border-focus-color: #768d99;

$form-disabled-font-color: #525252;
$form-disabled-bg-color: #2b2b2b;
$form-disabled-border-color: #3d3d3d;


// BUTTONS
$btn-font-color: #f2f2f2;
$btn-bg-color: #69808d;//#768d99;
$btn-border-color: #768d99;

$btn-alt-font-color: #768d99;
$btn-alt-bg-color: transparent;
$btn-alt-border-color: $btn-border-color;

$btn-form-font-color: #f2f2f2;
$btn-form-bg-color: transparent;
$btn-form-border-color: $form-border-color;

$btn-disabled-font-color: #525252;
$btn-disabled-bg-color: transparent;
$btn-disabled-border-color: #3d3d3d;


// LINKS
$link-color: #4796c4;
$link-hover-color: #4796c4;
$link-active-color: #4796c4;
$link-visited-color: #4796c4;

$link-main-nav-color: #b9bbc4;
$link-main-nav-hover-color: #e6e8f3;
$link-main-nav-active-color: #e6e8f3;
$link-main-nav-visited-color: #e6e8f3;

$link-main-subnav-color: #bfced7;
$link-main-subnav-hover-color: #fff;
$link-main-subnav-active-color: #fff;
$link-main-subnav-visited-color: #bfced7;



// Important! @import string should come after variables
@import 'screen.scss';

.dashbrd-widget {
	@include box-shadow(0 0 0 1px #303030);
}

.list-table {
	@include box-shadow(0 0 0 1px #303030);
}

.table-paging {
	@extend %no-shadow;
}

.table-forms-container {
	@include box-shadow(0 0 0 1px #303030);
}

.setup-container {
	@include box-shadow(0 0 0 1px #303030);
}

.signin-container {
	@include box-shadow(0 0 0 1px #303030);
}

.object-group {

	.selected {
		@include box-shadow(0 0 0 1px #303030);
	}
}

%no-shadow {
	@include box-shadow(none);
}

.search-suggest {
	@include box-shadow(0 6px 10px 0 rgba(0,0,0,0.5));
}

.action-menu {
	@include box-shadow(0 6px 10px 0 rgba(0,0,0,0.5));
}

.overlay-dialogue {
	@include box-shadow(0 6px 10px 0 rgba(0,0,0,0.5));
}

.available {
	@include box-shadow(0 6px 10px 0 rgba(0,0,0,0.5));
}
