// NOTIFICATION & ALERT
$red: #990000;
$light-red: #cc0000;
$lighter-red: #cc0000;

$dark-yellow: #e99003;
$yellow: #a78820;
$light-yellow: #f4f4f4;
$lighter-yellow: #f4f4f4;

$green: #009900;
$light-green: #009900;
$lighter-green: #00cc00;

$blue: #429ae3;

// MAIN
$main-nav-bg-color: #fff;
$main-subnav-bg-color: #000;
$main-subnav-bg-selected-color: #000;
$main-color: #fff;
$font-color: #000;
$font-selected-color: #fff;
$font-alt-color: #333;
$body-bg-color: #fff;
$overlay-bg-color: #000;


// UI
$ui-bg-color: #fff;
$ui-bg-selected-color: #333;
$ui-hover-color: #fff;
$ui-border-color: #9f9f9f;

$action-hover-color: #454545;
$action-border-color: #383838;
$action-shadow-color: rgba(#000, 0.5);

$table-border-color: #888;

$ui-tab-bg-selected-color: #888;


// FORMS
$form-font-color: #000;
$form-bg-color: #fff;
$form-border-color: #888;
$form-border-focus-color: #000;

$form-disabled-font-color: #9f9f9f;
$form-disabled-bg-color: #fff;
$form-disabled-border-color: #9f9f9f;

$scrollbar-track-color: #999;
$scrollbar-thumb-color: #f9f9f9;
$scrollbar-thumb-color-darken: 30%;

// BUTTONS
$btn-font-color: #fff;
$btn-bg-color: #555;
$btn-border-color: #333;

$btn-alt-font-color: #000;
$btn-alt-bg-color: transparent;
$btn-alt-border-color: $btn-border-color;

$btn-form-font-color: #333;
$btn-form-bg-color: $form-bg-color;
$btn-form-hover-color: #f4f4f4;
$btn-form-border-color: $form-border-color;

$btn-disabled-font-color: #999;
$btn-disabled-bg-color: transparent;
$btn-disabled-border-color: #999;

$btn-back-map-background-color: rgba(0, 0, 0, 0.8);
$btn-back-text-color: white;
$btn-back-background-hover: #000;

// LINKS
$link-color: #555;
$link-hover-color: #000;
$link-active-color: #555;
$link-visited-color: #555;

$link-main-nav-color: rgba(#000, 0.8);
$link-main-nav-hover-color: rgba(#000, 1);
$link-main-nav-active-color: rgba(#000, 1);
$link-main-nav-visited-color: rgba(#000, 0.8);

$link-main-subnav-color: rgba(#fff, 0.8);
$link-main-subnav-hover-color: rgba(#fff, 1);
$link-main-subnav-active-color: rgba(#fff, 1);
$link-main-subnav-visited-color: rgba(#fff, 0.8);

// ANALOG CLOCK
$clock-face-color: #fff;
$clock-hand-color: #000;
$clock-hand-sec-color: #555;
$clock-lines-color: #555;

.top-nav-help {
	background: url(../img/icon-sprite.svg) no-repeat -162px -32px !important;
}
.top-nav-profile {
	background: url(../img/icon-sprite.svg) no-repeat -162px -104px !important;
}
.top-nav-signout {
	background: url(../img/icon-sprite.svg) no-repeat -162px -140px !important;
}
.top-nav-zbbshare {
	background: url(../img/icon-sprite.svg) no-repeat -165px -68px !important;
}
.btn-search{
	background: url(../img/icon-sprite.svg) no-repeat -162px -7px !important;
}
.btn-back-map {
	.btn-back-map-icon {
		background: url(../img/icon-sprite.svg) no-repeat -162px -725px !important;
	}
}

.btn-dashbrd-conf {
	background: url(../img/icon-sprite.svg) no-repeat -200px -619px !important;
}

.list-table {
	thead th {
		border-color: lighten($table-border-color, 3%) !important;
	}
}

.timeline-axis {
	border-right-color: darken(desaturate($btn-bg-color, 4%), 18%) !important;

	&::before {
		background-color: darken(desaturate($btn-bg-color, 4%), 18%) !important;
	}
}

.icon {
	.center {
		background: url(../img/icon-sprite.svg) no-repeat -172px -799px !important;
	}
}

.status-dark-grey {
	border: none !important;
	background-color: #666 !important;
}

.btn-link {
	font-weight: bold !important;
	color: #000 !important;
}

.top-subnav a {
	&.selected {
		border-bottom: 4px solid #fff !important;
	}
}

.na-bg:before {
	position: relative;
	height: 20px;
}

.na-bg:after {
	content: "";
	background: url(../img/icon-sprite.svg) no-repeat -106px -409px;
	float: left;
	width: 22px;
	height: 20px;
	position: relative;
	margin: -1px 10px -4px 5px;
}

.normal-bg:before {
	position: relative;
	height: 20px;
}

.normal-bg:after {
	content: "";
	background: url(../img/icon-sprite.svg) no-repeat -76px -409px;
	float: left;
	width: 22px;
	height: 20px;
	position: relative;
	margin: -1px 10px -4px 5px;
}

.info-bg {
	input[type="radio"] {
		&:checked + label {
			@extend .radio-segmented;
		}
	}
}

.info-bg:before {
	position: relative;
	height: 20px;
}

.info-bg:after {
	content: "";
	background: url(../img/icon-sprite.svg) no-repeat -136px -411px;
	float: left;
	width: 22px;
	height: 20px;
	position: relative;
	margin: -1px 10px -4px 5px;
}

.average-bg:before {
	position: relative;
	height: 20px;
}

.average-bg:after {
	content: "";
	background: url(../img/icon-sprite.svg) no-repeat -196px -411px;
	float: left;
	width: 22px;
	height: 20px;
	position: relative;
	margin: 0px 10px -4px 5px;
}

.warning-bg:before {
	position: relative;
	height: 20px;
}

.warning-bg:after {
	content: "";
	background: url(../img/icon-sprite.svg) no-repeat -166px -411px;
	float: left;
	width: 22px;
	height: 20px;
	position: relative;
	margin: -1px 10px -4px 5px;
}

.high-bg:before {
	position: relative;
	height: 20px;
}

.high-bg:after {
	content: "";
	background: url(../img/icon-sprite.svg) no-repeat -226px -411px;
	float: left;
	width: 22px;
	height: 20px;
	position: relative;
	margin: 0px 10px -4px 5px;
}

.disaster-bg:before {
	position: relative;
	height: 20px;
}

.disaster-bg:after {
	content: "";
	background: url(../img/icon-sprite.svg) no-repeat -256px -411px;
	float: left;
	width: 22px;
	height: 20px;
	position: relative;
	margin: 0px 10px -4px 5px;
}

.top-subnav a {
	&.selected {
		font-weight: bold;
	}
}

// Important! @import string should come after variables
@import 'screen.scss';

$form-icon-btn: (
	help: url(../img/icon-sprite.svg) no-repeat -168px -726px,
	cal: url(../img/icon-sprite.svg) no-repeat -204px -834px,
	wzrd-action: url(../img/icon-sprite.svg) no-repeat -168px -617px
);

@each $form-icon-btn, $bgimage in $form-icon-btn {
	.icon-#{$form-icon-btn} {
		background: $transparent $bgimage;
		@extend %form-icon-btn;

		@if $form-icon-btn == 'wzrd-action' {
			margin-top: -16px;
		}
	}
}

$icon-widget-btn: (
	widget-action: url(../img/icon-sprite.svg) no-repeat -4px -616px,
	widget-collapse: url(../img/icon-sprite.svg) no-repeat -5px -652px,
	widget-expand: url(../img/icon-sprite.svg) no-repeat -5px -688px,
	widget-edit: url(../img/icon-sprite.svg) no-repeat -39px -617px,
	widget-delete: url(../img/icon-sprite.svg) no-repeat -39px -580px,
	alarm-on: url(../img/icon-sprite.svg) no-repeat -3px -545px,
	alarm-off: url(../img/icon-sprite.svg) no-repeat -3px -581px,
	sound-on: url(../img/icon-sprite.svg) no-repeat -3px -473px,
	sound-off: url(../img/icon-sprite.svg) no-repeat -3px -509px
);

@each $icon-widget-btn, $bgimage in $icon-widget-btn {
	.btn-#{$icon-widget-btn} {
		background: $bgimage;
		@extend %btn-widget;
	}
}
