@import '_reset.scss';
@import '_variables.scss';

/* ----------- Zabbix Styles ----------- */

html {
	position: relative;
	min-height: 100%;
}

body {
	@include font-body;
	color: $indigo-black;
	background: $lightest-blue-grey;
	margin-bottom: 90px;
	min-width: 950px;
}

fieldset {
	border: 1px solid $lighter-blue-grey;
	padding: 0 10px 10px 15px;
}

legend {
	margin-left: -5px;
	padding: 0 5px 0 5px;
}

a {

	&:link {
		text-decoration: none;
		color: $link-color;
		@include transition(color .2s ease);
	}

	&:visited {
		text-decoration: none;
		color: $link-visited-color;
	}

	&:hover {
		text-decoration: underline;
		color: $link-hover-color;
	}

	&:active {
		text-decoration: underline;
		color: $link-active-color;
	}

	&.link-dotted {
		border-bottom: 1px dotted;

		&:hover {
			text-decoration: none;
		}

		&:active {
			text-decoration: none;
		}
	}
}

h1 {
	@include font-h1;
	border-bottom: 1px solid $lighter-blue-grey;
	padding: 0 0 5px 0;
}

h2 {
	@include font-h2;
}

h3 {
	@include font-h3;
}

h4 {
	@include font-h4;

	span {
		font-size: $font-body-size;
		color: $blue-grey;
	}
}

sup {
	font-size: $font-h3-size;
	color: $blue-grey;
}

/* Main Navigation */
header {
	margin: 0 0 12px 0;
}

nav {
background: $secondary-blue;
margin: 0 0 13px 0;
}

.top-nav-container {
	height: 36px;
	line-height: 35px;
	position: relative;
	background: $primary-blue;
}

.top-nav {
	font-size: $font-top-nav-size;
	background: $primary-blue;

	li {
		display: block;
		float: left;

		&.selected {
			position: relative;

			&:after{
				content:'';
				position: absolute;
				bottom: -1px;
				left: 0;
				right: 0;
				margin: 0 auto;
				width: 0; 
				height: 0;
				font-size: 0;
				line-height: 0;
				border-left: 7px solid transparent;
				border-right: 7px solid transparent;
				border-bottom: 7px solid $secondary-blue;
			}

			a, a:hover {
				color: $link-topnav-active-color;
			}
	    }
	}

	a {
		padding: 10px 13px 10px 13px;
		color: $link-topnav-color;
		text-decoration: none;

		&:hover {
			color: $link-topnav-hover-color;
		}
	}
}

ul.top-nav-icons {
	position: absolute;
	top: 0;
	right: 0;

	li {
		display: block;
		float: left;
	}

	a {
		display: block;
		width: 38px;
		height: 36px;
		@include opacity(0.75);
		@include transition(all .2s ease);

		&:hover {
			@include opacity(1);
		}
    }

	.top-nav-help {
		background: $primary-blue url(../img/icon-sprite.png) no-repeat 7px -18px;
	}

	.top-nav-print {
		background: $primary-blue url(../img/icon-sprite.png) no-repeat 7px -42px;
	}

	.top-nav-profile {
		background: $primary-blue url(../img/icon-sprite.png) no-repeat 7px -66px;
	}

	.top-nav-signout {
		background: $primary-blue url(../img/icon-sprite.png) no-repeat 7px -91px;
		width: 44px;
	}

	form {
		position: relative;
	}

	input {
		background: darken($primary-blue, 5%);
		border: none;
		width: 169px;
		height: 24px;
		line-height: 24px;
		margin: 6px 13px 0 0;
		color: $white;
		padding-right: 24px;
		@include transition(color, background-color .2s ease);
		@include placeholder($form-input-top-placeholder);

		&:focus + .btn-search {
			@include opacity(1);
			@include placeholder($form-input-top-focus-placeholder);
		}
	}
}

.top-subnav-container {
	height: 36px;
	line-height: 36px;
	background: $secondary-blue;
}

.top-subnav {
	background: $secondary-blue;

	li {
		display: block;
		float: left;
		padding: 0 5px;
	}
}

.top-subnav a {
	padding: 5px 8px;
	color: $link-topsubnav-color;

	&:hover {
		color: $link-topsubnav-hover-color;
		text-decoration: none;
	}

	&.selected {
		@include border-radius(2px);
		background: lighten($secondary-blue, 10%);
		color: $link-topsubnav-active-color;
	}
}

.arrow-up {
	@extend %arrow;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid $indigo-black;
}

.arrow-down {
	@extend %arrow;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid $indigo-black;
}

.arrow-left {
	@extend %arrow;
	border-bottom: 4px solid transparent;
	border-top: 4px solid transparent;
	border-right: 4px solid $indigo-black;
}

.arrow-right {
	@extend %arrow;
	border-bottom: 4px solid transparent;
	border-top: 4px solid transparent;
	border-left: 4px solid $indigo-black;
}

%arrow {
	width: 0; 
	height: 0; 
	font-size: 0;
	line-height: 0;
	display: inline-block;
}

.header-title {
	position: relative;
	margin: 0 0 12px 0;

	ul {
		position: absolute;
		right: 0;
		bottom: 6px;

		li {
			display: block;
			float: left;
			padding: 0 0 0 14px;
		}
	}
}

/* Article */
article {
	padding: 0 13px;
}

/* Obgect Group Navigation */
.object-group {
	margin: 0 0 11px 0;
	
	li {
		display: inline-block;
		margin: 0 14px 0 0;
	}

	.selected {
		font-weight: bold;
		background: #eee;
	}

	.arrow-right {
		border-left-color: $indigo-black;
	}
}

/* Footer */
footer {
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
	text-align: center;
	color: $blue-grey;
}

.logo {
	display: block;
	width: 94px;
	height: 25px;
	margin: 0 auto;
	margin-bottom: 10px;
	background: url(../img/icon-sprite.png) no-repeat 0 -360px;
}

/* Tables */
.list-table {
	width: 100%;
    background: $white;
    @include box-shadow(0 1px 1px 0 rgba(118,141,153,0.15));
	
	thead th {
		@include list-table-header;
		height: 100%;
		overflow: hidden;
	    padding: 8px 5px 7px 5px;
	    vertical-align: middle;
	    border-bottom: 2px solid $lightest-blue-grey;
	    text-align: left;
	    color: $blue-grey;
	    white-space: nowrap;

	    .arrow-up {
	    	position: absolute;
	    	top: 45%;
	    	margin: 0 0 0 4px;
	    	border-bottom-color: $blue-grey;
	    }

	    .arrow-down {
	    	position: absolute;
	    	top: 45%;
	    	margin: 0 0 0 4px;
	    	border-top-color: $blue-grey;
	    }

	    a {
	    	display: block;
	    	position: relative;
	    	//color: $link-alt-color;
	    	margin: -1em;
	    	padding: 1em;
	    	@include transition(background .2s ease);

	    	&:hover {
	    		//color: $link-alt-hover-color;
	    		text-decoration: none;
	    		background: $alt-blue;
	    		//background: lighten($primary-blue, 56%);
	    	}

	    	&:active {
	    		text-decoration: none;
	    		background: darken($alt-blue, 5%);
	    	}	    
	    }
	}

	tbody tr {
		@include transition(background .2s ease);

		&:hover {
			background: $alt-blue;
			//background: lighten($primary-blue, 56%);
		}

		&.row-selected {
			background: $lighter-yellow;
		}

		&:last-child td {
			border-bottom: none;
		}
	}

	td {
		padding: 8px 5px 8px 5px;
		vertical-align: middle;
		border-bottom: 1px solid $lightest-blue-grey;
	}
}

.table-paging {
	text-align: center;
	background: $white;
	padding: 7px 5px;
	border-top: 1px solid $lightest-blue-grey;
	@include box-shadow(0 1px 1px 0 rgba(118,141,153,0.15));

	a {
		@extend %paging-btn;
	}

	.arrow-left {
		border-right-color: $link-color;
	}

	.arrow-right {
		border-left-color: $link-color;
	}
}

.radio-switch {
	cursor: pointer;
	@extend %paging-btn;
}

%paging-btn {
	display: inline-block;
	margin-left: -1px;
	padding: 0 14px;
	min-height: 22px;
	line-height: 22px;
	border: 1px solid $light-blue-grey;
	text-decoration: none;
	color: $link-color;
	@include transition(background .2s ease);

	&:hover {
		color: $link-hover-color;
		background: $alt-blue;
		//background: lighten($primary-blue, 55%);
	}

	&:active {
		color: $link-active-color;
		background: darken($alt-blue, 5%);
		//background: lighten($primary-blue, 50%);
	}

	&:first-child {
		@include border-radius(2px 0 0 2px);
	}

	&:last-child {
		@include border-radius(0 2px 2px 0);
	}

	&.paging-selected {
		cursor: default;
		color: $white;
		border-color: $light-blue-grey;
		background: $light-blue-grey;
	}
}

.treeview-plus {
	display: inline-block;
	background: $white;
	border: 1px solid $light-blue-grey;
	cursor: pointer;
	width: 10px;
	height: 10px;
	line-height: 10px;
	text-align: center;
	font-size: $font-top-nav-size;
	font-weight: bold;
	@include border-radius(2px);

	&:hover {
		background: $alt-blue;
		//background: lighten($primary-blue, 55%);
	}

	&:active {
		background: darken($alt-blue, 5%);
		//background: lighten($primary-blue, 50%);
	}
}

.table {
	display: table;
}

.row {
	display: table-row;
}

.cell {
	display: table-cell;
}

/* Filters */
.filter-container {
	text-align: center;
}

.subfilter-enabled {
	display: inline-block;
	position: relative;
	padding: 0 9px 0 6px;
	height: 20px;
	line-height: 20px;
	background: $light-blue-grey;
	@include border-radius(2px);

	a {
		color: $indigo-black;
		text-decoration: none;
		cursor: default;
	}
}

.filter-forms {
	margin: 0 auto;
	text-align: center;
	background: $white;
	//width: 100%;
	//@include box-shadow(0 1px 1px 0 rgba(118,141,153,0.15));

	.cell {
		white-space: nowrap;
		text-align: left;
		padding: 0 20px;
		border-right: 1px solid #e9edf2;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
			border-right: none;
		}

		button {
			margin-left: 0;
			margin-right: 0;
		}
	}

	button {
		margin: 0 7px;
	}
}

/* Forms */
.table-forms-container {
	padding: 0 10px 10px 10px;
	background: $white;
	@include box-shadow(0 1px 1px 0 rgba(118,141,153,0.15));

	.filter-forms {
		padding: 20px 0 0 0;
	}
}

.form-btns {
	//text-align: center;

	button {
		margin: 10px 6px 5px 6px;
	}
}

.table-forms {
	//margin: 0 auto;
	display: table;
	width: 100%;
	color: $indigo-black;

	li {
		display: table-row;
	}
	
	tfoot {

		.table-forms-td-right {
			padding-top: 5px;
		}

		button {
			margin: 0 14px 0 0;
		}
	}

	.tfoot-buttons {
		@extend tfoot;
	}

	.table-forms-tr-new {
		background: $lighter-green;
	}

	.table-forms-td-left {
		display: table-cell;
		padding: 5px 0;
		text-align: right;
		vertical-align: top;
		width: 15%;
		white-space: nowrap;

		label {
			display: block;
			height: 24px;
			line-height: 24px;
		}

		input {

			&[type="checkbox"] {
				top: -6px;
			}

			&[type="radio"] {
				top: -6px;
			}
		}
	}

	.table-forms-td-right {
		display: table-cell;
		padding: 5px 0 5px 10px;
		vertical-align: middle;
		width: 85%;

		td {
			padding: 5px 5px 5px 0;
			vertical-align: top;
			position: relative;

			 &.td-drag-icon {
			 	padding: 5px 0px;
			 }

			 &.center {
			 	text-align: center;
			 	vertical-align: middle;
			 }

			.btn-grey {
				margin: 5px 0;
				display: block;
			}
		}

		//label {
		//	display: block;
		//	height: 24px;
		//	line-height: 24px;
		//}
	}
}

.center {
	text-align: center;
}

.table-forms-separator {
	margin: 5px 0 0 0;
	border: 1px solid $lightest-blue-grey;
}

.margin-top {
	display: block;
	margin: 4px 0 0 0;
}

.list-check-radio {

	li {
		display: block;
		padding: 0 0 7px 0;
	}

	label {
		padding: 0 0 0 15px;
		display: inline-block;
		text-indent: -15px;
		max-width: 600px;
	}
}

input {
	
	&[type="text"] {
		@extend %form-input-height-padding;
		@extend %form-input-style;
	}

	&[type="password"] {
		@extend %form-input-height-padding;
		@extend %form-input-style;
	}

	&[type="search"] {
		@extend %form-input-height-padding;
		@extend %form-input-style;
	}

	&[type="number"] {
		@extend %form-input-height-padding;
		@extend %form-input-style;
	}

	&[type="email"] {
		@extend %form-input-height-padding;
		@extend %form-input-style;
	}

	&[type="checkbox"] {
		@extend %form-check-radio-style;
	}

	&[type="radio"] {
		@extend %form-check-radio-style;
	}
}

textarea {
	//height: 12px;
	//line-height: 12px;
	width: 300px;
	height: 50px;
	padding: 5px 0 0 5px;
	overflow: auto;
	@extend %form-input-style;
}

select {
	height: 24px;
	line-height: 24px;
	@extend %form-input-style;

	&.select-multiple {
		width: 300px;
		height: auto;
		padding: 5px;
	}
}

%form-check-radio-style {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: bottom;
	position: relative;
	top: -2px;
	overflow: hidden;
	width: 13px;
	height: 13px;
	background: none;
}

%form-input-height-padding {
	height: 22px;
	line-height: 22px;
	padding: 0 0 0 5px;
}

%form-input-style {
	@include border-radius(2px);
	border: 1px solid $light-blue-grey;
	background: $white;
	@include font-form;
	@include transition(border-color .2s ease);

	&:focus {
		border-color: $primary-blue;
	}
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button {
	@include border-radius(2px);
	background-color: $primary-blue;
	color: $white;
	font-family: $font-stack;
	border: 1px solid $primary-blue;
	padding: 0 11px;
	min-height: 24px;
	vertical-align: middle;
	cursor: pointer;
	@include transition(border-color, background-color .2s ease);

	&:hover {
		@extend %button-hover;
	}

	&:active {
		@extend %button-active;
	}

	&.btn-alt {
		@extend button;
		background: $transparent;
		color: $primary-blue;

		&:hover {
			@extend %button-hover;
		}

		&:active {
			@extend %button-active;
		}
	}

	&.btn-conf {
		background: $primary-blue url(../img/icon-sprite.png) no-repeat -1px -145px;
		@extend %button-icon-size;
		
		&:hover {
			@extend %button-hover;
		}

		&:active {
			@extend %button-active;
		}
	}

	&.btn-max {
		background: $primary-blue url(../img/icon-sprite.png) no-repeat -1px -169px;
		@extend %button-icon-size;
		
		&:hover {
			@extend %button-hover;
		}

		&:active {
			@extend %button-active;
		}
	}

	&.btn-min {
		background: $primary-blue url(../img/icon-sprite.png) no-repeat -1px -193px;
		@extend %button-icon-size;
		
		&:hover {
			@extend %button-hover;
		}

		&:active {
			@extend %button-active;
		}
	}

	&.btn-add-fav {
		background: $primary-blue url(../img/icon-sprite.png) no-repeat -49px -1px;
		@extend %button-icon-size;
		
		&:hover {
			@extend %button-hover;
		}

		&:active {
			@extend %button-active;
		}
	}

	&.btn-remove-fav {
		background: $primary-blue url(../img/icon-sprite.png) no-repeat -49px -25px;
		@extend %button-icon-size;
		
		&:hover {
			@extend %button-hover;
		}

		&:active {
			@extend %button-active;
		}
	}

	&.btn-action {
		background: $primary-blue url(../img/icon-sprite.png) no-repeat -49px -49px;
		@extend %button-icon-size;
		
		&:hover {
			@extend %button-hover;
		}

		&:active {
			@extend %button-active;
		}
	}

	&.btn-info {
		background: $primary-blue url(../img/icon-sprite.png) no-repeat -49px -73px;
		@extend %button-icon-size;
		
		&:hover {
			@extend %button-hover;
		}

		&:active {
			@extend %button-active;
		}
	}

	&.btn-reset {
		background: $primary-blue url(../img/icon-sprite.png) no-repeat -49px -97px;
		@extend %button-icon-size;
		
		&:hover {
			@extend %button-hover;
		}

		&:active {
			@extend %button-active;
		}
	}


	&.btn-search {
		background: darken($primary-blue, 5%) url(../img/icon-sprite.png) no-repeat 1px -1px;
		position: absolute;
		border: none;
		top: 7px;
		right: 14px;
		width: 24px;
		min-height: 22px;
		padding: 0;
		@include opacity(0.75);
		@include transition(all .2s ease);
		
		&:hover {
			@extend %btn-search-hover-focus;
		}

		&:active {
			@extend %btn-search-hover-focus;
		}

		&:focus {
			@extend %btn-search-hover-focus;
		}
	}

    &.btn-widget-action {
    	border: 0;
    	background: $transparent url(../img/icon-sprite.png) no-repeat 3px -262px;
		@extend %button-widget-icon-size;
		@include opacity(0.75);
		@include transition(all .2s ease);

		&:hover {
			@extend %btn-widget-hover-active;
		}

		&:active {
			@extend %btn-widget-hover-active;
		}
    }

    &.btn-widget-collapse {
    	border: 0;
    	background: $transparent url(../img/icon-sprite.png) no-repeat 2px -214px;
		@extend %button-widget-icon-size;
		@include opacity(0.75);

		&:hover {
			@extend %btn-widget-hover-active;
		}

		&:active {
			@extend %btn-widget-hover-active;
		}
    }

    &.btn-widget-expand {
    	border: 0;
    	background: $transparent url(../img/icon-sprite.png) no-repeat 2px -238px;
		@extend %button-widget-icon-size;
		@include opacity(0.75);

		&:hover {
			@extend %btn-widget-hover-active;
		}

		&:active {
			@extend %btn-widget-hover-active;
		}
    } 

	&.btn-grey {
		margin-top: -2px;
		background: $transparent;
		color: $link-color;
		border-color: $light-blue-grey;

		&:hover {
			background: $alt-blue;
			//background: lighten($primary-blue, 55%);
			color: $link-color;
			border-color: $light-blue-grey;
		}

		&:active {
			background: darken($alt-blue, 5%);
			//background: lighten($primary-blue, 50%);
			color: $link-color;
		}

		.arrow-left {
			border-right-color: $link-color;
		}

		.arrow-right {
			border-left-color: $link-color;
		}
	}

	&.filter-trigger {
		position: relative;
		@include border-radius(2px 2px 0 0);
		min-width: 94px;

		&.filter-active {
			background: $white;
			border: none;
			color: $link-color;
			@include box-shadow(0 -1px 1px 0 rgba(118,141,153,0.08));

			.arrow-up {
				position: absolute;
				top: 50%;
				margin: 0 0 0 4px;
				border-bottom-color: $link-color;
			}
		}

		.arrow-down {
			position: absolute;
			top: 50%;
			margin: 0 0 0 4px;
			border-top-color: $white;
		}
	}
}

%button-hover {
	background-color: darken($primary-blue, 5%);
	border-color: darken($primary-blue, 5%);
	color: $white;
}

%button-active {
	background-color: $secondary-blue;
	border-color: $secondary-blue;
	color: $white;
}

%button-icon-size {
	width: 24px;
	height: 24px;
	padding: 0;
}

%button-widget-icon-size {
	width: 30px;
	height: 28px;
	padding: 0;
}

%button-disabled {
	background: $transparent;
	color: $light-blue-grey;
	border-color: $lighter-blue-grey;
	cursor: default;
}

%btn-search-hover-focus {
	background-color: darken($primary-blue, 5%);
	@include opacity(1);
}

%btn-widget-hover-active {
	background-color: $transparent;
	@include opacity(1);
}

button[disabled] {
	@extend %button-disabled;

	&:hover {
		@extend %button-disabled;
	}

	&:active {
		@extend %button-disabled;
	}
}

.action-buttons {
	margin: 15px 0 0 0;

	button {
		margin: 0 14px 0 0;
	}
}

.tabs-nav-container {
	height: 36px;
	line-height: 36px;
	margin: 0 0 15px 0;
}

.ui-tabs-nav {
	height: 36px;
	line-height: 36px;
	margin: 0 -10px 15px -10px;
	border-bottom: 1px solid $lightest-blue-grey;
	@include box-shadow(inset 0 -1px 1px 0 rgba(118,141,153,0.05));

	li {
		display: inline-block;

		a {
			padding: 11px 13px;
		} 

		&.ui-tabs-active:first-child {
			border-left: 0;
		}

		&.ui-tabs-active {
			border-left: 1px solid $lightest-blue-grey;
			border-right: 1px solid $lightest-blue-grey;
			a {
				padding: 8px 13px 11px 13px;
				font-weight: bold;
				background: $white;
				color: $indigo-black;
				text-decoration: none;
				cursor: default;
				border-top: 3px solid $primary-blue;
				border-bottom: 3px solid $white;
			}
		}
	}
}

.input-help-wrapper {
	position: relative;
	display: inline-block;
}

.help-icon {
	background: url(../img/icon-sprite.png) no-repeat 0 -312px;
	@extend %button-icon-size;
	display: block;
	position: absolute;
	top: 0;
	right: -26px;

	&:hover {
		background: url(../img/icon-sprite.png) no-repeat 0 -336px;
		cursor: pointer;
	}
}

.drag-icon {
	@extend %button-icon-size;
	margin-left: -9px;
	cursor: move;
	background: url(../img/icon-sprite.png) no-repeat 0 -288px;
}

/* Sign in */
.signin-container {
	background: $white;
	width: 322px;
	margin: 0 auto;
	padding: 20px 28px 0 28px;
	@include box-shadow(0 1px 1px 0 rgba(118,141,153,0.15));

	h1 {
		border: none;
		margin: 0 0 17px 0;
		padding: 0;
	}

	ul li {
		padding: 0 0 22px 0;
		font-size: $font-top-nav-size;

		&.sign-in-txt {
			text-align: center;
		}
	}

	label {                                                                                                                                                                                                                                                                                                              
		display: block;
		margin: 0 0 2px 0;
	}

	input {

		&[type="text"] {
			@extend %signin-input;
		}

		&[type="password"] {
			@extend %signin-input;
		}
	}

	button {
		font-size: $font-form-size;
		min-height: 38px;
		line-height: 38px;
		width: 100%;
	}
}

.signin-logo {
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 25px;
	width: 114px;
	height: 30px;
	background: url(../img/icon-sprite.png) no-repeat 0 -391px;
}

.signin-links {
	width: 100%;
	text-align: center;
	color: $blue-grey;
	margin: 22px 0 0 0;
}

%signin-input {
	height: 38px;
	line-height: 38px;
	width: 100%;
	@include box-sizing(border-box);
}

/* Dashboard */
.dashbrd-widget {
	min-width: 250px;
	margin: 0 10px 10px 0;
	background: $white;
	@include box-shadow(0 1px 1px 0 rgba(118,141,153,0.15));

	.list-table {
		@include box-shadow(none);

		th {
			@extend %dashbrd-widget-td;
		}
		
		td {
			@extend %dashbrd-widget-td;
		}

		tbody tr {

			&.nothing-to-show {
				@extend %nothing-to-show;
			}

			&:last-child td {
				border-bottom: 1px solid $lightest-blue-grey;
			}
		}
	}
}

%nothing-to-show {
	text-align: center;
	color: $blue-grey;
	@include transition(0s);

	td:hover {
		background: $white;
	}
}

%dashbrd-widget-td {
	padding-right: 10px;
	padding-left: 10px;
}

.dashbrd-widget-head {
	cursor: move;
	position: relative;
	padding: 8px 60px 8px 10px;

	ul {
		position: absolute;
		top: 0;
		right: 0;

		li {
			display: block;
			float: left;
			padding: 0;
		}
	}
}

.dashbrd-widget-foot {
	text-align: right;
	color: $blue-grey;
	margin: 0 10px;

	li {
		display: inline-block;
		padding: 8px 0 8px 13px
	}
} 

/* Action Menus, Pop-up Menus */
.action-menu {
	position: absolute;
	z-index: 1000;
	padding: 5px 10px;
	min-width: 166px;
	color: $blue-grey;
	background: $white;
	border: 1px solid $lighter-blue-grey;
	@include box-shadow(0 5px 20px 0 rgba(118,141,153,0.3));

	li {

		a {
			display: block;
			height: 24px;
			line-height: 24px;
			color: $indigo-black;
			text-decoration: none;
			padding: 0 10px;
			margin: 0 -10px;
			position: relative;
			@include transition(background .2s ease);

			&:hover {
				background: $lighter-grey;
			}

			&:active {
				background: $lighter-grey;
			}

			span {
				position: absolute;
				right: 10px;
				top: 8px;
				height: auto;
				line-height: auto;
			}
		}

		span {
			height: 24px;
			line-height: 24px;
		}

		div {
			border-top: 1px solid $lightest-blue-grey;
			margin: 5px -10px;
		}
	}

	h3 {
		height: 24px;
		line-height: 24px;
	}
}

.overlay-dialogue {
	position: absolute;
	z-index: 1000;
	padding: 10px;
	background: $white;
	border: 1px solid $lighter-blue-grey;
	@include box-shadow(0 5px 20px 0 rgba(118,141,153,0.3));

	.list-table {
		@include box-shadow(none);

		th {
			@extend %dashbrd-widget-td;
		}
		
		td {
			@extend %dashbrd-widget-td;
		}
	}

	.table-forms-td-left {
		text-align: left;
		width: auto;
	}

	.table-forms-td-right {
		width: auto;

		td {
			vertical-align: middle;

			label {
				display: block;
			}
		}
	}

	tfoot {
		text-align: right;

		button {
			margin: 4px 0 0 14px;
		}
	}

	fieldset {
		margin-left: -10px;
	}

	.dashbrd-widget-head {
		margin: -7px -15px 6px -15px;
		padding: 12px 10px 8px 15px;
	}

	.maps-container {
		max-height: 128px;
		overflow-y: auto;
		margin-left: -10px;
	}
}

.pop-up {
	min-width: initial;
	margin-bottom: 0;

	article {
		padding: 13px;
	}

	h1 {
		border-bottom: none;
		padding: 0;
	}

	.header-title {

		ul {
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}

	.dashbrd-widget-head {
		padding: 8px 10px;
	}
}

/* Alerts */
.green {
	color: $green;
}

a.green {
	@extend .green;
}

.red {
	color: $red;
}

a.red {
	@extend .red;
}

.orange {
	color: $orange;
}

a.orange {
	@extend .orange;
}

.grey {
	color: $blue-grey;
}

a.grey {
	@extend .grey;
}

.status-green {
	@extend .green;
	border: 1px solid $light-green;
	background: $lighter-green;
	@extend %status;
}

.status-red {
	@extend .red;
	border: 1px solid $light-red;
	background: $lighter-red;
	@extend %status;
}

.status-grey {
	@extend .grey;
	border: 1px solid $light-blue-grey;
	background: $lighter-blue-grey;
	@extend %status;
}

%status {
	padding: 2px 4px;
	font-size: $font-h3-size;
	text-transform: $font-transform;
	text-align: center;
	@include border-radius(2px); 
}

.green-bg {
	background: $green;
}

.red-bg {
	background: $red;
}

.na-bg {
	background: $blue-grey;
}

.normal-bg {
	@extend .green-bg;
}

.info-bg {
	background: $blue;
}

.average-bg {
	background: $orange;
}

.warning-bg {
	background: $yellow;
}

.high-bg {
	background: $alt-red;
}

.disaster-bg {
	background: $red;
}

.msg-good {
	@extend .green;
	border: 1px solid $light-green;
	background: $lighter-green;
	@extend %msg;
}

.msg-bad {
	@extend .red;
	border: 1px solid $light-red;
	background: $lighter-red;
	@extend %msg;
}

%msg {
	padding: 7px 12px;
	text-align: center;
	position: relative;
	@include border-radius(2px);
}

.msg-bad-global {
	display: none;
	position: fixed;
	bottom: 0;
	z-index: 10000;
	width: 100%;
	padding: 7px 5px;
	text-align: center;
	background: $light-yellow;
	color: $indigo-black;
	border: 1px solid $yellow;
	@include box-shadow(-1px 0 2px 0 rgba(118,141,153,0.15));
}

/* Close/Remove icon */

%close-icon {
	display: block;
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	color: $light-blue-grey;
	font-size: $font-h2-size;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	@include border-radius(2px);
	@include transition(background .2s ease);

	&:hover {
		background: $lighter-grey;
		//background: lighten($primary-blue, 55%);
		text-decoration: none;
	}

	&:active {
		background: darken($lighter-grey, 5%);
		//background: lighten($primary-blue, 50%);
		text-decoration: none;
	}
}

.overlay-close-btn {
	position: absolute;
	top: 2px;
	right: 2px;
	@extend %close-icon;
}

a.overlay-close-btn {
	@extend .overlay-close-btn; 
}

.form-remove-btn {
	@extend %close-icon;
}

a.form-remove-btn {
	@extend .form-remove-btn;
}

.subfilter-disable-btn {
	width: 20px;
	height: 20px;
	line-height: 20px;
	display: inline-block;
	position: absolute;
	top: 0;
	right: -16px;
	color: $white;
	background: $light-blue-grey;
	@extend %close-icon;

	&:hover {
		background: darken($light-blue-grey, 5%);
	}

	&:active {

		background: darken($light-blue-grey, 10%);
	}
}
