/* CSS Document */
/* Dark Orange Theme by Aly */
/* IE6 Fixes */
table.tableinfo tr.odd_row td { background-color: #1F1F1F; }
table.tableinfo tr.odd_row:hover td { background-color: #6F3F00; }

table.tableinfo tr.even_row td { background-color: #2F2F2F; }
table.tableinfo tr.even_row:hover td{ background-color: #6F3F00; }


table.tableinfo tr.selected td { background-color: #FFFFBB; }
table.tableinfo tr.selected:hover td { background-color: #BBCCFF; }

table.tableinfo tr td.center { vertical-align: middle; text-align: center; }

table.tableinfo tr td.disaster_empty { border: 1px #FF0000 solid; }
table.tableinfo tr:hover td.disaster_empty { border: 1px #FF0000 solid; }

table.tableinfo tr td.disaster { background-color: #FF0000;	border: 1px #FF0000 solid; }
table.tableinfo tr:hover td.disaster { background-color: #FA0000;	border: 1px #FA0000 solid; }

table.tableinfo tr td.high_empty { border: 1px #FF8888 solid; }
table.tableinfo tr:hover td.high_empty { border: 1px #FF8888 solid; }

table.tableinfo tr td.high				{	background-color: #FF8888;	border: 1px #FF8888 solid; }
table.tableinfo tr:hover td.high			{	background-color: #FA8388;	border: 1px #FA8388 solid; }

table.tableinfo tr td.average_empty			{	border: 1px #DDAAAA solid; }
table.tableinfo tr:hover td.average_empty		{	border: 1px #DDAAAA solid; }

table.tableinfo tr td.average				{	background-color: #DDAAAA;	border: 1px #DDAAAA solid; }
table.tableinfo tr:hover td.average			{	background-color: #D8A5AA;	border: 1px #D8A5AA solid; }

table.tableinfo tr td.warning_empty			{	border: 1px #EFEFCC solid; }
table.tableinfo tr:hover td.warning_empty		{	border: 1px #EAEACC solid; }

table.tableinfo tr td.warning				{	background-color: #EFEFCC;	border: 1px #EFEFCC solid; }
table.tableinfo tr:hover td.warning			{	background-color: #EAEACC;	border: 1px #EAEACC solid; }

table.tableinfo tr td.information_empty			{	border: 1px #BBE2BB solid; }
table.tableinfo tr:hover td.information_empty		{	border: 1px #B7DDBB solid; }

table.tableinfo tr td.information			{	background-color: #BBE2BB;	border: 1px #CCE2CC solid; }
table.tableinfo tr:hover td.information			{	background-color: #B7DDBB;	border: 1px #C7DDCC solid; }

table.tableinfo tr td.unknown_trigger_empty		{	border: 1px #ACACAC solid; }
table.tableinfo tr:hover td.unknown_trigger_empty	{	border: 1px #ACA7AC solid; }

table.tableinfo tr td.unknown_trigger			{	background-color: #BCBCBC;	border: 1px #BCBCBC solid; }
table.tableinfo tr:hover td.unknown_trigger		{	background-color: #BCB7BC;	border: 1px #BCB7BC solid; }

table.tableinfo tr td.normal				{	background-color: #AAFFAA;	border: 1px #AAFFAA solid; }
table.tableinfo tr:hover td.normal			{	background-color: #AAF9AA;	border: 1px #AAF9AA solid; }

table.tableinfo tr td.active				{	background-color: #AADDAA;	border: 1px #AADDAA solid; }
table.tableinfo tr:hover td.active			{	background-color: #AAD9AA;	border: 1px #AAD9AA solid; }

table.tableinfo tr td.inactive				{	background-color: #FF8888;	border: 1px #FF8888 solid; }
table.tableinfo tr:hover td.inactive			{	background-color: #FA8388;	border: 1px #FA8388 solid; }
