#!/bin/sh -e

. /usr/share/debconf/confmodule
db_version 2.0 || [ $? -lt 30 ]

if [ -f /usr/share/dbconfig-common/dpkg/frontend.config ]; then
    dbc_first_version="1:1.4.2-3"
    dbc_load_include="php:/etc/zabbix/dbconfig.php"
    dbc_load_include_args="-tDB_TYPE -sDB_SERVER -dDB_DATABASE -uDB_USER -pDB_PASSWORD"
    dbc_dbtypes="mysql, pgsql"
    dbc_dbuser=zabbix
    dbc_dbname=zabbix
    . /usr/share/dbconfig-common/dpkg/frontend.config
    dbc_go zabbix-frontend-php $@
fi

db_input medium zabbix-frontend-php/reconfigure-webserver || true
db_go || true
db_input medium zabbix-frontend-php/restart-webserver || true
db_go || true
db_input medium zabbix-frontend-php/zabbix-server || true
db_go || true
db_input medium zabbix-frontend-php/zabbix-server-port || true
db_go || true

#DEBHELPER#

exit 0
