#!/bin/sh -e
. /usr/share/debconf/confmodule

if [ -f /usr/share/dbconfig-common/dpkg/config.sqlite3 ]; then
    . /usr/share/dbconfig-common/dpkg/config.sqlite3 
    dbc_first_version=1.8.6-1
    dbc_dbuser=zabbix
    dbc_dbname=zabbix.db
    dbc_basepath=/var/lib/zabbix
    dbc_go zabbix-proxy-sqlite3 $@
fi


#DEBHELPER#

exit 0
