/* CSS Document */
ul{
	margin-left: 0px;
	padding-left: 1em;
}


ul.itservices{
	margin: 0px;
	margin-left: 5px;
}

ul.messages{
	overflow:auto;
	vertical-align: top;
	background-color: #FFFFFF;
	margin: 1px;
	text-align:left;
}

ul.messages li{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 18px;
}

ul.messages li.info{
	color:#000000;
	list-style: url("../images/general/warning_small.gif") inside;
}

ul.messages li.error{
	color:#AA0000;
	list-style: url("../images/general/error_small.gif") inside;
}


ul li.linear{
	float: left;
	list-style-type: none;
	margin-right: 2px;
}