/* CSS Document */

form {margin: 0}

/**************** FORM ELEMENTS ****************/
input, select, textarea{
	font-family: Verdana, Helvetica, Geneva;
	font-size: 10px;
	line-height: 14px;
}

.select{
	border: 1px solid gray;
	cursor: pointer;
	margin: 1px 4px 1px 2px;
}

.selectShorten{
	width: 200px;
}

.select:focus{
	border-color: black;
}
.select:hover{
	border-color: black;
}

.biginput, .biginput[disabled]:hover{
	border: 1px solid gray;
	background-color: white;
	padding: 0 1px 0 0;
	margin: 1px 2px 0 2px;
	vertical-align: top;
}
.biginput:focus	{
	border-color: black;
}
.biginput:hover	{
	border-color: black;
}

.biginput[readonly], .biginput[readonly]:hover{
/* NOTE: Ignored by IE */
	border-color: #D0D0D0;
	background-color: #EEEEEE;
}

.button, .button[disabled]:hover{
	background: #F0F0F0 url('../images/gradients/button.gif') repeat-x top left;
	border: 1px solid #808080;
	vertical-align: top;
	margin: 1px 2px 0 0;
}

.button:hover{
	text-decoration: underline;
	border-color: black;
	cursor: pointer;
}

.button[disabled], .button[disabled]:hover{
	cursor: default;
}

.checkbox{
	cursor: pointer;
}

form.thin .biginput{
	font-size: 11px;
	height: 14px;
}
