.chzn-container { font-size: 1em; }
.chzn-container .chzn-choices { padding-right: 5px; }
.chzn-container .chzn-choices li { clear: none; }
.chzn-container .chzn-results .no-results { background: #2F2F2F; }
.chzn-container .chzn-results { background: #2F2F2F; }
.chzn-container .chzn-results .highlighted { background: #DF5916; }
.chzn-container .chzn-results .active-result em { background: #F80;}
.chzn-container-single .chzn-single abbr { background-image: url('images/chosen-sprite.png'); }
.chzn-container-single .chzn-single div b { background-image: url('images/chosen-sprite.png'); }
.chzn-container-single .chzn-search input { background-image: url('images/chosen-sprite.png'); }
.chzn-container-active .chzn-choices .search-field input { color: #fff !important; }
.chzn-container-multi .chzn-choices { background: #2F2F2F; border-color: #DFDFDF; }
.chzn-container-multi .chzn-choices .search-choice { color: #ffffff; background: #000E19; border-color: #DFDFDF; }
.chzn-container-multi .chzn-choices .search-field input,
.chzn-container-multi .chzn-choices .search-choice .search-choice-close { background-image: url('images/chosen-sprite.png'); }
.chzn-container .chzn-results-scroll-down span { background-image: url('images/chosen-sprite.png'); }
.chzn-container .chzn-results-scroll-up span { background-image: url('images/chosen-sprite.png'); }
.chzn-rtl .chzn-search input { background-image: url('images/chosen-sprite.png'); }
