<configuration scan="true" scanPeriod="15 seconds">

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

		<file>/tmp/zabbix_java.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>/tmp/zabbix_java.log.%i</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>3</maxIndex>
		</rollingPolicy>

		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy>

		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>

	</appender>

	<root level="info">
		<appender-ref ref="FILE" />
	</root>

</configuration>
