/* CSS Document */
@import "styles/div.css";
@import "styles/link.css";
@import "styles/table.css";
@import "styles/form.css";
@import "styles/ul.css";
@import "styles/p.css";
@import "styles/popupmenu.css";
@import "styles/bar.css";
@import "styles/gmenu.css";
@import "styles/sbox.css";

body{
        background-color:#e5e5e5;
        margin: 0px 0px 0px 0px;
        padding: 0px;
        color:black;
        font-family:verdana, arial, helvetica, sans-serif;
        font-size:10px;
	text-decoration: none;
       line-height:16px;
}


/********** REQUIREMENTS TABLE *************/
span.ok{
	color:		green;
	font-weight:	bold;
}
span.fail{
	color:		red;
	font-weight:	bold;
}

/**************** OTHERS ****************/
.top		{	vertical-align: top; }
.footer 	{ 	color:#CCCCCC; }

.enabled	{	color: #00AA00;	}
.disabled	{	color: #AA0000;	}
.unknown	{	color: #AAAAAA;	}
.on		{	color: #AA0000;	}
.off		{	color: #00AA00;	}

.disaster	{	background-color: #FF0000;	}
.high		{	background-color: #FF8888;	}
.average	{	background-color: #DDAAAA;	}
.warning	{	background-color: #EFEFCC;	}
.information	{	background-color: #CCE2CC;	}
.unknown_trigger{	background-color: #BCBCBC;	}
.normal		{	background-color: #AADDAA;	}

.img 		{	border-color:black;	border-width:1px;	}
img.top		{	vertical-align:text-top		}
img.bottom	{	vertical-align:text-bottom	}

.center{
	width: 100%;
	text-align: center;
}

.vert{
	width:1px;
	/*writing-mode: tb-rl;*/
}

.rarr{
	font-size: 16px;
}

.bold {
	font-weight: bold;
}

.nowrap {
	white-space: nowrap;
	word-spacing:	0px;
}

.delimiter{
	font-weight:bold;
	color:#000;
}

/**************** HINT BOX *****************/

#hint_box {
	top: 0;
	z-index: 100;
	position: absolute;
	background-color: #FFFFE0;
	padding: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height:15px;
	border: 1px solid black;
	border-left: none;
	border-top: none;
	visibility: hidden;
}

/************** END OF HINT BOX ************/

/************** COLOR PICKER ***************/
#color_picker {
	top: 0;
	z-index: 100;
	position: absolute;
	background-color: white;
	padding: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height:15px;
	border: 1px solid black;
}

#color_picker table tr td {
	margin: 0px;
	padding: 2px;
}
	
#color_picker a {
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 0px;
	margin: 0px;
}

/************ END OF COLOR PICKER ***********/

/************** DISCOVERY STATUS ************/
.dhosts_active {
	padding: 5px;
	text-align: center;
	color: #0FA00F;
}
.dhosts_disabled {
	padding: 5px;
	text-align: center;
	color: #A00F0F;
}
.dservice_active {
	background: #0FA00F;
}
.dservice_disabled {
	background: #A00F0F;
}
/********** END OF DISCOVERY STATUS *********/