body
{
        background-color:#778899;
        margin: 3px 3px 3px 3px;
        padding: 0px 0px 0px 0px;
        color:black;
        font-family:verdana, arial, helvetica, sans-serif;
        font-size:10px;
	text-decoration: none;
        line-height:16px;
}

.footer
{
	color:#CCCCCC;
}

td,tr
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10pt;
	text-decoration: none;
}

A.footer
{
	color:#CCCCCC;
}

	A {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10pt}
   	A:link {color:black; text-decoration: none; }
	A:visited {color:black; text-decoration: none; }
	A:hover {color:black; text-decoration: underline; }
	A:active {color:black; text-decoration: underline;}

	P {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:8pt; }
   	P:link {color:black; text-decoration: underline; }
	P:visited {color:black; text-decoration: none; }
	P:hover {color:black; text-decoration: none;}
	P:active {color:black; text-decoration: underline;}
	p.uppercase {text-transform: uppercase}
	p.margin {margin-left: 10pt}
	
	
	
table.home
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}
    
.img
{
	border-color:black;
	border-width:1px;
}

img.top
{
	vertical-align:text-top
}

img.bottom
{
	vertical-align:text-bottom
}

.biginput
{
	font-family: Verdana, Helvetica, Geneva;
	font-size: 10px;
	border: solid;
	border-width: 1px;
	border-color: gray;
	background-color: white;
}

.biginput:focus
{
	font-family: Verdana, Helvetica, Geneva;
	font-size: 10px;
	border: solid;
	border-width: 1px;
	border-color: black;
	background-color: white;
}

.biginput:hover
{
	font-family: Verdana, Helvetica, Geneva;
	font-size: 10px;
	border: solid;
	border-width: 1px;
	border-color: black;
	background-color: white;
}

.button
{
	font-family: Verdana, Helvetica, Geneva;
	font-size: 10px;
	border: solid;
	border-width: 1px;
	border-color: gray;
	background-color: white;
	margin-right:5px;
}

.button:hover
{
	font-family: Verdana, Helvetica, Geneva;
	font-size: 10px;
	text-decoration: underline;
	border: solid;
	border-width: 1px;
	border-color: black;
	background-color: white;
	margin-right:5px;
}

ul
{
	margin-left: 0;
	padding-left: 1em;
}
