body
{
        background-color:#e5e5e5;
        margin: 0px 0px 0px 0px;
        padding: 0px;
        color:black;
        font-family:verdana, arial, helvetica, sans-serif;
        font-size:10px;
	text-decoration: none;
       line-height:16px;
}

/********** FORM *************/
form {margin: 0px}

td.form_row_l
{
	padding-left: 5px;
	padding-right: 5px;
	color: #000000;
        font-family:verdana, arial, helvetica, sans-serif;
        font-size:11px;
	border-color: #222255;
	border-width:1px;
	border-left-style: solid;
	height: 24px;
	text-align: left;
}

td.form_row_r
{
	padding-left: 5px;
	padding-right: 5px;
	color: #000000;
        font-family:verdana, arial, helvetica, sans-serif;
        font-size:11px;
	border-color: #222255;
	border-width:1px;
	border-right-style: solid;
	height: 24px;
	text-align: left;
}

td.form_row_first
{
	background: #5C7099 url(images/gradients/table_head2.gif) repeat-x top left;
	color: #FFFFFF;
        font-family:verdana, arial, helvetica, sans-serif;
        font-size:11px;
	font-weight: bold;
	border-color: #222255;
	border-width:1px;
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	height: 24px;
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
}
tr.form_odd_row
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10pt;
	text-decoration: none;
	background-color:#D8D8D8;
}

tr.form_even_row
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10pt;
	text-decoration: none;
	background-color:#DFDFDF;
}
td.form_row_last
{
	color: #FFFFFF;
        font-family:verdana, arial, helvetica, sans-serif;
        font-size:11px;
	background: #5C7099 url(images/gradients/table_head2.gif) repeat-x top left;
	border-color: #222255;
	border-width:1px;
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	height: 24px;
	text-align: right;
	padding-right: 5px;
	padding-left: 5px;
}

/* SCREEN TABLE */
table.screen
{
	background-color: #FFFFFF;
	width: 100%;
	border: 1px outset #DDDDDD;
}

td.screen
{
	background-color: #FFFFFF;
	border: 1px inset #DDDDDD;
	text-align: center;
	vertical-align: middle;
}


td.sub_menu
{
	color: #FFFFFF;
        font-family:verdana, arial, helvetica, sans-serif;
        font-size:10px;
	background: #5C7099 url(images/gradients/table_head2.gif) repeat-x top left;
	background-color: #6d88ad;
	border-color: #000000;
	border-width:0px;
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	vertical-align: middle;
	padding-right: 5px;
	padding-left: 5px;
}

td.horizontal_menu
{
	color: #FFFFFF;
        font-family:verdana, arial, helvetica, sans-serif;
        font-size:10px;
	background: #5C7099 url(images/gradients/table_head.gif) repeat-x top left;
	border-color: #000000;
	border-width:0px;
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	padding-right: 5px;
	padding-left: 5px;
}

td.horizontal_menu_n
{
	background: #AAAAAA url(images/gradients/menu_not_active.gif) repeat-x top left;
	border-color: #AAAAAA;
	border-width:1px;
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	padding-right: 5px;
	padding-left: 5px;
}

span.divider
{
	color: #000000;
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	font-weight: normal;
}

a.highlight:link	
{ 
	text-decoration: none; 
	color: #ffffff; 
	font-family: Verdana, Arial, sans-serif; 
	font-size: 10px; 
	font-weight: bold; 
}
a.highlight:visited
{
	text-decoration: none;
	color: #ffffff;
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	font-weight: bold;
}
a.highlight:hover
{
	text-decoration: underline;
	color: #ffcc00;
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	font-weight: bold;
}

.footer
{
	color:#CCCCCC;
}

td,tr
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10pt;
	text-decoration: none;
}

td.table_message
{
	text-align: center;
}
tr.table_header
{
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:10pt;
	font-weight: bold; 
	text-decoration: none;
	background-color:#CCCCCC;
}
tr.table_footer
{
	color: #FFFFFF;
        font-family:verdana, arial, helvetica, sans-serif;
        font-size:10px;
	background: #5C7099 url(images/gradients/table_head2.gif) repeat-x top left;
	background-color: #6d88ad;
	border-color: #000000;
	border-width:0px;
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	vertical-align: middle;
	padding-right: 5px;
	padding-left: 5px;
}
tr.table_odd_row
{
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:10pt;
	text-decoration: none;
	background-color:#DDDDDD;
}
tr.table_odd_row:hover
{
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:10pt;
	text-decoration: none;
	background-color:#DDDDEE;
}

tr.table_even_row
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10pt;
	text-decoration: none;
	background-color:#EEEEEE;
}
tr.table_even_row:hover
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10pt;
	text-decoration: none;
	background-color:#EEEEFE;
}

.unknown
{
	color: #AAAAAA;
}

.off
{
	color: #00AA00;
}

A.enabled:link		{	color:#00AA00;	text-decoration: none; }
A.enabled:visited 	{	color:#00AA00;	text-decoration: none; }
A.enabled:hover 	{	color:#00AA00;	text-decoration: underline; }
A.enabled:active 	{	color:#00AA00;	text-decoration: underline;}

A.disabled:link		{	color:#AA0000;	text-decoration: none; }
A.disabled:visited 	{	color:#AA0000;	text-decoration: none; }
A.disabled:hover 	{	color:#AA0000;	text-decoration: underline; }
A.disabled:active 	{	color:#AA0000;	text-decoration: underline;}

A.uncnown:link		{	color:#AAAAAA;	text-decoration: none; }
A.uncnown:visited 	{	color:#AAAAAA;	text-decoration: none; }
A.uncnown:hover 	{	color:#AAAAAA;	text-decoration: underline; }
A.uncnown:active 	{	color:#AAAAAA;	text-decoration: underline;}

A.off:link	{	color:#00AA00;	text-decoration: none; }
A.off:visited 	{	color:#00AA00;	text-decoration: none; }
A.off:hover 	{	color:#00AA00;	text-decoration: underline; }
A.off:active 	{	color:#00AA00;	text-decoration: underline;}

A.on:link	{	color:#AA0000;	text-decoration: none; }
A.on:visited 	{	color:#AA0000;	text-decoration: none; }
A.on:hover 	{	color:#AA0000;	text-decoration: underline; }
A.on:active 	{	color:#AA0000;	text-decoration: underline;}

.on
{
	color: #AA0000;
}

.disaster
{
	background-color: #FF0000;
}

.high
{
	background-color: #FF8888;
}

.average
{
	background-color: #DDAAAA;
}

.unknown_trigger
{
	background-color: #BCBCBC;
}

.normal
{
	background-color: #AADDAA;
}

a.small_font
{
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

table.menu
{
	background-color: #FFFFFF;
	color: #000000;
	border: 0px solid #000000;
}

table.header
{
	width: 100%;
	color: #FFFFFF;
	background: #5C7099 url(images/gradients/table_head2.gif) repeat-x top left;
	background-color: #6d88ad;
	border-color: #000000;
	border-width:0px;
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	vertical-align: middle;
	padding-right: 5px;
	padding-left: 5px;
}
td.header_l
{
        font-family:verdana, arial, helvetica, sans-serif;
        font-size:10px;
	text-align: left;
	height: 24px;
}
td.header_r
{
        font-family:verdana, arial, helvetica, sans-serif;
        font-size:10px;
	text-align: right;
	height: 24px;
}

table.form
{
	background-color: #FFFFFF;
	color: #000000;
	border: 0px solid #000000;
	width: 50%;
}

.tborder
{
	background-color: #AAAAAA;
	color: #000000;
	border: 0px solid #0B198C;
	width: 100%;
}

/**************** PAGE HEADER ****************/
table.page_header
{
	background-color: #FFFFFF;
	border-color: #000000;
	border-width:0px;
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	padding-right: 0px;
	padding-left: 0px;
	width: 100%;
}
td.page_header_l
{
	vertical-align: middle;
	padding: 0px;
}
td.page_header_r
{
	vertical-align: middle;
	text-align: right;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

/**************** PAGE FOOTER ****************/
table.page_footer
{
	color: #FFFFFF;
	background: #5C7099 url(images/gradients/table_head.gif) repeat-x top left;
	border-color: #000000;
	font-weight: bold; 
	border-width:0px;
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	padding-right: 5px;
	padding-left: 5px;
	width: 100%;
}
td.page_footer_l
{
        font-family:verdana, arial, helvetica, sans-serif;
        font-size:10px;
	height: 24px;
	text-align: center;
}
td.page_footer_r
{
        font-family:verdana, arial, helvetica, sans-serif;
        font-size:10px;
	height: 24px;
	text-align: right;
}
A.footer
{
	color:#CCCCCC;
}

A {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10pt}
A:link {color:black; text-decoration: none; }
A:visited {color:black; text-decoration: none; }
A:hover {color:black; text-decoration: underline; }
A:active {color:black; text-decoration: underline;}

P {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:8pt; }
P:link {color:black; text-decoration: underline; }
P:visited {color:black; text-decoration: none; }
P:hover {color:black; text-decoration: none;}
P:active {color:black; text-decoration: none;}
p.uppercase {text-transform: uppercase}
p.margin {margin-left: 10pt}
	
	
p.info
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	border: 1px dashed #000000;
	color:#000000;
	background-color: #FFFFFF;
}

p.error
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	border: 1px dashed #000000;
	color:#AA0000;
	background-color: #FFFFFF;
}
	
table.home
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}
    
.img
{
	border-color:black;
	border-width:1px;
}

img.top
{
	vertical-align:text-top
}

img.bottom
{
	vertical-align:text-bottom
}

.biginput
{
	font-family: Verdana, Helvetica, Geneva;
	font-size: 11px;
	border: solid;
	border-width: 1px;
	border-color: gray;
	background-color: white;
}

.biginput:focus
{
	font-family: Verdana, Helvetica, Geneva;
	font-size: 11px;
	border: solid;
	border-width: 1px;
	border-color: black;
	background-color: white;
}

.biginput:hover
{
	font-family: Verdana, Helvetica, Geneva;
	font-size: 11px;
	border: solid;
	border-width: 1px;
	border-color: black;
	background-color: white;
}

.button
{
	font-family: Verdana, Helvetica, Geneva;
	font-size: 11px;
	border: solid;
	border-width: 1px;
	border-color: gray;
	background: gray url(images/gradients/button.gif) repeat-x top left;
/*	margin-right:5px; */
}

.button:hover
{
	font-family: Verdana, Helvetica, Geneva;
	font-size: 11px;
	text-decoration: underline;
	border: solid;
	border-width: 1px;
	border-color: black;
	background-color: white;
/*	margin-right:5px; */
}

ul
{
	margin-left: 0px;
	padding-left: 1em;
}
