/* Color CSS Document */
.ok{ color: #00AA00; }
.fail{ color: #D40000; }
.info{ color: #444444; }

.footer 	{ 	color: #CCCCCC;	}
.enabled	{	color: #00AA00;	}
.disabled	{	color: #D40000;	}
.unknown	{	color: #AAAAAA;	}
.on			{	color: #D40000;	}
.off		{	color: #00AA00;	}
.hidden		{	display: none;	}

.green	{ color: #00AA00; }
.red	{ color: #D40000; }
.orange	{ color: #EE6000; }
.blue	{ color: #0033FF; }
.gold	{ color: #999900; }

.disaster	{	background-color: #FF0000;	color: #222222;}
.high		{	background-color: #FF8888;	color: #222222;}
.average	{	background-color: #DDAAAA;	color: #222222;}
.warning	{	background-color: #EFEFCC;	color: #222222;}
.information	{	background-color: #CCE2CC;	color: #222222;}
.unknown_trigger{	background-color: #BCBCBC;	color: #222222;}
.normal		{	background-color: #AADDAA;	color: #222222;}

.textcolorstyles{ color: #000000; }
.textblackwhite{ color: #000000; }
.textwhite{ color: #FFFFFF; }

a.enabled:link		{	color:#00AA00;	}
a.enabled:visited 	{	color:#00AA00;	}
a.enabled:hover 	{	color:#44CC44;	}
a.enabled:active 	{	color:#00AA00;	}

a.disabled:link		{	color:#D40000;	}
a.disabled:visited 	{	color:#D40000;	}
a.disabled:hover 	{	color:#CC4444;	}
a.disabled:active 	{	color:#D40000;	}

a.orange:link		{	color:#EE7000;	}
a.orange:visited 	{	color:#EE7000;	}
a.orange:hover 		{	color:#FF9444;	}
a.orange:active 	{	color:#EE7000;	}

a.unknown:link		{	color:#777777;	}
a.unknown:visited 	{	color:#777777;	}
a.unknown:hover 	{	color:#999999;	}
a.unknown:active 	{	color:#777777;	}

a.off:link		{	color:#00AA00;	}
a.off:visited 	{	color:#00AA00;	}
a.off:hover 	{	color:#44CC44;	}
a.off:active 	{	color:#00AA00;	}

a.on:link		{	color:#D40000;	}
a.on:visited 	{	color:#D40000;	}
a.on:hover 		{	color:#CC7777;	}
a.on:active 	{	color:#D40000;	}