/* Color CSS Document */
.ok{ color: #00AA00; }
.fail{ color: #DC0000; }
.info{ color: #444444; }

.footer 	{ 	color: #CCCCCC;	}
.enabled	{	color: #00AA00;	}
.disabled	{	color: #DC0000;	}
.unknown	{	color: #AAAAAA;	}
.on			{	color: #DC0000;	}
.off		{	color: #00AA00;	}
.hidden		{	display: none;	}

.green	{ color: #00AA00; }
.red	{ color: #DC0000; }
.orange	{ color: #EE6000; }
.blue	{ color: #0099FF; }
.gold	{ color: #999900; }

.disaster	{	background-color: #FF0000;	color: #222222;}
.high		{	background-color: #FF8888;	color: #222222;}
.average	{	background-color: #DDAAAA;	color: #222222;}
.warning	{	background-color: #EFEFCC;	color: #222222;}
.information	{	background-color: #CCE2CC;	color: #222222;}
.unknown_trigger{	background-color: #BCBCBC;	color: #222222;}
.normal		{	background-color: #AADDAA;	color: #222222;}

.textcolorstyles{ color: #000000; }
.textblackwhite{ color: #000000; }
.textwhite{ color: #FFFFFF; }

a.enabled:link		{	color:#00AA00;	}
a.enabled:visited 	{	color:#00AA00;	}
a.enabled:hover 	{	color:#44CC44;	}
a.enabled:active 	{	color:#00AA00;	}

a.disabled:link		{	color:#DC0000;	}
a.disabled:visited 	{	color:#DC0000;	}
a.disabled:hover 	{	color:#CC4444;	}
a.disabled:active 	{	color:#DC0000;	}

a.orange:link		{	color:#EE7000;	}
a.orange:visited 	{	color:#EE7000;	}
a.orange:hover 		{	color:#FF9444;	}
a.orange:active 	{	color:#EE7000;	}

a.unknown:link		{	color:#777777;	}
a.unknown:visited 	{	color:#777777;	}
a.unknown:hover 	{	color:#999999;	}
a.unknown:active 	{	color:#777777;	}

a.off:link		{	color:#00AA00;	}
a.off:visited 	{	color:#00AA00;	}
a.off:hover 	{	color:#44CC44;	}
a.off:active 	{	color:#00AA00;	}

a.on:link		{	color:#DC0000;	}
a.on:visited 	{	color:#DC0000;	}
a.on:hover 		{	color:#CC7777;	}
a.on:active 	{	color:#DC0000;	}

table.tableinfo{ color: #1f1f1f; background-color: #FFF; }
table.tableinfo tr.header td { background-color:#CED7DF; }
table.tableinfo tr.header td.hover_grey { background-color:#C3CCE4; }
table.tableinfo tr.header td.hover_grey:hover  { color: #000000; background-color:#B3BCD7;}
table.tableinfo tr.vertical_header td { background-color: #CED7DF;}
table.tableinfo tr.vertical_header td.hover_grey:hover{ color: #EEEEEE; background-color:#999999; }
table.tableinfo tr.footer td { color: #FFFFFF; background: #6d88ad url('../images/gradients/table_head2.gif') repeat-x top left; }
table.tableinfo tr.selected > td { background-color: #FFFFBB; }
table.tableinfo tr.selected:hover > td { background-color: #BBCCFF; }
table.tableinfo tr.odd_row > td { background-color: #E1E7EC; }
table.tableinfo tr.odd_row:hover > td { background-color: #BBCCFF; }
table.tableinfo tr.even_row > td { background-color: #F2F7FA; }
table.tableinfo tr.even_row:hover > td{ background-color: #BBCCFF; }

table.tableinfo tr > td.disaster_empty { border: 1px #FF0000 solid; }
table.tableinfo tr:hover > td.disaster_empty { border: 1px #FF0000 solid; }
table.tableinfo tr > td.disaster { background-color: #FF0000;	border: 1px #FF0000 solid; }
table.tableinfo tr:hover > td.disaster { background-color: #FA0000;	border: 1px #FA0000 solid; }
table.tableinfo tr > td.high_empty { border: 1px #FF8888 solid; }
table.tableinfo tr:hover > td.high_empty { border: 1px #FF8888 solid; }
table.tableinfo tr > td.high				{	background-color: #FF8888;	border: 1px #FF8888 solid; }
table.tableinfo tr:hover > td.high			{	background-color: #FA8388;	border: 1px #FA8388 solid; }
table.tableinfo tr > td.average_empty			{	border: 1px #DDAAAA solid; }
table.tableinfo tr:hover > td.average_empty		{	border: 1px #DDAAAA solid; }
table.tableinfo tr > td.average				{	background-color: #DDAAAA;	border: 1px #DDAAAA solid; }
table.tableinfo tr:hover > td.average			{	background-color: #D8A5AA;	border: 1px #D8A5AA solid; }
table.tableinfo tr > td.warning_empty			{	border: 1px #EFEFCC solid; }
table.tableinfo tr:hover > td.warning_empty		{	border: 1px #EAEACC solid; }
table.tableinfo tr > td.warning				{	background-color: #EFEFCC;	border: 1px #EFEFCC solid; }
table.tableinfo tr:hover > td.warning			{	background-color: #EAEACC;	border: 1px #EAEACC solid; }
table.tableinfo tr > td.information_empty			{	border: 1px #BBE2BB solid; }
table.tableinfo tr:hover > td.information_empty		{	border: 1px #B7DDBB solid; }
table.tableinfo tr > td.information			{	background-color: #BBE2BB;	border: 1px #CCE2CC solid; }
table.tableinfo tr:hover > td.information			{	background-color: #B7DDBB;	border: 1px #C7DDCC solid; }
table.tableinfo tr > td.unknown_trigger_empty		{	border: 1px #ACACAC solid; }
table.tableinfo tr:hover > td.unknown_trigger_empty	{	border: 1px #ACA7AC solid; }
table.tableinfo tr > td.unknown_trigger			{	background-color: #BCBCBC;	border: 1px #BCBCBC solid; }
table.tableinfo tr:hover > td.unknown_trigger		{	background-color: #BCB7BC;	border: 1px #BCB7BC solid; }
table.tableinfo tr > td.normal				{	background-color: #AAFFAA;	border: 1px #AAFFAA solid; }
table.tableinfo tr:hover > td.normal			{	background-color: #AAF9AA;	border: 1px #AAF9AA solid; }
table.tableinfo tr > td.active				{	background-color: #AADDAA;	border: 1px #AADDAA solid; color: #222222;}
table.tableinfo tr:hover > td.active			{	background-color: #AAD9AA;	border: 1px #AAD9AA solid; }
table.tableinfo tr > td.inactive				{	background-color: #FF8888;	border: 1px #FF8888 solid; color: #222222;}
table.tableinfo tr:hover > td.inactive			{	background-color: #FA8388;	border: 1px #FA8388 solid; }
table.tableinfo tr.red						{	background-color: #FFBBBB; border: 1px #FFBBBB solid; }
table.tableinfo tr.red:hover				{	background-color: #EEAAAA; border: 1px #EEAAAA solid; }
table.tableinfo tr.green					{	background-color: #BBFFBB; border: 1px #BBFFBB solid; }
table.tableinfo tr.green:hover				{	background-color: #AAEEAA; border: 1px #AAEEAA solid; }
table.tableinfo tr.blue 					{	background-color: #BBBBFF; border: 1px #BBBBFF solid; }
table.tableinfo tr.blue:hover 				{	background-color: #AAAAEE; border: 1px #AAAAEE solid; }