/* CSS Document */
/* Black and Blue Theme by Aly*/

@media print {
	body{
		background-color:#A5A5A5;
	} 
}

@media screen {
	body{
		background-color:#353535;
	} 
}

.delimiter{
	color:#AAF;
}

.textcolorstyles{
	color: #0088FF;
}

.pum_oheader { 
	background: #5C7099 url('../images/gradients/table_head2_bb.gif') repeat-x top left;
}

.right_header {
	border-color: #222; 
}


.enabled	{	color: #0088FF;	}
.unknown	{	color: #999999;	}
.off		{	color: #0088FF;	}
.normal		{	background-color: #AADDDD;	}

/*////////////////	LINKS	////////////////////*/

a.highlight 		{ 	font-family: Verdana, Arial, sans-serif;	font-size:10px; 	font-weight: bold; }
a.highlight:link 	{ 	text-decoration: none;	color: #ffffff; }
a.highlight:visited {	text-decoration: none;	color: #ffffff; }
a.highlight:hover	{	text-decoration: none;	color: #0AF; }

A.enabled:link		{	color:#0088FF;	text-decoration: none; }
A.enabled:visited 	{	color:#0088FF;	text-decoration: none; }
A.enabled:hover 	{	color:#0088FF;	text-decoration: underline; }
A.enabled:active 	{	color:#0088FF;	text-decoration: underline;}

A.disabled:link		{	color:#AA0000;	text-decoration: none; }
A.disabled:visited 	{	color:#AA0000;	text-decoration: none; }
A.disabled:hover 	{	color:#AA0000;	text-decoration: underline; }
A.disabled:active 	{	color:#AA0000;	text-decoration: underline;}

A.orange:link		{	color:#EE7000;	text-decoration: none; }
A.orange:visited 	{	color:#EE7000;	text-decoration: none; }
A.orange:hover 		{	color:#EE7000;	text-decoration: underline; }
A.orange:active 	{	color:#EE7000;	text-decoration: underline;}

A.unknown:link		{	color:#777777;	text-decoration: none; }
A.unknown:visited 	{	color:#777777;	text-decoration: none; }
A.unknown:hover 	{	color:#AAAAAA;	text-decoration: underline; }
A.unknown:active 	{	color:#777777;	text-decoration: underline;}

A.off:link		{	color:#0088FF;	text-decoration: none; }
A.off:visited 	{	color:#0088FF;	text-decoration: none; }
A.off:hover 	{	color:#0088FF;	text-decoration: underline; }
A.off:active 	{	color:#0088FF;	text-decoration: underline;}

A.on:link	{	color:#AA0000;	text-decoration: none; }
A.on:visited 	{	color:#AA0000;	text-decoration: none; }
A.on:hover 	{	color:#AA0000;	text-decoration: underline; }
A.on:active 	{	color:#AA0000;	text-decoration: underline;}

A.action:link		{	color:#3C3089;	text-decoration: none; }
A.action:visited 	{	color:#3C3089;	text-decoration: none; }
A.action:hover 		{	color:#3C3089;	text-decoration: underline; }
A.action:active 	{	color:#3C3089;	text-decoration: underline;}

A.small_font 			{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:8pt;}
/*
A.small_font 			{color: #DDD; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:8pt;}
A.small_font:link 		{color: #DDD; text-decoration: none; }
A.small_font:visited 	{color: #DDD; text-decoration: none; }
A.small_font:hover	 	{color: #FFF; text-decoration: underline;}
A.small_font:active 	{color: #FFF; text-decoration: underline;}
*/

A.footer	{color:#CCCCCC;}

A 		{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:8pt;}
A:link 		{color:black; text-decoration: none; }
A:visited 	{color:black; text-decoration: none; }
A:hover 	{color:black; text-decoration: underline; }
A:active 	{color:black; text-decoration: underline;}


A.history:link		{	color:#28F;	text-decoration: none; font-size:10px;}
A.history:visited 	{	color:#28F;	text-decoration: none; font-size:10px;}
A.history:hover 	{	color:#2FF;	text-decoration: none; font-size:10px;}
A.history:active 	{	color:#28F;	text-decoration: none; font-size:10px;}

A.link:link		{	color:#EEE;	text-decoration: none; font-size:10px;}
A.link:visited 	{	color:#EEE;	text-decoration: none; font-size:10px;}
A.link:hover 	{	color:#0BF;	text-decoration: none; font-size:10px;}
A.link:active 	{	color:#0BF;	text-decoration: none; font-size:10px;}


A.styled:link		{	color:#0BF;	 }
A.styled:visited 	{	color:#0BF;	 }
A.styled:hover 		{	color:#0BF;	 }
A.styled:active 	{	color:#0BF;	 }


/*////////////////	TABLES	////////////////////*/
table.page_header tr td.page_header_r{
/*
	background-position:right;
	background-image: url('../images/gradients/gradient.png');
	background-repeat:repeat-y;
*/
}

table.page_footer{
	background: #5C7099 url('../images/gradients/table_head_bb.gif') repeat-x top left;
	border-color: 	#353535;

	border-top-width: 17px;
	border-top-style: solid;
}

table.formtable tr td.form_row_first{
	background: #5C7099 url('../images/gradients/table_head2_bb.gif') repeat-x top left;
	border-color: #222; 
}

table.formtable tr td.form_row_last {
	background: #5C7099 url('../images/gradients/table_head2_bb.gif') repeat-x top left;
	border-color: #222; 
}

table.formtable tr td.form_row_l { /* left cell */
	border-color: #222; 
}

table.formtable tr td.form_row_c { /* center cell */
	border-color: #222; 
}

table.formtable tr td.form_row_r { /* right cell */
	border-color: #222; 
}

td.form_row_l_simple { /* left cell simple */
	border-color: #222; 
}

td.form_row_r_simple { /* right cell simple */
	border-color: #222; 
}

table.formlongtable tr td.form_row_first
{
	background: #5C7099 url('../images/gradients/table_head2_bb.gif') repeat-x top left;
	border-color: #222; 
}
table.formlongtable tr td.form_row_last {
	background: #5C7099 url('../images/gradients/table_head2_bb.gif') repeat-x top left;
	border-color: #222; 
}
table.formlongtable tr td.form_row_l { /* left cell */
	border-color:	#222;
}
table.formlongtable tr td.form_row_c { /* center cell */
	border-color: #222; 
}
table.formlongtable tr td.form_row_r { /* right cell */
	border-color: #222; 
}

table.tabletree tr.footer td {
	background: #5C7099 url('../images/gradients/table_head2_bb.gif') repeat-x top left;
}

table.tableinfo{
	background-color: #5A5A5A;
}

table.tableinfo tr td.normal			{	background-color: #AADDDD;	border: 1px #AADDDD solid; }
table.tableinfo tr:hover td.normal		{	background-color: #AACCCC;	border: 1px #AAD9DD solid; }


table.tableinfo tr td.active			{	background-color: #AACCDD;	border: 1px #AACCDD solid; }
table.tableinfo tr:hover td.active		{	background-color: #AACCD9;	border: 1px #AACCD9 solid; }


table.tableinfo tr.footer td {
	background: #5C7099 url('../images/gradients/table_head2_bb.gif') repeat-x top left;
}

table.header{
	background: #5C7099 url('../images/gradients/table_head2_bb.gif') repeat-x top left;
}

table.filter{
	background: #5C7099 url('../images/gradients/table_head2_bb.gif') repeat-x top left;
}

table.ack_msgs tr.title {
	background: #5C7099 url('../images/gradients/table_head2_bb.gif') repeat-x top left; 
}

table.menu tr{
	background: #AAAAAA url('../images/gradients/menu_not_active_bb.gif') repeat-x top left;
}

table.menu td{
	border-color: #777777;
}

table.menu tr td.active{
	background: #5C7099 url('../images/gradients/table_head_bb.gif') repeat-x top left;
}

table.sub_menu tr{
	background: #5C7099 url('../images/gradients/table_head_bb.gif') repeat-x top left;
}

table.sub_menu tr td span.active a.highlight{
	color: #08F;
}

table.triggers_info tr td.header {
	background: #5C7099 url('../images/gradients/table_head2_bb.gif') repeat-x top left;
}

table.hosts_info tr td.header {
	background: #5C7099 url('../images/gradients/table_head2_bb.gif') repeat-x top left;
}


table.server_info tr td.header {
	background: #5C7099 url('../images/gradients/table_head2_bb.gif') repeat-x top left;
}

table.history td.caption{
	color:#0AF;
}

/* MESSAGES */
table.msgok{
	border: 1px #0088FF solid;
}

table.msgok td.clr{
	background-color:#0088FF;
}

table.msgok td.msg{
	background-color:#BBBBFF;
}
/*----------*/

/*////////////////	DIVS	////////////////////*/

div.zabbix_logo{
	height: 31px;
	width: 118px;
	background-image:url('../images/general/zabbix_bb.png');
	background-repeat: no-repeat;
}

div.iconminus{
	background-image: url('../images/general/bttn/minus_bb.png');
}

div.iconplus{
	background-image: url('../images/general/bttn/plus_bb.png');
}

div.iconmenu{
	background-image: url('../images/general/bttn/menu_bb.png');
}

div.arrowup{
	background-image: url('../images/general/bttn/arrowup_bb.png');
}

div.arrowdown{
	background-image: url('../images/general/bttn/arrowdown_bb.png');
}

div.fullscreen{
	background-image: url('../images/general/bttn/fullscreen_bb.png');
}

div.iconhelp{
	background-image: url('../images/general/bttn/help_bb.png');
}

div#scrolltableft{
	color: #0CF;
}

div#scrolltabright{
	color: #0CF;
}

span.green{
	color:		#0088FF;
}

/*////////////////	FORMS	////////////////////*/

.button:hover {	
	border-color: #000;
	color: #00F;
}