/* CSS Document */

div.disaster{
	background-color: #FF0000;
	width: 100%;
	height: 100%;
	margin-right: 5px;
}
div.high{
	background-color: #FF8888;
	width: 100%;
	height: 100%;
	margin-right: 5px;
}

div.average{
	background-color: #DDAAAA;
	width: 100%;
	height: 100%;
	margin-right: 5px;
}
div.warning{
	background-color: #EFEFCC;
	width: 100%;
	height: 100%;
	margin-right: 5px;
}