/* CSS Document */

div.disaster{
	background-color: #FF0000;
	width: 100%;
	height: 100%;
	padding-left: 2px;
	margin-right: 5px;
}
div.high{
	background-color: #FF8888;
	width: 100%;
	height: 100%;
	padding-left: 2px;
	margin-right: 5px;
}

div.average{
	background-color: #DDAAAA;
	width: 100%;
	height: 100%;
	padding-left: 2px;
	margin-right: 5px;
}

div.warning{
	background-color: #EFEFCC;
	width: 100%;
	height: 100%;
	padding-left: 2px;
	margin-right: 5px;
}

div.onajaxload{
	position: absolute;
	background-color:#000000;

	filter:alpha(opacity=05);
	opacity:.05;

	cursor:wait;
	z-index: 50;
}

/********* DIV IMG *********/
div.zabbix_logo{
	height: 31px;
	width: 118px;
	background: #FFFFFF url('../images/general/zabbix.png') no-repeat;
	cursor: pointer;
}

div.iconminus{
	height: 18px;
	width: 18px;
	background-image: url('../images/general/bttn/minus.png');
	background-repeat:no-repeat;
}
div.iconminus:hover{
	cursor:pointer;
}

div.iconplus{
	height: 18px;
	width: 18px;
	background-image: url('../images/general/bttn/plus.png');
	background-repeat:no-repeat;
}
div.iconplus:hover{
	cursor:pointer;
}

div.iconmenu{
	height: 18px;
	width: 18px;
	background-image: url('../images/general/bttn/menu.png');
	background-repeat:no-repeat;
}

div.iconmenu:hover{
	cursor:pointer;
}

div.arrowup{
	height: 18px;
	width: 18px;
	background-image: url('../images/general/bttn/arrowup.png');
	background-repeat:no-repeat;
}

div.arrowup:hover{
	cursor:pointer;
}

div.arrowdown{
	height: 18px;
	width: 18px;
	background-image: url('../images/general/bttn/arrowdown.png');
	background-repeat:no-repeat;
}

div.arrowdown:hover{
	cursor:pointer;
}

div.fullscreen{
	height: 18px;
	width: 18px;
	background-image: url('../images/general/bttn/fullscreen.png');
	background-repeat:no-repeat;
}

div.fullscreen:hover{
	cursor:pointer;
}

div.iconhelp{
	height: 18px;
	width: 18px;
	background-image: url('../images/general/bttn/help.png');
	background-repeat:no-repeat;
}

div.iconhelp:hover{
	cursor:pointer;
}

div.filterclosed{
	height: 9px;
	width: 9px;
	background-image: url('../images/general/closed.gif');
	background-repeat:no-repeat;
}

div.filterclosed:hover{
	cursor:pointer;
}

div.filteropened{
	height: 9px;
	width: 9px;
	background-image: url('../images/general/opened.gif');
	background-repeat:no-repeat;
}

div.filteropened:hover{
	cursor:pointer;
}

div.iconsound{
	height: 18px;
	width: 18px;
	background-image: url('../images/general/bttn/sound.png');
	background-repeat:no-repeat;
}

div.iconsound:hover{
	cursor:pointer;
}

div.iconmute{
	height: 18px;
	width: 18px;
	background-image: url('../images/general/bttn/mute.png');
	background-repeat:no-repeat;
}

div.iconmute:hover{
	cursor:pointer;
}

div.iconreset{
	height: 18px;
	width: 18px;
	background-image: url('../images/general/bttn/reset.png');
	background-repeat:no-repeat;
}

div.iconreset:hover{
	cursor:pointer;
}
/********* DIV IMG END *********/

span.footer_sign{
	padding-right: 5px;
	padding-left: 5px;
}

span.divider{
	color: #000000;
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	font-weight: normal;
}

/********** REQUIREMENTS TABLE *************/
span.link{
	color:#333399;
}

span.link:hover{
	cursor: pointer;
	text-decoration: underline;
}

span.ok{
	white-space: normal;
	color:		#00AA00;
	font-weight:	bold;
}

span.fail{
	color:		#AA0000;
	font-weight:	bold;
}

span.green{
	color:		#00AA00;
}

span.red{
	color:		#AA0000;
}

span.orange{
	color:		#EE6000;
}

span.info{
	font-weight: bold;
	color:#DDDDDD;
}