/* CSS Document */
div.min-width{
	min-width: 980px;
}

div.disaster{
	background-color: #FF0000;
	width: 100%;
	height: 100%;
	padding-left: 2px;
	margin-right: 5px;
}
div.high{
	background-color: #FF8888;
	width: 100%;
	height: 100%;
	padding-left: 2px;
	margin-right: 5px;
}

div.average{
	background-color: #DDAAAA;
	width: 100%;
	height: 100%;
	padding-left: 2px;
	margin-right: 5px;
}

div.warning{
	background-color: #EFEFCC;
	width: 100%;
	height: 100%;
	padding-left: 2px;
	margin-right: 5px;
}

div.onajaxload{
	position: absolute;
	background-color:#000000;

	filter:alpha(opacity=05);
	opacity:.05;

	cursor:wait;
	z-index: 50;
}

div.zbx_search{
	color:#FFFFFF;
	font-weight:bold;
	float:right;
}


/**************** HINT BOX *****************/

div.hintbox {
	top: 0;
	z-index: 1000;
	position: absolute;
	background-color: #FFFFE0;
	padding: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height:15px;
	border: 1px solid black;
	border-left: none;
	border-top: none;
}

/************** END OF HINT BOX ************/

/* Node Tree */
div #div_node_tree {
	background-color: gray;
	position: absolute;
	border: 2px solid black;
	right: 0px;
	z-index: 200;
}

/* SEARCH Suggest */
div.suggest{
	position: absolute;
	border: 1px #5C7099 solid;
	width: 162px;
	z-index: 100;
	display: none;
}

div.thin_header{
	width: 100%;
	color: #FFFFFF;
	background: #5C7099 url('../images/gradients/table_head2.gif') repeat-x top left;
	border: 0px #000000 solid;
	text-align: center;
}

/* <FORM ELEMENT> */
div.formElement_header{
	color: #FFFFFF;
	background: #5C7099 url('../images/gradients/table_head2.gif') repeat-x top left;
	border: 0;
	text-align: left;
	height: 20px;
	padding-left: 5px;
	line-height: 20px;
}

div.formElement_body{
	border: 1px solid #AAAAAA;
	background-color: #E5E5E5;
}

.formElementTable{
	white-space: nowrap;
}

.formElementTable tr td{
	padding-left: 5px;
	padding-right: 5px;
	height: 24px;
}

div.formElement_footer{
	color: #FFFFFF;
	background: #5C7099 url('../images/gradients/table_head2.gif') repeat-x top left;
	border: 0;
	text-align: right;
	height: 20px;
	padding-right: 5px;
}
/* </FORM ELEMENT> */

/**** SCREEN DRAG & DROP ****/
div.draggable { cursor: move; }

/********* DIV IMG *********/
div.zabbix_logo{
	height: 31px;
	width: 118px;
	background: #FFFFFF url('../images/general/zabbix.png') no-repeat;
	cursor: pointer;
}

.menu_icon{
	display: inline-block;
	background-repeat:no-repeat;
	height: 16px;
	width: 16px;
	cursor: pointer;
	border: 1px solid white;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}

.menu_icon:hover{
	-webkit-box-shadow: 0 0 6px white;
	-moz-box-shadow: 0 0 6px white;
	box-shadow: 0 0 6px white;
}

.iconminus{
	background-image: url('../images/general/bttn/minus.png');
}
.iconplus{
	background-image: url('../images/general/bttn/plus.png');
}
.iconmenu{
	background-image: url('../images/general/bttn/menu.png');
}
.iconmenu_b{
	background-image: url('../images/general/bttn/menu.png');
	background-color: #5572AA;
}
.arrowup{
	background-image: url('../images/general/bttn/arrowup.png');
}
.arrowdown{
	background-image: url('../images/general/bttn/arrowdown.png');
}
.arrowleft{
	background-image: url('../images/general/bttn/arrowleft.png');
}
.arrowright{
	background-image: url('../images/general/bttn/arrowright.png');
}
.fullscreen{
	background-image: url('../images/general/bttn/fullscreen.png');
}
.iconhelp{
	background-image: url('../images/general/bttn/help.png');
}
.iconconfig{
	background-image: url('../images/general/bttn/config.png');
}
.iconconfig_hl{
	background-image: url('../images/general/bttn/config_hl.png');
}

.iconsound{
	background-image: url('../images/general/bttn/sound.png');
}
.iconmute{
	background-image: url('../images/general/bttn/mute.png');
}
.iconreset{
	background-image: url('../images/general/bttn/reset.png');
}
.iconsnooze{
	background-image: url('../images/general/bttn/snooze.png');
}
.iconclose{
	background-image: url('../images/general/bttn/close.png');
}
.iconmove{
	background-image: url('../images/general/bttn/move.png');
	cursor: move;
}

.filterclosed{
	height: 9px;
	width: 9px;
	background-image: url('../images/general/closed.gif');
	background-repeat:no-repeat;
	cursor:pointer;
}

.filteropened{
	height: 9px;
	width: 9px;
	background-image: url('../images/general/opened.gif');
	background-repeat:no-repeat;
	cursor:pointer;
}

.iconerror{
	height: 14px;
	width: 14px;
	background-image: url('../images/general/error_icon.png');
	background-repeat:no-repeat;
	cursor:pointer;
}
.iconok{
	height: 14px;
	width: 14px;
	background-image: url('../images/general/ok_icon.png');
	background-repeat:no-repeat;
}

.iconunknown{
	height: 14px;
	width: 14px;
	background-image: url('../images/general/unknown_icon.png');
	background-repeat:no-repeat;
	cursor: pointer;
}

/* <status icons> */
.iconzbxunknown{
	height: 14px;
	width: 14px;
	background-image: url('../images/general/zabbix_unknown.png');
	background-repeat:no-repeat;
	margin: 0 1px;
}
.iconzbxavailable{
	height: 14px;
	width: 14px;
	background-image: url('../images/general/zabbix_available.png');
	background-repeat:no-repeat;
	margin: 0 1px;
}
.iconzbxunavailable{
	height: 14px;
	width: 14px;
	background-image: url('../images/general/zabbix_unavailable.png');
	background-repeat:no-repeat;
	margin: 0 1px;
}
.iconsnmpunknown{
	height: 14px;
	width: 14px;
	background-image: url('../images/general/snmp_unknown.png');
	background-repeat:no-repeat;
	margin: 0 1px;
}
.iconsnmpavailable{
	height: 14px;
	width: 14px;
	background-image: url('../images/general/snmp_available.png');
	background-repeat:no-repeat;
	margin: 0 1px;
}
.iconsnmpunavailable{
	height: 14px;
	width: 14px;
	background-image: url('../images/general/snmp_unavailable.png');
	background-repeat:no-repeat;
	margin: 0 1px;
}
.iconipmiunknown{
	height: 14px;
	width: 14px;
	background-image: url('../images/general/ipmi_unknown.png');
	background-repeat:no-repeat;
	margin: 0 1px;
}
.iconipmiavailable{
	height: 14px;
	width: 14px;
	background-image: url('../images/general/ipmi_available.png');
	background-repeat:no-repeat;
	margin: 0 1px;
}
.iconipmiunavailable{
	height: 14px;
	width: 14px;
	background-image: url('../images/general/ipmi_unavailable.png');
	background-repeat:no-repeat;
	margin: 0 1px;
}
/* </status icons> */


.dbl_arrow_down{
	height: 10px;
	width: 9px;
	background-image: url('../images/general/dbl_arrow_down2.png');
	background-repeat:no-repeat;
	display:block;
	cursor:pointer;
}
.dbl_arrow_up{
	height: 10px;
	width: 9px;
	background-image: url('../images/general/dbl_arrow_up2.png');
	background-repeat:no-repeat;
	cursor:pointer;
}

.sla_green{
	height: 15px;
	background-image: url('../images/gradients/sla_green15.png');
	background-repeat:repeat-x;
}
.sla_red{
	height: 15px;
	background-image: url('../images/gradients/sla_red15.png');
	background-repeat:repeat-x;
}

.icon_sortup{
	height: 16px;
	width: 19px;
	background-image: url('../images/general/sort_up.gif');
	background-repeat:no-repeat;
	cursor: pointer;
}
.icon_sortdown{
	height: 16px;
	width: 19px;
	background-image: url('../images/general/sort_down.gif');
	background-repeat:no-repeat;
	cursor: pointer;
}
/********* DIV IMG END *********/

/********** <OBJECT LIST> ************/
.objectgroup { padding: 4px; margin: 5px 0px 5px 0px; }
.border_dotted{ border: 1px dotted #6C80B9; }
.border_none{ border: 0px; }

.footer { padding-left: 1.6em; }
.footer .dt { float: left; width: 20%; }
.footer .dt input.main{ border-color: #FFAA33; height: 22px;}
.footer .dt input.main:hover{ border-color: #DD7711; }
.footer .dd { width: 70%; padding-left: 21%; }
/***************************/

.link{ cursor: pointer; color:#3C3089; text-decoration: underline; }
.link:hover{ color:#6C80B9; text-decoration: underline; }

.darklink{ color:#3C3089; cursor: pointer; text-decoration: underline; }
.darklink:hover{ color:#6C80B9; text-decoration: underline; }

.blacklink{ color:#1A1A1A; cursor: pointer; text-decoration: underline;}
.blacklink:hover{ color:#3A3A3A; }

.whitelink{ color:#F3F3F3; cursor: pointer; text-decoration: underline; }
.whitelink:hover { color:#DADADA; }

.link_menu{ color: #3C3089; cursor: pointer; text-decoration: none; border-bottom: 1px dotted #3C3089; }
.link_menu:hover { color: #6C80B9; text-decoration: none; border-bottom: 1px dotted #6C80B9; }

.underline{ text-decoration: underline; }

span.footer_sign{ padding-right: 5px; padding-left: 5px; }
span.divider{ color: #000000; font-weight: normal;}

/********** <SUBFILTER BUTTONS> ************/
span.subfilter_enabled{ color: #00AA00; cursor: pointer; text-decoration: none; border-bottom: 1px dashed; }
span.subfilter_enabled:hover{ color:#44CC44; }
span.subfilter_disabled{ color:maroon; cursor: pointer; text-decoration: none; border-bottom: 1px dashed; }
span.subfilter_disabled:hover{ color:#CC4444; }
span.subfilter_inactive{ color: #777777; }
span.subfilter_inactive:hover{ color: #999999; }
span.subfilter_active{ color: teal; }
/********** </SUBFILTER BUTTONS> ************/

/********** REQUIREMENTS TABLE *************/

span.ok{ white-space: normal; color: #00AA00; font-weight: bold; }
span.fail{ color: #AA0000; font-weight: bold; }
span.fail:hover{ color:	#AA0000; }

span.green { color: #00AA00; }
span.red { color: #AA0000; }
span.orange { color: #EE6000; }
span.blue { color: #0033FF; }
span.info{ font-weight: bold; color: #444444; font-size: 11px; }
span.discoveryName{ color: #999900; }


/* Sortable */
.column{ float: left; margin: 5px 0px 5px 5px; min-width: 240px; padding-bottom: 100px; }

.column .widget{ padding: 2px; margin-bottom: 5px;}

.column .widget .header{
	height: 18px;
	line-height: 18px;
	font-size: 1.1em;
	font-weight: bold;
	padding: 3px;
	margin-bottom: 2px;
}

.widget .header .menu_icon{ float: right; margin-right: 2px; }

.widget .footer { color: white; line-height: 12px; height: 12px; padding: 4px 4px; margin-top: 2px;}

.inlineblock{ display: inline-block; }
