/* CSS Document */

div.disaster{
	background-color: #FF0000;
	width: 100%;
	height: 100%;
	padding-left: 2px;
	margin-right: 5px;
}
div.high{
	background-color: #FF8888;
	width: 100%;
	height: 100%;
	padding-left: 2px;
	margin-right: 5px;
}

div.average{
	background-color: #DDAAAA;
	width: 100%;
	height: 100%;
	padding-left: 2px;
	margin-right: 5px;
}

div.warning{
	background-color: #EFEFCC;
	width: 100%;
	height: 100%;
	padding-left: 2px;
	margin-right: 5px;
}

div.onajaxload{
	position: absolute;
	background-color:#000000;

	filter:alpha(opacity=05);
	opacity:.05;

	cursor:wait;
	z-index: 50;
}

div.zbx_search{
	color:#FFFFFF;
	font-weight:bold;
	float:right;
}


/**************** HINT BOX *****************/

div.hintbox {
	top: 0;
	z-index: 1000;
	position: absolute;
	background-color: #FFFFE0;
	padding: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height:15px;
	border: 1px solid black;
	border-left: none;
	border-top: none;
}

/************** END OF HINT BOX ************/

/**** SCREEN DRAG & DROP ****/
div.draggable {
	cursor: pointer;
}

div.hoverclass123{
	border:1px solid red;
}
/***************************/

/********* DIV IMG *********/
div.zabbix_logo{
	height: 31px;
	width: 118px;
	background: #FFFFFF url('../images/general/zabbix.png') no-repeat;
	cursor: pointer;
}

div.iconminus{
	height: 18px;
	width: 18px;
	background-image: url('../images/general/bttn/minus.png');
	background-repeat:no-repeat;
}
div.iconminus:hover{
	cursor:pointer;
}

div.iconplus{
	height: 18px;
	width: 18px;
	background-image: url('../images/general/bttn/plus.png');
	background-repeat:no-repeat;
}
div.iconplus:hover{
	cursor:pointer;
}

div.iconmenu{
	height: 18px;
	width: 18px;
	background-image: url('../images/general/bttn/menu.png');
	background-repeat:no-repeat;
}

div.iconmenu:hover{
	cursor:pointer;
}

div.arrowup{
	height: 18px;
	width: 18px;
	background-image: url('../images/general/bttn/arrowup.png');
	background-repeat:no-repeat;
}

div.arrowup:hover{
	cursor:pointer;
}

div.arrowdown{
	height: 18px;
	width: 18px;
	background-image: url('../images/general/bttn/arrowdown.png');
	background-repeat:no-repeat;
}

div.arrowdown:hover{
	cursor:pointer;
}

div.arrowleft{
	height: 18px;
	width: 18px;
	background-image: url('../images/general/bttn/arrowleft.png');
	background-repeat:no-repeat;
}

div.arrowleft:hover{
	cursor:pointer;
}

div.arrowright{
	height: 18px;
	width: 18px;
	background-image: url('../images/general/bttn/arrowright.png');
	background-repeat:no-repeat;
}

div.arrowright:hover{
	cursor:pointer;
}

div.fullscreen{
	height: 18px;
	width: 18px;
	background-image: url('../images/general/bttn/fullscreen.png');
	background-repeat:no-repeat;
}

div.fullscreen:hover{
	cursor:pointer;
}

div.iconhelp{
	height: 18px;
	width: 18px;
	background-image: url('../images/general/bttn/help.png');
	background-repeat:no-repeat;
}

div.iconhelp:hover{
	cursor:pointer;
}

div.filterclosed{
	height: 9px;
	width: 9px;
	background-image: url('../images/general/closed.gif');
	background-repeat:no-repeat;
}

div.filterclosed:hover{
	cursor:pointer;
}

div.filteropened{
	height: 9px;
	width: 9px;
	background-image: url('../images/general/opened.gif');
	background-repeat:no-repeat;
}

div.filteropened:hover{
	cursor:pointer;
}

div.iconsound{
	height: 18px;
	width: 18px;
	background-image: url('../images/general/bttn/sound.png');
	background-repeat:no-repeat;
}

div.iconsound:hover{
	cursor:pointer;
}

div.iconmute{
	height: 18px;
	width: 18px;
	background-image: url('../images/general/bttn/mute.png');
	background-repeat:no-repeat;
}

div.iconmute:hover{
	cursor:pointer;
}

div.iconreset{
	height: 18px;
	width: 18px;
	background-image: url('../images/general/bttn/reset.png');
	background-repeat:no-repeat;
}

div.iconreset:hover{
	cursor:pointer;
}

div.iconerror{
	height: 14px;
	width: 14px;
	background-image: url('../images/general/error_icon.png');
	background-repeat:no-repeat;
}

div.iconerror:hover{
	cursor:pointer;
}

div.iconok{
	height: 14px;
	width: 14px;
	background-image: url('../images/general/ok_icon.png');
	background-repeat:no-repeat;
}

div.iconok:hover{
}

div.dbl_arrow_down{
	height: 10px;
	width: 9px;
	background-image: url('../images/general/dbl_arrow_down2.png');
	background-repeat:no-repeat;
	display:block;
}

div.dbl_arrow_down:hover{
	cursor:pointer;
}

div.dbl_arrow_up{
	height: 10px;
	width: 9px;
	background-image: url('../images/general/dbl_arrow_up2.png');
	background-repeat:no-repeat;
}

div.dbl_arrow_up:hover{
	cursor:pointer;
}

div.sla_green{
	height: 15px;
	background-image: url('../images/gradients/sla_green15.png');
	background-repeat:repeat-x;
}

div.sla_red{
	height: 15px;
	background-image: url('../images/gradients/sla_red15.png');
	background-repeat:repeat-x;
}

div.icon_sortup{
	height: 10px;
	width: 10px;
	background-image: url('../images/general/sort_up.png');
	background-repeat:no-repeat;
}

div.icon_sortup:hover{
	cursor: pointer;
}

div.icon_sortdown{
	height: 10px;
	width: 10px;
	background-image: url('../images/general/sort_down.png');
	background-repeat:no-repeat;
}

div.icon_sortdown:hover{
	cursor: pointer;
}

/********* DIV IMG END *********/

.link{
	color:#3C3089;
	text-decoration: underline;
}

.link:hover{
	color:#6C80B9;
	cursor: pointer;
	text-decoration: underline;
}

.darklink{
	color:#3C3089;
	text-decoration: underline;
}

.darklink:hover{
	color:#6C80B9;
	cursor: pointer;
	text-decoration: underline;
}

.link_menu{
	color: #3C3089;
	text-decoration: none;
	border-bottom: 1px dotted #3C3089;
}

.link_menu:hover{
	color: #6C80B9;
	cursor: pointer;
	text-decoration: none;
	border-bottom: 1px dotted #6C80B9;
}

.underline{
	text-decoration: underline;
}

span.footer_sign{
	padding-right: 5px;
	padding-left: 5px;
}

span.divider{
	color: #000000;
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	font-weight: normal;
}

/********** <SUBFILTER BUTTONS> ************/
span.subfilter_enabled{
	color: #00AA00;
	cursor: pointer;
	text-decoration: none;
	border-bottom: 1px dashed;
}
span.subfilter_enabled:hover{
	color:#44CC44;
}
span.subfilter_disabled{
	color:maroon;
	cursor: pointer;
	text-decoration: none;
	border-bottom: 1px dashed;
}
span.subfilter_disabled:hover{
	color:#CC4444;
}
span.subfilter_inactive{
	color: #777777;
}
span.subfilter_inactive:hover{

	color: #999999;
}
span.subfilter_active{
	color: teal;
}
/********** </SUBFILTER BUTTONS> ************/

/********** REQUIREMENTS TABLE *************/

span.ok{
	white-space: normal;
	color:		#00AA00;
	font-weight:	bold;
}

span.fail{
	color:		#AA0000;
	font-weight:	bold;
}

span.green{
	color:		#00AA00;
}

span.red{
	color:		#AA0000;
}

span.orange{
	color:		#EE6000;
}

span.blue{
	color:		#0033FF;
}

span.info{
 font-weight: bold;
	color: #444444;
	font-size: 11px;
}

.biglink{
	font-weight: bold;
	font-size: 13px;
	color:#3C3089;
	text-decoration: underline;
}
.biglink:hover{
	color:#6C80B9;
	cursor: pointer;
	text-decoration: underline;
}

/*********** Node Tree ****************/

div #div_node_tree {
	background-color: gray;
	position: absolute;
	border: 2px solid black;
	right: 0px;
	z-index: 200;
}
