/* CSS Document */

form {margin: 0}

form.thin .input{
	height: 14px;
}

.input, .input[disabled]:hover{
	font-size: 10px;
	font-family: Verdana, arial, helvetica, sans-serif;

	border: 1px solid gray;
	background-color: white;

	margin: 1px 2px 0 2px;
}

.input:focus { border-color: black; }
.input:hover { border-color: black; }

.input[readonly], .input[readonly]:hover{ border-color: #D0D0D0; background-color: #EEEEEE; }

.select{
	cursor: pointer;
	margin: 1px 4px 1px 2px;
}

.selectShorten{
	width: 200px;
}

/**************** FORM ELEMENTS ****************/
/******************* BUTTONS *********************/
.button, .button[disabled]:hover{
	background: #F0F0F0 url('../images/gradients/button.gif') repeat-x top left;
	border: 1px solid #808080;

	vertical-align: top;
	margin: 1px 2px 0 0;
}

.button:hover{
	text-decoration: underline;
	border-color: black;
	cursor: pointer;
}

.button[disabled], .button[disabled]:hover{
	cursor: default;
}


.link_menu{
	border: 0px;
	background: none;
	color: #3C3089;

	text-decoration: none;
	border-bottom: 1px dotted #3C3089;

	height: 16px;
	padding: 0px;
	margin: 0px;
}

.link_menu:hover{ color: #6C80B9; border-bottom: 1px dotted #6C80B9;}

/******************* CHECKBOX *********************/
.checkbox{ cursor: pointer;}