/* CSS Document */
ul{
	margin-left: 0px;
	padding-left: 1em;
}

ul.itservices{
	margin: 0px;
	margin-left: 5px;
}

ul.messages{
	overflow:auto;
	vertical-align: top;
	background-color: #FFFFFF;
	margin: 1px;
	text-align:left;
}

ul.messages li{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	line-height: 18px;
}

ul.messages li.info{
	color:#000000;
	list-style: url("../images/general/warning_small.gif") inside;
}

ul.messages li.error{
	color:#AA0000;
	list-style: url("../images/general/error_small.gif") inside;
}


ul li.linear{
	float: left;
	list-style-type: none;
	margin-right: 2px;
}

ul.favorites{
	vertical-align: top;
	margin: 8px 4px 8px 0px;
	text-align: left;
}

ul.favorites li{
	height: 18px;
	line-height: 18px;
	vertical-align: top;

	list-style: url("../images/general/chart.png");
	margin: 4px 0px 4px 20px;
}

ul.favorites li.empty{
	list-style: none;
	line-height: 18px;
	vertical-align: top;
	margin-left: 10px;
	color: #999;
}

ul.favorites li a{
	line-height: 18px;
	vertical-align: top;
}