/.buildpath
/.project
/.settings
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
build/win32/examples/zabbix_sender/sender.exe
build/win32/examples/zabbix_sender/sender.obj
build/win32/project/*.idb
build/win32/project/*.manifest
build/win32/project/*.pdb
build/win32/project/*.res
build/win32/project/MSG00001.bin
build/win32/project/messages.h
build/win32/project/messages.rc
build/win32/project/resource.res
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
create/Makefile
create/Makefile.in
/cscope.*
database/Makefile
database/Makefile.in
database/ibm_db2/data.sql
database/ibm_db2/schema.sql
database/mysql/data.sql
database/mysql/schema.sql
database/oracle/data.sql
database/oracle/schema.sql
database/postgresql/data.sql
database/postgresql/schema.sql
database/sqlite3/data.sql
database/sqlite3/schema.sql
/depcomp
frontends/php/.buildpath
frontends/php/.htpasswd
frontends/php/.idea
frontends/php/.project
frontends/php/conf/zabbix.conf.php
frontends/php/images/general/*.db
frontends/php/images/general/tree/*.db
frontends/php/include/views/.administration.script.edit.php.swp
frontends/php/include/views/.configuration.host.edit.php.swp
frontends/php/js/jsDump.js
frontends/php/locale/POTFILES.in
frontends/php/locale/bg/LC_MESSAGES/frontend.mo
frontends/php/locale/cs/LC_MESSAGES/frontend.mo
frontends/php/locale/de/LC_MESSAGES/frontend.mo
frontends/php/locale/el/LC_MESSAGES/frontend.mo
frontends/php/locale/en_US/LC_MESSAGES/frontend.mo
frontends/php/locale/es/LC_MESSAGES/frontend.mo
frontends/php/locale/fa/LC_MESSAGES/frontend.mo
frontends/php/locale/fi/LC_MESSAGES/frontend.mo
frontends/php/locale/fr/LC_MESSAGES/frontend.mo
frontends/php/locale/frontend.pot
frontends/php/locale/he/LC_MESSAGES/frontend.mo
frontends/php/locale/hu/LC_MESSAGES/frontend.mo
frontends/php/locale/id/LC_MESSAGES/frontend.mo
frontends/php/locale/it/LC_MESSAGES/frontend.mo
frontends/php/locale/ja/LC_MESSAGES/frontend.mo
frontends/php/locale/ka/LC_MESSAGES/frontend.mo
frontends/php/locale/ko/LC_MESSAGES/frontend.mo
frontends/php/locale/lt/LC_MESSAGES/frontend.mo
frontends/php/locale/lv/LC_MESSAGES/frontend.mo
frontends/php/locale/nl/LC_MESSAGES/frontend.mo
frontends/php/locale/pl/LC_MESSAGES/frontend.mo
frontends/php/locale/pt_BR/LC_MESSAGES/frontend.mo
frontends/php/locale/pt_PT/LC_MESSAGES/frontend.mo
frontends/php/locale/ro/LC_MESSAGES/frontend.mo
frontends/php/locale/ru/LC_MESSAGES/frontend.mo
frontends/php/locale/sk/LC_MESSAGES/frontend.mo
frontends/php/locale/sv/LC_MESSAGES/frontend.mo
frontends/php/locale/tr/LC_MESSAGES/frontend.mo
frontends/php/locale/uk/LC_MESSAGES/frontend.mo
frontends/php/locale/vi/LC_MESSAGES/frontend.mo
frontends/php/locale/zh_CN/LC_MESSAGES/frontend.mo
frontends/php/locale/zh_TW/LC_MESSAGES/frontend.mo
frontends/php/tests/bootstrap.php
include/config.h
include/config.h.in
include/stamp-h1
/install-sh
man/Makefile
man/Makefile.in
misc/Makefile
misc/Makefile.in
misc/images/inkscape.log.txt
misc/images/pngcrush.log.txt
misc/images/pngcrushoutput.txt
/missing
/nbproject
sass/.sass-cache
sass/code_example_templates
sass/doc_assets
sass/filter-expanded2.html
sass/forms_with_tables.html
sass/hologram_config.yml
sass/img/man.svg
sass/img/reload.svg
sass/img/tomato.png
sass/img/tomato.svg
sass/overlay-dialog.html
sass/styleguide
sass/stylesheets/*.css
sass/stylesheets/*.map
sass/stylesheets/sass/components.md
sass/stylesheets/sass/index.md
sass/stylesheets/sass/screen2.scss
sass/stylesheets/themes
sass/wide-table.html
src/Makefile
src/Makefile.in
src/libs/Makefile
src/libs/Makefile.in
src/libs/zbxalgo/.deps
src/libs/zbxalgo/Makefile
src/libs/zbxalgo/Makefile.in
src/libs/zbxcommon/.deps
src/libs/zbxcommon/Makefile
src/libs/zbxcommon/Makefile.in
src/libs/zbxcomms/.deps
src/libs/zbxcomms/Makefile
src/libs/zbxcomms/Makefile.in
src/libs/zbxcommshigh/.deps
src/libs/zbxcommshigh/Makefile
src/libs/zbxcommshigh/Makefile.in
src/libs/zbxconf/.deps
src/libs/zbxconf/Makefile
src/libs/zbxconf/Makefile.in
src/libs/zbxcrypto/.deps
src/libs/zbxcrypto/Makefile
src/libs/zbxcrypto/Makefile.in
src/libs/zbxdb/.deps
src/libs/zbxdb/Makefile
src/libs/zbxdb/Makefile.in
src/libs/zbxdbcache/.deps
src/libs/zbxdbcache/Makefile
src/libs/zbxdbcache/Makefile.in
src/libs/zbxdbhigh/.deps
src/libs/zbxdbhigh/Makefile
src/libs/zbxdbhigh/Makefile.in
src/libs/zbxdbhigh/dbschema.c
src/libs/zbxdbupgrade/.deps
src/libs/zbxdbupgrade/Makefile
src/libs/zbxdbupgrade/Makefile.in
src/libs/zbxexec/.deps
src/libs/zbxexec/Makefile
src/libs/zbxexec/Makefile.in
src/libs/zbxicmpping/.deps
src/libs/zbxicmpping/Makefile
src/libs/zbxicmpping/Makefile.in
src/libs/zbxjson/.deps
src/libs/zbxjson/Makefile
src/libs/zbxjson/Makefile.in
src/libs/zbxlog/.deps
src/libs/zbxlog/Makefile
src/libs/zbxlog/Makefile.in
src/libs/zbxmedia/.deps
src/libs/zbxmedia/Makefile
src/libs/zbxmedia/Makefile.in
src/libs/zbxmemory/.deps
src/libs/zbxmemory/Makefile
src/libs/zbxmemory/Makefile.in
src/libs/zbxmodules/.deps
src/libs/zbxmodules/Makefile
src/libs/zbxmodules/Makefile.in
src/libs/zbxnix/.deps
src/libs/zbxnix/Makefile
src/libs/zbxnix/Makefile.in
src/libs/zbxregexp/.deps
src/libs/zbxregexp/Makefile
src/libs/zbxregexp/Makefile.in
src/libs/zbxself/.deps
src/libs/zbxself/Makefile
src/libs/zbxself/Makefile.in
src/libs/zbxserver/.deps
src/libs/zbxserver/Makefile
src/libs/zbxserver/Makefile.in
src/libs/zbxsys/.deps
src/libs/zbxsys/Makefile
src/libs/zbxsys/Makefile.in
src/libs/zbxsysinfo/.deps
src/libs/zbxsysinfo/Makefile
src/libs/zbxsysinfo/Makefile.in
src/libs/zbxsysinfo/agent/.deps
src/libs/zbxsysinfo/agent/Makefile
src/libs/zbxsysinfo/agent/Makefile.in
src/libs/zbxsysinfo/aix/.deps
src/libs/zbxsysinfo/aix/.dirstamp
src/libs/zbxsysinfo/aix/Makefile
src/libs/zbxsysinfo/aix/Makefile.in
src/libs/zbxsysinfo/common/.deps
src/libs/zbxsysinfo/common/Makefile
src/libs/zbxsysinfo/common/Makefile.in
src/libs/zbxsysinfo/freebsd/.deps
src/libs/zbxsysinfo/freebsd/.dirstamp
src/libs/zbxsysinfo/freebsd/Makefile
src/libs/zbxsysinfo/freebsd/Makefile.in
src/libs/zbxsysinfo/hpux/.deps
src/libs/zbxsysinfo/hpux/.dirstamp
src/libs/zbxsysinfo/hpux/Makefile
src/libs/zbxsysinfo/hpux/Makefile.in
src/libs/zbxsysinfo/linux/.deps
src/libs/zbxsysinfo/linux/.dirstamp
src/libs/zbxsysinfo/linux/Makefile
src/libs/zbxsysinfo/linux/Makefile.in
src/libs/zbxsysinfo/netbsd/.deps
src/libs/zbxsysinfo/netbsd/.dirstamp
src/libs/zbxsysinfo/netbsd/Makefile
src/libs/zbxsysinfo/netbsd/Makefile.in
src/libs/zbxsysinfo/openbsd/.deps
src/libs/zbxsysinfo/openbsd/.dirstamp
src/libs/zbxsysinfo/openbsd/Makefile
src/libs/zbxsysinfo/openbsd/Makefile.in
src/libs/zbxsysinfo/osf/.deps
src/libs/zbxsysinfo/osf/.dirstamp
src/libs/zbxsysinfo/osf/Makefile
src/libs/zbxsysinfo/osf/Makefile.in
src/libs/zbxsysinfo/osx/.deps
src/libs/zbxsysinfo/osx/.dirstamp
src/libs/zbxsysinfo/osx/Makefile
src/libs/zbxsysinfo/osx/Makefile.in
src/libs/zbxsysinfo/simple/.deps
src/libs/zbxsysinfo/simple/Makefile
src/libs/zbxsysinfo/simple/Makefile.in
src/libs/zbxsysinfo/solaris/.deps
src/libs/zbxsysinfo/solaris/.dirstamp
src/libs/zbxsysinfo/solaris/Makefile
src/libs/zbxsysinfo/solaris/Makefile.in
src/libs/zbxsysinfo/unknown/.deps
src/libs/zbxsysinfo/unknown/.dirstamp
src/libs/zbxsysinfo/unknown/Makefile
src/libs/zbxsysinfo/unknown/Makefile.in
src/zabbix_agent/.deps
src/zabbix_agent/Makefile
src/zabbix_agent/Makefile.in
src/zabbix_agent/zabbix_agent
src/zabbix_agent/zabbix_agentd
src/zabbix_get/.deps
src/zabbix_get/Makefile
src/zabbix_get/Makefile.in
src/zabbix_get/zabbix_get
src/zabbix_java/.deps
src/zabbix_java/Makefile
src/zabbix_java/Makefile.in
src/zabbix_java/bin/zabbix-java-gateway-*.jar
src/zabbix_java/class
src/zabbix_proxy/.deps
src/zabbix_proxy/Makefile
src/zabbix_proxy/Makefile.in
src/zabbix_proxy/datasender/.deps
src/zabbix_proxy/datasender/Makefile
src/zabbix_proxy/datasender/Makefile.in
src/zabbix_proxy/heart/.deps
src/zabbix_proxy/heart/Makefile
src/zabbix_proxy/heart/Makefile.in
src/zabbix_proxy/housekeeper/.deps
src/zabbix_proxy/housekeeper/Makefile
src/zabbix_proxy/housekeeper/Makefile.in
src/zabbix_proxy/proxyconfig/.deps
src/zabbix_proxy/proxyconfig/Makefile
src/zabbix_proxy/proxyconfig/Makefile.in
src/zabbix_proxy/zabbix_proxy
src/zabbix_sender/.deps
src/zabbix_sender/Makefile
src/zabbix_sender/Makefile.in
src/zabbix_sender/zabbix_sender
src/zabbix_server/.deps
src/zabbix_server/Makefile
src/zabbix_server/Makefile.in
src/zabbix_server/alerter/.deps
src/zabbix_server/alerter/Makefile
src/zabbix_server/alerter/Makefile.in
src/zabbix_server/dbconfig/.deps
src/zabbix_server/dbconfig/Makefile
src/zabbix_server/dbconfig/Makefile.in
src/zabbix_server/dbsyncer/.deps
src/zabbix_server/dbsyncer/Makefile
src/zabbix_server/dbsyncer/Makefile.in
src/zabbix_server/discoverer/.deps
src/zabbix_server/discoverer/Makefile
src/zabbix_server/discoverer/Makefile.in
src/zabbix_server/escalator/.deps
src/zabbix_server/escalator/Makefile
src/zabbix_server/escalator/Makefile.in
src/zabbix_server/housekeeper/.deps
src/zabbix_server/housekeeper/Makefile
src/zabbix_server/housekeeper/Makefile.in
src/zabbix_server/httppoller/.deps
src/zabbix_server/httppoller/Makefile
src/zabbix_server/httppoller/Makefile.in
src/zabbix_server/pinger/.deps
src/zabbix_server/pinger/Makefile
src/zabbix_server/pinger/Makefile.in
src/zabbix_server/poller/.deps
src/zabbix_server/poller/Makefile
src/zabbix_server/poller/Makefile.in
src/zabbix_server/proxypoller/.deps
src/zabbix_server/proxypoller/Makefile
src/zabbix_server/proxypoller/Makefile.in
src/zabbix_server/selfmon/.deps
src/zabbix_server/selfmon/Makefile
src/zabbix_server/selfmon/Makefile.in
src/zabbix_server/snmptrapper/.deps
src/zabbix_server/snmptrapper/Makefile
src/zabbix_server/snmptrapper/Makefile.in
src/zabbix_server/taskmanager/.deps
src/zabbix_server/taskmanager/Makefile
src/zabbix_server/taskmanager/Makefile.in
src/zabbix_server/timer/.deps
src/zabbix_server/timer/Makefile
src/zabbix_server/timer/Makefile.in
src/zabbix_server/trapper/.deps
src/zabbix_server/trapper/.dirstamp
src/zabbix_server/trapper/Makefile
src/zabbix_server/trapper/Makefile.in
src/zabbix_server/vmware/.deps
src/zabbix_server/vmware/Makefile
src/zabbix_server/vmware/Makefile.in
src/zabbix_server/watchdog/.deps
src/zabbix_server/watchdog/Makefile
src/zabbix_server/watchdog/Makefile.in
src/zabbix_server/zabbix_server
/tags
upgrades/Makefile
upgrades/Makefile.in
/zabbix-*.tar.gz
