* text=auto !eol
bin/win32/zabbix_agentd.exe -text
bin/win64/zabbix_agentd.exe -text
build/win32/project/zabbix_agentd.dsp -text
build/win32/project/zabbix_agentd.dsw -text
create/Makefile.am -text
create/data/images/Hub.png -text svneol=unset#unset
create/data/images/Hub_small.png -text svneol=unset#unset
create/data/images/Network.png -text svneol=unset#unset
create/data/images/Network_small.png -text svneol=unset#unset
create/data/images/Notebook.png -text svneol=unset#unset
create/data/images/Notebook_small.png -text svneol=unset#unset
create/data/images/Phone.png -text svneol=unset#unset
create/data/images/Phone_small.png -text svneol=unset#unset
create/data/images/Printer.png -text svneol=unset#unset
create/data/images/Printer_small.png -text svneol=unset#unset
create/data/images/Router.png -text svneol=unset#unset
create/data/images/Router_small.png -text svneol=unset#unset
create/data/images/Satellite.png -text svneol=unset#unset
create/data/images/Satellite_small.png -text svneol=unset#unset
create/data/images/Server.png -text svneol=unset#unset
create/data/images/Server_small.png -text svneol=unset#unset
create/data/images/UPS.png -text svneol=unset#unset
create/data/images/UPS_small.png -text svneol=unset#unset
create/data/images/Workstation.png -text svneol=unset#unset
create/data/images/Workstation_small.png -text svneol=unset#unset
create/data/images_oracle.sql -text
create/data/images_pgsql.sql -text
create/data/images_sqlite3.sql -text
create/data/nodes_master.sql -text
create/data/nodes_psql.sql -text
create/data/nodes_slave.sql -text
create/data/recreate.sh -text
create/schema/Makefile.am -text
create/schema/gen.pl -text
create/schema/schema.sql -text
frontends/php/audio/trigger_off.wav -text
frontends/php/audio/trigger_on.wav -text
frontends/php/audio/trigger_on_average.wav -text
frontends/php/audio/trigger_on_disaster.wav -text
frontends/php/audio/trigger_on_high.wav -text
frontends/php/audio/trigger_on_warning.wav -text
frontends/php/chart3.php -text
frontends/php/conf/COPYING -text
frontends/php/create/data.sql -text
frontends/php/create/mysql.sql -text
frontends/php/exp_imp.php -text
frontends/php/httpconf.php -text
frontends/php/httpdetails.php -text
frontends/php/httpmon.php -text
frontends/php/images/flash/zbxclock.swf -text svneol=unset#unset
frontends/php/images/general/closed.gif -text svneol=unset#unset
frontends/php/images/general/error_small.gif -text
frontends/php/images/general/help.gif -text svneol=unset#unset
frontends/php/images/general/inst_completed.gif -text
frontends/php/images/general/inst_current.gif -text
frontends/php/images/general/inst_step.gif -text
frontends/php/images/general/opened.gif -text svneol=unset#unset
frontends/php/images/general/sortdown.gif -text svneol=unset#unset
frontends/php/images/general/sortdown_off.gif -text svneol=unset#unset
frontends/php/images/general/sortup.gif -text svneol=unset#unset
frontends/php/images/general/sortup_off.gif -text svneol=unset#unset
frontends/php/images/general/warning_small.gif -text
frontends/php/images/general/zabbix.png -text svneol=unset#unset
frontends/php/images/gradients/blink1.gif -text svneol=unset#unset
frontends/php/images/gradients/blink2.gif -text svneol=unset#unset
frontends/php/images/gradients/button.gif -text svneol=unset#unset
frontends/php/images/gradients/menu_not_active.gif -text svneol=unset#unset
frontends/php/images/gradients/table_head.gif -text svneol=unset#unset
frontends/php/images/gradients/table_head2.gif -text svneol=unset#unset
frontends/php/images/sysmaps/Hub.png -text svneol=unset#unset
frontends/php/images/sysmaps/Hub_small.png -text svneol=unset#unset
frontends/php/images/sysmaps/Network.png -text svneol=unset#unset
frontends/php/images/sysmaps/Network_small.png -text svneol=unset#unset
frontends/php/images/sysmaps/Notebook.png -text svneol=unset#unset
frontends/php/images/sysmaps/Notebook_small.png -text svneol=unset#unset
frontends/php/images/sysmaps/Phone.png -text svneol=unset#unset
frontends/php/images/sysmaps/Phone_small.png -text svneol=unset#unset
frontends/php/images/sysmaps/Printer.png -text svneol=unset#unset
frontends/php/images/sysmaps/Printer_small.png -text svneol=unset#unset
frontends/php/images/sysmaps/Router.png -text svneol=unset#unset
frontends/php/images/sysmaps/Router_small.png -text svneol=unset#unset
frontends/php/images/sysmaps/Satellite.png -text svneol=unset#unset
frontends/php/images/sysmaps/Satellite_small.png -text svneol=unset#unset
frontends/php/images/sysmaps/Server.png -text svneol=unset#unset
frontends/php/images/sysmaps/Server_small.png -text svneol=unset#unset
frontends/php/images/sysmaps/UPS.png -text svneol=unset#unset
frontends/php/images/sysmaps/UPS_small.png -text svneol=unset#unset
frontends/php/images/sysmaps/Workstation.png -text svneol=unset#unset
frontends/php/images/sysmaps/Workstation_small.png -text svneol=unset#unset
frontends/php/images/sysmaps/old/Hub.png -text svneol=unset#unset
frontends/php/images/sysmaps/old/Notebook.png -text svneol=unset#unset
frontends/php/images/sysmaps/old/Printer.png -text svneol=unset#unset
frontends/php/images/sysmaps/old/Router.png -text svneol=unset#unset
frontends/php/images/sysmaps/old/Server.png -text svneol=unset#unset
frontends/php/images/sysmaps/old/Workstation.png -text svneol=unset#unset
frontends/php/include/classes/ccolor.inc.php -text
frontends/php/include/classes/clist.inc.php -text
frontends/php/include/export.inc.php -text
frontends/php/include/httptest.inc.php -text
frontends/php/include/images.inc.php -text
frontends/php/include/import.inc.php -text
frontends/php/include/locales/nl_nl.inc.php -text
frontends/php/include/locales/sv_se.inc.php -text
frontends/php/include/nodes.inc.php -text
frontends/php/include/page_footer.php -text
frontends/php/include/page_header.php -text
frontends/php/include/setup.inc.php -text
frontends/php/instal.php -text
frontends/php/media_types.php -text
frontends/php/nodes.php -text
frontends/php/popup_gitem.php -text
frontends/php/popup_httpstep.php -text
frontends/php/popup_media.php -text
frontends/php/popup_right.php -text
frontends/php/popup_trexpr.php -text
frontends/php/popup_users.php -text
frontends/php/popup_usrgrp.php -text
frontends/php/setup.php -text
include/comms.h -text
include/jabber.h -text
include/zbxdb.h -text
m4/ax_lib_mysql.m4 -text
m4/ax_lib_postgresql.m4 -text
m4/ax_lib_sqlite3.m4 -text
m4/jabber.m4 -text
m4/ldap.m4 -text
m4/libcurl.m4 -text
m4/netsnmp.m4 -text
m4/sqlora8.m4 -text
m4/ucdsnmp.m4 -text
misc/Makefile.am -text
misc/clock/clock.fla -text
/splint -text
src/libs/zbxcomms/Makefile.am -text
src/libs/zbxcomms/comms.c -text
src/libs/zbxdb/Makefile.am -text
src/libs/zbxdb/db.c -text
src/libs/zbxjabber/Makefile.am -text
src/libs/zbxjabber/jabber.c -text
src/libs/zbxsysinfo/linux/boottime.c -text
src/zabbix_agent/eventlog.c -text
src/zabbix_agent/eventlog.h -text
src/zabbix_server/events.c -text
src/zabbix_server/events.h -text
src/zabbix_server/httppoller/Makefile.am -text
src/zabbix_server/httppoller/httpmacro.c -text
src/zabbix_server/httppoller/httpmacro.h -text
src/zabbix_server/httppoller/httppoller.c -text
src/zabbix_server/httppoller/httppoller.h -text
src/zabbix_server/httppoller/httptest.c -text
src/zabbix_server/httppoller/httptest.h -text
src/zabbix_server/nodewatcher/Makefile.am -text
src/zabbix_server/nodewatcher/events.c -text
src/zabbix_server/nodewatcher/events.h -text
src/zabbix_server/nodewatcher/history.c -text
src/zabbix_server/nodewatcher/history.h -text
src/zabbix_server/nodewatcher/nodecomms.c -text
src/zabbix_server/nodewatcher/nodecomms.h -text
src/zabbix_server/nodewatcher/nodesender.c -text
src/zabbix_server/nodewatcher/nodesender.h -text
src/zabbix_server/nodewatcher/nodewatcher.c -text
src/zabbix_server/nodewatcher/nodewatcher.h -text
src/zabbix_server/trapper/nodeevents.c -text
src/zabbix_server/trapper/nodeevents.h -text
src/zabbix_server/trapper/nodehistory.c -text
src/zabbix_server/trapper/nodehistory.h -text
src/zabbix_server/trapper/nodesync.c -text
src/zabbix_server/trapper/nodesync.h -text
src/zabbix_server/utils/Makefile.am -text
src/zabbix_server/utils/nodechange.c -text
src/zabbix_server/utils/nodechange.h -text
src/zabbix_server/watchdog/Makefile.am -text
src/zabbix_server/watchdog/watchdog.c -text
src/zabbix_server/watchdog/watchdog.h -text
upgrades/dbpatches/1.3/mysql/patch/acknowledges.sql -text
upgrades/dbpatches/1.3/mysql/patch/actions.sql -text
upgrades/dbpatches/1.3/mysql/patch/alerts.sql -text
upgrades/dbpatches/1.3/mysql/patch/applications.sql -text
upgrades/dbpatches/1.3/mysql/patch/auditlog.sql -text
upgrades/dbpatches/1.3/mysql/patch/autoreg.sql -text
upgrades/dbpatches/1.3/mysql/patch/conditions.sql -text
upgrades/dbpatches/1.3/mysql/patch/config.sql -text
upgrades/dbpatches/1.3/mysql/patch/events.sql -text
upgrades/dbpatches/1.3/mysql/patch/functions.sql -text
upgrades/dbpatches/1.3/mysql/patch/graphs.sql -text
upgrades/dbpatches/1.3/mysql/patch/graphs_items.sql -text
upgrades/dbpatches/1.3/mysql/patch/groups.sql -text
upgrades/dbpatches/1.3/mysql/patch/help_items.sql -text
upgrades/dbpatches/1.3/mysql/patch/history.sql -text
upgrades/dbpatches/1.3/mysql/patch/history_log.sql -text
upgrades/dbpatches/1.3/mysql/patch/history_str.sql -text
upgrades/dbpatches/1.3/mysql/patch/history_str_sync.sql -text
upgrades/dbpatches/1.3/mysql/patch/history_sync.sql -text
upgrades/dbpatches/1.3/mysql/patch/history_text.sql -text
upgrades/dbpatches/1.3/mysql/patch/history_uint.sql -text
upgrades/dbpatches/1.3/mysql/patch/history_uint_sync.sql -text
upgrades/dbpatches/1.3/mysql/patch/hosts.sql -text
upgrades/dbpatches/1.3/mysql/patch/hosts_groups.sql -text
upgrades/dbpatches/1.3/mysql/patch/hosts_profiles.sql -text
upgrades/dbpatches/1.3/mysql/patch/hosts_templates.sql -text
upgrades/dbpatches/1.3/mysql/patch/housekeeper.sql -text
upgrades/dbpatches/1.3/mysql/patch/httpstep.sql -text
upgrades/dbpatches/1.3/mysql/patch/httpstepitem.sql -text
upgrades/dbpatches/1.3/mysql/patch/httptest.sql -text
upgrades/dbpatches/1.3/mysql/patch/httptestitem.sql -text
upgrades/dbpatches/1.3/mysql/patch/ids.sql -text
upgrades/dbpatches/1.3/mysql/patch/images.sql -text
upgrades/dbpatches/1.3/mysql/patch/items.sql -text
upgrades/dbpatches/1.3/mysql/patch/items_applications.sql -text
upgrades/dbpatches/1.3/mysql/patch/mappings.sql -text
upgrades/dbpatches/1.3/mysql/patch/media.sql -text
upgrades/dbpatches/1.3/mysql/patch/media_type.sql -text
upgrades/dbpatches/1.3/mysql/patch/node_cksum.sql -text
upgrades/dbpatches/1.3/mysql/patch/node_configlog.sql -text
upgrades/dbpatches/1.3/mysql/patch/nodes.sql -text
upgrades/dbpatches/1.3/mysql/patch/profiles.sql -text
upgrades/dbpatches/1.3/mysql/patch/rights.sql -text
upgrades/dbpatches/1.3/mysql/patch/screens.sql -text
upgrades/dbpatches/1.3/mysql/patch/screens_items.sql -text
upgrades/dbpatches/1.3/mysql/patch/service_alarms.sql -text
upgrades/dbpatches/1.3/mysql/patch/services.sql -text
upgrades/dbpatches/1.3/mysql/patch/services_links.sql -text
upgrades/dbpatches/1.3/mysql/patch/services_times.sql -text
upgrades/dbpatches/1.3/mysql/patch/sessions.sql -text
upgrades/dbpatches/1.3/mysql/patch/sysmaps.sql -text
upgrades/dbpatches/1.3/mysql/patch/sysmaps_elements.sql -text
upgrades/dbpatches/1.3/mysql/patch/sysmaps_links.sql -text
upgrades/dbpatches/1.3/mysql/patch/trends.sql -text
upgrades/dbpatches/1.3/mysql/patch/trigger_depends.sql -text
upgrades/dbpatches/1.3/mysql/patch/triggers.sql -text
upgrades/dbpatches/1.3/mysql/patch/users.sql -text
upgrades/dbpatches/1.3/mysql/patch/users_groups.sql -text
upgrades/dbpatches/1.3/mysql/patch/usrgrp.sql -text
upgrades/dbpatches/1.3/mysql/patch/valuemaps.sql -text
upgrades/dbpatches/1.3/oracle/patch.sql -text
upgrades/dbpatches/1.3/postgresql/patch/acknowledges.sql -text
upgrades/dbpatches/1.3/postgresql/patch/actions.sql -text
upgrades/dbpatches/1.3/postgresql/patch/alerts.sql -text
upgrades/dbpatches/1.3/postgresql/patch/applications.sql -text
upgrades/dbpatches/1.3/postgresql/patch/auditlog.sql -text
upgrades/dbpatches/1.3/postgresql/patch/autoreg.sql -text
upgrades/dbpatches/1.3/postgresql/patch/conditions.sql -text
upgrades/dbpatches/1.3/postgresql/patch/config.sql -text
upgrades/dbpatches/1.3/postgresql/patch/events.sql -text
upgrades/dbpatches/1.3/postgresql/patch/functions.sql -text
upgrades/dbpatches/1.3/postgresql/patch/graphs.sql -text
upgrades/dbpatches/1.3/postgresql/patch/graphs_items.sql -text
upgrades/dbpatches/1.3/postgresql/patch/groups.sql -text
upgrades/dbpatches/1.3/postgresql/patch/help_items.sql -text
upgrades/dbpatches/1.3/postgresql/patch/history.sql -text
upgrades/dbpatches/1.3/postgresql/patch/history_log.sql -text
upgrades/dbpatches/1.3/postgresql/patch/history_str.sql -text
upgrades/dbpatches/1.3/postgresql/patch/history_str_sync.sql -text
upgrades/dbpatches/1.3/postgresql/patch/history_sync.sql -text
upgrades/dbpatches/1.3/postgresql/patch/history_text.sql -text
upgrades/dbpatches/1.3/postgresql/patch/history_uint.sql -text
upgrades/dbpatches/1.3/postgresql/patch/history_uint_sync.sql -text
upgrades/dbpatches/1.3/postgresql/patch/hosts.sql -text
upgrades/dbpatches/1.3/postgresql/patch/hosts_groups.sql -text
upgrades/dbpatches/1.3/postgresql/patch/hosts_profiles.sql -text
upgrades/dbpatches/1.3/postgresql/patch/hosts_templates.sql -text
upgrades/dbpatches/1.3/postgresql/patch/housekeeper.sql -text
upgrades/dbpatches/1.3/postgresql/patch/httpstep.sql -text
upgrades/dbpatches/1.3/postgresql/patch/httpstepitem.sql -text
upgrades/dbpatches/1.3/postgresql/patch/httptest.sql -text
upgrades/dbpatches/1.3/postgresql/patch/httptestitem.sql -text
upgrades/dbpatches/1.3/postgresql/patch/ids.sql -text
upgrades/dbpatches/1.3/postgresql/patch/images.sql -text
upgrades/dbpatches/1.3/postgresql/patch/items.sql -text
upgrades/dbpatches/1.3/postgresql/patch/items_applications.sql -text
upgrades/dbpatches/1.3/postgresql/patch/mappings.sql -text
upgrades/dbpatches/1.3/postgresql/patch/media.sql -text
upgrades/dbpatches/1.3/postgresql/patch/media_type.sql -text
upgrades/dbpatches/1.3/postgresql/patch/node_cksum.sql -text
upgrades/dbpatches/1.3/postgresql/patch/node_configlog.sql -text
upgrades/dbpatches/1.3/postgresql/patch/nodes.sql -text
upgrades/dbpatches/1.3/postgresql/patch/profiles.sql -text
upgrades/dbpatches/1.3/postgresql/patch/rights.sql -text
upgrades/dbpatches/1.3/postgresql/patch/screens.sql -text
upgrades/dbpatches/1.3/postgresql/patch/screens_items.sql -text
upgrades/dbpatches/1.3/postgresql/patch/service_alarms.sql -text
upgrades/dbpatches/1.3/postgresql/patch/services.sql -text
upgrades/dbpatches/1.3/postgresql/patch/services_links.sql -text
upgrades/dbpatches/1.3/postgresql/patch/services_times.sql -text
upgrades/dbpatches/1.3/postgresql/patch/sessions.sql -text
upgrades/dbpatches/1.3/postgresql/patch/sysmaps.sql -text
upgrades/dbpatches/1.3/postgresql/patch/sysmaps_elements.sql -text
upgrades/dbpatches/1.3/postgresql/patch/sysmaps_links.sql -text
upgrades/dbpatches/1.3/postgresql/patch/trends.sql -text
upgrades/dbpatches/1.3/postgresql/patch/trigger_depends.sql -text
upgrades/dbpatches/1.3/postgresql/patch/triggers.sql -text
upgrades/dbpatches/1.3/postgresql/patch/users.sql -text
upgrades/dbpatches/1.3/postgresql/patch/users_groups.sql -text
upgrades/dbpatches/1.3/postgresql/patch/usrgrp.sql -text
upgrades/dbpatches/1.3/postgresql/patch/valuemaps.sql -text
