* text=auto !eol
frontends/php/audio/disaster_on.wav svneol=native#unset
frontends/php/audio/warning_off.wav svneol=native#unset
frontends/php/audio/warning_on.wav svneol=native#unset
frontends/php/images/sysmaps/Battery.png svneol=native#unset
frontends/php/images/sysmaps/Camera.png svneol=native#unset
frontends/php/images/sysmaps/Camera1.png svneol=native#unset
frontends/php/images/sysmaps/Display.png svneol=native#unset
frontends/php/images/sysmaps/Display1.png svneol=native#unset
frontends/php/images/sysmaps/Display2.png svneol=native#unset
frontends/php/images/sysmaps/Hub.png svneol=native#unset
frontends/php/images/sysmaps/Ipod.png svneol=native#unset
frontends/php/images/sysmaps/Network.png svneol=native#unset
frontends/php/images/sysmaps/Network1.png svneol=native#unset
frontends/php/images/sysmaps/Network2.png svneol=native#unset
frontends/php/images/sysmaps/Network3.png svneol=native#unset
frontends/php/images/sysmaps/Network4.png svneol=native#unset
frontends/php/images/sysmaps/Notebook.png svneol=native#unset
frontends/php/images/sysmaps/Palm.png svneol=native#unset
frontends/php/images/sysmaps/Phone.png svneol=native#unset
frontends/php/images/sysmaps/Phone1.png svneol=native#unset
frontends/php/images/sysmaps/Phone2.png svneol=native#unset
frontends/php/images/sysmaps/Phone3.png svneol=native#unset
frontends/php/images/sysmaps/Printer.png svneol=native#unset
frontends/php/images/sysmaps/Printer1.png svneol=native#unset
frontends/php/images/sysmaps/Printer2.png svneol=native#unset
frontends/php/images/sysmaps/Printer3.png svneol=native#unset
frontends/php/images/sysmaps/Printer4.png svneol=native#unset
frontends/php/images/sysmaps/Router.png svneol=native#unset
frontends/php/images/sysmaps/Satellite.png svneol=native#unset
frontends/php/images/sysmaps/Server.png svneol=native#unset
frontends/php/images/sysmaps/Server1.png svneol=native#unset
frontends/php/images/sysmaps/Terminal.png svneol=native#unset
frontends/php/images/sysmaps/Terminal1.png svneol=native#unset
frontends/php/images/sysmaps/Workstation.png svneol=native#unset
frontends/php/images/sysmaps/Workstation1.png svneol=native#unset
frontends/php/images/sysmaps/Workstation2.png svneol=native#unset
frontends/php/images/sysmaps/Workstation3.png svneol=native#unset
frontends/php/images/sysmaps/Workstation4.png svneol=native#unset
frontends/php/images/sysmaps/Workstation5.png svneol=native#unset
frontends/php/images/sysmaps/Workstation6.png svneol=native#unset
frontends/php/images/sysmaps/Workstation7.png svneol=native#unset
frontends/php/images/sysmaps/Workstation8.png svneol=native#unset
frontends/php/images/sysmaps/Workstation9.png svneol=native#unset
frontends/php/images/sysmaps/phone3.png svneol=native#unset
frontends/php/images/sysmaps/splay.png svneol=native#unset
src/zabbix_agent_win32/Debug/ZabbixW32.exe -text
src/zabbix_agent_win32/Release/ZabbixW32.exe -text
