* text=auto !eol
bin/win32/zabbix_agentd.exe -text
bin/win32/zabbix_get.exe -text
bin/win32/zabbix_sender.exe -text
bin/win64/zabbix_agentd.exe -text
build/win32/project/ZABBIX.sln -text
build/win32/project/zabbix_agentd.vcproj -text
build/win32/project/zabbix_get.vcproj -text
build/win32/project/zabbix_sender.vcproj -text
create/data/images/Hub.png -text svneol=unset#unset
create/data/images/Hub_small.png -text svneol=unset#unset
create/data/images/Network.png -text svneol=unset#unset
create/data/images/Network_small.png -text svneol=unset#unset
create/data/images/Notebook.png -text svneol=unset#unset
create/data/images/Notebook_small.png -text svneol=unset#unset
create/data/images/Phone.png -text svneol=unset#unset
create/data/images/Phone_small.png -text svneol=unset#unset
create/data/images/Printer.png -text svneol=unset#unset
create/data/images/Printer_small.png -text svneol=unset#unset
create/data/images/Router.png -text svneol=unset#unset
create/data/images/Router_small.png -text svneol=unset#unset
create/data/images/Satellite.png -text svneol=unset#unset
create/data/images/Satellite_small.png -text svneol=unset#unset
create/data/images/Server.png -text svneol=unset#unset
create/data/images/Server_small.png -text svneol=unset#unset
create/data/images/UPS.png -text svneol=unset#unset
create/data/images/UPS_small.png -text svneol=unset#unset
create/data/images/Workstation.png -text svneol=unset#unset
create/data/images/Workstation_small.png -text svneol=unset#unset
create/data/recreate.sh -text
docs/ZABBIX[!!-~]Manual[!!-~]v1.6[!!-~]rev[!!-~]13.pdf -text
frontends/php/audio/trigger_off.wav -text
frontends/php/audio/trigger_on.wav -text
frontends/php/audio/trigger_on_average.wav -text
frontends/php/audio/trigger_on_disaster.wav -text
frontends/php/audio/trigger_on_high.wav -text
frontends/php/audio/trigger_on_warning.wav -text
frontends/php/chart6.php -text
frontends/php/chart7.php -text
frontends/php/conf/maintenance.inc.php -text
frontends/php/dashboard.php -text
frontends/php/images/flash/zbxclock.swf -text svneol=unset#unset
frontends/php/images/general/bar/arrow_down.gif -text
frontends/php/images/general/bar/arrow_l.gif -text
frontends/php/images/general/bar/arrow_r.gif -text
frontends/php/images/general/bar/arrow_sm.gif -text
frontends/php/images/general/bar/arrow_up.gif -text
frontends/php/images/general/bar/bar_bg.gif -text
frontends/php/images/general/bar/bar_left.gif -text
frontends/php/images/general/bar/bar_middle.gif -text
frontends/php/images/general/bar/bar_right.gif -text
frontends/php/images/general/bar/bg.gif -text
frontends/php/images/general/bar/cal.gif -text
frontends/php/images/general/bar/left.gif -text
frontends/php/images/general/bar/right.gif -text
frontends/php/images/general/bttn/arrowdown.png -text
frontends/php/images/general/bttn/arrowdown_bb.png -text
frontends/php/images/general/bttn/arrowup.png -text
frontends/php/images/general/bttn/arrowup_bb.png -text
frontends/php/images/general/bttn/menu.png -text
frontends/php/images/general/bttn/menu_bb.png -text
frontends/php/images/general/bttn/minus.png -text
frontends/php/images/general/bttn/minus_bb.png -text
frontends/php/images/general/bttn/plus.png -text
frontends/php/images/general/bttn/plus_bb.png -text
frontends/php/images/general/chart.png -text
frontends/php/images/general/closed.gif -text svneol=unset#unset
frontends/php/images/general/error_small.gif -text
frontends/php/images/general/help.gif -text svneol=unset#unset
frontends/php/images/general/inst_completed.gif -text
frontends/php/images/general/inst_current.gif -text
frontends/php/images/general/inst_step.gif -text
frontends/php/images/general/opened.gif -text svneol=unset#unset
frontends/php/images/general/sort_downw.gif -text
frontends/php/images/general/sort_upw.gif -text
frontends/php/images/general/sortdown.gif -text svneol=unset#unset
frontends/php/images/general/sortdown_off.gif -text svneol=unset#unset
frontends/php/images/general/sortup.gif -text svneol=unset#unset
frontends/php/images/general/sortup_off.gif -text svneol=unset#unset
frontends/php/images/general/tick.png -text
frontends/php/images/general/tree/I.gif -text
frontends/php/images/general/tree/L.gif -text
frontends/php/images/general/tree/O.gif -text
frontends/php/images/general/tree/T.gif -text
frontends/php/images/general/tree/X.gif -text
frontends/php/images/general/tree/Xc.gif -text
frontends/php/images/general/tree/Y.gif -text
frontends/php/images/general/tree/Yc.gif -text
frontends/php/images/general/tree/point.gif -text
frontends/php/images/general/trigg_dep.gif -text
frontends/php/images/general/trigg_dep.png -text
frontends/php/images/general/warning16r.gif -text
frontends/php/images/general/warning_small.gif -text
frontends/php/images/general/zabbix.ico -text
frontends/php/images/general/zabbix.png -text svneol=unset#unset
frontends/php/images/general/zabbix_bb.ico -text
frontends/php/images/general/zabbix_bb.png -text
frontends/php/images/general/zabbix_ob.ico -text
frontends/php/images/gradients/blink1.gif -text svneol=unset#unset
frontends/php/images/gradients/blink2.gif -text svneol=unset#unset
frontends/php/images/gradients/button.gif -text svneol=unset#unset
frontends/php/images/gradients/gradient.png -text
frontends/php/images/gradients/menu_not_active.gif -text svneol=unset#unset
frontends/php/images/gradients/menu_not_active_bb.gif -text
frontends/php/images/gradients/table_head.gif -text svneol=unset#unset
frontends/php/images/gradients/table_head2.gif -text svneol=unset#unset
frontends/php/images/gradients/table_head2_bb.gif -text
frontends/php/images/gradients/table_head_bb.gif -text
frontends/php/images/sysmaps/Hub.png -text svneol=unset#unset
frontends/php/images/sysmaps/Hub_small.png -text svneol=unset#unset
frontends/php/images/sysmaps/Network.png -text svneol=unset#unset
frontends/php/images/sysmaps/Network_small.png -text svneol=unset#unset
frontends/php/images/sysmaps/Notebook.png -text svneol=unset#unset
frontends/php/images/sysmaps/Notebook_small.png -text svneol=unset#unset
frontends/php/images/sysmaps/Phone.png -text svneol=unset#unset
frontends/php/images/sysmaps/Phone_small.png -text svneol=unset#unset
frontends/php/images/sysmaps/Printer.png -text svneol=unset#unset
frontends/php/images/sysmaps/Printer_small.png -text svneol=unset#unset
frontends/php/images/sysmaps/Router.png -text svneol=unset#unset
frontends/php/images/sysmaps/Router_small.png -text svneol=unset#unset
frontends/php/images/sysmaps/Satellite.png -text svneol=unset#unset
frontends/php/images/sysmaps/Satellite_small.png -text svneol=unset#unset
frontends/php/images/sysmaps/Server.png -text svneol=unset#unset
frontends/php/images/sysmaps/Server_small.png -text svneol=unset#unset
frontends/php/images/sysmaps/UPS.png -text svneol=unset#unset
frontends/php/images/sysmaps/UPS_small.png -text svneol=unset#unset
frontends/php/images/sysmaps/Workstation.png -text svneol=unset#unset
frontends/php/images/sysmaps/Workstation_small.png -text svneol=unset#unset
frontends/php/images/sysmaps/old/Hub.png -text svneol=unset#unset
frontends/php/images/sysmaps/old/Notebook.png -text svneol=unset#unset
frontends/php/images/sysmaps/old/Printer.png -text svneol=unset#unset
frontends/php/images/sysmaps/old/Router.png -text svneol=unset#unset
frontends/php/images/sysmaps/old/Server.png -text svneol=unset#unset
frontends/php/images/sysmaps/old/Workstation.png -text svneol=unset#unset
frontends/php/include/blocks.inc.php -text
frontends/php/include/classes/chart.inc.php -text
frontends/php/include/classes/cscript.inc.php -text
frontends/php/include/classes/pie.inc.php -text
frontends/php/include/js.inc.php -text
frontends/php/include/locales/hu_hu.inc.php -text
frontends/php/include/locales/pt_br.inc.php -text
frontends/php/include/reports.inc.php -text
frontends/php/include/scripts.inc.php -text
frontends/php/js/blink.js -text
frontends/php/js/common.js -text
frontends/php/js/cookies.js -text
frontends/php/js/dashboard.js -text
frontends/php/js/gmenu.js -text
frontends/php/js/graphs.js -text
frontends/php/js/json.js -text
frontends/php/js/menu.js -text
frontends/php/js/prototype.js -text
frontends/php/js/sbinit.js -text
frontends/php/js/sbox.js -text
frontends/php/js/scrollbar.js -text
frontends/php/js/services.js -text
frontends/php/js/showhint.js -text
frontends/php/js/tree.js -text
frontends/php/js/url.js -text
frontends/php/locales.php -text
frontends/php/popup_link_tr.php -text
frontends/php/scripts.php -text
frontends/php/scripts_exec.php -text
frontends/php/styles/bar.css -text
frontends/php/styles/css_bb.css -text
frontends/php/styles/css_ob.css -text
frontends/php/styles/default.css -text
frontends/php/styles/div.css -text
frontends/php/styles/form.css -text
frontends/php/styles/gmenu.css -text
frontends/php/styles/link.css -text
frontends/php/styles/p.css -text
frontends/php/styles/popupmenu.css -text
frontends/php/styles/sbox.css -text
frontends/php/styles/table.css -text
frontends/php/styles/ul.css -text
frontends/php/warning.php -text
include/dbcache.h -text
include/dbschema.h -text
include/zbxjson.h -text
include/zbxodbc.h -text
m4/libiodbc.m4 -text
m4/libunixodbc.m4 -text
misc/clock/clock.fla -text
misc/conf/zabbix_proxy.conf -text
misc/init.d/fedora/core5/zabbix_agentd -text
misc/init.d/freebsd/zabbix_agentd -text
misc/init.d/freebsd/zabbix_server -text
misc/init.d/tru64/zabbix_server -text
/splint -text
src/libs/zbxcommon/time.c -text
src/libs/zbxdbcache/Makefile.am -text
src/libs/zbxdbcache/dbcache.c -text
src/libs/zbxjson/Makefile.am -text
src/libs/zbxjson/json.c -text
src/libs/zbxserver/Makefile.am -text
src/libs/zbxsysinfo/freebsd/boottime.c -text
src/libs/zbxsysinfo/openbsd/boottime.c -text
src/zabbix_proxy/Makefile.am -text
src/zabbix_proxy/datasender/Makefile.am -text
src/zabbix_proxy/datasender/datasender.c -text
src/zabbix_proxy/datasender/datasender.h -text
src/zabbix_proxy/events.c -text
src/zabbix_proxy/events.h -text
src/zabbix_proxy/housekeeper/Makefile.am -text
src/zabbix_proxy/housekeeper/housekeeper.c -text
src/zabbix_proxy/housekeeper/housekeeper.h -text
src/zabbix_proxy/proxy.c -text
src/zabbix_proxy/proxyconfig/Makefile.am -text
src/zabbix_proxy/proxyconfig/proxyconfig.c -text
src/zabbix_proxy/proxyconfig/proxyconfig.h -text
src/zabbix_proxy/servercomms.c -text
src/zabbix_proxy/servercomms.h -text
src/zabbix_proxy/zlog.c -text
src/zabbix_server/dbsyncer/Makefile.am -text
src/zabbix_server/dbsyncer/dbsyncer.c -text
src/zabbix_server/dbsyncer/dbsyncer.h -text
src/zabbix_server/trapper/nodecommand.c -text
src/zabbix_server/trapper/nodecommand.h -text
src/zabbix_server/trapper/proxyconfig.c -text
src/zabbix_server/trapper/proxyconfig.h -text
src/zabbix_server/trapper/proxydiscovery.c -text
src/zabbix_server/trapper/proxydiscovery.h -text
test/env/standalone/conf/template_agent.conf -text
test/env/standalone/conf/template_proxy.conf -text
test/env/standalone/conf/template_server.conf -text
test/env/standalone/create_test.sh -text
test/env/standalone/data.sender -text
test/env/standalone/data.sql -text
test/env/standalone/dump_db.sh -text
test/env/standalone/sender.sh -text
upgrades/dbpatches/1.6/mysql/patch/alerts.sql -text
upgrades/dbpatches/1.6/mysql/patch/config.sql -text
upgrades/dbpatches/1.6/mysql/patch/dhosts.sql -text
upgrades/dbpatches/1.6/mysql/patch/drules.sql -text
upgrades/dbpatches/1.6/mysql/patch/events.sql -text
upgrades/dbpatches/1.6/mysql/patch/graphs.sql -text
upgrades/dbpatches/1.6/mysql/patch/history_log.sql -text
upgrades/dbpatches/1.6/mysql/patch/history_str_sync.sql -text
upgrades/dbpatches/1.6/mysql/patch/history_sync.sql -text
upgrades/dbpatches/1.6/mysql/patch/history_text.sql -text
upgrades/dbpatches/1.6/mysql/patch/history_uint_sync.sql -text
upgrades/dbpatches/1.6/mysql/patch/hosts.sql -text
upgrades/dbpatches/1.6/mysql/patch/httptest.sql -text
upgrades/dbpatches/1.6/mysql/patch/node_cksum.sql -text
upgrades/dbpatches/1.6/mysql/patch/node_configlog.sql -text
upgrades/dbpatches/1.6/mysql/patch/nodes.sql -text
upgrades/dbpatches/1.6/mysql/patch/profiles.sql -text
upgrades/dbpatches/1.6/mysql/patch/proxy_dhistory.sql -text
upgrades/dbpatches/1.6/mysql/patch/screens_items.sql -text
upgrades/dbpatches/1.6/mysql/patch/scripts.sql -text
upgrades/dbpatches/1.6/mysql/patch/sysmaps_link_triggers.sql -text
upgrades/dbpatches/1.6/mysql/patch/sysmaps_links.sql -text
upgrades/dbpatches/1.6/mysql/patch/trends_uint.sql -text
upgrades/dbpatches/1.6/mysql/patch/triggers.sql -text
upgrades/dbpatches/1.6/mysql/patch/users.sql -text
upgrades/dbpatches/1.6/mysql/patch/usrgrp.sql -text
upgrades/dbpatches/1.6/oracle/patch/alerts.sql -text
upgrades/dbpatches/1.6/postgresql/patch/alerts.sql -text
