!/build/win32/**/Makefile
!/build/win64/**/Makefile
!/src/modules/dummy/Makefile
*.a
*.o
*.gcda
*.gcno
/tests_results
.cproject
.deps
.dirstamp
.vscode
/.buildpath
/.idea
/.project
/.settings
/Debug/
/GPATH
/GRTAGS
/GTAGS
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/cscope.*
/depcomp
/install-sh
/missing
/nbproject
/tags
/zabbix-*.tar.gz
Makefile
Makefile.in
bin/agent
bin/mock_server
bin/win32
bin/win64
bin/zabbix_get
bin/zabbix_js
bin/zabbix_sender
build/win32/examples/zabbix_sender/sender.exe
build/win32/examples/zabbix_sender/sender.obj
build/win32/project/*.idb
build/win32/project/*.manifest
build/win32/project/*.pdb
build/win32/project/*.res
build/win32/project/MSG00001.bin
build/win32/project/messages.h
build/win32/project/messages.rc
build/win32/project/resource.res
database/mysql/data.sql
database/mysql/schema.sql
database/mysql/option-patches
!database/mysql/option-patches/double.sql
database/postgresql/data.sql
database/postgresql/schema.sql
database/postgresql/option-patches
!database/postgresql/option-patches/double.sql
database/postgresql/timescaledb/schema.sql
database/postgresql/timescaledb/option-patches
database/sqlite3/data.sql
database/sqlite3/schema.sql
etc/agent.conf
etc/zabbix_agent2.conf
etc/zabbix_agentd.conf
etc/zabbix_proxy.conf
etc/zabbix_server.conf
etc/zabbix_web_service.conf
etc/zabbix_agent2.d/plugins.d/ceph.conf
etc/zabbix_agent2.d/plugins.d/docker.conf
etc/zabbix_agent2.d/plugins.d/memcached.conf
etc/zabbix_agent2.d/plugins.d/mongodb.conf
etc/zabbix_agent2.d/plugins.d/mysql.conf
etc/zabbix_agent2.d/plugins.d/oracle.conf
etc/zabbix_agent2.d/plugins.d/postgres.conf
etc/zabbix_agent2.d/plugins.d/redis.conf
etc/zabbix_agent2.d/plugins.d/smart.conf
m4/conf_tests.m4
frontend.mo
include/common/config.h
include/common/config.h.in
include/common/stamp-h1
include/stamp-h1
misc/images/inkscape.log.txt
misc/images/pngcrush.log.txt
misc/images/pngcrushoutput.txt
sass/.sass-cache
sass/code_example_templates
sass/doc_assets
sass/filter-expanded2.html
sass/forms_with_tables.html
sass/hologram_config.yml
sass/img/man.svg
sass/img/reload.svg
sass/img/tomato.png
sass/img/tomato.svg
sass/overlay-dialog.html
sass/styleguide
sass/stylesheets/*.css
sass/stylesheets/*.map
sass/stylesheets/sass/components.md
sass/stylesheets/sass/index.md
sass/stylesheets/sass/screen2.scss
sass/stylesheets/themes
sass/wide-table.html
sbin/zabbix_agent2
sbin/zabbix_agentd
sbin/zabbix_web_service
sbin/zabbix_java
sbin/zabbix_proxy
sbin/zabbix_server
share/man/man1/zabbix_get.1
share/man/man1/zabbix_sender.1
share/man/man8/zabbix_agentd.8
share/man/man8/zabbix_proxy.8
share/man/man8/zabbix_server.8
share/man/man8/zabbix_agent2.8
share/man/man8/zabbix_web_service.8
src/libs/zbxcunit/cu_modules.h
src/libs/zbxdbschema/dbschema.c
src/modules/dummy/dummy.so
src/zabbix_agent/zabbix_agent
src/zabbix_agent/zabbix_agentd
src/zabbix_get/zabbix_get
src/zabbix_java/bin/zabbix-java-gateway-*.jar
src/zabbix_java/class
src/zabbix_js/zabbix_js
src/zabbix_proxy/zabbix_proxy
src/zabbix_sender/zabbix_sender
src/zabbix_server/zabbix_server
src/libs/test_zbxcommon/test_libzbxcommon_bin
src/go/bin/zabbix_web_service
tests/libs/zbxalgo/evaluate
tests/libs/zbxalgo/evaluate_unknown
tests/libs/zbxalgo/queue
tests/libs/zbxalgo/zbx_algo_common
tests/libs/zbxalgo/zbx_binary_heap_direct
tests/libs/zbxalgo/zbx_binary_heap
tests/libs/zbxalgo/zbx_compare_tags_natural
tests/libs/zbxalgo/zbx_list
tests/libs/zbxalgo/zbx_mode_code
tests/libs/zbxalgo/zbx_int128
tests/libs/zbxalgo/zbx_vector
tests/libs/zbxcfg/parse_cfg_file
tests/libs/zbxcommon/init_library_common
tests/libs/zbxcomms/zbx_tcp_check_allowed_peers
tests/libs/zbxcomms/zbx_tcp_check_allowed_peers_ipv4
tests/libs/zbxcommshigh/zbx_tcp_recv_ext
tests/libs/zbxcommshigh/zbx_tcp_recv_ext_zlib
tests/libs/zbxcommshigh/zbx_tcp_recv_raw_ext
tests/libs/zbxcacheconfig/dc_check_maintenance_period
tests/libs/zbxcacheconfig/dc_expand_user_macros_in_func_params
tests/libs/zbxcacheconfig/dc_function_calculate_nextcheck
tests/libs/zbxcacheconfig/dc_item_poller_type_update
tests/libs/zbxcacheconfig/dc_maintenance_match_tags
tests/libs/zbxcacheconfig/is_item_processed_by_server
tests/libs/zbxcacheconfig/um_cache_resolve
tests/libs/zbxcacheconfig/um_cache_resolve_cont
tests/libs/zbxcacheconfig/um_cache_sync
tests/libs/zbxcachevalue/zbx_vc_add_values
tests/libs/zbxcachevalue/zbx_vc_get_value
tests/libs/zbxcachevalue/zbx_vc_get_values
tests/libs/zbxdb/zbx_dbconn_select_uint64
tests/libs/zbxdbhigh/DBadd_condition_alloc
tests/libs/zbxdbhigh/zbx_add_tags
tests/libs/zbxdbhigh/zbx_del_tags
tests/libs/zbxdbhigh/zbx_merge_tags
tests/libs/zbxeval/zbx_eval_compose_expression
tests/libs/zbxeval/zbx_eval_execute
tests/libs/zbxeval/zbx_eval_execute_ext
tests/libs/zbxeval/zbx_eval_get_constant
tests/libs/zbxeval/zbx_eval_get_group_filter
tests/libs/zbxeval/zbx_eval_parse_expression
tests/libs/zbxeval/zbx_eval_parse_query
tests/libs/zbxeval/zbx_eval_prepare_filter
tests/libs/zbxeval/zbx_eval_serialize
tests/libs/zbxexpr/calculate_item_nextcheck
tests/libs/zbxexpr/calculate_item_nextcheck_unreachable
tests/libs/zbxexpr/is_double_suffix
tests/libs/zbxexpr/macro_fmttime
tests/libs/zbxexpr/macro_func
tests/libs/zbxexpr/macro_tr
tests/libs/zbxexpr/macro_tr
tests/libs/zbxexpr/parse_key
tests/libs/zbxexpr/zbx_check_hostname
tests/libs/zbxexpr/zbx_check_time_period
tests/libs/zbxexpr/zbx_custom_interval_is_scheduling
tests/libs/zbxexpr/zbx_function_find
tests/libs/zbxexpr/zbx_function_get_param_dyn
tests/libs/zbxexpr/zbx_function_param_parse_ext
tests/libs/zbxexpr/zbx_function_param_quote
tests/libs/zbxexpr/zbx_function_validate_parameters
tests/libs/zbxexpr/zbx_get_agent_item_nextcheck
tests/libs/zbxexpr/zbx_get_function_type
tests/libs/zbxexpr/zbx_get_report_nextcheck
tests/libs/zbxexpr/zbx_is_discovery_macro
tests/libs/zbxexpr/zbx_interval_preproc
tests/libs/zbxexpr/zbx_make_hostname
tests/libs/zbxexpr/zbx_parse_host_key
tests/libs/zbxexpr/zbx_substitute_macros
tests/libs/zbxexpr/zbx_substitute_macros1
tests/libs/zbxexpr/zbx_substitute_macros_um
tests/libs/zbxexpr/zbx_token_find
tests/libs/zbxexpr/zbx_uint64match_condition
tests/libs/zbxexpr/zbx_user_macro_parse
tests/libs/zbxexpr/zbx_url_encode_decode
tests/libs/zbxexpr/zbx_user_macro_quote_context_dyn
tests/libs/zbxexpr/zbx_validate_interval
tests/libs/zbxexpression/zbx_evaluate
tests/libs/zbxexpression/zbx_evaluate_unknown
tests/libs/zbxexpression/zbx_evaluate_function
tests/libs/zbxexpression/zbx_get_percentage_of_deviations_in_stl_remainder
tests/libs/zbxexpression/zbx_STL
tests/libs/zbxexpression/zbx_calculate_macro_function
tests/libs/zbxexpression/zbx_substitute_simple_macros
tests/libs/zbxexpression/zbx_substitute_lld_macros
tests/libs/zbxexpression/evaluate_value_by_map
tests/libs/zbxfile/zbx_buf_readln
tests/libs/zbxhistory/zbx_history_get_values
tests/libs/zbxhttp/zbx_determine_charset
test/libs/zbxip/zbx_ip_in_list
test/libs/zbxip/zbx_is_ip
test/libs/zbxip/zbx_is_supported_ip
test/libs/zbxip/zbx_iprange_ip2str
test/libs/zbxip/zbx_iprange_parse
test/libs/zbxip/zbx_iprange_volume
test/libs/zbxip/zbx_iprange_uniq_iter
test/libs/zbxip/zbx_iprange_uniq_next
test/libs/zbxip/zbx_parse_serveractive_element
test/libs/zbxip/zbx_portrange_uniq_next
tests/libs/zbxicmpping/get_interval_option
tests/libs/zbxicmpping/line_process
tests/libs/zbxjson/zbx_json_decodevalue
tests/libs/zbxjson/zbx_json_decodevalue_dyn
tests/libs/zbxjson/zbx_json_open_path
tests/libs/zbxjson/zbx_jsonobj_query
tests/libs/zbxjson/zbx_jsonpath_compile
tests/libs/zbxmodules/agent_module_load
tests/libs/zbxmodules/proxy_module_load
tests/libs/zbxmodules/server_module_load
tests/libs/zbxnum/is_double
tests/libs/zbxnum/zbx_trim_float
tests/libs/zbxnum/zbx_trim_integer
tests/libs/zbxparam/replace_key_params_dyn
tests/libs/zbxpoller/zbx_poller_test
tests/libs/zbxpreproc/item_preproc_csv_to_json
tests/libs/zbxpreproc/item_preproc_xpath
tests/libs/zbxpreproc/zbx_item_preproc
tests/libs/zbxprometheus/prometheus_filter_init
tests/libs/zbxprometheus/prometheus_parse_row
tests/libs/zbxprometheus/zbx_prometheus_pattern
tests/libs/zbxprometheus/zbx_prometheus_to_json
tests/libs/zbxregexp/wildcard_match
tests/libs/zbxstr/convert_to_utf8
tests/libs/zbxstr/zbx_charcount_utf8_nbytes
tests/libs/zbxstr/zbx_del_zeros
tests/libs/zbxstr/zbx_dyn_escape_string
tests/libs/zbxstr/zbx_dyn_escape_shell_single_quote
tests/libs/zbxstr/zbx_escape_string
tests/libs/zbxstr/zbx_get_escape_string_len
tests/libs/zbxstr/zbx_is_ascii_string
tests/libs/zbxstr/zbx_is_utf8
tests/libs/zbxstr/zbx_ltrim_utf8
tests/libs/zbxstr/zbx_rtrim_utf8
tests/libs/zbxstr/zbx_remove_chars
tests/libs/zbxstr/zbx_replace_invalid_utf8
tests/libs/zbxstr/zbx_replace_mem_dyn
tests/libs/zbxstr/zbx_replace_string
tests/libs/zbxstr/zbx_strdcatf
tests/libs/zbxstr/zbx_strcasestr
tests/libs/zbxstr/zbx_str_extract
tests/libs/zbxstr/zbx_str_in_list
tests/libs/zbxstr/zbx_str_linefeed
tests/libs/zbxstr/zbx_str_n_in_list
tests/libs/zbxstr/zbx_str_printable_dyn
tests/libs/zbxstr/zbx_strcmp_natural
tests/libs/zbxstr/zbx_strcmp_null
tests/libs/zbxstr/zbx_strlcat
tests/libs/zbxstr/zbx_strlcpy_utf8
tests/libs/zbxstr/zbx_strlen_utf8_nchars
tests/libs/zbxstr/zbx_strsplit_first
tests/libs/zbxstr/zbx_strsplit_last
tests/libs/zbxstr/zbx_substr
tests/libs/zbxstr/zbx_trim_str_list
tests/libs/zbxstr/zbx_truncate_itemkey
tests/libs/zbxstr/zbx_truncate_value
tests/libs/zbxstr/zbx_utf8_char_len
tests/libs/zbxexpression/zbx_evaluate_function
tests/libs/zbxodbc/odbc_pass
tests/libs/zbxsysinfo/zbx_parse_item_key_check_get_fqdn
tests/libs/zbxsysinfo/zbx_check_key_access_rules
tests/libs/zbxsysinfo/zbx_check_service_default_addr
tests/libs/zbxsysinfo/common/system_localtime
tests/libs/zbxsysinfo/common/vfs_file_exists
tests/libs/zbxsysinfo/common/web_page_get
tests/libs/zbxsysinfo/common/zbx_ip_reverse
tests/libs/zbxsysinfo/linux/kernel_maxfiles
tests/libs/zbxsysinfo/linux/kernel_maxproc
tests/libs/zbxsysinfo/linux/net_if_discovery
tests/libs/zbxsysinfo/linux/net_if_in
tests/libs/zbxsysinfo/linux/net_if_out
tests/libs/zbxsysinfo/linux/net_if_total
tests/libs/zbxsysinfo/linux/system_boottime
tests/libs/zbxsysinfo/linux/system_cpu_intr
tests/libs/zbxsysinfo/linux/system_cpu_switches
tests/libs/zbxsysinfo/linux/system_hw_chassis
tests/libs/zbxsysinfo/linux/system_process
tests/libs/zbxsysinfo/linux/system_sw_packages_get
tests/libs/zbxsysinfo/linux/system_sw_software
tests/libs/zbxsysinfo/linux/system_process
tests/libs/zbxsysinfo/linux/vfs_fs_discovery
tests/libs/zbxsysinfo/zbx_parse_item_key
tests/libs/zbxsysinfo/process
tests/libs/zbxsysinfo/process_http
tests/libs/zbxsysinfo/zbx_execute_agent_check
tests/libs/zbxsysinfo/zbx_execute_agent_check_http
tests/libs/zbxtagfilter/tagfilter_match_tags
tests/libs/zbxtime/zbx_get_week_number
tests/libs/zbxtime/zbx_iso8601_utc
tests/libs/zbxtime/zbx_tm_add
tests/libs/zbxtime/zbx_tm_round_down
tests/libs/zbxtime/zbx_tm_round_up
tests/libs/zbxtime/zbx_tm_sub
tests/libs/zbxtrends/zbx_baseline_get_data
tests/libs/zbxtrends/zbx_trends_parse_range
tests/libs/zbxvariant/zbx_variant_compare
tests/libs/zbxvariant/zbx_variant_to_value_type
tests/libs/zbxxml/zbx_json_to_xml
tests/libs/zbxxml/zbx_xml_to_json
tests/zabbix_server/lld/zbx_lld_hgsets_test
tests/zabbix_server/pinger/zbx_pinger_test
tests/zabbix_server/service/service_get_main_status
tests/zabbix_server/service/service_get_rootcause_eventids
tests/zabbix_server/service/service_get_rule_status
tests/zabbix_server/service/service_get_status
tests/zabbix_server/trapper/zbx_trapper_preproc_test_run
ui/.buildpath
ui/.htpasswd
ui/.idea
ui/.project
ui/conf/zabbix.conf.php
ui/images/general/*.db
ui/images/general/tree/*.db
ui/js/jsDump.js
ui/local/conf/brand.conf.php
ui/locale/POTFILES.in
ui/locale/frontend.pot
ui/tests/bootstrap.php
ui/tests/composer.*
ui/tests/vendor
