// NOTIFICATION & ALERT COLORS
$red: #e33734;
$light-red: #ed9898;
$lighter-red: #fccacf;

$orange: #f24f1d;
$alt-dark-orange: #e97659;

$yellow: #fad634;
$light-yellow: #fcf39d;
$lighter-yellow: #fcf7c2;

$green: #429e47;
$light-green: #a5d6a7;
$lighter-green: #c5e3c6;

$alt-red: #e45959;
$alt-orange: #ffa059;
$alt-yellow: #ffc859;
$alt-green: #59db8f;
$alt-dark-blue: #7499ff;
$alt-blue-grey: #97aab3;

$white: #fff !default;
$transparent: transparent;


// MAIN
$main-color: #0275b8 !default; //NEW Used across main nav bg and main button bg
$font-color: #1f2c33 !default; //NEW
$font-alt-color: #768d99 !default; //NEW
$body-bg-color: #ebeef0 !default; //NEW page bg color


// UI
$ui-bg-color: #fff !default; //NEW ui element's bg color: widgets, containers for forms, tables, filters, action menus
$ui-bg-selected-color: #acbbc2 !default;
$ui-hover-color: #e8f4fa !default; //NEW light blue hover for table rows, alt buttons, etc.
//$ui-border-color: #e8f4fa !default; //NEW

$action-hover-color: #ebebeb !default; //NEW action menu item, calendar item hover colors
$action-border-color: #ccd5d9 !default; //NEW action menu item, calendar, all overlay border color

$table-border-color: #ebeef0 !default; // NEW row separator color in tables


// FORMS
$form-font-color: #1f2c33 !default; // NEW
$form-bg-color: #fff !default; //NEW
$form-border-color: #acbbc2 !default; //NEW
$form-border-focus-color: #0275b8 !default; //NEW

$form-disabled-font-color: #acbbc2 !default;
$form-disabled-bg-color: #ebebeb !default; //NEW
$form-disabled-border-color: #ccd5d9 !default;


// BUTTONS
$btn-font-color: #fff !default;
$btn-hover-color: #fff !default;
$btn-active-color: #fff !default;
$btn-bg-color: #0275b8 !default;

$btn-alt-font-color: #0275b8 !default;
$btn-alt-hover-color: #0275b8 !default;
$btn-alt-active-color: #0275b8 !default;
$btn-alt-bg-color: transparent !default;
$btn-alt-border-color: $btn-bg-color !default;

$btn-form-font-color: #0275b8 !default;
$btn-form-hover-color: #0275b8 !default;
$btn-form-active-color: #0275b8 !default;
$btn-form-bg-color: transparent !default;
$btn-form-border-color: $form-border-color !default;

$btn-disabled-font-color: #acbbc2 !default;
$btn-disabled-hover-color: #acbbc2 !default;
$btn-disabled-active-color: #acbbc2 !default;
$btn-disabled-bg-color: transparent !default;
$btn-disabled-border-color: #ccd5d9 !default;


// LINKS
$link-color: #0275b8 !default;
$link-hover-color: #0275b8 !default;
$link-active-color: #0275b8 !default;
$link-visited-color: #0275b8 !default;

$link-main-nav-color: #bfdced !default;
$link-main-nav-hover-color: #fff !default;
$link-main-nav-active-color: #fff !default;
$link-main-nav-visited-color: #bfdced !default;

$link-main-subnav-color: #bfced7 !default;
$link-main-subnav-hover-color: #fff !default;
$link-main-subnav-active-color: #fff !default;
$link-main-subnav-visited-color: #bfced7 !default;
