@import '_reset.scss';
@import '_colors.scss';
@import '_fonts.scss';
@import '_mixins.scss';

/* ----------- Zabbix Styles ----------- */

html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: $font-stack;
	font-size: $font-body-size;
	line-height: $body-line-height;
	color: $font-color;
	background-color: $body-bg-color;
	margin-bottom: 90px;
	min-width: 950px;
}

a {

	&:link {
		text-decoration: none;
		color: $link-color;
		@include transition(color .2s ease-out);
	}

	&:visited {
		text-decoration: none;
		color: $link-visited-color;
	}

	&:hover {
		border-bottom: 1px solid rgba(2,117,184,0.5);
		color: $link-hover-color;
	}

	&:active {
		border-bottom: 1px solid rgba(2,117,184,0.5);
		color: $link-active-color;
	}
}

.link-action {
	border-bottom: 1px dotted;
	cursor: pointer;

	&:link {
		@extend %link-action-style;
	}

	&:visited {
		@extend %link-action-style;
	}

	&:hover {
		@extend %link-action-style;
	}

	&:active {
		@extend %link-action-style;
	}
}

%link-action-style {
	border-bottom: 1px dotted;
	text-decoration: none;
}

.link-alt {

	&:link {
		text-decoration: none;
		border-bottom: 1px solid rgba(118,141,153,0.3);
		cursor: pointer;
	}

	&:visited {
		text-decoration: none;
		border-bottom: 1px solid rgba(118,141,153,0.3);
		cursor: pointer;
	}

	&:hover {
		text-decoration: none;
		border-bottom: 1px solid rgba(2,117,184,0.5);
		cursor: pointer;
		color: $link-hover-color;
	}

	&:active {
		text-decoration: none;
		border-bottom: 1px solid rgba(2,117,184,0.5);
		cursor: pointer;
		color: $link-active-color;
	}
}

h1 {
	font-size: $font-h1-size;
	line-height: $h1-line-height;
	border-bottom: 1px solid darken($body-bg-color, 10%);
	padding: 0 0 5px 0;
}

h2 {
	font-size: $font-h2-size;
	line-height: $h2-line-height;
}

h3 {
	font-size: $font-h3-size;
	text-transform: $font-transform;
	color: $font-alt-color;
	letter-spacing: 0.0688em;
	text-rendering: optimizeLegibility;
}

h4 {
	font-size: $font-h4-size;
	line-height: $h4-line-height;

	span {
		font-size: $font-body-size;
		color: $font-alt-color;
	}
}

sup {
	font-size: $font-h3-size;
	color: $font-alt-color;
}

b {
	font-weight: bold;
}

strong {
	@extend b;
}

ol {
	list-style: decimal;
	list-style-position: inside;

	li {
		padding: 0 0 0.7em 0;
	} 
}

p {
	margin: 0 0 0.7em 0;
}

/* Main Navigation */
nav {
	background-color: darken($main-color, 17%);

	a {

		&:link {
			@extend %no-border;
		}

		&:visited {
			@extend %no-border;
		}

		&:hover {
			@extend %no-border;
		}

		&:active {
			@extend %no-border;
		}
	}
}

.nav {
	@extend nav;
}

%no-border {
	border: none;
}

.top-nav-container {
	height: 36px;
	line-height: 35px;
	position: relative;
	background-color: $main-color;
}

.top-nav {
	font-size: $font-top-nav-size;
	background-color: $main-color;

	li {
		display: block;
		float: left;

		&.selected {
			position: relative;

			&:after{
				content:'';
				position: absolute;
				bottom: -1px;
				left: 0;
				right: 0;
				margin: 0 auto;
				width: 0; 
				height: 0;
				font-size: 0;
				line-height: 0;
				border-left: 7px solid transparent;
				border-right: 7px solid transparent;
				border-bottom: 7px solid darken($main-color, 17%);
			}

			a, a:hover {
				color: $link-main-nav-active-color;
			}
	    }
	}

	a {
		padding: 10px 13px 10px 13px;
		color: $link-main-nav-color;
		text-decoration: none;

		&:hover {
			color: $link-main-nav-hover-color;
		}
	}
}

ul.top-nav-icons {
	position: absolute;
	top: 0;
	right: 0;

	li {
		display: block;
		float: left;

		.search-suggest {
			min-width: 186px;

			li {
				float: none;

				a {
					opacity: inherit;
					width: inherit;
				}
			}
		}
	}

	a {
		display: block;
		width: 38px;
		height: 36px;
		line-height: 36px;
		color: $white;
		font-size: $font-h3-size;
		text-decoration: none;
		@include opacity(0.75);
		@include transition(all .2s ease-out);

		&:hover {
			@include opacity(1);
		}
    }

	.top-nav-help {
		background: $main-color url(../img/icon-sprite.png) no-repeat 7px -18px;
	}

	.top-nav-print {
		background: $main-color url(../img/icon-sprite.png) no-repeat 7px -42px;
	}

	.top-nav-profile {
		background: $main-color url(../img/icon-sprite.png) no-repeat 7px -66px;
	}

	.top-nav-signout {
		background: $main-color url(../img/icon-sprite.png) no-repeat 7px -91px;
		width: 44px;
	}

	.top-nav-zbbshare {
		background: $main-color url(../img/icon-sprite.png) no-repeat -41px -138px;
	    width: auto;
		padding: 0 12px 0 27px;
	}

	form {
		position: relative;
	}

	input {
		background-color: darken($main-color, 5%);
		border: 1px solid darken($main-color, 6%);
		width: 167px;
		margin: 6px 7px 0 0;
		color: $white;
		padding: 4px 24px 4px 5px;
		@include opacity(1);
		@include transition(border-color .2s ease-out);

		&:focus {
			border-color: darken($main-color, 10%);
			@include opacity(1);
		}

		&:focus + .btn-search {
			@include opacity(1);
		}
	}
}

.top-subnav-container {
	height: 36px;
	line-height: 36px;
	background-color: darken($main-color, 17%);
}

.top-subnav {
	background-color: darken($main-color, 17%);

	li {
		display: block;
		float: left;
		padding: 0 5px;
	}
}

.top-subnav a {
	padding: 5px 8px;
	color: $link-main-subnav-color;

	&:hover {
		color: $link-main-subnav-hover-color;
		text-decoration: none;
	}

	&:active {
		text-decoration: none;
	}

	&.selected {
		@include border-radius(2px);
		background-color: darken($main-color, 7%);
		color: $link-main-subnav-active-color;
	}
}

.arrow-up {
	@extend %arrow;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid $font-color;
}

.arrow-down {
	@extend %arrow;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid $font-color;
}

.arrow-left {
	@extend %arrow;
	border-bottom: 4px solid transparent;
	border-top: 4px solid transparent;
	border-right: 4px solid $font-color;
}

.arrow-right {
	@extend %arrow;
	border-bottom: 4px solid transparent;
	border-top: 4px solid transparent;
	border-left: 4px solid $font-color;
}

%arrow {
	width: 0; 
	height: 0; 
	font-size: 0;
	line-height: 0;
	display: inline-block;
}

.header-title {
	position: relative;
	margin: 0 0 12px 0;

	ul {
		position: absolute;
		right: 0;
		bottom: 6px;

		li {
			display: block;
			float: left;
			padding: 0 0 0 14px;
		}
	}
}

/* Article */
article {
	padding: 13px 13px 0 13px;
}

.article {
	@extend article;
}

/* Obgect Group Navigation */
.object-group {
	margin: 0 0 11px 0;
	
	li {
		display: inline-block;
		margin: 0 14px 0 0;
	}

	.selected {
		font-weight: bold;
	}

	.arrow-right {
		border-left-color: $font-color;
	}
}

/* Footer */
footer {
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
	text-align: center;
	color: $font-alt-color;

	a {

		&.logo {
			border: none;
		}
	}
}

.footer {
	@extend footer;
}

.logo {
	display: block;
	width: 94px;
	height: 25px;
	margin: 0 auto;
	margin-bottom: 10px;
	background: url(../img/icon-sprite.png) no-repeat 0 -360px;
}

/* Tables */
.list-table {
	width: 100%;
    background-color: $ui-bg-color;
    @include box-shadow(0 1px 1px 0 rgba(118,141,153,0.2));
	
	thead th {
		font-size: $font-h3-size;
		text-transform: $font-transform;
		letter-spacing: 0.0688em;
		text-rendering: optimizeLegibility;
		height: 100%;
		overflow: hidden;
	    padding: 8px 5px 7px 5px;
	    vertical-align: bottom;
	    border-bottom: 2px solid $table-border-color;
	    text-align: left;
	    color: $font-alt-color;

	    .arrow-up {
	    	position: absolute;
	    	top: 45%;
	    	margin: 0 0 0 4px;
	    	border-bottom-color: $font-alt-color;
	    }

	    .arrow-down {
	    	position: absolute;
	    	top: 45%;
	    	margin: 0 0 0 4px;
	    	border-top-color: $font-alt-color;
	    }

	    a {
	    	display: block;
	    	position: relative;
	    	margin: -1em;
	    	padding: 1em;
	    	border: none;
	    	@include transition(background-color .2s ease-out);

	    	&:hover {
	    		text-decoration: none;
	    		background-color: $ui-hover-color
	    	}

	    	&:active {
	    		text-decoration: none;
	    		background-color: darken($ui-hover-color, 5%);
	    	}	    
	    }
	}

	tbody tr {
		@include transition(background-color .2s ease-out);

		&:hover {
			background-color: $ui-hover-color;
		}

		&.row-selected {
			@extend %found-bg;
		}

		&.nothing-to-show {
				@extend %nothing-to-show;
			}

		&:last-child td {
			border-bottom: none;
		}
	}

	td {
		padding: 8px 5px 8px 5px;
		vertical-align: middle;
		border-bottom: 1px solid $table-border-color;
	}

	.vertical_rotation_inner {
		white-space: nowrap;
		@include rotate(270);
	} 
}

.table-paging {
	text-align: center;
	background-color: $ui-bg-color;
	padding: 7px 5px;
	border-top: 1px solid $table-border-color;
	@include box-shadow(0 1px 1px 0 rgba(118,141,153,0.2));

	a {
		@extend %paging-btn;
	}

	.arrow-left {
		border-right-color: $link-color;
	}

	.arrow-right {
		border-left-color: $link-color;
	}
}

.radio-switch {
	cursor: pointer;
	background-color: $form-bg-color;
	@extend %paging-btn;
}

%paging-btn {
	display: inline-block;
	margin-left: -1px;
	padding: 3px 14px;
	border: 1px solid $form-border-color;
	text-decoration: none;
	color: $link-color;
	@include transition(background-color .2s ease-out);

	&:hover {
		color: $link-hover-color;
		background-color: $ui-hover-color;
	}

	&:active {
		color: $link-active-color;
		background-color: darken($ui-hover-color, 5%);
	}

	&:first-child {
		@include border-radius(2px 0 0 2px);
	}

	&:last-child {
		@include border-radius(0 2px 2px 0);
	}

	&.paging-selected {
		color: $white;
		border-color: $form-border-color;
		background-color: $ui-bg-selected-color;

		&:hover {
			background-color: darken($ui-bg-selected-color, 5%);
		}

		&:active {
			background-color: darken($ui-bg-selected-color, 10%);
		}
	}
}

.treeview-plus {
	display: inline-block;
	background-color: $ui-bg-color;
	border: 1px solid $form-border-color;
	cursor: pointer;
	width: 10px;
	height: 10px;
	line-height: 10px;
	text-align: center;
	font-size: $font-top-nav-size;
	font-weight: bold;
	@include border-radius(2px);

	&:hover {
		background-color: $ui-hover-color;
	}

	&:active {
		background-color: darken($ui-hover-color, 5%);
	}
}

.treeview {
	display: inline-block;
	width: 18px;
	height: 18px;
	line-height: 18px;
	text-align: center;

	.arrow-right {
		border-left-color: $font-alt-color;
	}

	.arrow-down {
		margin-bottom: 2px;
		border-top-color: $font-alt-color;
	}

	&:hover .arrow-right {
		border-left-color: $link-color;
	}

	&:hover .arrow-down {
		border-top-color: $link-color;
	}
}

.table {
	display: table;
}

.row {
	display: table-row;
}

.cell {
	display: table-cell;
	vertical-align: top;
}

.adm-img {
	width: 75%;
	text-align: center;
	margin: 0 auto;

	.cell {
		vertical-align: bottom;
		padding: 20px 0 20px 0;
	}
}

.cell-width {
	width: 8px;
}

.nowrap {
	white-space: nowrap;
}

/* Filters */
.filter-btn-container {
	text-align: center;
}

.filter-container {
	padding: 10px 0;
	margin: 0 0 10px 0;
	background-color: $ui-bg-color;
	@include box-shadow(0 1px 1px 0 rgba(118,141,153,0.2));

	.table {
		border-bottom: 1px solid $table-border-color;
	}

	.filter-forms {
		padding: 0 10px 0px 10px;
	}

	.list-table {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
		margin-bottom: -10px;
		@include box-shadow(none);

		thead {

			th {
				font-size: $font-form-size;
				text-transform: none;
				text-rendering: auto;
				letter-spacing: normal;
				color: initial;
				padding: 8px 5px 5px 5px;
				border-bottom-width: 1px;
			}
		}
	}
}

.subfilter-enabled {
	display: inline-block;
	position: relative;
	padding: 0 9px 0 4px;
	height: 18px;
	line-height: 18px;
	background-color: $ui-bg-selected-color;
	@include border-radius(2px);

	a {
		color: $font-color;
		text-decoration: none;
		cursor: default;
	}
}

.filter-forms {
	margin: 0 auto;
	text-align: center;
	background-color: $ui-bg-color;

	.cell {
		text-align: left;
		padding: 0 20px 5px 20px;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
			border-right: none;
		}

		button {
			margin: 0;
		}
	}

	button {
		margin: 10px 7px 0 7px;
	}

	.multiselect {
		width: 165px;
	}
}

.multiselect-wrapper {
	position: relative;
}

.multiselect {
	@extend %form-input-style;
	@extend .multiselect-button;
	position: relative;
	margin-right: 3px;
	width: 312px;
	min-height: 22px;

	&.active {
		border-color: $form-border-focus-color;
	}

	input[type="text"] {
		border: none;
		background: none;
		box-sizing: border-box;
		width: 100%;
		padding-top: 2px;

	}

	.multiselect-list {
		padding-left: 2px;
		padding-bottom: 2px;

		li {
			display: inline-block;
			margin: 2px 14px 0 0;
			white-space: nowrap;

			&.selected {

				.subfilter-enabled {
					background-color: darken($ui-bg-selected-color, 10%);
				}

				.subfilter-disable-btn {
					background-color: darken($ui-bg-selected-color, 10%);
					@include opacity(1);

					&:active {
						background-color: darken($ui-bg-selected-color, 15%);
						@include opacity(1);
					}
				}
			}
		}
	}

	.disabled {
		@include opacity(0.5);

		.subfilter-disable-btn {
			cursor: default;
			color: lighten($ui-bg-selected-color, 10%);
			background-color: $ui-bg-selected-color;
		}
	}
}

.multiselect-suggest {
	padding: 0 5px;
	white-space: normal;
	color: $font-alt-color;
	background-color: $ui-bg-color;

	li {
		display: block;
		height: inherit;
		line-height: normal;
		color: $font-color;
		padding: 0.4em 5px;
		margin: 0 -5px;
		cursor: pointer;
		overflow: hidden;
		text-overflow: ellipsis;
		@include transition(background-color .2s ease-out);

		&.suggest-hover {
			background-color: $action-hover-color;
		}
	}
}

.multiselect-matches {
	padding: 0.4em 5px;
	color: $font-color;
	font-weight: bold; 
	@extend .multiselect-suggest;
}

.available {
	position: absolute;
	z-index: 1000;
	margin-top: 1px;
	border: 1px solid $action-border-color;
	border-top: none;
	min-width: 165px;
	max-height: 400px;
	overflow-y: auto;
	@extend %webkit-scrollbar;
	@include box-shadow(0 6px 10px 0 rgba(118,141,153,0.3));
}

.suggest-found {
	@extend %found-bg;
}

// Timeline
.multiselect-button {
	float: left;
}

.scrollbar {
	position: relative;
	margin: 0 auto;
	line-height: 1em;
	height: 52px;

	.selected {
		font-weight: bold;
	}
}

.sublevel {
	height: 22px;
	border: 1px solid $form-disabled-bg-color;
	background-color: $form-disabled-bg-color;
	margin: 5px 0;
	@include border-radius(2px);
	
	button {

		&:first-child {
			float: left;
			margin-left: -1px;
		}

		&:last-child {
			float: right;
			margin-right: -1px;
		}
	}

	.btn-grey {
		background-color: $ui-bg-color;
		margin-top: -1px;
	}
}

.info {
	height: 14px;

	.zoom {
		float: left;
		white-space: nowrap;

		a {
			margin: 0 4px;
		}
	}

	.timeline {
		float: right;
		white-space: nowrap;
	}
}

.overlevel {
	position: absolute;
	top: 14px;
	left: 28px;
	height: 24px;
	margin: 5px 0;

	.arrow-left {
		border-right-color: $font-alt-color;
	}

	.arrow-right {
		border-left-color: $font-alt-color;
	}
}

.bar {
	position: absolute;
	z-index: 1;
	height: 22px;
	border: 1px solid $form-border-color;
	@include border-radius(2px);
}

.icon {
	position: relative;
	height: 22px;
	background-color: $btn-form-bg-color;
	cursor: move;
	@include border-radius(2px);

	&:hover {
		background-color: $ui-hover-color;
	}

	&:active {
		background-color: darken($ui-hover-color, 5%);
	}

	.center {
		width: 22px;
		height: 22px;
		background: url(../img/icon-sprite.png) no-repeat center -121px;
		margin: 0 auto;
	}
}

.ghost {
	position: absolute;
	top: 0;
	height: 22px;
	line-height: 22px;
	border: 1px solid $form-border-color;
	@include border-radius(2px);
}

.left_arr {
	position: absolute;
	top: 1px;
	width: auto;
	height: 22px;
	line-height: 22px;
	padding: 0 5px;
	z-index: 99;
	cursor: e-resize;
}

.right_arr {
	@extend .left_arr;
}

.subline {
	height: 14px;

	.nav_links {
		float: left;
		@extend .zoom;

		a {
			margin: 0 4px;
		} 
	}

	.period {
		float: right;
		text-align: right;
		margin-left: 8px;
	}

	.info_period {
		@extend .period;
	}
}

/* Forms */
.table-forms-container {
	padding: 10px;
	text-align: left;
	@extend .filter-container;
}

.form-btns {

	button {
		margin: 10px 6px 5px 6px;
	}
}

.table-forms {
	display: table;
	width: 100%;
	color: $font-color;

	li {
		display: table-row;
	}

	.multiselect-suggest {

		li {
			display: block;
		}
	}
	
	tfoot {

		.table-forms-td-right {
			padding-top: 5px;
		}

		button {
			margin: 0 14px 0 0;
		}
	}

	.tfoot-buttons {
		@extend tfoot;
	}

	.table-forms-td-left {
		display: table-cell;
		padding: 5px 0;
		text-align: right;
		vertical-align: top;
		width: 15%;
		white-space: nowrap;

		label {
			display: block;
			height: 24px;
			line-height: 24px;
		}

		input {

			&[type="checkbox"] {
				top: -6px;
			}

			&[type="radio"] {
				top: -6px;
			}
		}
	}

	.table-forms-td-right {
		display: table-cell;
		padding: 5px 0 5px 10px;
		vertical-align: middle;
		width: 85%;

		td {
			padding: 5px 5px 5px 0;
			position: relative;

			&.td-drag-icon {
				padding: 0 11px 0 0;
				vertical-align: middle;
			}

			.drag-icon {
				position: absolute;
				top: 5px;
				margin-right: 5px;
			}

			 &.center {
			 	text-align: center;
			 	vertical-align: middle;
			 }

			.btn-grey {
				margin: 5px 0;
				display: block;
			}
		}
	}
}

.center {
	text-align: center;
}

.table-forms-separator {
	display: inline-block;
	padding: 0 0 5px 5px;
	margin: 0 0 0 -5px;
	border-bottom: 1px dashed $form-border-color;
}

.drag-drop-area {
	@extend %found-bg;
}

.margin-top {
	display: block;
	margin: 0px 0 0 0;
}

.form-new-group {
	diplay: inline-block;
	border: 5px solid $lighter-green;
	padding: 4px 0;
	margin-left: -5px;
	@include border-radius(2px);
}

.list-check-radio {

	li {
		display: block;
		padding: 0 0 0.7em 0;
	}

	label {
		padding: 0 0 0 16px;
		display: inline-block;
		text-indent: -13px;
		max-width: 600px;

		input[type="checkbox"] {
			left: -3px;
			margin: 0;
		}

		input[type="radio"] {
			left: -3px;
			margin: 0;
		}
	}
}

label {
	input[type="checkbox"] {
		margin-right: 3px;
	}

	input[type="radio"] {
		margin-right: 3px;
	}
}

input {
	
	&[type="text"] {
		@extend %form-input-height-padding;
		@extend %form-input-style;
	}

	&[type="password"] {
		@extend %form-input-height-padding;
		@extend %form-input-style;
	}

	&[type="search"] {
		@extend %form-input-height-padding;
		@extend %form-input-style;
	}

	&[type="number"] {
		@extend %form-input-height-padding;
		@extend %form-input-style;
	}

	&[type="email"] {
		@extend %form-input-height-padding;
		@extend %form-input-style;
	}

	&[type="time"] {
		@extend %form-input-height-padding;
		@extend %form-input-style;
	}

	&[type="checkbox"] {
		@extend %form-check-radio-style;
	}

	&[type="radio"] {
		@extend %form-check-radio-style;
	}

	&[disabled] {
		@extend %form-disabled;
	}

	&[readonly] {
		color: $font-color!important;
		cursor: text!important;
		@extend %form-disabled;
	}  
}

textarea {
	width: 300px;
	height: 50px;
	padding: 5px 0 0 5px;
	overflow: auto;
	@extend %form-input-style;

	&[disabled] {
		@extend %form-disabled;
	}

	&[readonly] {
		color: $font-color!important;
		cursor: text!important;
		@extend %form-disabled;
	}   
}

select {
	padding: 3px 3px 3px 0;
	background-color: $form-bg-color;
	@extend %form-input-style;

	&.select-multiple {
		width: 300px;
		height: auto;
	}

	&[disabled] {
		@extend %form-disabled;
	}

	&[readonly] {
		color: $font-color!important;
		cursor: text!important;
		@extend %form-disabled;
	}   
}

fieldset {
	border: 1px solid lighten($form-border-color, 10%);
	padding: 0 10px 10px 15px;
}

legend {
	margin-left: -5px;
	padding: 0 5px 0 5px;
}

%form-check-radio-style {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: bottom;
	position: relative;
	top: -2px;
	overflow: hidden;
	width: 13px;
	height: 13px;
	background: none;
}

%form-input-height-padding {
	padding: 4px 5px;
}

%form-input-style {
	border: 1px solid $form-border-color;
	font-family: $font-stack;
	font-size: $font-form-size;
	color: $font-color;
	background-color: $form-bg-color;
	@include transition(border-color .2s ease-out);

	&:focus {
		border-color: $form-border-focus-color;
	}
}

button::-moz-focus-inner {
	padding: 0;
}

button {
	@include border-radius(2px);
	color: $btn-font-color;
	background-color: $btn-bg-color;
	font-family: $font-stack;
	border: 1px solid $btn-bg-color;
	padding: 0 11px;
	min-height: 24px;
	vertical-align: middle;
	cursor: pointer;
	@include transition(border-color, background-color .2s ease-out);

	&:hover {
		@extend %button-hover;
	}

	&:active {
		@extend %button-active;
	}

	&.btn-alt {
		@extend button;
		color: $btn-alt-font-color;
		background-color: $btn-alt-bg-color;

		&:hover {
			@extend %button-hover;
		}

		&:active {
			@extend %button-active;
		}
	}

	&.btn-conf {
		background: $btn-bg-color url(../img/icon-sprite.png) no-repeat -1px -145px;
		@extend %button-icon-size;
		
		&:hover {
			@extend %button-hover;
		}

		&:active {
			@extend %button-active;
		}
	}

	&.btn-max {
		background: $btn-bg-color url(../img/icon-sprite.png) no-repeat -1px -169px;
		@extend %button-icon-size;
		
		&:hover {
			@extend %button-hover;
		}

		&:active {
			@extend %button-active;
		}
	}

	&.btn-min {
		background: $btn-bg-color url(../img/icon-sprite.png) no-repeat -1px -193px;
		@extend %button-icon-size;
		
		&:hover {
			@extend %button-hover;
		}

		&:active {
			@extend %button-active;
		}
	}

	&.btn-add-fav {
		background: $btn-bg-color url(../img/icon-sprite.png) no-repeat -49px -1px;
		@extend %button-icon-size;
		
		&:hover {
			@extend %button-hover;
		}

		&:active {
			@extend %button-active;
		}
	}

	&.btn-remove-fav {
		background: $btn-bg-color url(../img/icon-sprite.png) no-repeat -49px -25px;
		@extend %button-icon-size;
		
		&:hover {
			@extend %button-hover;
		}

		&:active {
			@extend %button-active;
		}
	}

	&.btn-action {
		background: $btn-bg-color url(../img/icon-sprite.png) no-repeat -49px -49px;
		@extend %button-icon-size;
		
		&:hover {
			@extend %button-hover;
		}

		&:active {
			@extend %button-active;
		}
	}

	&.btn-info {
		background: $btn-bg-color url(../img/icon-sprite.png) no-repeat -49px -73px;
		@extend %button-icon-size;
		
		&:hover {
			@extend %button-hover;
		}

		&:active {
			@extend %button-active;
		}
	}

	&.btn-reset {
		background: $btn-bg-color url(../img/icon-sprite.png) no-repeat -49px -97px;
		@extend %button-icon-size;
		
		&:hover {
			@extend %button-hover;
		}

		&:active {
			@extend %button-active;
		}
	}


	&.btn-search {
		background: darken($main-color, 5%) url(../img/icon-sprite.png) no-repeat 1px -1px;
		position: absolute;
		border: none;
		top: 7px;
		right: 8px;
		width: 24px;
		min-height: 22px;
		padding: 0;
		@include opacity(0.75);
		@include transition(opacity .2s ease-out);
		
		&:hover {
			@extend %btn-search-hover-focus;
		}

		&:active {
			@extend %btn-search-hover-focus;
		}

		&:focus {
			@extend %btn-search-hover-focus;
		}
	}

    &.btn-widget-action {
    	border: 0;
    	background: $ui-bg-color url(../img/icon-sprite.png) no-repeat 3px -262px;
		@extend %button-widget-icon-size;
		@include opacity(0.5);
		@include transition(opacity .2s ease-out);

		&:hover {
			@extend %btn-widget-hover-active;
		}

		&:active {
			@extend %btn-widget-hover-active;
		}
    }

    &.btn-widget-collapse {
    	border: 0;
    	background: $ui-bg-color url(../img/icon-sprite.png) no-repeat 2px -214px;
		@extend %button-widget-icon-size;
		@include opacity(0.5);
		@include transition(opacity .2s ease-out);

		&:hover {
			@extend %btn-widget-hover-active;
		}

		&:active {
			@extend %btn-widget-hover-active;
		}
    }

    &.btn-widget-expand {
    	border: 0;
    	background: $ui-bg-color url(../img/icon-sprite.png) no-repeat 2px -238px;
		@extend %button-widget-icon-size;
		@include opacity(0.5);
		@include transition(opacity .2s ease-out);

		&:hover {
			@extend %btn-widget-hover-active;
		}

		&:active {
			@extend %btn-widget-hover-active;
		}
    }

    &.btn-alarm-on {
    	border: 0;
    	background: $ui-bg-color url(../img/icon-sprite.png) no-repeat -45px -191px;
		@extend %button-widget-icon-size;
		@include opacity(0.5);
		@include transition(opacity .2s ease-out);

		&:hover {
			@extend %btn-widget-hover-active;
		}

		&:active {
			@extend %btn-widget-hover-active;
		}
    }

    &.btn-alarm-off {
    	border: 0;
    	background: $ui-bg-color url(../img/icon-sprite.png) no-repeat -45px -239px;
		@extend %button-widget-icon-size;
		@include opacity(0.5);
		@include transition(opacity .2s ease-out);

		&:hover {
			@extend %btn-widget-hover-active;
		}

		&:active {
			@extend %btn-widget-hover-active;
		}
    }

    &.btn-sound-on {
    	border: 0;
    	background: $ui-bg-color url(../img/icon-sprite.png) no-repeat -45px -216px;
		@extend %button-widget-icon-size;
		@include opacity(0.5);
		@include transition(opacity .2s ease-out);

		&:hover {
			@extend %btn-widget-hover-active;
		}

		&:active {
			@extend %btn-widget-hover-active;
		}
    }

     &.btn-sound-off {
    	border: 0;
    	background: $ui-bg-color url(../img/icon-sprite.png) no-repeat -45px -264px;
		@extend %button-widget-icon-size;
		@include opacity(0.5);
		@include transition(opacity .2s ease-out);

		&:hover {
			@extend %btn-widget-hover-active;
		}

		&:active {
			@extend %btn-widget-hover-active;
		}
    } 

	&.btn-grey {
		color: $btn-form-font-color;
		background-color: $btn-form-bg-color;
		border-color: $btn-form-border-color;

		&:hover {
			color: $btn-form-hover-color;
			background-color: $ui-hover-color;
			border-color: $btn-form-border-color;
		}

		&:active {
			color: $btn-form-font-color;
			background-color: darken($ui-hover-color, 5%);
		}

		.arrow-left {
			border-right-color: $btn-form-font-color;

		}

		.arrow-right {
			border-left-color: $btn-form-font-color;

		}
	}

	&.filter-trigger {
		position: relative;
		@include border-radius(2px 2px 0 0);
		padding-right: 21px;
		min-width: 94px;

		&.filter-active {
			background-color: $ui-bg-color;
			border: none;
			color: $link-color;
			@include box-shadow(0 -1px 1px 0 rgba(118,141,153,0.08));

			.arrow-up {
				position: absolute;
				top: 50%;
				margin: 0 0 0 4px;
				border-bottom-color: $link-color;
			}
		}

		.arrow-down {
			position: absolute;
			top: 50%;
			margin: 0 0 0 4px;
			border-top-color: $white;
		}
	}
}

%button-hover {
	color: $btn-hover-color;
	background-color: darken($btn-bg-color, 5%);
	border-color: darken($btn-bg-color, 5%);
}

%button-active {
	color: $btn-active-color;
	background-color: darken($btn-bg-color, 17%);
	border-color: darken($btn-bg-color, 17%);
}

%button-icon-size {
	width: 24px;
	height: 24px;
	padding: 0;
}

%button-widget-icon-size {
	width: 30px;
	height: 28px;
	padding: 0;
}

%btn-disabled {
	color: $btn-disabled-font-color;
	background-color: $btn-disabled-bg-color;
	border-color: $btn-disabled-border-color;
	cursor: default;
}

%form-disabled {
	color: $form-disabled-font-color;
	background-color: $form-disabled-bg-color;
	border-color: $form-disabled-border-color;
}

%btn-search-hover-focus {
	background-color: darken($main-color, 5%);
	@include opacity(1);
}

%btn-widget-hover-active {
	background-color: $ui-bg-color;
	@include opacity(1);
}

button[disabled] {
	@extend %btn-disabled;

	&:hover {
		@extend %btn-disabled;
	}

	&:active {
		@extend %btn-disabled;
	}
}

.action-buttons {
	margin: 15px 0 0 0;
	color: $font-alt-color;

	button {
		margin: 0 14px 10px 0;
	}
}

.tabs-nav-container {
	height: 36px;
	line-height: 36px;
	margin: 0 0 15px 0;
}

.ui-tabs-nav {
	height: 36px;
	line-height: 36px;
	margin: -10px -10px 10px -10px;
	border-bottom: 1px solid $table-border-color;

	li {
		display: inline-block;

		a {
			@extend %no-border;
			padding: 11px 13px;
			@include transition(background-color .2s ease-out);

			&:hover {
				background-color: $ui-hover-color;
			}
		} 

		&.ui-tabs-active:first-child {
			border-left: 0;
		}

		&.ui-tabs-active {
			//border-left: 1px solid $table-border-color;
			//border-right: 1px solid $table-border-color;
			a {
				//padding: 8px 13px 11px 13px;
				padding: 8px 13px 9px 13px;
				font-weight: bold;
				background-color: $ui-bg-color;
				color: $font-color;
				text-decoration: none;
				cursor: default;
				//border-top: 3px solid $primary-blue;
				//border-top: 3px solid $main-color;
				//border-bottom: 3px solid $white;
				border-bottom: 3px solid $main-color;
			}
		}
	}
}

.input-help-wrapper {
	position: relative;
	display: inline-block;
}

.help-icon {
	background: url(../img/icon-sprite.png) no-repeat 0 -312px;
	display: block;
	position: absolute;
	top: 0;
	right: -26px;
	@extend %button-icon-size;
	@include opacity(0.75);
	@include transition(opacity .2s ease-out);

	&:hover {
		cursor: pointer;
		@include opacity(1);
	}
}

.drag-icon {
	margin-left: -9px;
	cursor: move;
	background: url(../img/icon-sprite.png) no-repeat 0 -288px;
	@extend %button-icon-size;
}

/* Sign in, Installation */

.setup-container  {
	background-color: $ui-bg-color;
	width: 766px;
	height: 440px;
	margin: 0 auto;
	padding: 20px 28px;
	vertical-align: top;
	position: relative;
	@include box-shadow(0 1px 1px 0 rgba(118,141,153,0.2));

	h1 {
		border: none;
		margin: 0 0 10px 0;
		padding: 0;
	}
}

.setup-left {
	float: left;
	width: 198px;
	padding-right: 10px;

	ul {
		margin: -4px 0 0 -28px;

		li {
			padding: 4px 0 4px 28px;

			&.setup-left-current {
				border-left: 3px solid $main-color;
				color: $font-alt-color;
				padding-left: 25px;
			}
		}
	}
}

.setup-right {
	width: auto;
	margin-left: 198px; 
}

.setup-right-body {
	padding-right: 5px;
	max-height: 355px;
	overflow-y: auto;

	.list-table {
		@include box-shadow(none);
	}

	.table-forms-td-left {
		text-align: left;
		width: auto;
	}

	.table-forms-td-right {
		width: 100%;
	}

	h4 {
		margin: 25% 0 0.4em 0;
	}

	@extend %webkit-scrollbar;
}

%webkit-scrollbar {
	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-track {
		background-color: $form-disabled-bg-color;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $form-border-color;
	}
}

.setup-title {
	color: $font-alt-color;
	height: 350px;
	display: table-cell;
	vertical-align: middle;
	font-size: $font-setup-title;
	line-height: $setup-title-line-height;

	span {
		display: block;
		font-size: $font-setup-sup-title;
	}
}

.setup-footer {
	position: absolute;
	bottom: 21px;
	width: 766px;
	text-align: right;

	div {
		float: right;
	}

	button {
		margin: 0 0 0 14px;

		&.float-left {
			margin: 0;
			float: left;
		}
	}
}

.signin-container {
	background-color: $ui-bg-color;
	width: 322px;
	margin: 0 auto;
	padding: 20px 28px 0 28px;
	@include box-shadow(0 1px 1px 0 rgba(118,141,153,0.2));

	h1 {
		border: none;
		margin: 0 0 17px 0;
		padding: 0;
	}

	ul li {
		padding: 0 0 22px 0;
		font-size: $font-top-nav-size;

		&.sign-in-txt {
			text-align: center;
		}
	}

	label {                                                                                                                                                                                                                                                                                                              
		display: block;
		margin: 0 0 2px 0;
	}

	input {

		&[type="text"] {
			@extend %signin-input;
		}

		&[type="password"] {
			@extend %signin-input;
		}
	}

	button {
		font-size: $font-form-size;
		min-height: 38px;
		line-height: 38px;
		width: 100%;
	}
}

.signin-logo {
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 25px;
	width: 114px;
	height: 30px;
	background: url(../img/icon-sprite.png) no-repeat 0 -391px;
}

.signin-links {
	width: 100%;
	text-align: center;
	color: $font-alt-color;
	margin: 22px 0 0 0;
}

%signin-input {
	padding: 10px 5px;
	width: 100%;
	@include box-sizing(border-box);
}

/* Dashboard */
.widget-placeholder {

	.cell {
		min-width: 250px;

		&:last-child {

			.dashbrd-widget {
				margin: 0 0 10px 0;
			}
		}
	}
}

.dashbrd-widget {
	min-width: 250px;
	margin: 0 10px 10px 0;
	background-color: $ui-bg-color;
	@include box-shadow(0 1px 1px 0 rgba(118,141,153,0.2));

	.list-table {
		@include box-shadow(none);

		th {
			@extend %dashbrd-widget-td;
		}
		
		td {
			@extend %dashbrd-widget-td;
		}

		tbody tr {

			&:last-child td {
				border-bottom: 1px solid $table-border-color;
			}
		}
	}
}

%nothing-to-show {
	text-align: center;
	color: $font-alt-color;
	@include transition(0s);

	td:hover {
		background-color: $ui-bg-color;
	}
}

%dashbrd-widget-td {
	padding-right: 10px;
	padding-left: 10px;
}

.dashbrd-widget-head {
	cursor: move;
	position: relative;
	padding: 8px 60px 8px 10px;

	ul {
		position: absolute;
		top: 0;
		right: 0;

		li {
			display: block;
			float: left;
			padding: 0;
		}
	}
}

.dashbrd-widget-foot {
	text-align: right;
	color: $font-alt-color;
	margin: 0 10px;

	li {
		display: inline-block;
		padding: 8px 0 8px 13px
	}
} 

/* Action Menus, Pop-up Menus */
.action-menu {
	position: absolute;
	z-index: 1000;
	padding: 5px 15px 5px 25px;
	min-width: 166px;
	background-color: $ui-bg-color;
	border: 1px solid $action-border-color;
	@include box-shadow(0 6px 10px 0 rgba(118,141,153,0.3));

	li {
		display: block;
		white-space: nowrap;

		div {
			border-top: 1px solid $table-border-color;
			margin: 5px -15px 5px -25px;
		}
	}

	.action-menu-item {
		display: block;
		height: 24px;
		line-height: 24px;
		cursor: pointer;
		text-decoration: none;
		padding: 0 15px 0 25px;
		margin: 0 -15px 0 -25px;
		position: relative;
		@include transition(background-color .2s ease-out);

		&:hover {
			background-color: $action-hover-color;
		}

		&:active {
			background-color: $action-hover-color;
		}

		&.selected {
			background: url(../img/icon-sprite.png) no-repeat -46px -169px;

			&:hover {
				background-color: $action-hover-color;
			}

			&:active {
				background-color: $action-hover-color;
			}
		}

		.arrow-right {
			position: absolute;
			right: 10px;
			top: 8px;
			height: auto;
			line-height: auto;
			padding: 0;
			margin: 0;
			border-left-color: $font-alt-color;
		}
	}

	.action-menu-item-disabled {
		display: block;
		height: 24px;
		line-height: 24px;
		color: $font-alt-color;
		cursor: default;
	}

	h3 {
		height: 24px;
		line-height: 24px;
	}
}

.search-suggest {
	position: absolute;
	z-index: 1000;
	padding: 0 5px;
	min-width: 16px;
	color: $font-alt-color;
	background-color: $ui-bg-color;
	border: 1px solid $action-border-color;
	border-top: none;
	@include box-shadow(0 6px 10px 0 rgba(118,141,153,0.3));

	li {
		display: block;
		height: inherit;
		line-height: normal;
		color: $font-color;
		padding: 0.4em 5px;
		margin: 0 -5px;
		cursor: pointer;
		@include transition(background-color .2s ease-out);

		&.suggest-hover {
			background-color: $action-hover-color;
		}
	}
}

.overlay-dialogue {
	position: absolute;
	z-index: 1000;
	padding: 15px;
	background-color: $ui-bg-color;
	border: 1px solid $action-border-color;
	@include box-shadow(0 5px 20px 0 rgba(118,141,153,0.3));

	.list-table {
		@include box-shadow(none);

		th {
			@extend %dashbrd-widget-td;
		}
		
		td {
			@extend %dashbrd-widget-td;
		}
	}

	.table-forms-td-left {
		text-align: left;
		width: auto;
	}

	.table-forms-td-right {
		width: auto;

		td {
			vertical-align: middle;

			label {
				display: block;
			}
		}
	}

	tfoot {
		text-align: right;

		button {
			margin: 4px 0 0 14px;
		}
	}

	fieldset {
		margin-left: -10px;
	}

	.dashbrd-widget-head {
		margin: -15px -15px 6px -15px;
		padding: 12px 30px 12px 15px;
	}

	.maps-container {
		max-height: 128px;
		overflow-y: auto;
		margin-left: -10px;
	}
}

.overlay-dialogue-body {
	margin: 0 0 50px 0;
}

.overlay-dialogue-footer {
	text-align: right;

	button {
		margin: 0 0 0 14px;
	}
}

.pop-up {
	min-width: initial;
	margin-bottom: 0;

	article {
		padding: 13px;
	}

	h1 {
		border-bottom: none;
		padding: 0;
	}

	.header-title {

		ul {
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}

	.dashbrd-widget-head {
		padding: 8px 10px;
	}
}

.calendar {
	width: 200px;

	.selected {
		background-color: $ui-bg-selected-color;
		color: $white;

		&:hover {
			@extend .selected
			}
		}

	table {
		width: 100%;
		margin: 5px 0;

		thead {
			text-transform: $font-transform;
			color: $font-alt-color;
		}

		tbody {
			text-align: center;

			td {
				padding: 4px;
				@include transition(background-color .2s ease-out);

				&:hover {
					background-color: $action-hover-color;
					cursor: pointer;
				}
			}
		}
	}
}

.calendar-header {
	text-align: center;

	.btn-grey {
		border: none;
	}
}

.calendar-year {
	height: 24px;

	button:first-child {
		float: left;
	}

	button:last-child {
		float: right;
	}
}

.calendar-month {
	@extend .calendar-year;
}

.calendar-time {
	text-align: center;

	input[type="text"] {
		width: 22px;
	}
}

.calendar-footer {
	margin: 26px 0 0 0;
	text-align: right;

	.btn-grey {
		float: left;
		margin-top: 0;
	}
}

.notifications {
	padding: 0;
	max-width: 250px;

	.dashbrd-widget-head {
		margin: -2px 0 -7px 0;
	}

	h4 {
		display: inline-block;
	}

	p {
		margin: 0.35em 0 0 0;
	}

	tr {
		td:first-child {
			padding: 0;
			width: 3px;
		}
	}

	.dashbrd-widget-head {

		ul {
			position: relative;
			display: inline-block;
			margin-left: 8px;

			li {
				float: none;
				display: inline-block;
			}
		}
	}

}

/* Maps, Screens, Graphs */
.box_on {
	position: absolute;
	z-index: 99;
}

.screen-table {
	width: 100%;

	td {
		text-align: center;
		vertical-align: middle;
		padding: 3px;
	}
}

.dashed-border {

	td {
		border: 1px dashed $form-border-color;

		td {
			border: none;
		}
	}
}

/* Alerts */
.green {
	color: $green;
}

a.green {
	@extend .green;
}

.red {
	color: $red;
}

a.red {
	@extend .red;
}

.orange {
	color: $orange;
}

a.orange {
	@extend .orange;
}

.grey {
	color: $font-alt-color;
}

a.grey {
	@extend .grey;
}

.status-green {
    border: 1px solid darken(desaturate($alt-green, 10%), 18%);
	background-color: darken(desaturate($alt-green, 10%), 16%);
	@extend %status;
}

.status-red {
	border: 1px solid darken(desaturate($alt-red, 10%), 7%);
	background-color: darken(desaturate($alt-red, 10%), 5%);
	@extend %status;
}

.status-grey {
	border: 1px solid darken(desaturate($alt-blue-grey, 10%), 10%);
	background-color: darken(desaturate($alt-blue-grey, 10%), 8%);
	@extend %status;
}

.status-yellow {
	border: 1px solid darken(desaturate($alt-yellow, 10%), 18%);
	background-color: darken(desaturate($alt-yellow, 10%), 16%);
	@extend %status;
}

%status {
	padding: 0 3px;
	color: $white;
	font-size: $font-h3-size;
	text-transform: $font-transform;
	text-align: center;
	min-width: 1em;
	display: inline-block;
	cursor: default;
	@include border-radius(2px); 
}

.green-bg {
	background-color: $alt-green;
}

.red-bg {
	background-color: $alt-red;
}

.na-bg {
	color: darken($alt-blue-grey,45%);
	background-color: $alt-blue-grey;
}
td.na-bg {
	border-left: none;

	~ td.na-bg {
		border-left: 1px dotted $ui-bg-color;
	}
}

.normal-bg {
	color: darken($alt-green,45%);
	@extend .green-bg;
}
td.normal-bg {
	@extend td.na-bg;
}

.info-bg {
	color: darken($alt-dark-blue,45%);
	background-color: $alt-dark-blue;
}
td.info-bg {
	@extend td.na-bg;
}

.average-bg {
	color: darken($alt-orange,45%);
	background-color: $alt-orange;
}
td.average-bg {
	@extend td.na-bg;
}

.warning-bg {
	color: darken($alt-yellow,45%);
	background-color: $alt-yellow;
}
td.warning-bg {
	@extend td.na-bg;
}

.high-bg {
	color: darken($alt-dark-orange,45%);
	background-color: $alt-dark-orange;
}
td.high-bg {
	@extend td.na-bg;
}

.disaster-bg {
	color: darken($alt-red,45%);
	background-color: $alt-red;
}
td.disaster-bg {
	@extend td.na-bg;
}

%found-bg {
	background-color: $lighter-yellow;
}

.msg-good {
	color: darken(desaturate($green, 10%), 20%);
	border: 1px solid $light-green;
	background-color: $lighter-green;
	@extend %msg;

	.link-action {
		color: darken(desaturate($green, 10%), 20%);
	}

	.overlay-close-btn {
		color: $green;
	}

	ul {
		border-top-color: $light-green;
	}

	button {
		background-color: $white;
		color: darken(desaturate($green, 10%), 20%);
		border-color: $light-green;
	}
}

.msg-bad {
	color: darken(desaturate($red, 10%), 20%);
	border: 1px solid $light-red;
	background-color: $lighter-red;
	@extend %msg;

	.link-action {
		color: darken(desaturate($red, 10%), 20%);
	}

	.overlay-close-btn {
		color: $red;
	}

	ul {
		border-top-color: $light-red;
	}

	button {
		background-color: $white;
		color: darken(desaturate($red, 10%), 20%);
		border-color: $light-red;
	}
}

.msg-details {
	font-size: $font-form-size;
	text-align: left;

	.link-action {
		position: absolute;
		top: 7px;
		left: 15px;
		margin-bottom: 20px;
	}

	ul {
		//margin: 8px 0 0 0;
		border-top-width: 1px;
		//border-top-style: dashed;
		font-size: $font-msg-reset-size;

		li {
			margin: 0.4em 0 0.4em 0; 
		}
	}

}

.msg-buttons {
	text-align: right;
	margin: 10px 0 0 0;

	button {
		margin: 0 0 0 10px;
	}
}

%msg {
	font-size: $font-top-nav-size;
	padding: 7px 15px;
	margin: 0 0 12px 0;
	text-align: center;
	position: relative;
	@include border-radius(2px);

	.overlay-close-btn {
		font-size: $font-top-nav-size;
	}
}

.msg-bad-global {
	display: none;
	position: fixed;
	bottom: 0;
	z-index: 10000;
	width: 100%;
	padding: 7px 5px;
	text-align: center;
	background-color: $light-yellow;
	color: $font-color;
	border-top: 1px solid $yellow;
	@include box-shadow(-1px 0 2px 0 rgba(118,141,153,0.15));
}

.msg-global {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	max-width: 25%;
}

/* Close/Remove icon */

%close-icon {
	display: block;
	width: 18px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	color: $font-alt-color;
	font-size: $font-h2-size;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	@include opacity(0.5);
	@include transition(opacity .2s ease-out);

	&:hover {
		@include opacity(1);
		text-decoration: none;
	}

	&:active {
		@include opacity(1);
		text-decoration: none;
	}
}

.overlay-close-btn {
	position: absolute;
	z-index: 10000;
	top: 0;
	right: 0;
	@extend %close-icon;
	@include border-radius(0 0 0 2px);
}

a.overlay-close-btn {
	@extend .overlay-close-btn; 
}

.form-remove-btn {
	@extend %close-icon;
}

a.form-remove-btn {
	@extend .form-remove-btn;
}

.subfilter-disable-btn {
	width: 18px;
	height: 18px;
	line-height: 18px;
	display: inline-block;
	position: absolute;
	top: 0;
	right: -12px;
	color: $white;
	background-color: $ui-bg-selected-color;
	@extend %close-icon;
	@include border-radius(2px);
	@include opacity(1);

	&:hover {
		background-color: darken($ui-bg-selected-color, 5%);
	}

	&:active {
		background-color: darken($ui-bg-selected-color, 10%);
	}
}

/* Color picker */
.color-picker {
	height: 20px;

	div {
		display: inline-block;
		width: 18px;
		height: 18px;
		border: 1px solid $ui-bg-color;

		&:hover {
			cursor: pointer;
			@include box-shadow(inset 0 0 0 1px $ui-bg-color);
			border-color: $alt-dark-blue;
		}

		&:active {
			cursor: pointer;
			@include box-shadow(inset 0 0 0 2px $ui-bg-color);
		}
	}
}

.preloader {
	background: url(../img/preload.gif) 0 0;
	width: 32px;
	height: 32px;
	margin: 0 auto;
}

// IMAGE MAPS
$browsers: (
	chrome: url(../img/browser-sprite.png) no-repeat 0 0,
	ff: url(../img/browser-sprite.png) no-repeat -66px 0px,
	ie: url(../img/browser-sprite.png) no-repeat 0 -66px,
	opera: url(../img/browser-sprite.png) no-repeat -66px -66px,
	safari: url(../img/browser-sprite.png) no-repeat 0 -132px

);

@each $browser, $bgimage in $browsers {
    .browser-logo-#{$browser} {
        background: $bgimage;
        @extend %browser-logo-style;
    }
}

%browser-logo-style {
	width: 66px;
    height: 66px;
    margin: 0 auto;
    margin-bottom: 5px;
}

.browser-warning-container {
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	width: 766px;
	text-align: center;
	padding: 28px 28px 10px 28px;
	@extend .table-forms-container;

	h2 {
		text-align: left;
	}

	p {
		margin: 0.7em 0;
		text-align: left;
	}

	li {
		display: inline-block;
		margin: 25px 20px;
	}
}

.browser-warning-footer {
	border-top: 1px solid $table-border-color;
	margin: 25px 0 0 0;
	padding: 10px 0 0 0;
	text-align: center;
}
