$red: #e33734;
$light-red: #ed9898;
$lighter-red: #fccacf;
$alt-red: #fc5151;

$orange: #f24f1d;
$light-orange: #fca990;
$lighter-orange: #fccabb;

$yellow: #fad634;
$light-yellow: #fcf39d;
$lighter-yellow: #fcf7c2;

$green: #429e47;
$light-green: #a5d6a7;
$lighter-green: #c5e3c6;

$primary-blue: #0275b8;
$secondary-blue: #013e61;

$blue: #0298e3;
$light-blue: #81d2f7;
$lighter-blue: #b1e3fa;
$alt-blue: #e8f4fa;

$blue-grey: #768d99;
$light-blue-grey: #acbbc2;
$lighter-blue-grey: #ccd5d9;
$lightest-blue-grey: #ebeef0;

$grey: #737373;
$light-grey: #ebebeb;
$lighter-grey: #f2f2f2;

$indigo-black: #1f2c33;
$white: #fff;
$transparent: transparent;

// LINK COLORS
$link-color: #3071ab; // Blue
$link-hover-color: #3071ab;
$link-active-color: #3071ab;
$link-visited-color: #3071ab;

$link-topnav-color: #bfdced; // Nav Blue
$link-topnav-hover-color: #fff;
$link-topnav-active-color: #fff;
$link-topnav-visited-color: #bfdced;

$link-topsubnav-color: #bfced7; // SubNav Blue
$link-topsubnav-hover-color: #fff;
$link-topsubnav-active-color: #fff;
$link-topsubnav-visited-color: #bfced7;

$form-input-top-placeholder: #c5d8e5;
$form-input-top-focus-placeholder: #a9a9a9;

// TYPOGRAPHY
$font-stack: Arial, Tahoma, Verdana, sans-serif;

$font-body-size: 75%; // Default 1em/12px
$body-line-height: 1.4em;

$font-h1-size: 1.750em; // 21px
$h1-line-height: 1.2em;

$font-h2-size: 1.500em; // 18px
$h2-line-height: 1.2em;

$font-h3-size: 0.917em; // 11px

$font-h4-size: 1.333em; //16px
$h4-line-height: 1.2em;

$font-top-nav-size: 1.167em; // 14px

$font-form-size: 1em; // Default 1em/12px 

$font-transform: uppercase;


// MIXINS

// Fonts
@mixin font-body {
	font: $font-body-size $font-stack;
	line-height: $body-line-height;
}

@mixin font-h1 {
	font-size: $font-h1-size;
	line-height: $h1-line-height;
}

@mixin font-h2 {
	font-size: $font-h2-size;
	line-height: $h2-line-height;
}

@mixin font-h3 {
	font-size: $font-h3-size;
	text-transform: $font-transform;
	color: $blue-grey;
}

@mixin font-h4 {
	font-size: $font-h4-size;
	line-height: $h4-line-height;
}

@mixin font-form {
	font: $font-form-size $font-stack;
}

// Tables
@mixin list-table-header {
	font-size: $font-h3-size;   
	text-transform: $font-transform;
}

//CSS3
@mixin box-shadow($shadow) {
	-webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin transition($arguments...) {
	-webkit-transition: $arguments;
	-moz-transition: $arguments;
	transition: $arguments;
}

@mixin box-sizing($box-model) {
	-webkit-box-sizing: $box-model;
	-moz-box-sizing: $box-model;
	box-sizing: $box-model;
}

@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity=$opacity-ie);
}

@mixin placeholder($placehldr-color) {
	&::-webkit-input-placeholder {
		color: $placehldr-color;
	}

	&::-moz-placeholder {
		color: $placehldr-color;
	}

	&:-ms-input-placeholder {
		color: $placehldr-color;
	}
}

@mixin transform($rotate) {
	-webkit-transform: $rotate;
	-moz-transform: $rotate;
	-ms-transform: $rotate;
	transform: $rotate;
}
