@import '_reset.scss';
@import '_variables.scss';

/* ----------- Zabbix Styles ----------- */

html {
	position: relative;
	min-height: 100%;
}

body {
	@include font-body;
	color: $font-color;
	background: $body-bgcolor;
	margin-bottom: 90px;
	min-width: 950px;

	&.pop-up {
		min-width: initial;
		margin-bottom: 0;

		article {
			padding: 13px;
		}

		h1 {
			border-bottom: none;
			padding: 0;
		}
	}
}

fieldset {
	border: 1px solid $underline-color;
	padding: 0 10px 10px 15px;
}

legend {
	margin-left: -5px;
	padding: 0 5px 0 5px;
}

a {

	&:link {
		text-decoration: none;
		color: $link-color;
		@include transition(color .2s ease);
	}

	&:visited {
		text-decoration: none;
		color: $link-visited-color;
	}

	&:hover {
		text-decoration: underline;
		color: $link-hover-color;
	}

	&:active {
		text-decoration: underline;
		color: $link-active-color;
	}

	&.link-dotted {
		border-bottom: 1px dotted;

		&:hover {
			text-decoration: none;
		}
	}
}

h1 {
	@include font-h1;
	border-bottom: 1px solid $underline-color;
	padding: 0 0 5px 0;
}

h2 {
	@include font-h2;
}

h3 {
	@include font-h3;
}

h4 {
	@include font-h4;
}

sup {
	font-size: $font-h3-size;
	color: $font-alt-color;
}

/* Main Navigation */
header {
	margin: 0 0 12px 0;
}

nav {
background: $secondary-color;
margin: 0 0 13px 0;
}

.top-nav-container {
	height: 36px;
	line-height: 35px;
	background: $primary-color;
}

.top-nav {
	font-size: $font-top-nav-size;
	background: $primary-color;

	li {
		display: block;
		float: left;

		&.selected {
			position: relative;

			&:after{
				content:'';
				position: absolute;
				bottom: -1px;
				left: 0;
				right: 0;
				margin: 0 auto;
				width: 0; 
				height: 0;
				font-size: 0;
				line-height: 0;
				border-left: 7px solid transparent;
				border-right: 7px solid transparent;
				border-bottom: 7px solid $secondary-color;
			}

			a, a:hover {
				color: $link-topnav-hover-color;
			}
	    }
	}

	a {
		padding: 10px 13px 10px 13px;
		color: $link-topnav-color;
		text-decoration: none;

		&:hover {
			color: $link-topnav-hover-color;
		}
	}
}

ul.top-nav-icons {
	position: absolute;
	top: 0;
	right: 0;

	li {
		display: block;
		float: left;
	}

	a {
		display: block;
		width: 38px;
		height: 36px;
		@include opacity(0.75);
		@include transition(all .2s ease);

		&:hover {
			@include opacity(1);
		}
    }

	.top-nav-help {
		background: $primary-color url(../img/icon-sprite.png) no-repeat 7px -18px;
	}

	.top-nav-print {
		background: $primary-color url(../img/icon-sprite.png) no-repeat 7px -42px;
	}

	.top-nav-profile {
		background: $primary-color url(../img/icon-sprite.png) no-repeat 7px -66px;
	}

	.top-nav-signout {
		background: $primary-color url(../img/icon-sprite.png) no-repeat 7px -91px;
		width: 44px;
	}

	form {
		position: relative;
	}

	input {
		background: darken($primary-color, 10%);
		border: none;
		width: 169px;
		height: 24px;
		line-height: 24px;
		margin: 6px 13px 0 0;
		color: $font-white-color;
		padding-right: 24px;
		@include transition(color, background-color .2s ease);
		@include placeholder($form-input-top-placeholder);

		&:focus + .btn-search {
			@include opacity(1);
			@include placeholder($form-input-top-focus-placeholder);
		}
	}
}

.top-subnav-container {
	height: 36px;
	line-height: 36px;
	background: $secondary-color;
}

.top-subnav {
	background: $secondary-color;

	li {
		display: block;
		float: left;
		padding: 0 5px 0 5px;
	}
}

.top-subnav a {
	padding: 5px 8px 5px 8px;
	color: $link-topsubnav-color;

	&:hover {
		color: $link-topsubnav-hover-color;
		text-decoration: none;
	}

	&.selected {
		@include border-radius(2px);
		background: darken($secondary-color, 10%);
		color: $link-topsubnav-hover-color;
	}
}

.arrow-up {
	@extend %arrow;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid $link-alt-color;
}

.arrow-down {
	@extend %arrow;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid $link-alt-color;
}

.arrow-left {
	@extend %arrow;
	border-bottom: 4px solid transparent;
	border-top: 4px solid transparent;
	border-right: 4px solid $font-color;
}

.arrow-right {
	@extend %arrow;
	border-bottom: 4px solid transparent;
	border-top: 4px solid transparent;
	border-left: 4px solid $font-color;
}

%arrow {
	width: 0; 
	height: 0; 
	font-size: 0;
	line-height: 0;
	display: inline-block;
}

.header-title {
	position: relative;
	margin: 0 0 12px 0;

	ul {
		position: absolute;
		right: 0;
		bottom: 5px;

		li {
			display: block;
			float: left;
			padding: 0 0 0 14px;
		}
	}
}

/* Article */
article {
	padding: 0 13px 0 13px;
}

/* Obgect Group Navigation */
.object-group {
	margin: 0 0 11px 0;
	
	li {
		display: inline-block;
		margin: 0 14px 0 0;
	}

	.selected {
		font-weight: bold;
		background: #eee;
	}

	.arrow-right {
		border-left-color: $font-color;
	}
}

/* Footer */
footer {
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
	text-align: center;
	color: $font-alt-color;

	a {
		color: $link-alt-color;

		&:hover {
			color: $link-alt-hover-color;
		}
	}	
}

.logo {
	display: block;
	width: 94px;
	height: 25px;
	margin: 0 auto;
	margin-bottom: 10px;
	background: url(../img/icon-sprite.png) no-repeat 0 -360px;
}

/* Tables */
.list-table {
	width: 100%;
    background: $body-content-bgcolor;
    @include box-shadow(0 1px 1px 0 rgba(60,60,60,0.1));
	
	thead th {
		@include list-table-header;
		height: 100%;
		overflow: hidden;
	    padding: 7px 5px 7px 5px;
	    vertical-align: middle;
	    border-bottom: 2px solid $table-hordivider-color;
	    text-align: left;
	    color: $font-alt-color;
	    white-space: nowrap;

	    a {
	    	display: block;
	    	color: $link-alt-color;
	    	margin: -1em;
	    	padding: 1em;
	    	@include transition(background .2s ease);

	    	&:hover {
	    		color: $link-alt-hover-color;
	    		text-decoration: none;
	    		background: lighten($primary-color, 56%)
	    	}

	    	& span {
	    		margin: 0 0 0 4px;
	    	}	    
	    }
	}

	tbody tr {
		@include transition(background .2s ease);

		&:hover {
			background: lighten($primary-color, 56%);
		}

		&.row-selected {
			background: $table-tr-selected-color;
		}

		&:last-child td {
			border-bottom: none;
		}
	}

	td {
		padding: 8px 5px 8px 5px;
		vertical-align: middle;
		border-bottom: 1px solid $table-hordivider-color;
	}
}

.table-paging {
	text-align: center;
	background: $body-content-bgcolor;
	padding: 7px 5px 7px 5px;
	border-top: 1px solid $table-hordivider-color;
	@include box-shadow(0 1px 1px 0 rgba(60,60,60,0.1));

	a {
		@extend %paging-btn;
	}
}

.radio-switch {
	cursor: pointer;
	@extend %paging-btn;
}

%paging-btn {
	display: inline-block;
	margin-left: -1px;
	padding: 0 14px;
	min-height: 22px;
	line-height: 22px;
	border: 1px solid $form-input-color;
	text-decoration: none;
	color: $link-color;
	@include transition(background .2s ease);

	&:hover {
		color: $link-hover-color;
		background: lighten($primary-color, 55%);
	}

	&:active {
		color: $link-active-color;
		background: lighten($primary-color, 50%);
	}

	&:first-child {
		@include border-radius(2px 0 0 2px);
	}

	&:last-child {
		@include border-radius(0 2px 2px 0);
	}

	&.paging-selected {
		cursor: default;
		color: $font-white-color;
		border-color: $form-input-color;
		background: $form-input-color;
	}
}

.treeview-plus {
	display: inline-block;
	background: $body-content-bgcolor;
	border: 1px solid $form-input-color;
	cursor: pointer;
	width: 10px;
	height: 10px;
	line-height: 10px;
	text-align: center;
	font-size: $font-top-nav-size;
	font-weight: bold;
	@include border-radius(2px);

	&:hover {
		background: lighten($primary-color, 55%);
	}

	&:active {
		background: lighten($primary-color, 50%);
	}
}

.table {
	display: table;
}

.row {
	display: table-row;
}

.cell {
	display: table-cell;
}

/* Filters */
.filter-container {
	text-align: center;
}

.subfilter-enabled {
	display: inline-block;
	position: relative;
	padding: 0 9px 0 6px;
	height: 20px;
	line-height: 20px;
	background: $form-disabled-color;
	@include border-radius(2px);

	a {
		color: $font-color;
		text-decoration: none;
		cursor: default;
	}
}

/* Forms */
.table-forms-container {
	padding: 0 10px 10px 10px;
	background: $body-content-bgcolor;
	@include box-shadow(0 1px 1px 0 rgba(60,60,60,0.1));
}

.form-btns {
	//text-align: center;

	button {
		margin: 10px 6px 5px 6px;
	}
}

.table-forms {
	//margin: 0 auto;
	width: 100%;

	label {
		color: $font-color;
	}
	
	tfoot {

		.table-forms-td-right {
			padding-top: 5px;
		}

		button {
			margin: 0 14px 0 0;
		}
	}

	.table-forms-tr-new {
		background: $alert-green-bg-color;
	}

	.table-forms-td-left {
		padding: 5px 0 5px 0;
		text-align: right;
		vertical-align: top;
		width: 15%;
		white-space: nowrap;

		label {
			display: block;
			height: 24px;
			line-height: 24px;
		}
	}

	.table-forms-td-right {
		padding: 5px 0 5px 10px;
		vertical-align: middle;
		width: 85%;

		td {
			padding: 5px 5px 5px 0;
			vertical-align: top;
			position: relative;

			 &.td-drag-icon {
			 	padding: 5px 0px 5px 0;
			 }

			.btn-grey {
				margin: 5px 0 5px 0;
				display: block;
			}
		}
	}
}

.table-forms-separator {
	margin: 5px 0 0 0;
	border: 1px solid $table-hordivider-color;
}

.margin-top {
	margin: 2px 0 0 0;

	input[type="checkbox"] {
		margin: 8px 0 0 0;
	}
}

.list-check-radio {

	li {
		padding: 0 0 7px 0;
	}

	label {
		padding: 0 0 0 15px;
		display: inline-block;
		text-indent: -15px;
		max-width: 600px;
	}
}

input {
	
	&[type="text"] {
		@extend %form-input-height-padding;
		@extend %form-input-style;
	}

	&[type="password"] {
		@extend %form-input-height-padding;
		@extend %form-input-style;
	}

	&[type="search"] {
		@extend %form-input-height-padding;
		@extend %form-input-style;
	}

	&[type="number"] {
		@extend %form-input-height-padding;
		@extend %form-input-style;
	}

	&[type="email"] {
		@extend %form-input-height-padding;
		@extend %form-input-style;
	}

	&[type="checkbox"] {
		@extend %form-check-radio-style;
	}

	&[type="radio"] {
		@extend %form-check-radio-style;
	}
}

textarea {
	height: 12px;
	line-height: 12px;
	padding: 5px 0 0 5px;
	overflow: auto;
	resize: vertical;
	@extend %form-input-style;
}

select {
	height: 24px;
	line-height: 24px;
	@extend %form-input-style;

	&.select-multiple {
		height: auto;
		padding: 5px;
	}
}

%form-check-radio-style {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: bottom;
	position: relative;
	top: -2px;
	overflow: hidden;
	width: 13px;
	height: 13px;
	background: none;
}

%form-input-height-padding {
	height: 22px;
	line-height: 22px;
	padding: 0 0 0 5px;
}

%form-input-style {
	@include border-radius(2px);
	border: 1px solid $form-input-color;
	background: $body-content-bgcolor;
	@include font-form;
	@include transition(border-color .2s ease);

	&:focus {
		border-color: $primary-color;
	}
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button {
	@include border-radius(2px);
	background-color: $primary-color;
	color: $font-white-color;
	font-family: $font-stack;
	border: 1px solid $primary-color;
	padding: 0 11px;
	min-height: 24px;
	vertical-align: middle;
	cursor: pointer;
	@include transition(border-color, background-color .2s ease);

	&:hover {
		@extend %button-hover;
	}

	&:active {
		@extend %button-active;
	}

	&.btn-alt {
		@extend button;
		background: $form-transparent-color;
		color: $primary-color;

		&:hover {
			@extend %button-hover;
		}

		&:active {
			@extend %button-active;
		}
	}

	&.btn-conf {
		background: $primary-color url(../img/icon-sprite.png) no-repeat -1px -145px;
		@extend %button-icon-size;
		
		&:hover {
			@extend %button-hover;
		}

		&:active {
			@extend %button-active;
		}
	}

	&.btn-max {
		background: $primary-color url(../img/icon-sprite.png) no-repeat -1px -169px;
		@extend %button-icon-size;
		
		&:hover {
			@extend %button-hover;
		}

		&:active {
			@extend %button-active;
		}
	}

	&.btn-min {
		background: $primary-color url(../img/icon-sprite.png) no-repeat -1px -193px;
		@extend %button-icon-size;
		
		&:hover {
			@extend %button-hover;
		}

		&:active {
			@extend %button-active;
		}
	}


	&.btn-search {
		background: darken($primary-color, 10%) url(../img/icon-sprite.png) no-repeat 1px -1px;
		position: absolute;
		border: none;
		top: 7px;
		right: 14px;
		width: 24px;
		min-height: 22px;
		padding: 0;
		@include opacity(0.75);
		@include transition(all .2s ease);
		
		&:hover {
			@extend %btn-search-hover-focus;
		}

		&:active {
			@extend %btn-search-hover-focus;
		}

		&:focus {
			@extend %btn-search-hover-focus;
		}
	}

    &.btn-widget-action {
    	border: 0;
    	background: $form-transparent-color url(../img/icon-sprite.png) no-repeat -1px -265px;
		@extend %button-icon-size;
		@include opacity(0.75);
		@include transition(all .2s ease);

		&:hover {
			@extend %btn-wigdet-hover-active;
		}

		&:active {
			@extend %btn-wigdet-hover-active;
		}
    }

    &.btn-wigdet-collapse {
    	border: 0;
    	background: $form-transparent-color url(../img/icon-sprite.png) no-repeat 1px -217px;
		@extend %button-icon-size;
		@include opacity(0.75);

		&:hover {
			@extend %btn-wigdet-hover-active;
		}

		&:active {
			@extend %btn-wigdet-hover-active;
		}
    }

    &.btn-wigdet-expand {
    	border: 0;
    	background: $form-transparent-color url(../img/icon-sprite.png) no-repeat 1px -241px;
		@extend %button-icon-size;
		@include opacity(0.75);

		&:hover {
			@extend %btn-wigdet-hover-active;
		}

		&:active {
			@extend %btn-wigdet-hover-active;
		}
    } 

	&.btn-grey {
		margin-top: -2px;
		background: $form-transparent-color;
		color: $font-color;
		border-color: $form-input-color;

		&:hover {
			color: $font-color;
			background: lighten($primary-color, 55%);
			border-color: $form-input-color;
		}

		&:active {
			color: $font-color;
			background: lighten($primary-color, 50%);
		}
	}

	&.filter-trigger {
		@include border-radius(2px 2px 0 0);
		min-width: 94px;

		&.filter-active {
			background: $body-content-bgcolor;
			border-top-color: $underline-color;
			border-left-color: $underline-color;
			border-right-color: $underline-color;
			border-bottom-color: $body-content-bgcolor;
			color: $link-color;
		}

		.arrow-up {
			border-bottom-color: $font-white-color;
		}

		.arrow-down {
			border-top-color: $font-white-color;
		}
	}
}

%button-hover {
	background-color: darken($primary-color, 5%);
	border-color: darken($primary-color, 5%);
	color: $font-white-color;
}

%button-active {
	background-color: $secondary-color;
	border-color: $secondary-color;
	color: $font-white-color;
}

%button-icon-size {
	width: 24px;
	height: 24px;
	padding: 0;
}

%button-disabled {
	background: $form-transparent-color;
	color: $form-disabled-color;
	border-color: $form-disabled-color;
	cursor: default;
}

%btn-search-hover-focus {
	background-color: darken($primary-color, 10%);
	@include opacity(1);
}

%btn-wigdet-hover-active {
	background-color: $form-transparent-color;
	@include opacity(1);
}

button[disabled] {
	@extend %button-disabled;

	&:hover {
		@extend %button-disabled;
	}
}

.action-buttons {
	margin: 15px 0 0 0;

	button {
		margin: 0 14px 0 0;
	}
}

.tabs-nav-container {
	height: 36px;
	line-height: 36px;
	margin: 0 0 15px 0;
}

.ui-tabs-nav {
	height: 36px;
	line-height: 36px;
	margin: 0 -10px 15px -10px;
	border-bottom: 1px solid $table-hordivider-color;
	@include box-shadow(inset 0 -1px 1px 0 rgba(60,60,60,0.05));

	li {
		display: inline-block;

		a {
			padding: 11px 13px 11px 13px;
		} 

		&.ui-tabs-active:first-child {
			border-left: 0;
		}

		&.ui-tabs-active {
			border-left: 1px solid $table-hordivider-color;
			border-right: 1px solid $table-hordivider-color;
			a {
				padding: 8px 13px 11px 13px;
				font-weight: bold;
				background: $body-content-bgcolor;
				color: $font-color;
				text-decoration: none;
				cursor: default;
				border-top: 3px solid $primary-color;
				border-bottom: 3px solid $body-content-bgcolor;
			}
		}
	}
}

.input-help-wrapper {
	position: relative;
	display: inline-block;
}

.help-icon {
	background: url(../img/icon-sprite.png) no-repeat 0 -312px;
	@extend %button-icon-size;
	display: block;
	position: absolute;
	top: 0;
	right: -26px;

	&:hover {
		background: url(../img/icon-sprite.png) no-repeat 0 -336px;
		cursor: pointer;
	}
}

.drag-icon {
	@extend %button-icon-size;
	margin-left: -9px;
	cursor: move;
	background: url(../img/icon-sprite.png) no-repeat 0 -288px;
}

/* Sign in */
.signin-container {
	background: $body-content-bgcolor;
	width: 322px;
	margin: 0 auto;
	padding: 20px 28px 0 28px;
	@include box-shadow(0 1px 1px 0 rgba(60,60,60,0.1));

	h1 {
		border: none;
		margin: 0 0 17px 0;
		padding: 0;
	}

	ul li {
		padding: 0 0 22px 0;
		font-size: $font-top-nav-size;

		&.sign-in-txt {
			text-align: center;
		}
	}

	label {                                                                                                                                                                                                                                                                                                              
		display: block;
		margin: 0 0 2px 0;
	}

	input {

		&[type="text"] {
			@extend %signin-input;
		}

		&[type="password"] {
			@extend %signin-input;
		}
	}

	button {
		font-size: $font-form-size;
		min-height: 38px;
		line-height: 38px;
		width: 100%;
	}
}

.signin-logo {
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 25px;
	width: 114px;
	height: 30px;
	background: url(../img/icon-sprite.png) no-repeat 0 -391px;
}

.signin-links {
	width: 100%;
	text-align: center;
	color: $font-alt-color;
	margin: 22px 0 0 0;
}

%signin-input {
	height: 38px;
	line-height: 38px;
	width: 100%;
	@include box-sizing(border-box);
}

/* Dashboard */
.dashbrd-widget {
	min-width: 250px;
	margin: 0 10px 10px 0;
	background: $body-content-bgcolor;
	@include box-shadow(0 1px 1px 0 rgba(60,60,60,0.1));

	.list-table {
		@include box-shadow(none);

		th {
			@extend %dashbrd-widget-td;
		}
		
		td {
			@extend %dashbrd-widget-td;
		}

		tbody tr {

			&.nothing-to-show {
				@extend %nothing-to-show;
			}

			&:last-child td {
				border-bottom: 1px solid $table-hordivider-color;
			}
		}
	}
}

%nothing-to-show {
	text-align: center;
	color: $font-alt-color;
	@include transition(0s);

	td:hover {
		background: $body-content-bgcolor;
	}
}

%dashbrd-widget-td {
	padding-right: 10px;
	padding-left: 10px;
}

.dashbrd-widget-head {
	cursor: move;
	position: relative;
	padding: 8px 10px 8px 10px;

	ul {
		position: absolute;
		top: 5px;
		right: 5px;

		li {
			display: block;
			float: left;
			padding: 0;
		}
	}
}

.dashbrd-widget-foot {
	text-align: right;
	color: $font-alt-color;
	margin: 0 10px 0 10px;

	li {
		display: inline-block;
		padding: 8px 0 8px 13px
	}
} 

/* Action Menus, Pop-up Menus */
.action-menu {
	position: absolute;
	z-index: 1000;
	padding: 7px 15px 7px 15px;
	min-width: 166px;
	color: $font-alt-color;
	background: $body-content-bgcolor;
	border: 1px solid $underline-color;
	@include box-shadow(0 5px 20px 0 rgba(60,60,60,0.3));

	li {
		height: 24px;
		line-height: 24px;

		&:first-child h3 {
			border-top: 0;
		}

		a {
			display: block;
			height: 24px;
			line-height: 24px;
			text-decoration: none;
			padding: 0 15px 0 15px;
			margin: 0 -15px 0 -15px;
			position: relative;
			@include transition(background .2s ease);

			&:hover {
				background: lighten($primary-color, 55%);
			}

			&:active {
				background: lighten($primary-color, 50%);
			}

			span {
				position: absolute;
				right: 10px;
				top: 8px;
			}
		}

	}

	h3 {
		height: 24px;
		line-height: 24px;
		border-top: 1px solid $body-bgcolor;
		padding: 0 15px 0 15px;
		margin: 0 -15px 0 -15px;
	}

	.table-forms-td-left {
		text-align: left;
		width: auto;
	}

	.table-forms-td-right {
		width: auto;

		//td {
		//	vertical-align: bottom;
		//}
	}

	tfoot {
		text-align: right;

		button {
			margin: 4px 0 0 14px;
		}
	}

	fieldset {
		margin-left: -10px;
	}

	.dashbrd-widget-head {
		color: $font-color;
		margin: -7px -15px 6px -15px;
		padding: 12px 10px 8px 15px;
		//background: #eee;
	}
}

/* Alerts */
.green {
	color: $alert-green-color;

	&:hover {
		@extend .green;
	}
}

.red {
	color: $alert-red-color;

	&:hover {
		@extend .red;
	}
}

.orange {
	color: $alert-orange-color;

	&:hover {
		@extend .orange;
	}
}

.grey {
	color: $alert-grey-color;

	&:hover {
		@extend .grey;
	}
}

.status-green {
	@extend .green;
	border: 1px solid $alert-green-border-color;
	background: $alert-green-bg-color;
	@extend %status;
}

.status-red {
	@extend .red;
	border: 1px solid $alert-red-border-color;
	background: $alert-red-bg-color;
	@extend %status;
}

.status-grey {
	@extend .grey;
	border: 1px solid $alert-grey-border-color;
	background: $alert-grey-bg-color;
	@extend %status;
}

%status {
	padding: 2px 4px;
	font-size: $font-h3-size;
	text-transform: $font-transform;
	text-align: center;
	@include border-radius(2px); 
}

.green-bg {
	background: $alert-green-bg-color;
}

.red-bg {
	background: $alert-red-bg-color;
}

.info-bg {
	background: $alert-info-bg-color;
}

.average-bg {
	background: $alert-average-bg-color;
}

.warning-bg {
	background: $alert-warning-bg-color;
}

.msg-good {
	@extend .green;
	border: 1px solid $alert-green-border-color;
	background: $alert-green-bg-color;
	@extend %msg;
}

.msg-bad {
	@extend .red;
	border: 1px solid $alert-red-border-color;
	background: $alert-red-bg-color;
	@extend %msg;
}

%msg {
	padding: 7px 12px;
	text-align: center;
	position: relative;
	@include border-radius(2px);
}

/* Close/Remove icon */
.msg-close-btn {
	position: absolute;
	right: 0;
	width: 24px;
	height: 24px;
	line-height: 24px;
	@extend %close-icon;

	&:hover {
		cursor: pointer;
	}
}

.form-remove-btn {
	display: block;
	width: 24px;
	height: 24px;
	line-height: 24px;
	//position: absolute;
	//right: 0;
	@extend %close-icon;
	@include transition(background .2s ease);

	&:hover {
		background: lighten($primary-color, 55%);
		text-decoration: none;
	}

	&:active {
		background: lighten($primary-color, 50%);
	}
}

.subfilter-disable-btn {
	width: 20px;
	height: 20px;
	display: inline-block;
	position: absolute;
	top: 0;
	right: -16px;
	color: $font-white-color;
	background: $form-disabled-color;
	@extend %close-icon;
	@include transition(background .2s ease);

	&:hover {
		cursor: pointer;
		background: darken($form-disabled-color, 5%);
	}

	&:active {
		cursor: pointer;
		background: darken($form-disabled-color, 10%);
	}
}

%close-icon {
	text-align: center;
	font-size: $font-h2-size;
	font-weight: bold;
	text-decoration: none;
	@include border-radius(2px);
}
