@mixin box-shadow($shadow...) {
	-webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin transition($arguments...) {
	-webkit-transition: $arguments;
	-moz-transition: $arguments;
	transition: $arguments;
}

@mixin box-sizing($box-model) {
	-webkit-box-sizing: $box-model;
	-moz-box-sizing: $box-model;
	box-sizing: $box-model;
}

@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity=$opacity-ie);
}

@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	transform: $transforms;
}

@mixin rotate($rotate: 0) {
	-webkit-transform: rotate($rotate +deg);
	-moz-transform: rotate($rotate +deg);
	-ms-transform: rotate($rotate +deg);
	transform: rotate($rotate +deg);
}

@mixin btn-hover-active($font-color, $background) {
	color: $font-color;
	background-color: darken($background, 5%);
	border-color: darken($background, 5%);
}

@function h4-widget-color($font-color) {
  @if (lightness($font-color) < 50) {
    @return lighten($font-color, 15%);
  } @else {
    @return darken($font-color, 8%);
  }
}
