// Widget configuration.

form.dashboard-widget-honeycomb {
	.fields-group {
		&.fields-group-primary-label,
		&.fields-group-secondary-label {
			display: grid;
			grid-template-columns: minmax(85px, max-content) 1fr max-content minmax(110px, max-content);
			align-items: center;
			column-gap: 10px;
			row-gap: 5px;

			.form-field {
				line-height: 24px;
			}

			.label-size {
				margin-right: 5px;
			}

			hr {
				grid-column: 1 / -1;
				margin: 0;
				width: 100%;
				border: solid $table-border-color;
				border-width: 1px 0 0 0;
			}
		}

		&.fields-group-primary-label,
		&.fields-group-secondary-label {
			.form-field:nth-child(1) {
				grid-column: 1 / -1;
			}

			.field-fluid {
				grid-column: 2 / -1;
			}

			.label-units-show {
				display: flex;

				label[for='primary_label_units'],
				label[for='secondary_label_units'] {
					width: 100%;
				}
			}
		}

		.form-row-interpolation {
			margin-bottom: 10px;
		}
	}
}

// Widget view.

div.dashboard-widget-honeycomb {
	overflow-x: hidden;

	.dashboard-grid-widget-body {
		svg {
			display: block;
		}
	}
}
