// Widget configuration.

form.dashboard-widget-honeycomb {
	#tags_table_item_tags,
	#tags_table_host_tags {
		.form_row {
			td:nth-child(3) {
				input[type="text"] {
					width: 159px !important;
				}
			}
		}
	}

	.fields-group {
		&.fields-group-primary-label,
		&.fields-group-secondary-label {
			display: grid;
			grid-template-columns: minmax(25px, max-content) 1fr minmax(70px, max-content) 15px minmax(90px, max-content) 38px;
			align-items: center;
			column-gap: 10px;
			row-gap: 5px;

			.form-field {
				line-height: 24px;
			}

			.custom_size_input {
				margin-right: 5px;
			}
		}

		&.fields-group-primary-label,
		&.fields-group-secondary-label {
			.form-field:nth-child(1) {
				grid-column: 1 / -1;
			}
		}

		.form-row-interpolation {
			margin-bottom: 10px;
		}
	}
}

// Widget view.

div.dashboard-widget-honeycomb {
	overflow-x: hidden;

	.dashboard-grid-widget-body {
		svg {
			display: block;
		}
	}
}
