// Widget view.

div.dashboard-widget-hostavail {
	.host-avail-widget {
		tbody {
			tr {
				th {
					min-width: 100px;
					width: 15%;
				}

				td {
					min-width: 95px;
				}
			}

			td {
				color: $font-color;
			}
		}

		.host-avail-true {
			color: $font-color;
			background: $host-avail-true-bg-color;
		}

		.host-avail-false {
			color: $font-color;
			background: $host-avail-false-bg-color;
		}

		.host-avail-mixed {
			color: $font-color;
			background: $host-avail-mixed-bg-color;
		}

		.host-avail-unknown {
			color: $font-color;
			background: $host-avail-unknown-bg-color;
		}

		.host-avail-total {
			color: $font-color;
			background: $host-avail-total-bg-color;
		}

		th:last-child,
		td:last-child {
			padding-right: 5px;
		}

		td:not(:first-child) {
			border-left: 1px dotted $table-border-color;
		}
	}
}

// Modifications by themes.

@if $theme-name == 'hc-dark' or $theme-name == 'hc-light' {
	div.dashboard-widget-hostavail {
		.host-avail-widget {
			td:not(:first-child) {
				border-left: 1px solid $ui-border-color;
			}

			th,
			div {
				background: transparent;

				&:has(.host-avail-true),
				&:has(.host-avail-false),
				&:has(.host-avail-mixed),
				&:has(.host-avail-unknown),
				&:has(.host-avail-total) {
					background: transparent;
				}
			}
		}
	}
}
