// Widget configuration.

form.dashboard-widget-svggraph {
	.svg-graph-preview,
	.graph-widget-config-tabs {
		grid-column: 1 / -1;
	}

	.svg-graph-preview {
		position: relative;
		min-width: 1110px;
		height: 300px;

		> div {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			margin: 0 -10px;
			height: 300px;
			background: $ui-bg-color;
			z-index: 3;
		}
	}

	.graph-widget-config-tabs {
		> .tabs-nav {
			border-top: 1px solid $ui-border-color;
		}

		.ui-tabs-nav {
			position: sticky;
			top: 0;
			background: $header-bg-color;
			z-index: 3;
		}
	}

	.table-forms-container {
		margin: -10px 0 0 0;
		border: 1px solid $ui-border-color;
		border-top: none;
	}

	.table-forms-separator {
		padding: 0;
	}

	.dataset-head,
	.dataset-body.list-accordion-item-body {
		display: contents;
	}

	.dataset-head {
		.multiselect {
			width: 100%;
		}
	}

	.dataset-body {
		.form-grid {
			padding-top: 0;

			&:first-child {
				grid-column-start: 4;
			}
		}
	}

	.drag-icon {
		position: absolute;
		top: 5px;
		left: -14px;
	}

	.td-drag-icon {
		.drag-icon {
			top: 0;
			left: 9px;
			margin-right: 5px;
		}
	}

	.dataset-actions {
		text-align: right;

		.btn-remove {
			top: 0;
			right: 0;
			vertical-align: baseline;
		}
	}

	.items-list {
		grid-column: 3 / span 3;
	}

	.list-vertical-accordion {
		position: relative;
		margin-left: 15px;
		padding-left: 0;

		&.sortable {
			overflow: visible;
			margin-top: -5px;
			margin-bottom: 5px;
		}
	}

	.list-accordion-item {
		position: relative;
		display: grid;
		grid-template-columns: 100px 24px 24px 1fr 1fr 24px;
		grid-gap: 10px;
		align-items: start;
		padding: 5px 0;

		> label {
			@extend %cursor-drag;
			overflow: hidden;
			line-height: 24px;
			text-overflow: ellipsis;
		}

		&.list-accordion-item-opened {
			&::before {
				content: ' ';
				position: absolute;
				top: 24px;
				bottom: 0;
				left: 121px;
				width: 2px;
				background: $ui-border-color;
			}
		}

		&.list-accordion-item-closed {
			.multiselect {
				height: 24px;
				overflow: hidden;
			}

			.dataset-head {
				.table-forms-separator {
					border: none;
				}

				.single-item-table {
					thead,
					tfoot,
					.table-col-handle,
					.table-col-action {
						display: none;
					}
				}
			}

			.dataset-body {
				display: none;
			}

			.items-list {
				padding-left: 0;
			}
		}
	}

	.single-item-table {
		.table-col-handle { width: 26px; }
		.table-col-no { width: 20px; }
		.table-col-color { width: 24px; }
		.table-col-action { width: 55px; }

		th {
			padding: 5px 5px 5px 0;
		}

		.single-item-table-row td {
			padding: 0 5px 5px 0;
		}

		.single-item-table-row:last-child td {
			padding-bottom: 0;
		}

		tfoot td {
			padding: 5px 5px 5px 10px;
		}
	}

	.overrides-list {
		position: relative;
		margin: -5px 0 -5px 15px;
	}

	.overrides-list-item {
		position: relative;
		display: grid;
		grid-template-columns: 1fr 1fr 24px;
		grid-gap: 5px 10px;
		align-items: start;
		padding: 5px 0;

		&.sortable {
			overflow: visible;
			margin-top: -5px;
			margin-bottom: -5px;
		}

		.multiselect {
			width: 100%;
		}

		.btn-remove {
			right: 0;
			top: 0;
			vertical-align: baseline;
		}
	}

	.overrides-foot {
		padding: 5px 0;
	}

	.overrides-options-list {
		grid-column: 1 / -1;
		padding: 0 24px 8px 0;
		border-bottom: 1px solid $table-border-color;
		white-space: normal;

		> li {
			display: inline-block;
			margin-right: 5px;
			margin-bottom: 2px;
			line-height: 22px;
			white-space: nowrap;

			.color-picker {
				line-height: 22px;
			}

			> div {
				position: relative;
				padding: 1px 18px 1px 1px;
				background-color: $ui-bg-selected-color;
				border-radius: 2px;

				> span {
					color: lighten($ui-bg-selected-color, 100%);
					padding-left: 8px;
					line-height: 22px;
				}

				> input[type=text] {
					border-style: none;
					line-height: 22px;
					min-height: 22px;
					width: 85px;
				}

				> .subfilter-disable-btn {
					position: absolute;
					right: 0;
					top: 0;
					min-height: 24px;
				}
			}
		}

		.btn-alt {
			.plus-icon {
				margin-right: 0;
			}
		}

		.color-picker {
			.color-picker-preview {
				margin: 1px;
				width: 20px;
				min-height: 20px;
				background-position: -323px -411px;
			}
		}
	}

	.no-items-message {
		display: none;
		line-height: 24px;
		color: $font-alt-color;
	}
}

[theme="hc-dark"] form.dashboard-widget-svggraph {
	.overrides-options-list {
		> li > div {
			border: 1px solid $ui-tab-bg-selected-color;
			background-color: transparent !important;

			> .subfilter-disable-btn {
				border: none !important;
				top: 0;
			}
		}
	}
}

[theme="hc-light"] form.dashboard-widget-svggraph {
	.overrides-options-list {
		> li > div {
			> .subfilter-disable-btn {
				border: none !important;
				top: 0;
			}
		}
	}
}

// Widget view.

div.dashboard-widget-svggraph {
	overflow-x: hidden;
}
