// Widget view.

div.dashboard-widget-navtree {
	.navtree {
		$max_depth: 10;

		@keyframes fadein {
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		}

		.tree {
			.tree-list {
				.margin-lvl {
					display: inline-block;
				}

				&.root > .tree-item > .tree-row > .content > .margin-lvl {
					width: 15px;
				}

				> .tree-item.ui-sortable-helper .content {
					padding-left: 5px;
				}

				@for $i from 0 through $max_depth {
					&[data-depth="#{$i}"] > .tree-item {
						> .tree-row > .content > .margin-lvl {
							width: $i * 15px + 5px;
						}
						&.ui-sortable-helper {
							margin-left: ($i * 15px + 10px);

							> .tree-row > .content > .margin-lvl {
								display: none;
							}
						}
					}
				}

				&[data-depth] .ui-sortable-helper {
					> .tree-row > .content > .margin-lvl {
						width: 15px;
					}

					@for $i from 1 through $max_depth - 1 {
						$class_tree_list: '.tree-list';
						@for $j from 1 through $i {
							@if $j != 1 {
								$class_tree_list: $class_tree_list + ' .tree-list';
							}
						}
						#{$class_tree_list} > li > .tree-row > .content > .margin-lvl {
							width: $i * 15px + 15px;
						}
					}
				}
			}

			.tree-item {
				.tree-row {
					display: flex;
					align-items: center;
					justify-content: space-between;
					height: 20px;
					padding: 8px 0;
					border-bottom: 1px solid $table-border-color;

					&:hover {
						background-color: $ui-hover-bg-color;
					}

					.content {
						position: relative;

						.arrow {
							display: inline-block;
							width: 16px;
							margin-right: 2px;

							> .treeview {
								display: none;
							}
						}

						> .drag-icon {
							min-width: 24px;
						}

						> .item-name {
							white-space: nowrap;
							overflow: hidden;
							margin-right: 5px;
							text-overflow: ellipsis;
							line-height: 1.5;
						}
					}

					.problem-icon-list {
						padding-left: 10px;
						margin-right: 5px;
					}

					.tools {
						padding-left: 10px;
						margin-right: 5px;
						width: 97px;
					}
				}

				&.is-parent {
					> .tree-row {
						> .content {
							> .arrow {
								> .treeview {
									display: block;
								}
							}
						}
					}
				}

				&.selected {
					> .tree-row {
						@extend %found-bg;

						&:hover {
							@extend %found-bg;
						}
					}
				}

				&.no-map,
				&.inaccessible {
					> .tree-row {
						> .content {
							> .item-name {
								color: $form-border-color;
							}
						}
					}
				}

				&.ui-sortable-helper {
					background: $ui-sortable-helper-background-color;
					border-color: $ui-sortable-helper-border-color;
					border-width: 1px;
					border-style: solid;

					.tools {
						display: none;
					}
				}

				&.opened > ul {
					display: block;
				}

				&.closed > ul {
					display: none;
				}

				.sortable-error {
					border-color: transparent;
					background: rgba($red, .2);
				}
			}

			.highlighted-parent > .tree-row {
				background: $ui-highlighted-parent-background-color;
			}

			.placeholder {
				background-color: $ui-placeholder-background-color;
				animation: fadein .5s;
			}
		}
	}

	.treeview {
		@extend %button-size-small;

		display: inline-block;
		padding: 0;
		margin-right: 2px;
		cursor: pointer;
		line-height: 16px;
		text-align: center;
		border: 0;
		background-color: transparent;

		.arrow-right {
			border-left-color: $font-alt-color;
		}

		.arrow-down {
			position: relative;
			top: -1px;
			border-top-color: $font-alt-color;
		}

		&:hover,
		&:focus {
			.arrow-right {
				border-left-color: $link-color;
			}

			.arrow-down {
				border-top-color: $link-color;
			}
		}
	}
}
