// Widget configuration.

form.dashboard-widget-itemhistory {
	#list_columns {
		.overflow-ellipsis {
			max-width: 250px;
		}

		.inaccessible {
			color: $form-disabled-font-color;
		}
	}
}

// Widget view.
$bar-gauge-height: 20px;

div.dashboard-widget-itemhistory {
	td {
		height: 20px;
		line-height: $bar-gauge-height;
		vertical-align: middle;
	}

	z-bar-gauge {
		min-width: 64px;
		height: $bar-gauge-height;
	}

	.image-data-preview {
		display: block;
		width: 100px;
		height: 56px;
		overflow: hidden;
		background: $ui-bg-color var(--image-url) no-repeat top center;
		background-size: cover;
		border: 1px solid $ui-border-color;
		border-radius: 3px;
		text-indent: -9999px;
	}
}
