// Widget configuration.

form.dashboard-widget-plaintext {
	#list_columns {
		.overflow-ellipsis {
			max-width: 250px;
		}

		.inaccessible {
			color: $form-disabled-font-color;
		}
	}
}

// Widget view.
$bar-gauge-height: 20px;

div.dashboard-widget-plaintext {
	td {
		line-height: $bar-gauge-height;
		height: 20px;
	}

	z-bar-gauge {
		min-width: 64px;
		height: $bar-gauge-height;
	}
}
