// Widget view.

div.dashboard-widget-hostavail {
	.host-avail-widget {
		thead {
			th.host-avail-total {
				border-top: 1px solid $table-border-color;
			}
		}

		tbody {
			tr {
				th {
					color: $font-alt-color;
					min-width: 100px;
					width: 15%;
				}

				td {
					color: $font-color;
					min-width: 95px;
				}
			}
		}

		.host-avail-true {
			color: $font-color;
			background: $host-avail-true-bg-color;
		}

		.host-avail-false {
			color: $font-color;
			background: $host-avail-false-bg-color;
		}

		.host-avail-mixed {
			color: $font-color;
			background: $host-avail-mixed-bg-color;
		}

		.host-avail-unknown {
			color: $font-color;
			background: $host-avail-unknown-bg-color;
		}

		.host-avail-total {
			color: $font-color;
			background: $host-avail-total-bg-color;
		}

		th:last-child,
		td:last-child {
			padding-right: 5px;
		}

		td:not(:first-child) {
			border-left: 1px dotted $table-border-color;
		}
	}
}

// Modifications by themes.

@if $theme-name == 'hc-dark' or $theme-name == 'hc-light' {
	div.dashboard-widget-hostavail {
		.host-avail-widget {
			thead {
				th {
					color: $font-color;

					&.host-avail-total {
						border-top: none;
					}
				}
			}

			tbody {
				tr {
					th {
						color: $font-color;
					}
				}
			}

			td:not(:first-child) {
				border-left: 1px solid $ui-border-color;
			}

			th,
			div {
				&.host-avail-true,
				&.host-avail-false,
				&.host-avail-mixed,
				&.host-avail-unknown,
				&.host-avail-total {
					background: transparent;
				}
			}
		}
	}
}
