$red: #e33734 !default;
$lighter-red: #e3c5c5 !default;

$orange: #f24f1d !default;
$gold: #f3a914 !default;
$yellow: #fad634 !default;
$dark-yellow: #e99003 !default;
$lighter-yellow: #fcf7c2 !default;

$green: #429e47 !default;
$lighter-green: #c5e3c6 !default;

$blue: #1e87e3 !default;

$alt-red: #e45959;
$alt-orange: #ffa059;
$alt-dark-orange: #e97659;
$alt-yellow: #ffc859;
$alt-green: #59db8f;
$alt-light-green: #86cc89;
$alt-dark-blue: #7499ff;
$alt-blue-grey: #97aab3;

$teal: #0f998b;

$white: #ffffff !default;
$teal: #0f998b;

$accent-color: $orange !default;
$negative-color: $red !default;
$positive-color: $green !default;
$warning-color: $dark-yellow !default;

$disabled-bg-color: #ebebeb !default;
$disabled-item-color: #768d99 !default;
$disabled-item-bg-color: #ccd5d9 !default;

$error: #cc0000 !default;
$error-focus: #ad1f1f !default;

$progress-complete-color: #0275b8 !default;
$progress-current-color: #768d99 !default;
$progress-error-color: $negative-color !default;
$progress-default-color: #ccd5d9 !default;

// Layout.
$header-bg-color: #ffffff !default;

$sidebar-color: #8cb2ca !default;
$sidebar-hover-color: #ffffff !default;
$sidebar-bg-color: #0a466a !default;

$sidebar-mode-icon-color: $sidebar-color !default;
$sidebar-mode-icon-hover-color: $sidebar-hover-color !default;

$sidebar-toggle-color: #4298ca !default;
$sidebar-toggle-hover-color: #0275b8 !default;

$sidebar-scrollbar-track-color: rgba(#87d1ff, .55) !default;
$sidebar-scrollbar-thumb-color: rgba(#87d1ff, .85) !default;

$scrollbar-track-color: rgba(#acbbc2, .55) !default;
$scrollbar-thumb-color: rgba(#878787, .85) !default;
$scrollbar-thumb-color-darken: 5% !default;

// Main.
$font-color: #1f2c33 !default;
$font-light-color: #acbbc2 !default;
$font-selected-color: #ffffff !default;
$font-alt-color: #768d99 !default;
$body-bg-color: #ebeef0 !default;
$overlay-bg-color: #ffffff !default;
$overlay-border-color: #ccd5d9 !default;

// Icons.
$icon-color: #768d99 !default;
$icon-content-color: #ffffff !default;

// Main menu.
$menu-main-icon-color: $sidebar-color !default;
$menu-main-expanded-icon-color: $menu-main-icon-color !default;

$menu-main-color: #ebeef0 !default;

$menu-main-hover-color: $sidebar-hover-color !default;
$menu-main-hover-bg-color: #092637 !default;
$menu-main-hover-border-color: $sidebar-hover-color !default;

$menu-main-selected-color: #ffffff !default;
$menu-main-selected-bg-color: #0a3c5b !default;
$menu-main-selected-border-color: #87d1ff !default;

$menu-main-expanded-color: #ffffff !default;
$menu-main-expanded-bg-color: #092637 !default;
$menu-main-expanded-border-color: transparent !default;

$menu-main-submenu-color: #ebeef0 !default;
$menu-main-submenu-bg-color: #0e354d !default;
$menu-main-submenu-border-color: #051620 !default;
$menu-main-submenu-hover-color: $sidebar-hover-color !default;
$menu-main-submenu-hover-bg-color: #092637 !default;
$menu-main-submenu-hover-border-color: $sidebar-hover-color !default;
$menu-main-submenu-selected-color: #ffffff !default;
$menu-main-submenu-selected-bg-color: #0b2d42 !default;
$menu-main-submenu-selected-border-color: #87d1ff !default;

$menu-main-submenu-next-level-bg: #0a466a !default;
$menu-main-submenu-next-level-shadow: rgba(#768D99, .35) !default;

// User menu.
$menu-user-icon-color: $sidebar-color !default;
$menu-user-expanded-icon-color: $menu-user-icon-color !default;

$menu-user-color: lighten($sidebar-color, 15%) !default;
$menu-user-hover-color: $sidebar-hover-color !default;

$menu-user-hover-border-color: transparent !default;
$menu-user-disabled-color: $disabled-item-color !default;
$menu-user-selected-color: $menu-main-selected-color !default;
$menu-user-selected-bg-color: $menu-main-selected-bg-color !default;
$menu-user-selected-border-color: $menu-main-selected-border-color !default;

$menu-user-expanded-color: $menu-main-expanded-color !default;
$menu-user-expanded-bg-color: $menu-main-expanded-bg-color !default;
$menu-user-expanded-border-color: $menu-main-expanded-border-color !default;

$menu-user-submenu-color: $menu-main-submenu-color !default;
$menu-user-submenu-bg-color: $menu-main-submenu-bg-color !default;
$menu-user-submenu-border-color: $menu-main-submenu-border-color !default;
$menu-user-submenu-hover-color: $menu-main-submenu-hover-color !default;
$menu-user-submenu-hover-bg-color: $menu-main-submenu-hover-bg-color !default;
$menu-user-submenu-hover-border-color: $menu-main-submenu-hover-border-color !default;
$menu-user-submenu-selected-color: $menu-main-submenu-selected-color !default;
$menu-user-submenu-selected-bg-color: $menu-main-submenu-selected-bg-color !default;
$menu-user-submenu-selected-border-color: $menu-main-submenu-selected-border-color !default;

$menu-user-submenu-next-level-bg: $menu-main-submenu-next-level-bg !default;
$menu-user-submenu-next-level-shadow: $menu-main-submenu-next-level-shadow !default;

// Sidebar.
$sidebar-server-name-color: rgba($menu-user-color, 0.5) !default;

// UI.
$ui-bg-color: #ffffff !default;
$ui-border-color: #dfe4e7 !default;
$ui-hover-bg-color: #e8f5ff !default;
$ui-selected-color: #fff !default;
$ui-selected-hover-color: #dfe4e7 !default;
$ui-bg-selected-color: #768d99 !default;
$ui-placeholder-background-color: $body-bg-color !default;
$ui-highlighted-parent-background-color: lighten($body-bg-color, 4%) !default;
$ui-sortable-helper-background-color: $ui-bg-color !default;
$ui-sortable-helper-border-color: $ui-border-color !default;

$action-hover-color: #e8f5ff !default;
$action-border-color: #ccd5d9 !default;
$action-shadow-color: rgba(#768d99, .5) !default;

$table-border-color: #ebeef0 !default;

$ui-tab-bg-selected-color: #0275b8 !default;
$ui-tabfilter-item-border-color: #768d99 !default;

$colorpicker-empty-color: #d40000 !default;

// Forms.
$form-font-color: $font-color !default;
$form-bg-color: $ui-bg-color !default;
$form-dark-bg-color: #f8f8f8 !default;
$form-darker-bg-color: #ebebeb !default;
$form-border-color: #acbbc2 !default;
$form-focus-border-color: #02659f !default;
$form-label-asterisk-color: $red;
$form-fields-group-border-color: #ebeef0 !default;
$form-field-hint-color: #5e7988 !default;
$form-radio-selected-color: #02659f !default;
$form-description-border-color: #0275b8 !default;

$form-hover-bg-color: $ui-hover-bg-color !default;

$form-disabled-font-color: #acbbc2 !default;
$form-disabled-bg-color: #ebebeb !default;
$form-disabled-border-color: #ccd5d9 !default;

$input-placeholder-color: #9d9d9d !default;
$input-disabled-placeholder-color: lighten($input-placeholder-color, 15%) !default;

$form-search-color: #ffffff !default;
$form-search-icon-color: $sidebar-color !default;
$form-search-icon-hover-color: $sidebar-hover-color !default;
$form-search-icon-focus-color: $form-search-icon-hover-color !default;
$form-search-bg-color: #092637 !default;
$form-search-border-color: #010a0f !default;
$form-search-focused-color: $form-search-color !default;
$form-search-focused-bg-color: $form-search-bg-color !default;
$form-search-focused-border-color: lighten($sidebar-bg-color, 20%) !default;

$form-radio-list-checked-color: $white !default;

// Buttons.
$btn-color: #ffffff !default;
$btn-bg-color: #0275b8 !default;
$btn-border-color: $btn-bg-color !default;
$btn-hover-bg-color: #02659f !default;
$btn-hover-border-color: $btn-hover-bg-color !default;
$btn-focus-bg-color: $btn-hover-bg-color !default;
$btn-focus-border-color: $btn-focus-bg-color !default;
$btn-focus-outline-color: rgba(#1e87e3, .35) !default;

$btn-alt-color: #0275b8 !default;
$btn-alt-bg-color: transparent !default;
$btn-alt-border-color: $btn-border-color !default;
$btn-alt-hover-bg-color: $btn-hover-bg-color !default;
$btn-alt-hover-border-color: $btn-alt-hover-bg-color !default;
$btn-alt-focus-bg-color: $btn-alt-hover-bg-color !default;
$btn-alt-focus-border-color: $btn-alt-focus-bg-color !default;

$btn-form-color: $font-color !default;
$btn-form-bg-color: $form-bg-color !default;
$btn-form-border-color: $form-border-color !default;
$btn-form-hover-bg-color: $form-hover-bg-color !default;
$btn-form-focus-border-color: $form-focus-border-color !default;

$btn-icon-color: lighten($icon-color, 20%) !default;
$btn-icon-hover-color: $icon-color !default;
$btn-icon-focus-color: $icon-color !default;
$btn-icon-disabled-color: lighten($icon-color, 30%) !default;

$btn-disabled-color: #acbbc2 !default;
$btn-disabled-bg-color: #ebebeb !default;
$btn-disabled-border-color: #ccd5d9 !default;

$btn-back-map-background-color: rgba(255, 255, 255, .8) !default;
$btn-back-text-color: #0275b8 !default;
$btn-back-background-hover: $form-bg-color !default;

// Links.
$link-color: #0275b8 !default;
$link-hover-color: $link-color !default;
$link-active-color: $link-color !default;
$link-visited-color: $link-color !default;

$link-alt-underline-color: #768d99 !default;

// Error messages.
$msg-bad-color: #dc3838 !default;
$msg-bad-btn-color: $msg-bad-color !default;
$msg-good-color: #29a847 !default;
$msg-info-color: #0275b8 !default;
$msg-warning-color: #f4af25 !default;

// Tabfilter.
$tab-label-color: $btn-color;
$tab-label-bg-color: $btn-bg-color;
$tab-label-focus-bg-color: $btn-form-hover-bg-color;
$tab-label-selected-color: $btn-color;
$tab-label-selected-bg-color: $btn-bg-color;
$tab-label-selected-border-color: $btn-bg-color;
$tab-label-expanded-color: $font-color;
$tab-label-expanded-bg-color: $ui-bg-color;
$tab-label-expanded-border-color: $ui-border-color;
$tab-label-hover-color: $btn-color;
$tab-label-hover-bg-color: $btn-bg-color;
$tab-label-counter-color: $form-font-color;
$tab-label-counter-bg-color: $form-disabled-bg-color;

// Indicators.
$indicator-count-color: #768d99;
$indicator-mark-color: $green;

// Statuses.
$problem-unack-fg-color: #cc0000 !default;
$problem-ack-fg-color: #cc0000 !default;
$ok-unack-fg-color: #009900 !default;
$ok-ack-fg-color: #009900 !default;

$status-color: $white !default;
$status-border-color: rgba(#1f2c33, .2) !default;
$status-disabled-border-color: $status-border-color !default;

$status-green-bg-color: darken(desaturate($alt-green, 10%), 16%) !default;
$status-green-border-color: darken(desaturate($alt-green, 10%), 20%) !default;
$status-grey-bg-color: $disabled-bg-color !default;
$status-grey-border-color: $disabled-item-bg-color !default;
$status-red-bg-color: darken(desaturate($alt-red, 10%), 5%);
$status-red-border-color: darken(desaturate($alt-red, 10%), 9%);
$status-yellow-bg-color: darken(desaturate($alt-yellow, 9%), 18%);
$status-yellow-border-color: darken(desaturate($alt-yellow, 9%), 20%);

// Multiselect.
$multiselect-selected-bg-color: #93a5af !default;
$multiselect-disabled-bg-color: $disabled-bg-color;
$multiselect-item-disabled-color: $disabled-item-color;
$multiselect-item-disabled-bg-color: $disabled-item-bg-color;

// Preloader.
$preloader-bg-color: $ui-bg-color !default;
$preloader-color: #ccd5d9 !default;
$preloader-disabled-color: #fdfdfd !default;
$preloader-accent-color: #0275b8 !default;

// List table.
$compact-view-color: #1f2c33 !default;
$compact-view-tag-color: #ffffff !default;
$compact-view-tag-bg-color: rgba($compact-view-color, .5) !default;

// Import compare.
$toc-title-color: #ffffff !default;
$toc-title-bg-color: #768d99 !default;
$diff-added-bg-color: $lighter-green !default;
$diff-removed-bg-color: $lighter-red !default;

// Text.
$text-placeholder-color: #ffffff !default;
$text-placeholder-bg-color: $ui-bg-selected-color !default;

// Change indicators.
$arrow-fill-up: #3dc51d;
$arrow-fill-down: #fc5a5a;
$arrow-fill-up-down: #3dc51d;

// Analog clock.
$clock-face-color: #ebebeb !default;
$clock-hand-color: #1f2c33 !default;
$clock-hand-sec-color: #0275b8 !default;
$clock-lines-color: #acbbc2 !default;

// Gauge arcs and needle.
$gauge-empty-color: #ebebeb !default;
$gauge-fill-color: #0275b8 !default;
$gauge-needle-fill-color: #1f2c33 !default;
$gauge-needle-stroke-color: #1f2c33 !default;

// Pie chart.
$pie-chart-arc-no-data-color: #ebebeb !default;

// Honeycomb.
$honeycomb-cell-color: #d9e7ed !default;
$honeycomb-no-data-cell-color: #ebebeb !default;
$honeycomb-label-color: #1f2c33 !default;
$honeycomb-no-data-label-color: #3c5563 !default;

// Map.
$map-hover-fill-color: #e0f7ff !default;
$map-selected-fill-color: #c9e3fc !default;
$map-selected-stroke-color: #ced7db !default;

// Geomap.
$geomap-marker-hover-fill: #e0f7ff !default;
$geomap-marker-selected-fill: #c9e3fc !default;
$geomap-marker-selected-stroke: #ced7db !default;

// Timeline.
$timeline-color: #aad7f0;
