[data-indicator-count]:not([data-indicator-count='0']) {
	&::after {
		content: attr(data-indicator-count);
		margin-left: .4em;
		color: $indicator-count-color;
		font-size: $font-h3-size;
	}
}

[data-indicator-status='enabled'] {
	&::after {
		content: '';
		display: inline-block;
		margin-left: .4em;
		width: 7px;
		height: 7px;
		border-radius: 50%;
		background: $indicator-status-enabled-color;
	}
}
