@mixin btn-hover-active($font-color, $background) {
	color: $font-color;
	background-color: darken($background, 5%);
	border-color: darken($background, 5%);
}

@function widget-head-font-color($font-color) {
	@if (lightness($font-color) < 50) {
		@return lighten($font-color, 15%);
	}
	@else {
		@return darken($font-color, 8%);
	}
}

%overflow-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
