.sortable {
	isolation: isolate;
	overflow: hidden;

	.sortable-token {
		position: relative;
		box-sizing: border-box;

		&.sortable-token-dragging {
			opacity: 0.6;
			z-index: 1;
		}
	}

	&.sortable-dragging {
		user-select: none;
	}
}
