.sortable {
	.sortable-item {
		position: relative;

		@if $ui-transitions {
			transition: transform $ui-controls-transition-duration;
		}
	}

	&.sortable-dragging {
		isolation: isolate;

		.sortable-item {
			&.sortable-item-dragging {
				opacity: 0.6;
				z-index: 1;
				transition: transform 0s;
			}
		}
	}

	&.sortable-transitions-disabled {
		.sortable-item {
			@if $ui-transitions {
				transition: transform 0s;
			}
		}
	}
}

.sortable {
	&.sortable-disabled {
		.sortable-item {
			.drag-icon {
				@extend %drag-icon-disabled;
			}

			.sortable:not(.sortable-disabled) {
				.sortable-item {
					.drag-icon {
						@extend %drag-icon-enabled;
					}
				}
			}
		}
	}
}
