/* CSS Document */

/**************** FORM ELEMENTS ****************/
select{
	cursor: pointer;
}

.biginput{
	font-family: Verdana, Helvetica, Geneva;
	font-size: 10px;
	border: 1px solid gray;
	background-color: white;
	margin: 2px;
}
.biginput:focus	{
	border-color: black;
}
.biginput:hover	{
	border-color: black;
}

.biginput[readonly]{
/* NOTE: Ignored by IE */
	border-color: #D0D0D0;
	background-color: #EEEEEE;
}

.button{
	font-family: Verdana, Helvetica, Geneva;
	font-size: 10px;
	background: #F0F0F0 url('../images/gradients/button.gif') repeat-x top left;
	border: 1px solid #808080;
	height: 18px;
	padding: 0px 5px 0px 5px;
	margin: 2px;
	cursor: pointer;
}

.button:hover{
	text-decoration: underline;
	border-color: black;
}

.checkbox{
	cursor: pointer;
}

/* SPECIAL FOR FILTER */
table.filter .button{
	height: 14px;
	margin: 0px;
}

table.filter .biginput{
	font-size: 9px;
	height: 10px;
	margin: 0px;
}