<?php
/**
 * Copy this file to bootstrap.php and replace URL parameter with
 * location of the front-end files. For example
 * http://127.0.0.1/trunk/ui/
 *
 * Note that file conf/zabbix.conf.php must exist and point to the same
 * database used by the front-end for successful testing.
 */


define('PHPUNIT_URL', '{URL}');
define('PHPUNIT_LOGIN_NAME', 'Admin');
define('PHPUNIT_LOGIN_PWD', 'zabbix');
define('PHPUNIT_BASEDIR', '{BASEDIR}');
define('PHPUNIT_SCREENSHOT_DIR', '{SCREENSHOT_DIR}');
define('PHPUNIT_SCREENSHOT_URL', '{SCREENSHOT_URL}');
define('PHPUNIT_ENABLE_DATA_LIMITS', false);
define('PHPUNIT_REPORT_WARNINGS', false);
define('PHPUNIT_REFERENCE_DIR', '{SCREENSHOT_REFERENCES_DIR}');
define('PHPUNIT_DRIVER_ADDRESS', '{PHPUNIT_DRIVER_ADDRESS}');

define('PHPUNIT_BINARY_DIR', '{BINARY_DIR}');
define('PHPUNIT_CONFIG_SOURCE_DIR', '{CONFIG_SOURCE_DIR}');
define('PHPUNIT_CONFIG_DIR', '{CONFIG_DIR}');
define('PHPUNIT_COMPONENT_DIR', '{COMPONENT_DIR}');
define('PHPUNIT_PORT_PREFIX', '{PORT_PREFIX}');

/*
 * Defines directory with write permissions that will be used to store cached data source data.
 * This one is optional (can be omitted) and is used only for cases when multiple test execution
 * without DB recreation is required.
 *
 * define('PHPUNIT_DATA_DIR', '{PHPUNIT_DATA_DIR}');
 */
define('PHPUNIT_DATA_SOURCES_DIR', '{PHPUNIT_DATA_SOURCES_DIR}');

// SAML settings.
define('PHPUNIT_SAML_TESTS_ENABLED', false);
define('PHPUNIT_IDP_ENTITY_ID', '{PHPUNIT_IDP_ENTITY_ID}');
define('PHPUNIT_SSO_SERVICE_URL', '{PHPUNIT_SSO_SERVICE_URL}');
define('PHPUNIT_SLO_SERVICE_URL', '{PHPUNIT_SLO_SERVICE_URL}');
define('PHPUNIT_USERNAME_ATTRIBUTE', 'uid');
define('PHPUNIT_SP_ENTITY_ID', '{PHPUNIT_SP_ENTITY_ID}');
