/*
Error: Invalid CSS after "		@supports ($test": expected ":", was ") {"
        on line 391 of sass/stylesheets/sass/components/_datatable.scss
        from line 52 of sass/stylesheets/sass/_screen.scss
        from line 3 of sass/stylesheets/sass/blue-theme.scss

386: 		border-top: 1px solid $ui-border-color;
387: 		box-sizing: border-box;
388: 
389: 		$test: 'not selector(::-webkit-scrollbar)';
390: 
391: 		@supports ($test) {
392: 			scrollbar-width: thin;
393: 			scrollbar-color: $datatable-scrollbar-thumb-bg-color $ui-bg-color;
394: 		}
395: 
396: 		&::-webkit-scrollbar {

Backtrace:
sass/stylesheets/sass/components/_datatable.scss:391
sass/stylesheets/sass/_screen.scss:52
sass/stylesheets/sass/blue-theme.scss:3
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1189:in `expected'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1125:in `expected'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1120:in `tok!'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:601:in `supports_condition_in_parens'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:580:in `supports_operator'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:570:in `supports_condition'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1103:in `expr!'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:549:in `supports_directive'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:227:in `prefixed_directive'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:199:in `directive'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:676:in `block_child'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:668:in `block_contents'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:657:in `block'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:726:in `declaration_or_ruleset'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:676:in `block_child'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:668:in `block_contents'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:657:in `block'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:649:in `ruleset'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:675:in `block_child'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:668:in `block_contents'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:125:in `stylesheet'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:41:in `parse'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/engine.rb:406:in `_to_tree'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/engine.rb:312:in `to_tree'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/stack.rb:88:in `block in with_import'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/stack.rb:88:in `with_import'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:328:in `block (2 levels) in visit_import'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:328:in `map'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:328:in `block in visit_import'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/stack.rb:88:in `block in with_import'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/stack.rb:88:in `with_import'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `map'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:159:in `visit'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:8:in `visit'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/tree/root_node.rb:36:in `css_tree'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/tree/root_node.rb:20:in `render'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/engine.rb:281:in `render'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:400:in `run'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:63:in `process_result'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/exec/base.rb:52:in `parse'
/var/lib/gems/3.2.0/gems/sass-3.4.22/lib/sass/exec/base.rb:19:in `parse!'
/var/lib/gems/3.2.0/gems/sass-3.4.22/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:25:in `load'
/usr/local/bin/sass:25:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"		@supports ($test\": expected \":\", was \") {\"\A         on line 391 of sass/stylesheets/sass/components/_datatable.scss\A         from line 52 of sass/stylesheets/sass/_screen.scss\A         from line 3 of sass/stylesheets/sass/blue-theme.scss\A \A 386: 		border-top: 1px solid $ui-border-color;\A 387: 		box-sizing: border-box;\A 388: \A 389: 		$test: 'not selector(::-webkit-scrollbar)';\A 390: \A 391: 		@supports ($test) {\A 392: 			scrollbar-width: thin;\A 393: 			scrollbar-color: $datatable-scrollbar-thumb-bg-color $ui-bg-color;\A 394: 		}\A 395: \A 396: 		&::-webkit-scrollbar {"; }
