.service-info {
	--service-info-severity-color: #{$green};
	--service-info-severity-text-color: #{$white};

	margin: -10px 0;
	border-left: 4px solid var(--service-info-severity-color);
	border-radius: var(--surface-border-radius);

	.service-info-grid {
		display: grid;
		grid-template-columns: max-content auto;
		row-gap: 10px;
		column-gap: 10px;
		padding: 10px 10px 0;

		&:last-of-type {
			padding-bottom: 10px;
		}

		.tags-wrapper {
			min-width: 1%;

			.btn-icon {
				height: 18px;
				width: 18px;
			}
		}
	}

	.service-info-label {
		&::after {
			content: ':';
		}
	}

	.service-info-value {
		.service-info-value-sla {
			display: inline-block;
			word-break: break-word;
			line-height: 18px;

			&:not(:last-child) {
				margin-right: 10px;
			}

			.btn-icon {
				@extend %button-size-medium;

				margin-left: 5px;
			}
		}
	}

	.service-name {
		padding-bottom: 5px;
		font-size: $font-h2-size;
	}

	.service-actions {
		justify-self: end;
	}

	.service-status {
		display: inline-block;
		padding: 0 4px;
		border-radius: var(--badge-border-radius);
		background-color: var(--service-info-severity-color);
		color: var(--service-info-severity-text-color);
	}

	.service-status-na-bg {
		--service-info-severity-color: var(--severity-color-na-bg);
	}

	.service-status-info-bg {
		--service-info-severity-color: var(--severity-color-info-bg);
	}

	.service-status-average-bg {
		--service-info-severity-color: var(--severity-color-average-bg);
	}

	.service-status-warning-bg {
		--service-info-severity-color: var(--severity-color-warning-bg);
	}

	.service-status-high-bg {
		--service-info-severity-color: var(--severity-color-high-bg);
	}

	.service-status-disaster-bg {
		--service-info-severity-color: var(--severity-color-disaster-bg);
	}

	.service-status-na-bg,
	.service-status-info-bg,
	.service-status-average-bg,
	.service-status-warning-bg,
	.service-status-high-bg,
	.service-status-disaster-bg {
		--service-info-severity-text-color: color-mix(in oklch, var(--service-info-severity-color), #000 45%);
	}
}
