<?php
// Brand configuration file.
return [
//	'BRAND_HELP_URL' => 'http://www.zabbix.com/documentation/3.0/',
//	'BRAND_FOOTER' => 'Xibbaz 4.2. © 2001–2018, Xibbaz SIA',
//	'BRAND_LOGO' => "./img/brand.png"
];
