$white: #fff;
$transparent: transparent;


// MAIN
$main-color: #2d3135;//#768d99;//#2d3135;//#5c5c5c;//#0275b8;
$font-color: #f2f2f2;//#e1e3ed;//#e6e8f3;//#d1dade;//#1f2c33;
$font-alt-color: #737370;//#72757b;//#768d99;//#7d7d7d;
$body-bg-color: #0e1012;//#101012;//#0d0e0f;//#101214;//#0c1012;//#0f1214;//#0d1114; //#000;//#0d1114;//#ebeef0;


// UI
$ui-bg-color: #2b2b2b;//#2a2a2a;//#282927;//#282925;//#272822;//#363636;//#2d3135;//#303030;//#2e2f30;//#fff;
$ui-bg-selected-color: #acbbc2;
$ui-hover-color: #333333;//#292929;//#222529;//#383c40;//#383d42;//#242424;//#e8f4fa;

$action-hover-color: #454545;//#292929;//#222529;//#383c40;//#383d42;//#242424;//#ebebeb;
$action-border-color: #383838;//#454545;//#424242;//#383c40;//#383d42;//#3d3d3d;//#ccd5d9;

$table-border-color: #383838;//#424242;//#383c40;//#383d42;//#3d3d3d;//#ebeef0;


// FORMS
$form-font-color: #e1e3ed;//#e6e8f3;//#d1dade;//#1f2c33;
$form-bg-color: #2b2b2b;//#363636;//#383d42;//#242424;//#303030;#242424;//#fff;
$form-border-color: #4f4f4f;//#44474c;//#3d3d3d;//#636363;//#4a4a4a;//#3d3d3d;//#acbbc2;
$form-border-focus-color: #5c5c5c;//#5b5e64;//#4f5358;//#4a4a4a;//#7d7d7d;//#0275b8; //NEW

$form-disabled-font-color: #525252;//#d1dade;//#1f2c33;
$form-disabled-bg-color: transparent; //#ebebeb; //NEW
$form-disabled-border-color: #3d3d3d; //NEW



// BUTTONS
$btn-font-color: #e6e8f3;//#fff;
$btn-bg-color: #6c818c;//#44474c;//#5c5c5c;//#0275b8;
$btn-border-color: #6c818c;

$btn-alt-font-color: #768d99;//#0275b8;
$btn-alt-bg-color: transparent;
$btn-alt-border-color: $btn-border-color;

$btn-form-font-color: #f2f2f2;//#d1dade;//#2782b8;//#0275b8;
$btn-form-bg-color: transparent;
$btn-form-border-color: $form-border-color;

$btn-disabled-font-color: #acbbc2;
$btn-disabled-bg-color: transparent;
$btn-disabled-border-color: #ccd5d9;


// LINKS
$link-color: #4796c4;//#3d93c4;//#2782b8; //#0275b8;
$link-hover-color: #4796c4; //#0275b8;
$link-active-color: #4796c4; //#0275b8;
$link-visited-color: #4796c4;//#2782b8; //#0275b8;

$link-main-nav-color: #b9bbc4;//#bfdced;
$link-main-nav-hover-color: #e6e8f3;//#fff;
$link-main-nav-active-color: #e6e8f3;//#fff;
$link-main-nav-visited-color: #e6e8f3;//#bfdced;

$link-main-subnav-color: #bfced7;
$link-main-subnav-hover-color: #fff;
$link-main-subnav-active-color: #fff;
$link-main-subnav-visited-color: #bfced7;



// Important! @import string should always be last
@import 'screen.scss';

.dashbrd-widget {
	@include box-shadow(0 0 0 1px #303030);
}

.list-table {
	@include box-shadow(0 0 0 1px #303030);
}

.table-paging {
	@extend %no-shadow;
}

.table-forms-container {
	@include box-shadow(0 0 0 1px #303030);
}

.setup-container {
	@include box-shadow(0 0 0 1px #303030);
}

//.filter-container {
//	@include box-shadow(none);	
//}

%no-shadow {
	@include box-shadow(none);
}

//.available {
//	@include box-shadow(0 6px 10px 0 rgba(0,0,0,0.4));
//}

.search-suggest {
	@include box-shadow(0 6px 10px 0 rgba(0,0,0,0.5));
}

.action-menu {
	@include box-shadow(0 6px 10px 0 rgba(0,0,0,0.5));
}

.overlay-dialogue {
	@include box-shadow(0 6px 10px 0 rgba(0,0,0,0.5));
}

%form-input-style {

	&:focus {
		border-color: lighten($form-border-color, 15%);
	}
}
