// NOTIFICATION & ALERT
$red: #e45959;
$light-red: #503434;
$lighter-red: #473232;

$lighter-yellow: #494529;//#4a442c;

$green: #59db8f;
$light-green: #344e3f;
$lighter-green: #32453a;


// MAIN
$main-nav-bg-color: #2b2b2b;
$main-subnav-bg-color: #454545;
$main-subnav-bg-selected-color: #2e2e2e;
$main-color: #2d3135;
$font-color: #f2f2f2;
$font-alt-color: #737373;//#768d99;
$body-bg-color: #0e1012;


// UI
$ui-bg-color: #2b2b2b;
$ui-bg-selected-color: #4f4f4f;
$ui-hover-color: #333;
$ui-border-color: #303030;

$action-hover-color: #454545;
$action-border-color: #383838;
$action-shadow-color: rgba(0,0,0,0.5);

$table-border-color: #383838;


// FORMS
$form-font-color: #e1e3ed;
$form-bg-color: #333;//#2b2b2b;
$form-border-color: #4f4f4f;
$form-border-focus-color: #768d99;

$form-disabled-font-color: #525252;
$form-disabled-bg-color: #2b2b2b;
$form-disabled-border-color: #3d3d3d;


// BUTTONS
$btn-font-color: #f2f2f2;
$btn-bg-color: #69808d;//#768d99;
$btn-border-color: #768d99;

$btn-alt-font-color: #768d99;
$btn-alt-bg-color: transparent;
$btn-alt-border-color: $btn-border-color;

$btn-form-font-color: #f2f2f2;
$btn-form-bg-color: $form-bg-color;
$btn-form-border-color: $form-border-color;

$btn-disabled-font-color: #525252;
$btn-disabled-bg-color: transparent;
$btn-disabled-border-color: #3d3d3d;


// LINKS
$link-color: #4796c4;
$link-hover-color: #4796c4;
$link-active-color: #4796c4;
$link-visited-color: #4796c4;

$link-main-nav-color: rgba(255,255,255,0.75);
$link-main-nav-hover-color: rgba(255,255,255,1);
$link-main-nav-active-color: rgba(255,255,255,1);
$link-main-nav-visited-color: rgba(255,255,255,0.75);

$link-main-subnav-color: rgba(255,255,255,0.75);
$link-main-subnav-hover-color: rgba(255,255,255,1);
$link-main-subnav-active-color: rgba(255,255,255,1);
$link-main-subnav-visited-color: rgba(255,255,255,0.75);


// Important! @import string should come after variables
@import 'screen.scss';
