#ceprule-window-groupby {
	.multiselect-control {
		display: inline-block;
	}
}

#ceprule-window-capacity,
#ceprule-window-counttag {
	line-height: 16px;
}

#ceprule-operation-period-argument {
	display: inline;
}

#ceprule-operations-table {
	td {
		line-height: 1.4;
	}
}
