#ceprule-window-groupby {
	.multiselect-control {
		display: inline-block;
	}
}

#ceprule-window-capacity,
#ceprule-window-counttag {
	line-height: 16px;
}

#ceprule-operation-period-argument {
	display: inline;
}

#ceprule-operations-table,
#ceprule-filter-conditions {
	.text {
		@extend %space-pre-wrap;
	}
}

#ceprule-list-table {
	td {
		@extend %space-pre-wrap;
	}
}
