.modal-popup-host-wizard {
	--modal-max-width: 1120px;

	&.overlay-dialogue.modal {
		padding: 0;

		.overlay-dialogue-header {
			margin: 0;
			padding: 56px 56px 16px 56px;

			h4 {
				min-height: 1.2em;
			}

			.btn-icon,
			.btn-overlay-close {
				margin-top: 0;
			}

			.btn-overlay-close {
				margin-right: 0;
			}
		}

		.overlay-dialogue-body {
			margin: 0;
			padding: 0 56px 32px 56px;
			width: initial;
			min-height: 384px;
			max-height: calc(100vh - 300px);
		}

		.overlay-dialogue-footer {
			display: flex;
			align-items: baseline;
			padding: 24px 56px;
			border-top: 1px solid $ui-border-color;

			.dialogue-cancel {
				margin-right: auto;
			}
		}
	}

	output {
		margin: 16px 0 0;
	}

	section {
		margin-top: 32px;
		margin-bottom: 0;
		border: none;

		&.collapsible {
			margin-top: 16px;
			padding: 16px;
			border: 1px solid $ui-border-color;
			border-radius: 2px;

			.section-head {
				height: 24px;
				line-height: 24px;
			}

			.section-body {
				margin-top: 16px;

				& > div:not(:first-child) {
					margin-top: 16px;
				}
			}
		}

		&.grid-columns {
			gap: 16px 48px;

			.section-head,
			.section-body {
				display: contents;
			}
		}
	}

	.progress {
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: 1fr;
		align-items: end;
		gap: 8px;
		line-height: 18px;

		.progress-step {
			position: relative;
			padding-bottom: 8px;

			&::after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: 0;
				border-bottom: 4px var(--progress-stype-style, solid) var(--pregress-step-color, $progress-default-color);
				border-radius: 2px;
			}

			&.progress-step-complete {
				--pregress-step-color: $progress-complete-color;
			}

			&.progress-step-current {
				--pregress-step-color: $progress-current-color;
			}

			&.progress-step-error {
				--pregress-step-color: $progress-error-color;
			}

			&.progress-step-disabled {
				--progress-stype-style: dashed;
			}
		}
	}

	.grid-columns {
		.form-fields-inline {
			display: flex;
			gap: 16px;

			.radio-list-control {
				label {
					margin: 0;
				}
			}
		}
	}

	.form-field {
		display: grid;

		> label {
			margin-bottom: 4px;
			line-height: 16px;
		}

		input,
		textarea {
			border-radius: 2px;
		}

		.multiselect {
			width: 100%;
		}

		.form-fields-hint {
			margin-top: 4px;
			font-size: 11px;
			line-height: 16px;
			white-space: initial;
			color: $form-field-hint-color;
		}
	}

	.pre-shared-key-field {
		display: grid;
		grid-template-columns: 1fr max-content;
		gap: 4px;
	}

	.template-subfilter {
		display: flex;
		gap: 4px 16px;
		flex-wrap: wrap;

		.template-subfilter-item {
			padding: 0 4px;
			height: 22px;
			border: 0;
			background: transparent;
			color: $font-alt-color;
			line-height: 20px;

			&.selected {
				background: $ui-bg-selected-color;
				color: $ui-selected-color;
			}
		}
	}

	.templates-card-list {
		.radio-card {
			grid-template-rows: repeat(2, max-content) 1fr;
			gap: 16px;
		}

		.radio-card-label {
			font-size: 14px;
			line-height: 21px;
		}

		.template-tags {
			label {
				color: $font-alt-color;
			}

			.tags-list {
				position: relative;
				display: flex;
				flex-wrap: wrap;
				gap: 8px;
				margin-top: 4px;
			}

			.tag {
				margin: 0;
			}

			.btn-icon {
				min-width: 16px;
				height: 16px;
				line-height: 16px;

				&::before {
					font-size: 16px;
				}
			}
		}

		.template-info-toggles {
			align-self: end;

			.btn-link {
				float: right;
				color: $font-color;
			}
		}

		.template-info-toggles {}

	}
}
