/* CSS Document */

div.calendar{
	position: absolute;
	width: 180px;
	top: 10px;
	right: 30px;
	border: 1px blue solid;
	z-index: 100;
}

div.calendardays{
	border: 1px orange solid;
}

div.calendartime{
	background-color: #DDEEFF;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
	height: 42px;
}

table.calendarhat{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	background-color:#DDEEFF;
	font-weight: bold;
}

table.calendarhat tr td{
	height: 18px;
	width: 22px;
}

table.calendarhat tr td.long{
	text-align:center;
	width: 116px;
	overflow: hidden;
}

/* CELLS */
table.calendartab{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	background-color:#EEEEEE;
	border-spacing: 1px;
}

table.calendartab tr.header td:hover{
	cursor:default;
}

table.calendartab tr td{
	height: 18px;
	width: 22px;
	background-color:#FFFFFF;
}

table.calendartab tr td:hover{
	cursor: pointer;
}

table.calendartab tr td.holiday{
	background-color:#AADDEE;
}

table.calendartab tr td.grey{
	color:#AFAFAF;
}

table.calendartab tr td.selected{
/*
	border-left: 1px #333333 groove;
	border-top: 1px #333333 groove;
*/
	background-color: #008888;
	color: #eeeeee;
}

/* SPAN */

div.calendar span.title{
	text-align:center;
	color:#000099;
}

div.calendar span.clndr_left_arrow{
	padding-left: 5px;
}

div.calendar span.clndr_left_arrow:hover{
	cursor: pointer;
}

div.calendar span.clndr_right_arrow{
	padding-right: 5px;
}

div.calendar span.clndr_right_arrow:hover{
	cursor: pointer;
}

/* INPUT */

div.calendar input.calendar_textbox{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	width: 26px;
	height: 14px;
	vertical-align:middle;
}

div.calendar input[type="button"] {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #00888B;
	background: #AADDEE;
	cursor:pointer;
}
