%btn-icon { // TODO - AS: should be checked and removed
	display: inline-block;
	width: 18px;
	height: 18px;
	min-height: auto;
	padding: 0;
	line-height: 18px;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	background-color: transparent;
	border: 0;
	border-radius: 2px;
	opacity: .5;
	transition: opacity .2s ease-out;

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		background-color: transparent;
		outline: none;
		opacity: 1;
	}
}

%btn-remove-icon { // TODO - AS: should be checked and removed
	font-size: 20px;
	color: $font-alt-color;
	text-align: center;
	cursor: pointer;

	&::before {
		display: block;
		content: '+';
		transform: rotate(45deg);
	}

	&:hover,
	&:focus,
	&:active {
		color: $font-alt-color;
		outline: none;
	}
}

button {
	min-height: 24px;
	padding: 0 11px;
	margin: 0;
	font-family: $font-stack;
	font-size: $font-form-size;
	color: $btn-font-color;
	cursor: pointer;
	background-color: $btn-bg-color;
	border: 1px solid $btn-bg-color;
	border-radius: 2px;
	outline: 0;

	@if $ui-transitions {
		transition: border-color .2s ease-out, background-color .2s ease-out;
	}

	&:hover,
	&:focus,
	&:active {
		color: $btn-font-color;
		background-color: darken($btn-bg-color, 5%);
		border-color: darken($btn-bg-color, 5%);
	}

	&:focus {
		box-shadow: 0 0 0 2px rgba($blue, .35);
	}

	&::-moz-focus-inner {
		padding: 0;
		border: 0;
		vertical-align: middle;
	}

	&[class^="zi-"],
	&[class*=" zi-"] {
		display: inline-flex;
		align-items: center;
		vertical-align: top;

		&:empty {
			justify-content: center;
			width: 24px;
			padding: 0;
		}

		&:not(:empty) {
			&::before {
				margin-right: 4px;
				margin-left: -4px;
			}
		}

		&::before {
			font-size: $btn-icon-size;

			@if $ui-transitions {
				transition: color .2s ease-out;
			}
		}
	}

	&[disabled] {
		cursor: default;

		&,
		&:hover,
		&:focus,
		&:active {
			color: $btn-disabled-font-color;
			background-color: $btn-disabled-bg-color;
			border-color: $btn-disabled-border-color;
		}
	}
}

.btn-alt {
	color: $btn-alt-font-color;
	background-color: $btn-alt-bg-color;

	&:hover,
	&:focus,
	&:active {
		@include btn-hover-active($btn-font-color, $btn-bg-color);
	}
}

.btn-grey {
	color: $btn-form-font-color;
	background-color: $btn-form-bg-color;
	border-color: $btn-form-border-color;

	&:hover,
	&:focus,
	&:active {
		color: $btn-form-font-color;
		background-color: $btn-form-hover-color;
		border-color: $btn-form-border-color;
	}

	&:focus,
	&:active {
		border-color: $form-border-focus-color;
	}
}

a.btn-icon {
	@extend button;
}

.btn-icon,
a.btn-icon{
	background: transparent;
	border: none;

	&::before {
		color: $icon-btn-icon-color;
	}

	&:hover,
	&:focus,
	&:active {
		background: transparent;

		&::before {
			color: $icon-btn-icon-hover-color;
		}
	}

	&[disabled] {
		cursor: default;

		&,
		&:hover,
		&:focus,
		&:active {
			background: transparent;

			&::before {
				color: $icon-btn-icon-disabled-color;
			}
		}
	}
}

.btn-remove { // TODO - AS: should be removed
	@extend %btn-icon;
	@extend %btn-remove-icon;

	&:not(:first-child) {
		margin-left: 5px;
	}
}

.btn-remove { // TODO - AS: should be removed
	&[disabled],
	&[disabled]:hover {
		background-color: transparent;
		opacity: .25;
	}
}

.overlay-close-btn {
	@extend %btn-icon;
	@extend %btn-remove-icon;
	position: absolute;
	top: 1px;
	right: 1px;
	z-index: 1000;
}

.subfilter-disable-btn {
	@extend %btn-icon;
	@extend %btn-remove-icon;
	margin: 0;
	color: $font-selected-color;
	background-color: $ui-bg-selected-color;
	opacity: 1;

	&:hover {
		color: darken($font-selected-color, 5%);
	}

	&:focus,
	&:active {
		color: darken($font-selected-color, 10%);
	}
}
