%btn-icon-position {
	display: inline-flex;
	align-items: center;
	vertical-align: top;

	&:empty {
		justify-content: center;
	}
}

button {
	min-height: 24px;
	padding: 0 11px;
	margin: 0;
	font-family: $font-stack;
	font-size: $font-form-size;
	color: $btn-color;
	cursor: pointer;
	background-color: $btn-bg-color;
	border: 1px solid $btn-border-color;
	border-radius: 2px;
	outline: 0;

	@if $ui-transitions {
		transition: border-color .2s ease-out, background-color .2s ease-out;
	}

	&:hover {
		color: $btn-color;
		background-color: $btn-hover-bg-color;
		border-color: $btn-hover-border-color;
	}

	&:active,
	&:focus {
		color: $btn-color;
		background-color: $btn-focus-bg-color;
		border-color: $btn-focus-border-color;
		box-shadow: 0 0 0 2px $btn-focus-outline-color;
	}

	&::-moz-focus-inner {
		padding: 0;
		border: 0;
		vertical-align: middle;
	}

	&:empty {
		width: 24px;
		padding: 0;
	}

	&[class^="zi-"], &[class*=" zi-"] {
		@extend %btn-icon-position;

		&:not(:empty) {
			&::before {
				margin-right: 4px;
				margin-left: -4px;
			}
		}

		@if $ui-transitions {
			&::before {
				transition: color .2s ease-out;
			}
		}
	}

	&[disabled] {
		cursor: default;

		&,
		&:hover,
		&:focus,
		&:active {
			color: $btn-disabled-font-color;
			background-color: $btn-disabled-bg-color;
			border-color: $btn-disabled-border-color;
		}
	}
}

.btn-alt {
	color: $btn-alt-color;
	background-color: $btn-alt-bg-color;
	border-color: $btn-alt-border-color;

	&:hover {
		background-color: $btn-alt-hover-bg-color;
		border-color: $btn-alt-hover-border-color;
	}

	&:active,
	&:focus {
		background-color: $btn-alt-focus-bg-color;
		border-color: $btn-alt-focus-border-color;
		box-shadow: 0 0 0 2px $btn-focus-outline-color;
	}
}

.btn-grey {
	color: $btn-form-font-color;
	background-color: $btn-form-bg-color;
	border-color: $btn-form-border-color;

	&:hover,
	&:focus,
	&:active {
		color: $btn-form-font-color;
		background-color: $btn-form-hover-color;
		border-color: $btn-form-border-color;
	}

	&:focus,
	&:active {
		border-color: $form-border-focus-color;
	}
}

a.btn-icon {
	@extend button;
}

a.btn-icon,
.btn-icon,
.btn-overlay-close {
	background: transparent;
	border: none;

	&::before {
		color: $icon-btn-color;
	}

	&:hover,
	&:focus,
	&:active {
		background: transparent;

		&::before {
			color: $icon-btn-hover-color;
		}
	}

	&[disabled] {
		cursor: default;

		&,
		&:hover,
		&:focus,
		&:active {
			background: transparent;

			&::before {
				color: $icon-btn-disabled-color;
			}
		}
	}
}

button {
	&.btn-overlay-close,
	&.zi-remove {
		width: 18px;
		height: 18px;
		min-height: 18px;

		&:before {
			font-size: $icon-small-size *.85;
		}
	}
}

.btn-alt {
	&.zi-plus {
		&::before {
			font-size: $icon-small-size;
		}
	}
}

.btn-overlay-close {
	@extend %btn-icon-position;
	@extend %icons-font;

	position: absolute;
	top: 1px;
	right: 1px;
	z-index: 1000;

	&::before {
		content: $zi-remove;
	}
}
