.calendar {
	width: 200px;

	.calendar-header {
		text-align: center;

		.btn-grey {
			border: 0;
			background-color: transparent;
		}
	}

	.calendar-year,
	.calendar-month {
		height: 24px;
		line-height: 26px;
		display: table;
		width: 100%;

		button:first-child {
			float: left;
		}

		button:last-child {
			float: right;
		}

		button:hover {
			background-color: $action-hover-color;
			cursor: pointer;
		}
	}

	.calendar-time {
		text-align: center;

		input[type="text"] {
			width: 32px;
		}
	}

	.calendar-footer {
		margin: 26px 0 0;
		text-align: right;

		.btn-grey {
			float: left;
			margin-top: 0;
		}
	}

	.btn-month-prev,
	.btn-month-next,
	.btn-year-prev,
	.btn-year-next {
		&.highlighted {
			background-color: $action-hover-color;
		}

		&:focus {
			outline: none;
		}
	}

	table {
		width: 100%;
		margin: 5px 0;

		thead {
			text-transform: uppercase;
			color: $font-alt-color;
		}

		tbody {
			text-align: center;

			td {
				border-radius: var(--button-border-radius);

				&:hover {
					background-color: $action-hover-color;
					cursor: pointer;
				}

				&:focus {
					outline: none;
				}

				&.selected {
					background-color: $ui-bg-selected-color;
					color: $white;

					&:hover {
						background-color: darken($ui-bg-selected-color, 4%);
					}
				}

				&.highlighted {
					@include btn-hover-active($btn-color, $btn-bg-color);

					cursor: pointer;
				}

				span {
					z-index: -1;
					padding: 4px;
					display: block;
				}

				@if $ui-transitions {
					transition: background-color $ui-controls-transition-duration ease-out;
				}
			}
		}
	}
}
