.checkbox-list {
	display: grid;
	grid-column-gap: 10px;
	grid-template-columns: repeat(var(--columns), minmax(max-content, 1fr));

	&.vertical {
		grid-template-rows: repeat(var(--rows), 1fr);
		grid-auto-flow: column;
	}

	li {
		overflow: hidden;
		text-overflow: ellipsis;
		line-height: 24px;
	}
}
