.csortable {
	position: relative;
	overflow: hidden;

	.csortable-list {
		position: relative;
		top: 0;
		left: 0;

		@if $ui-transitions {
			transition: left .2s, top .2s;

			.csortable-item {
				transition: left .2s, top .2s;
			}
		}
	}

	&.csortable-dragging {
		.csortable-item {
			position: absolute;

			&.csortable-dragging {
				display: none;
			}
		}
	}
}
