.diff {
	padding: 4px;
	background: $body-bg-color;

	.diff-added {
		background-color: $diff-added-bg-color;
	}

	.diff-removed {
		background-color: $diff-removed-bg-color;
	}

	pre {
		width: max-content;
		min-width: 100%;

		> div {
			white-space: pre;
		}
	}
}
