.expandable-subfilter {
	$line-height: 22px;

	position: relative;
	overflow: hidden;
	word-break: break-word;
	max-height: $line-height;
	line-height: $line-height;
	padding: 1px;

	&.ten-lines {
		max-height: calc(#{$line-height} * 10);
	}

	> div {
		display: inline;
	}

	.hidden {
		display: none;
	}

	&.expanded {
		max-height: none;

		.hidden {
			display: unset;
		}
	}
}

.tag-values-subfilter {
	> label {
		padding-top: 3px;
	}
}
