$form-search-icon-opacity: .75 !default;
$form-search-icon-bg-position: -539px -616px !default;
$form-search-icon-hover-bg-position: -569px -616px !default;

.form-search {
	position: relative;
	margin-top: 12px;
	height: 24px;

	.search {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 24px;

		padding-right: 20px;
		color: $form-search-color;
		background: $form-search-bg-color;
		border: 1px solid $form-search-border-color;
		border-radius: 3px;

		&:focus ~ .search-icon,
		&:hover ~ .search-icon {
			opacity: 1;
		}
	}

	.search-icon {
		position: absolute;
		top: 0;
		right: 0;
		width: 24px;
		height: 24px;
		padding: 0;
		background: url(../img/icon-sprite.svg) no-repeat $form-search-icon-bg-position;
		border: 0;
		opacity: $form-search-icon-opacity;
		transform: scale(.8);
		cursor: pointer;

		&:focus {
			opacity: 1;
			background-position: $form-search-icon-hover-bg-position;
		}

		&:hover {
			background-position: $form-search-icon-hover-bg-position;
		}

		@if $ui-transitions {
			transition: opacity 3s;
		}
	}
}

.search-suggest {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1000;
	min-width: 16px;
	padding: 0 10px;
	color: $font-alt-color;
	background-color: $form-bg-color;
	border: 1px solid $action-border-color;
	border-top: 0;
	box-shadow: 0 6px 10px 0 $action-shadow-color;

	li {
		display: block;
		height: inherit;
		padding: .4em 0;
		margin: 0 -5px;
		overflow: hidden;
		color: $font-color;
		line-height: normal;
		word-break: break-word;
		cursor: pointer;
		transition: background-color .2s ease-out;

		&.suggest-hover {
			background-color: $action-hover-color;
		}
	}
}
