.list-table {
	width: 100%;
	background-color: $ui-bg-color;
	border-collapse: separate;
	border: 1px solid $ui-border-color;

	.zi-i,
	.zi-alert {
		&:before {
			vertical-align: middle;
			position: relative;
		}
	}

	.action-container {
		display: flex;
		width: 100%;
		height: 18px;
		line-height: 18px;

		.link-action {
			height: 16px;
			min-width: 1em;
			@extend %overflow-ellipsis;
		}

		// TODO - AS: check
		//[class*='icon-'] {
		//	flex-shrink: 0;
		//}

		.rel-container {
			display: flex;
		}

		.separator {
			flex-shrink: 0;
			margin-right: 4px;
		}
	}

	td {
		// TODO - AS: check
		//.icon-maintenance {
		//	margin: 0 0 -3px 4px;
		//}

		// TODO - AS: check
		//.icon-depend-up,
		//.icon-depend-down,
		//.icon-ackn {
		//	margin: 0 4px -3px 0;
		//}

		// Align tags and checkboxes. Tags are too low.
		.tag {
			margin-top: -1px;
		}

		// Checkboxes are too high up.
		.checkbox-radio {
			& + label {
				span {
					margin-top: 1px;
				}
			}
		}

		// TODO - AS: check
		//.btn-widget-expand,
		//.btn-widget-collapse {
		//	background-color: $ui-bg-color;
		//	width: 18px;
		//	height: 18px;
		//	background-position-x: -9px;
		//	margin: 7px 0 0 0;
		//	opacity: 1;
		//}

		// TODO - AS: check
		//.btn-widget-expand {
		//	background-position-y: -693px;
		//}

		// TODO - AS: check
		//.btn-widget-collapse {
		//	background-position-y: -657px;
		//}
	}

	.second-col {
		padding-left: 0;
		padding-right: 0;

		// Default icon marging makes the cell too wide.
		.icon-action-symptom {
			margin-right: 0;
		}
	}

	.third-col {
		// Padding top removed because it pushes the collapse and expand icon too far down.
		padding-top: 0;
		// Padding bottom removed because Chrome and Safari expands the row.
		padding-bottom: 0;
		padding-left: 2px;

		.icon-action-symptom {
			// Align the symptom icon in the third column, since padding is removed.
			margin-top: 6px;
			// Default icon marging makes the cell too wide.
			margin-right: 0;
		}
	}

	// Make the row more narrow.
	.symptom-limit-td {
		padding-top: 0;
		padding-bottom: 0;
	}

	.problem-nested:not([class*='flh-']):not(.row-selected):not(:hover) {
		background-color: darken($ui-bg-color, 5%);

		td,
		.timeline-axis,
		.timeline-td {
			border-bottom-color: darken($ui-bg-color, 5%) !important;
		}
	}

	.problem-nested-small {
		font-size: calc(#{$font-mono-size} - 1px);

		.tag {
			font-size: 12px;
		}
	}

	&.compact-view {
		tr {
			&[class*='flh-'] {
				@if $theme-name == 'blue' {
					&:not(.row-selected):not(:hover) {
						td {
							color: $font-color;

							sup,
							a,
							.problem-unack-fg,
							.problem-ack-fg,
							.ok-unack-fg,
							.ok-ack-fg {
								color: $font-color;
								border-bottom-color: rgba($font-color, .5);
							}

							.tag {
								background-color: rgba($font-color, .5);
							}

							// TODO - AS: check
							//.icon-wizard-action {
							//	background-position: -165px -624px;
							//}

							button:focus {
								box-shadow: 0 0 0 2px rgba($font-color, .5);
							}
						}
					}
				}

				@if $theme-name == 'dark' {
					&:not(.row-selected):not(:hover) {
						td {
							color: #000000;

							sup,
							a,
							.problem-unack-fg,
							.problem-ack-fg,
							.ok-unack-fg,
							.ok-ack-fg {
								color: #000000;
								border-bottom-color: rgba(0, 0, 0, .5);
							}

							// TODO - AS: check
							//.icon-wizard-action {
							//	background-position: -165px -624px;
							//}

							button:focus {
								box-shadow: 0 0 0 2px rgba(0, 0, 0, .5);
							}
						}
					}
				}

				@if $theme-name == 'blue' or $theme-name == 'dark' {
					&:not(.row-selected):not(:hover) {
						td {
							// TODO - AS: check
							//[class*='icon-'] {
							//	background-color: $ui-bg-color;
							//	border-radius: 2px;
							//}

							// TODO - AS: check
							//[class*='icon-depend-'],
							//.icon-description,
							//.icon-wizard-action {
							//	background-color: transparent;
							//}
						}
					}
				}
			}
		}

		.link-action {
			color: $font-color;

			&:hover,
			&:focus {
				color: $link-hover-color;
			}

			&.red {
				color: $red;
			}

			&.orange {
				color: $orange;
			}

			&.yellow {
				color: $dark-yellow;
			}

			&.green {
				color: $green;
			}
		}

		.problem-nested:not([class*='flh-']):not(.row-selected) {
			td, .timeline-axis, .timeline-td {
				border-bottom: 0 !important;
			}
		}

		td {
			padding-top: 0;
			padding-bottom: 0;
			border-bottom: 0;
			box-shadow: inset 0 -1px 0 0 rgba($font-color, .1);
			color: $font-color;
			height: 22px;
			vertical-align: middle;
			white-space: nowrap;

			// TODO - AS: check
			//[class*='icon-'] {
			//	&::after {
			//		margin: 0;
			//		line-height: 14px;
			//		top: 0;
			//	}

				//&:last-of-type {
				//	margin-right: 0;
				//}
			//}

			.rel-container {
				span {
					margin: 0;
				}
			}

			.tag {
				display: inline-block;
				line-height: 16px;
				margin-right: 3px;
				padding: 0 3px;
				max-width: 40px;

				@media screen and (min-width: 1200px) {
					max-width: 71px;
				}

				@media screen and (min-width: 1400px) {
					max-width: 102px;
				}

				@media screen and (min-width: 1600px) {
					max-width: 133px;
				}
			}

			// TODO - AS: check
			//.icon-maintenance {
			//	height: 12px;
			//	width: 12px;
			//	margin: 3px 1px 2px 4px;

			//	&::before {
			//		height: 12px;
			//		width: 12px;
			//		background-position: -49px -805px;
			//	}
			//}

			// TODO - AS: check
			/*
			.icon-depend-up,
			.icon-depend-down {
				width: 12px;
			}

			.icon-depend-up::before {
				background-position: -49px -731px;
			}

			.icon-depend-down::before {
				background-position: -49px -767px;
			}

			.icon-wizard-action {
				background: url($sprite-path) no-repeat -6px -624px;
				height: 12px;
				min-height: 12px;
				margin: 0;
				position: relative;
			}

			.icon-description {
				margin-left: 2px;
			}

			// Align action icons according to tags and problem description icons in compact view.
			[class*='icon-action'] {
				margin-top: -2px;
			}
			*/

			// Align the expand and collapse icons in compact view.
			.btn-widget-expand,
			.btn-widget-collapse {
				vertical-align: top;
				margin: 0;
			}
		}
	}

	thead th {
		color: $font-alt-color;
		height: 100%;
		overflow: hidden;
		white-space: nowrap;
		padding: 6px 5px;
		vertical-align: bottom;
		border-bottom: 2px solid darken($table-border-color, 5%);
		text-align: left;

		&.column-tags-1 {
			width: 75px;
		}

		&.column-tags-2 {
			width: 124px;
		}

		&.column-tags-3 {
			width: 173px;
		}

		@media screen and (min-width: 1200px) {
			&.column-tags-1 {
				width: 106px;
			}

			&.column-tags-2 {
				width: 186px;
			}

			&.column-tags-3 {
				width: 266px;
			}
		}

		@media screen and (min-width: 1400px) {
			&.column-tags-1 {
				width: 137px;
			}

			&.column-tags-2 {
				width: 248px;
			}

			&.column-tags-3 {
				width: 359px;
			}
		}

		@media screen and (min-width: 1600px) {
			&.column-tags-1 {
				width: 168px;
			}

			&.column-tags-2 {
				width: 310px;
			}

			&.column-tags-3 {
				width: 452px;
			}
		}

		.arrow-up {
			margin: 0 0 0 3px;
			border-bottom-color: $font-alt-color;
		}

		.arrow-right {
			margin: 0 0 0 3px;
			border-left-color: $font-alt-color;
		}

		.arrow-down {
			margin: 0 0 0 3px;
			border-top-color: $font-alt-color;
		}

		.treeview {
			span {
				margin: 0;
			}
		}

		.vertical {
			writing-mode: vertical-lr;
			transform: rotate(180deg);
		}

		a {
			display: block;
			position: relative;
			margin: -1em;
			padding: 1em;
			border: 0;
			transition: background-color .2s ease-out;

			&:hover,
			&:focus,
			&:active {
				text-decoration: none;
				background-color: $ui-hover-color;
			}
		}
	}

	tbody tr {
		&:hover {
			background-color: $ui-hover-color;

			.timeline-axis,
			.timeline-td {
				border-bottom-color: $ui-hover-color !important;
			}

			// TODO - AS: check
			/*
			.timeline-axis {
				background-color: $ui-bg-color;
			}

			.timeline-date {
				background-color: $ui-bg-color;
			}

			.timeline-td {
				background-color: $ui-bg-color !important;
			}
			*/

			.btn-widget-expand,
			.btn-widget-collapse {
				background-color: $ui-hover-color;
			}
		}

		&.row-selected {
			@extend %found-bg;

			.timeline-axis,
			.timeline-td {
				border-bottom-color: $lighter-yellow !important;
			}

			// TODO - AS: check
			/*
			.timeline-axis {
				background-color: $ui-bg-color;
			}

			.timeline-date {
				background-color: $ui-bg-color;
			}

			.timeline-td {
				background-color: $ui-bg-color;
			}
			*/

			.btn-widget-expand,
			.btn-widget-collapse {
				background-color: $lighter-yellow;
			}
		}

		&.nothing-to-show {
			@extend %nothing-to-show;
		}

		&:last-child th,
		&:last-child td {
			border-bottom: 0;
		}

		&.hover-nobg {
			background-color: $ui-bg-color;

			.timeline-axis,
			.timeline-td {
				border-bottom-color: $ui-bg-color !important;
			}
		}

		&.hover-nobg-problem-nested {
			background-color: darken($ui-bg-color, 5%);

			.timeline-axis,
			.timeline-td {
				border-bottom-color: darken($ui-bg-color, 5%) !important;
			}
		}

		&.hidden {
			display: none;
		}
	}

	tbody th,
	td {
		padding: 6px 5px;
		position: relative;
		border-bottom: 1px solid $table-border-color;
		line-height: 18px;
		vertical-align: top;

		&.table-info {
			color: $font-alt-color;
		}
	}

	tbody th {
		text-align: left;
	}

	.vertical_rotation_inner {
		transform: rotate(270deg);
		white-space: nowrap;
	}

	.list-table-footer {
		border-bottom: 0;
		color: $font-alt-color;
		text-align: right;
	}

	.latest-values,
	.opdata {
		max-width: 300px;
	}

	.list-table-actions {
		text-align: right;
		white-space: nowrap;
	}

	&.sticky-header {
		thead {
			position: sticky;
			top: 0;
			z-index: 1;
			background: $ui-bg-color;
		}
	}

	&.sticky-footer {
		tbody {
			tr:last-of-type {
				td, th {
					border-bottom: none;
				}
			}
		}

		tfoot {
			position: sticky;
			bottom: 0;
			z-index: 1;
			background: $ui-bg-color;

			tr:first-of-type {
				td, th {
					border-top: 2px solid darken($table-border-color, 5%);
					border-bottom: 0;
				}
			}
		}
	}

	.list-table-actions {
		@extend %btn-reset;

		.zi-plus,
		.zi-pencil {
			vertical-align: middle;
			display: inline-block;
			width: 18px;
			height: 18px;
			min-height: unset;
			min-width: unset;
			padding: 0;
			margin-right: 5px;

			opacity: 0.5;
			transition: transform $ui-transition-duration;
			&::before {
				vertical-align: middle;
				color: $icon-color;
				font-size: 18px;
			}

			&:hover,
			&:active,
			&:focus {
				opacity: 1;
			}
			&:focus {
				box-shadow: 0 0 0 2px $btn-border-focus-color;
			}

			@extend %btn-reset;
		}
	}

	a,
	button {
		&.zi-bullet-right,
		&.zi-bullet-alt-up,
		&.zi-bullet-alt-down,
		&.zi-arrow-up,
		&.zi-arrow-down,
		&.zi-arrows-top-bottom,
		&.zi-alert {
			@extend %btn-reset;

			vertical-align: top;
			width: 18px;
			height: 18px;
			min-height: 0;
			padding: 0;
			margin-right: 5px;

			&::after {
				position: relative;
				width: 18px;
				height: 18px;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				font-size: 9px;
				font-family: inherit;
				content: attr(data-count);
			}
		}
	}

	a {
		&.zi-alert {
			display: inline-block;
			margin-left: 5px;

			&::before {
				top: 0;
			}

			&::after {
				top: -2px;
				right: 13.5px;
				display: inline;
				content: '?';
			}

			&:focus,
			&:active {
				box-shadow: 0 0 0 2px $btn-border-focus-color;
			}
		}
	}

	.zi-bullet-right {
		top: -1px;

		&::before {
			top: 2px;
			margin-left: -1px;
			font-size: 20px;
		}

		&::after {
			top: -3px;
			right: 19px;
			color: $font-color;
		}
	}

	.zi-alert {
		&::before {
			top: -2px;
			right: 1px;
			font-size: 20px;
			color: $icon-action-list-table-color;
		}

		&::after {
			top: -1px;
			right: 19.5px;
			color: $btn-font-color;
		}
	}

	.zi-arrow-up,
	.zi-arrow-down,
	.zi-arrows-top-bottom {
		&::before {
			font-size: 13px;
		}

		&::after {
			display: none !important;
		}
	}

	.zi-bullet-alt-up,
	.zi-bullet-alt-down {
		&::before {
			color: $icon-action-list-table-color;
		}

		&::after {
			display: none !important;
		}
	}

	.zi-command,
	.zi-checkbox,
	.zi-check,
	.zi-eye-off,
	.zi-eye,
	.zi-uncheck,
	.zi-alert-more,
	.zi-calendar-warning,
	.zi-calendar-check,
	.zi-envelope-filled {
		color: $icon-action-list-table-color;

		&::before {
			vertical-align: middle;
		}
	}

	.zi-wrench-alt {
		cursor: pointer;
		border-bottom: none;

		&::before {
			vertical-align: middle;
			padding-left: 6px;
			font-size: 12px;
			color: #f3a914;
		}
	}

	.zi-more {
		@extend %btn-reset;

		padding: 0 2px;
		opacity: .5;

		@if $ui-transitions {
			transition: opacity $ui-transition-duration ease-out;
		}

		&::before {
			font-size: 18px;
			color: $icon-color;
		}

		&:hover,
		&:active,
		&:focus {
			opacity: 1;
		}
	}
}
