.list-table {
	width: 100%;
	background-color: $ui-bg-color;
	border-collapse: separate;
	border: 1px solid $ui-border-color;

	.action-container {
		display: flex;
		width: 100%;
		height: 18px;
		line-height: 18px;

		.link-action {
			height: 16px;
			min-width: 1em;
			@extend %overflow-ellipsis;
		}

		.rel-container {
			display: flex;
		}

		.separator {
			flex-shrink: 0;
			margin-right: 4px;
		}
	}

	&.compact-view {
		tr {
			&[class*='flh-'] {
				@if $theme-name == 'blue' {
					&:not(.row-selected):not(:hover) {
						td {
							color: $font-color;

							sup,
							a,
							.problem-unack-fg,
							.problem-ack-fg,
							.ok-unack-fg,
							.ok-ack-fg {
								color: $font-color;
								border-bottom-color: rgba($font-color, .5);
							}

							.tag {
								background-color: rgba($font-color, .5);
							}

							button:focus {
								box-shadow: 0 0 0 2px rgba($font-color, .5);
							}
						}
					}
				}

				@if $theme-name == 'dark' {
					&:not(.row-selected):not(:hover) {
						td {
							color: #000000;

							sup,
							a,
							.problem-unack-fg,
							.problem-ack-fg,
							.ok-unack-fg,
							.ok-ack-fg {
								color: #000000;
								border-bottom-color: rgba(0, 0, 0, .5);
							}

							button:focus {
								box-shadow: 0 0 0 2px rgba(0, 0, 0, .5);
							}
						}
					}
				}
			}
		}

		.link-action {
			color: $font-color;

			&.red {
				color: $red;
			}

			&.orange {
				color: $orange;
			}

			&.yellow {
				color: $dark-yellow;
			}

			&.green {
				color: $green;
			}

			&:hover,
			&:focus {
				color: $link-hover-color;
			}
		}

		td {
			padding-top: 0;
			padding-bottom: 0;
			border-bottom: 0;
			box-shadow: inset 0 -1px 0 0 rgba($font-color, .1);
			color: $font-color;
			height: 22px;
			vertical-align: middle;
			white-space: nowrap;

			.rel-container {
				span {
					margin: 0;
				}
			}

			.tag {
				display: inline-block;
				line-height: 16px;
				margin-right: 3px;
				padding: 0 3px;
				max-width: 40px;

				@media screen and (min-width: 1200px) {
					max-width: 71px;
				}

				@media screen and (min-width: 1400px) {
					max-width: 102px;
				}

				@media screen and (min-width: 1600px) {
					max-width: 133px;
				}
			}
		}
	}

	thead th {
		color: $font-alt-color;
		height: 100%;
		overflow: hidden;
		white-space: nowrap;
		padding: 6px 5px;
		vertical-align: bottom;
		border-bottom: 2px solid darken($table-border-color, 5%);
		text-align: left;

		&.column-tags-1 {
			width: 75px;
		}

		&.column-tags-2 {
			width: 124px;
		}

		&.column-tags-3 {
			width: 173px;
		}

		@media screen and (min-width: 1200px) {
			&.column-tags-1 {
				width: 106px;
			}

			&.column-tags-2 {
				width: 186px;
			}

			&.column-tags-3 {
				width: 266px;
			}
		}

		@media screen and (min-width: 1400px) {
			&.column-tags-1 {
				width: 137px;
			}

			&.column-tags-2 {
				width: 248px;
			}

			&.column-tags-3 {
				width: 359px;
			}
		}

		@media screen and (min-width: 1600px) {
			&.column-tags-1 {
				width: 168px;
			}

			&.column-tags-2 {
				width: 310px;
			}

			&.column-tags-3 {
				width: 452px;
			}
		}

		.arrow-up {
			margin: 0 0 0 3px;
			border-bottom-color: $font-alt-color;
		}

		.arrow-right {
			margin: 0 0 0 3px;
			border-left-color: $font-alt-color;
		}

		.arrow-down {
			margin: 0 0 0 3px;
			border-top-color: $font-alt-color;
		}

		.treeview {
			span {
				margin: 0;
			}
		}

		.vertical {
			writing-mode: vertical-lr;
			transform: rotate(180deg);
		}

		a {
			display: block;
			position: relative;
			margin: -1em;
			padding: 1em;
			border: 0;
			transition: background-color .2s ease-out;

			&:hover,
			&:focus,
			&:active {
				text-decoration: none;
				background-color: $ui-hover-color;
			}
		}
	}

	tbody tr {
		&:hover {
			background-color: $ui-hover-color;

			.timeline-axis {
				background-color: $ui-bg-color;
			}

			.timeline-date {
				background-color: $ui-bg-color;
			}

			.timeline-td {
				background-color: $ui-bg-color !important;
			}
		}

		&.row-selected {
			@extend %found-bg;

			.timeline-axis {
				background-color: $ui-bg-color;
			}

			.timeline-date {
				background-color: $ui-bg-color;
			}

			.timeline-td {
				background-color: $ui-bg-color;
			}
		}

		&.nothing-to-show {
			@extend %nothing-to-show;
		}

		&:last-child th,
		&:last-child td {
			border-bottom: 0;
		}

		&.hover-nobg {
			background-color: $ui-bg-color;
		}
	}

	tbody th,
	td {
		padding: 6px 5px;
		position: relative;
		border-bottom: 1px solid $table-border-color;
		line-height: 18px;
		vertical-align: top;

		&.table-info {
			color: $font-alt-color;
		}
	}

	tbody th {
		text-align: left;
	}

	.vertical_rotation_inner {
		transform: rotate(270deg);
		white-space: nowrap;
	}

	.list-table-footer {
		border-bottom: 0;
		color: $font-alt-color;
		text-align: right;
	}

	.latest-values,
	.opdata {
		max-width: 300px;
	}

	.list-table-actions {
		text-align: right;
		white-space: nowrap;
	}

	&.sticky-header {
		thead {
			position: sticky;
			top: 0;
			z-index: 1;
			background: $ui-bg-color;
		}
	}

	&.sticky-footer {
		tbody {
			tr:last-of-type {
				td, th {
					border-bottom: none;
				}
			}
		}

		tfoot {
			position: sticky;
			bottom: 0;
			z-index: 1;
			background: $ui-bg-color;

			tr:first-of-type {
				td, th {
					border-top: 2px solid darken($table-border-color, 5%);
					border-bottom: 0;
				}
			}
		}
	}

	.list-table-actions {
		.zi-plus,
		.zi-pencil {
			width: 18px;
			height: 18px;
			min-height: 18px;
			margin-left: 5px;
			padding: 0 2px;
			vertical-align: middle;

			color: $icon-color;

			@extend %btn-reset;

			&:hover,
			&:focus,
			&:active {
				&::before {
					opacity: 1;
				}
			}

			&::before {
				top: -1px;
				right: 2px;
				vertical-align: middle;

				font-size: 18px;
				opacity: 0.5;
			}
		}
	}

	a,
	button {
		&.zi-bullet-right,
		&.zi-bullet-alt-up,
		&.zi-bullet-alt-down,
		&.zi-arrow-up,
		&.zi-arrow-down,
		&.zi-arrows-top-bottom,
		&.zi-alert {
			vertical-align: top;
			width: 18px;
			height: 18px;
			min-height: 0;
			padding: 0;
			margin-right: 5px;

			&::after {
				position: relative;
				width: 18px;
				height: 18px;
				display: inline-flex;
				justify-content: center;
				align-items: center;

				font-size: 9px;
				font-family: inherit;
				content: attr(data-count);
			}
			@extend %btn-reset;
		}
	}

	a {
		&.zi-alert {
			display: inline-block;
			margin-left: 5px;

			&:focus,
			&:active {
				box-shadow: 0 0 0 2px $btn-border-focus-color;
			}

			&::after {
				display: inline;
				right: 13.5px;
				top: -2px;
				content: '?';
			}
			&::before {
				top: 0;
			}
		}
	}

	.zi-bullet-right {
		top: -1px;

		&::before {
			top: 2px;
			margin-left: -1px;
			font-size: 20px;
		}

		&::after {
			top: -3px;
			right: 19px;
			color: $font-color;
		}
	}

	.zi-alert {
		&::before {
			top: -2px;
			right: 1px;
			font-size: 20px;
			color: $icon-action-list-table-color;
		}

		&::after {
			top: -1px;
			right: 19.5px;
			color: $btn-font-color;
		}
	}

	.zi-arrow-up,
	.zi-arrow-down,
	.zi-arrows-top-bottom {
		&::before {
			font-size: 13px;
		}
		&::after {
			display: none !important;
		}
	}

	.zi-bullet-alt-up,
	.zi-bullet-alt-down {
		&::before {
			color: $icon-action-list-table-color;
		}
		&::after {
			display: none !important;
		}
	}

	.zi-command,
	.zi-checkbox,
	.zi-check,
	.zi-eye-off,
	.zi-eye,
	.zi-uncheck,
	.zi-alert-more,
	.zi-calendar-warning,
	.zi-calendar-check,
	.zi-envelope-filled {
		color: $icon-action-list-table-color;
	}

	.zi-wrench-alt {
		cursor: pointer;
		border-bottom: none;

		&::before {
			padding-left: 6px;
			font-size: 12px;
			color: #f3a914;
		}
	}

	.zi-more {
		top: -1px;
		padding: 0 2px;
		opacity: .5;

		@if $ui-transitions {
			transition: opacity .3s ease-out;
		}

		&::before {
			font-size: 18px;
			color: $icon-color;
		}

		&:hover,
		&:active,
		&:focus {
			opacity: 1;
		}
		@extend %btn-reset;
	}
}
