.list-table {
	width: 100%;
	background-color: $ui-bg-color;
	border-collapse: separate;
	border: 1px solid $ui-border-color;

	// TODO - check
	span.zi-calendar-warning {
		display: inline-block;
		width: 18px;
		height: 18px;

		&::before {
			display: inline-block;
			width: 18px;
			height: 18px;
		}
	}

	.action-container {
		display: flex;
		width: 100%;
		height: 18px;
		line-height: 18px;

		.link-action {
			height: 16px;
			min-width: 1em;
			@extend %overflow-ellipsis;
		}

		.rel-container {
			display: flex;
		}

		.separator {
			flex-shrink: 0;
			margin-right: 4px;
		}
	}

	td {
		.zi-wrench-alt {
			display: inline-block;
			margin-left: 6px;
			width: 16px;
			height: 16px;
			cursor: pointer;
			border-bottom: none;

			&::before {
				margin-left: 2px;
				vertical-align: middle;
				font-size: $icon-small-size;
				color: $icon-maintenance;
			}

			&:focus {
				box-shadow: 0 0 0 2px $btn-focus-outline-color;
				border-radius: 2px;
			}
		}

		// Align tags and checkboxes. Tags are too low.
		.tag {
			margin-top: -1px;
		}

		// Checkboxes are too high up.
		.checkbox-radio {
			& + label {
				span {
					margin-top: 1px;
				}
			}
		}
	}

	.second-col {
		padding-left: 0;
		padding-right: 0;

		// Default icon marging makes the cell too wide.
		.icon-action-symptom {
			margin-right: 0;
		}
	}

	.third-col {
		// Padding top removed because it pushes the collapse and expand icon too far down.
		padding-top: 0;
		// Padding bottom removed because Chrome and Safari expands the row.
		padding-bottom: 0;
		padding-left: 2px;

		.icon-action-symptom {
			// Align the symptom icon in the third column, since padding is removed.
			margin-top: 6px;
			// Default icon marging makes the cell too wide.
			margin-right: 0;
		}
	}

	// Make the row more narrow.
	.symptom-limit-td {
		padding-top: 0;
		padding-bottom: 0;
	}

	.problem-nested:not([class*='flh-']):not(.row-selected):not(:hover) {
		background-color: darken($ui-bg-color, 5%);

		td,
		.timeline-axis,
		.timeline-td {
			border-bottom-color: darken($ui-bg-color, 5%) !important;
		}
	}

	.problem-nested-small {
		font-size: calc(#{$font-mono-size} - 1px);

		.tag {
			font-size: 12px;
		}
	}

	thead th {
		color: $font-alt-color;
		height: 100%;
		overflow: hidden;
		white-space: nowrap;
		padding: 6px 5px;
		vertical-align: bottom;
		border-bottom: 2px solid darken($table-border-color, 5%);
		text-align: left;

		&.column-tags-1 {
			width: 75px;
		}

		&.column-tags-2 {
			width: 124px;
		}

		&.column-tags-3 {
			width: 173px;
		}

		@media screen and (min-width: 1200px) {
			&.column-tags-1 {
				width: 106px;
			}

			&.column-tags-2 {
				width: 186px;
			}

			&.column-tags-3 {
				width: 266px;
			}
		}

		@media screen and (min-width: 1400px) {
			&.column-tags-1 {
				width: 137px;
			}

			&.column-tags-2 {
				width: 248px;
			}

			&.column-tags-3 {
				width: 359px;
			}
		}

		@media screen and (min-width: 1600px) {
			&.column-tags-1 {
				width: 168px;
			}

			&.column-tags-2 {
				width: 310px;
			}

			&.column-tags-3 {
				width: 452px;
			}
		}

		.arrow-up {
			margin: 0 0 0 3px;
			border-bottom-color: $font-alt-color;
		}

		.arrow-right {
			margin: 0 0 0 3px;
			border-left-color: $font-alt-color;
		}

		.arrow-down {
			margin: 0 0 0 3px;
			border-top-color: $font-alt-color;
		}

		.treeview {
			span {
				margin: 0;
			}
		}

		.vertical {
			writing-mode: vertical-lr;
			transform: rotate(180deg);
		}

		a {
			display: block;
			position: relative;
			margin: -1em;
			padding: 1em;
			border: 0;
			transition: background-color .2s ease-out;

			&:hover,
			&:focus,
			&:active {
				text-decoration: none;
				background-color: $ui-hover-color;
			}
		}
	}

	tbody tr {
		&:hover {
			background-color: $ui-hover-color;

			.timeline-axis,
			.timeline-td {
				border-bottom-color: $ui-hover-color !important;
			}

			// TODO - AS: check
			/*
			.timeline-axis {
				background-color: $ui-bg-color;
			}

			.timeline-date {
				background-color: $ui-bg-color;
			}

			.timeline-td {
				background-color: $ui-bg-color !important;
			}
			*/

			.btn-widget-expand,
			.btn-widget-collapse {
				background-color: $ui-hover-color;
			}
		}

		&.row-selected {
			@extend %found-bg;

			.timeline-axis,
			.timeline-td {
				border-bottom-color: $lighter-yellow !important;
			}

			// TODO - AS: check
			/*
			.timeline-axis {
				background-color: $ui-bg-color;
			}

			.timeline-date {
				background-color: $ui-bg-color;
			}

			.timeline-td {
				background-color: $ui-bg-color;
			}
			*/

			.btn-widget-expand,
			.btn-widget-collapse {
				background-color: $lighter-yellow;
			}
		}

		&.nothing-to-show {
			@extend %nothing-to-show;
		}

		&:last-child th,
		&:last-child td {
			border-bottom: 0;
		}

		&.hover-nobg {
			background-color: $ui-bg-color;

			.timeline-axis,
			.timeline-td {
				border-bottom-color: $ui-bg-color !important;
			}
		}

		&.hover-nobg-problem-nested {
			background-color: darken($ui-bg-color, 5%);

			.timeline-axis,
			.timeline-td {
				border-bottom-color: darken($ui-bg-color, 5%) !important;
			}
		}

		&.hidden {
			display: none;
		}
	}

	tbody th,
	td {
		padding: 6px 5px;
		position: relative;
		border-bottom: 1px solid $table-border-color;
		line-height: 18px;
		vertical-align: top;

		&.table-info {
			color: $font-alt-color;
		}
	}

	tbody th {
		text-align: left;
	}

	.vertical_rotation_inner {
		transform: rotate(270deg);
		white-space: nowrap;
	}

	.list-table-footer {
		border-bottom: 0;
		color: $font-alt-color;
		text-align: right;
	}

	.latest-values,
	.opdata {
		max-width: 300px;
	}

	.list-table-actions {
		text-align: right;
		white-space: nowrap;

		.btn-icon {
			width: 18px;
			min-height: 18px;

			&:not(:first-of-type) {
				margin-left: 5px;
			}
		}
	}

	&.sticky-header {
		thead {
			position: sticky;
			top: 0;
			z-index: 1;
			background: $ui-bg-color;
		}
	}

	&.sticky-footer {
		tbody {
			tr:last-of-type {
				td, th {
					border-bottom: none;
				}
			}
		}

		tfoot {
			position: sticky;
			bottom: 0;
			z-index: 1;
			background: $ui-bg-color;

			tr:first-of-type {
				td, th {
					border-top: 2px solid darken($table-border-color, 5%);
					border-bottom: 0;
				}
			}
		}
	}

	.zi-command, // TODO - check
	.zi-checkbox,
	.zi-check,
	.zi-eye-off,
	.zi-eye,
	.zi-uncheck,
	.zi-alert-more,
	.zi-calendar-warning,
	.zi-calendar-check,
	.zi-envelope-filled,
	.zi-arrow-top-right {
		color: $icon-action-list-table-color;

		&::before {
			vertical-align: middle;
		}
	}

	a,
	button {
		&.trigger-description {
			vertical-align: top;
			width: 18px;
			height: 18px;
			min-height: 0;
			padding: 0;
			margin-right: 5px;

			&::before {
				color: $icon-color;
			}
		}
	}

	.trigger-description {
		&::after {
			position: absolute;
			top: 4px;
			width: 18px;
			height: 18px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			font-size: 9px;
			font-family: inherit;
		}
	}

	.trigger-description {
		margin-left: 5px;

		&::after {
			content: '?' !important;
		}
	}
}
