.markdown {
	line-height: 1.5;
	white-space: initial;

	h1 {
		font-size: 24px;
	}

	h2 {
		font-size: 18px;
		line-height: 18px;
	}

	h4 {
		font-size: 12px;
		font-weight: 700;
		line-height: 18px;
	}

	h5 {
		font-size: 12px;
		line-height: 18px;
	}

	h1, h2, h3, h4, h5 {
		&:not(:first-child) {
			margin-top: 24px;
		}
	}

	ol, ul, p, pre, blockquote {
		margin-top: 16px;
		margin-bottom: 0;

		&:first-child {
			margin-top: 0;
		}

		ol, ul {
			margin-top: 0;
		}
	}

	h5 + * {
		margin-top: 0;
	}

	ul {
		list-style-type: disc;
	}

	:is(ol, ul) ul {
		list-style-type: circle;
	}

	:is(ol, ul) :is(ol, ul) ul {
		list-style-type: square;
	}

	ol {
		list-style-type: decimal;
	}

	:is(ol, ul) ol {
		list-style-type: lower-latin;
	}

	:is(ol, ul) :is(ol, ul) ol {
		list-style-type: lower-roman;
	}

	ol, ul {
		list-style-position: outside;
		padding-left: 2em;

		li {
			padding-bottom: 0;
		}
	}

	p, pre {
		overflow: hidden;
	}

	code {
		font-family: var(--font-stack-mono);
		font-size: $font-mono-size;
	}

	pre {
		padding: 5px;
		background: $form-dark-bg-color;
		border: 1px solid $form-border-color;
		border-radius: 2px;
	}

	blockquote {
		margin-block-start: 1em;
		margin-block-end: 1em;
		margin-inline-start: 40px;
		margin-inline-end: 40px;
	}

	a {
		@extend .link-external;
	}
}
