.menu-main {
	& > li {
		line-height: 16px;

		&.is-selected {
			> a {
				background: $menu-main-selected-bg-color;
				border-left-color: $menu-main-selected-border-color;
				color: $menu-main-selected-color;
			}
		}

		&.is-expanded {
			& > a {
				&,
				&:focus {
					background: $menu-main-expanded-bg-color;
					border-left-color: $menu-main-expanded-border-color;
					color: $menu-main-expanded-color;
				}
			}
		}

		&:not(.is-expanded) {
			.submenu {
				max-height: 0 !important;
			}
		}

		& > a {
			color: $menu-main-color;

			&:hover,
			&:focus {
				background: $menu-main-hover-bg-color;
				border-left-color: $menu-main-hover-border-color;
				color: $menu-main-hover-color;
			}
		}
	}

	.has-submenu {
		& > a {
			padding-right: 34px;

			&::after {
				@extend %icons-font;
				position: absolute;
				top: 17px;
				right: 13px;
				font-size: $icon-medium-size * .5;
				content: $zi-chevron-down-thin;
				transform: rotate(0deg);

				@if $ui-transitions {
					transition: transform $ui-transition-duration;
				}
			}
		}

		&.is-expanded {
			& > a {
				&[class^="zi-"], &[class*=" zi-"] {
					&::before {
						color: $menu-main-expanded-icon-color;
					}

					&:hover,
					&:focus {
						&::before {
							color: $menu-main-hover-color;
						}
					}
				}

				&::after {
					transform: rotate(-180deg);
				}
			}
		}
	}

	[class^="zi-"], [class*=" zi-"] {
		&::before {
			margin-right: 10px;
			color: $menu-main-icon-color;
			font-size: $main-menu-icon-size;
			line-height: 0;

			@if $ui-transitions {
				transition: color $ui-controls-transition-duration ease-out;
			}
		}
	}

	a {
		position: relative;
		display: block;
		padding: 12px 14px 12px 44px;
		font-size: 14px;
		line-height: inherit;
		white-space: nowrap;
		border-left: 3px solid transparent;

		&:active,
		&:hover,
		&:link,
		&:visited {
			border-bottom: 0;
		}

		&[class^="zi-"], &[class*=" zi-"] {
			padding-left: 10px;
		}

		&:hover,
		&:focus {
			&[class^="zi-"], &[class*=" zi-"] {
				&::before {
					color: inherit;
				}
			}
		}

		@if $ui-transitions {
			transition: color $ui-transition-duration,
						border-color $ui-transition-duration,
						background-color $ui-transition-duration;
		}
	}

	.submenu {
		position: relative;
		padding-left: 24px;
		overflow: hidden;
		background: $menu-main-submenu-border-color;

		> li {
			line-height: 14px;

			&.is-selected {
				> a {
					background: $menu-main-submenu-selected-bg-color;
					border-left-color: $menu-main-submenu-selected-border-color;
					color: $menu-main-submenu-selected-color;

					&:hover,
					&:focus {
						background: $menu-main-submenu-hover-bg-color;
						color: $menu-main-submenu-hover-color;
					}
				}
			}

			&:not(:last-child) {
				border-bottom: 1px solid $menu-main-submenu-border-color;
			}
		}

		[class^="zi-"], [class*=" zi-"] {
			&::before {
				margin-right: 8px;
				font-size: $main-menu-submenu-icon-size;
				color: inherit;
			}
		}

		a {
			padding: 8px 20px;
			font-size: 12px;
			background: $menu-main-submenu-bg-color;
			color: $menu-main-submenu-color;

			&:hover,
			&:focus {
				background: $menu-main-submenu-hover-bg-color;
				border-left-color: $menu-main-submenu-hover-border-color;
				color: $menu-main-submenu-hover-color;
			}
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			right: 0;
			left: 0;
			z-index: 999;
			box-shadow: 0 0 6px 2px rgba(0, 0, 0, .35);
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		@if $ui-transitions {
			transition: max-height $ui-transition-duration ease;
			will-change: max-height;
		}

		.submenu {
			position: fixed;
			top: 0;
			left: 100%;
			padding: 1px;
			box-shadow: 4px 4px 8px 0 $menu-main-submenu-next-level-shadow;

			li {
				border: 0;

				a {
					padding: 6px 20px;
					border-left: 0;
					background-color: $menu-main-submenu-next-level-bg;
				}

				&.is-selected a {
					background-color: $menu-main-submenu-selected-bg-color;
				}

				a:hover,
				a:focus {
					background-color: $menu-main-submenu-hover-bg-color;
				}
			}

			@if $ui-transitions {
				transition: none;
			}

			&::before,
			&::after {
				display: none;
			}
		}

		.has-submenu {
			& > a {
				&::after {
					transform: rotate(90deg);
					top: 11px;
				}
			}

			&:not(.is-expanded) {
				a {
					&::after {
						transform: rotate(-90deg);
					}
				}

				.submenu {
					left: -9999px !important;
				}
			}
		}
	}
}
