$menu-main-icons: (
		dashboard: -540px -664px,
		problems: -540px -688px,
		monitoring: -540px -712px,
		inventory: -540px -736px,
		reports: -540px -760px,
		configuration: -540px -784px,
		administration: -540px -808px
) !default;

%menu-main-icon-common {
	&::before {
		content: '';
		width: 24px;
		height: 24px;
		background: url(../img/icon-sprite.svg) no-repeat;
	}
}

// Dynamically generated classes for icons:
//  .icon-dashboard
//  .icon-problems
//  .icon-monitoring
//  .icon-inventory
//  .icon-reports
//  .icon-configuration
//  .icon-administration
@each $class, $bg-position in $menu-main-icons {
	.icon-#{$class} {
		@extend %menu-main-icon-common;

		&::before {
			background-position: $bg-position;
		}
	}
}

.menu-main {

	& > li {

		& > a {
			&::before {
				position: absolute;
				top: 7px;
				left: 9px;
			}

			&:hover,
			&:focus {
				&::before {
					background-position-x: -570px;
				}
			}
		}
	}

	li {
		line-height: 16px;

		&.is-selected {
			> a {
				background: $menu-main-selected-bg-color;
				border-left-color: $menu-main-selected-border-color;
			}
		}

		&.has-submenu {

			& > a {
				&::after {
					content: '';
					position: absolute;
					top: 19px;
					right: 14px;
					width: 6px;
					height: 4px;
					background: url(../img/icon-sprite.svg) no-repeat -549px -434px;
					transform: rotate(0deg);

					@if $ui-transitions {
						transition: transform $ui-transition-duration,
									opacity $ui-transition-duration;
					}
				}

				&:hover,
				&:focus {
					&::after {
						background-position-x: -606px;
					}
				}
			}

			&.is-expanded {
				& > a {
					background: $menu-main-hover-bg-color;
					border-left-color: transparent;

					&::after {
						background-position-x: -606px;
						transform: rotate(-180deg);
					}
				}
			}
		}

		&:not(.is-expanded) {
			.submenu {
				max-height: 0 !important;
			}
		}
	}

	a {
		position: relative;
		display: block;
		padding: 12px 34px 12px 44px;
		font-size: 14px;
		line-height: inherit;
		color: $menu-main-color;
		white-space: nowrap;
		border-left: 3px solid transparent;

		&:active,
		&:hover,
		&:link,
		&:visited {
			border-bottom: 0;
		}

		&:hover,
		&:focus {
			background: $menu-main-hover-bg-color;
			border-color: $menu-main-hover-border-color;
			color: $menu-main-hover-color;
		}

		@if $ui-transitions {
			transition: color $ui-transition-duration,
						border-color $ui-transition-duration,
						background-color $ui-transition-duration;
		}
	}

	.submenu {
		position: relative;
		padding-left: 24px;
		overflow: hidden;
		background: $menu-main-submenu-border-color;

		li {
			line-height: 14px;

			&.is-selected {
				a {
					background: $menu-main-submenu-selected-bg-color;
					border-left-color: $menu-main-submenu-selected-border-color;

					&:hover,
					&:focus {
						background: $menu-main-submenu-hover-bg-color;
					}
				}
			}

			&:not(:last-child) {
				border-bottom: 1px solid $menu-main-submenu-border-color;
			}
		}

		a {
			padding: 8px 12px 8px 20px;
			font-size: 12px;
			background: $menu-main-submenu-bg-color;

			&:hover,
			&:focus {
				background: $menu-main-submenu-hover-bg-color;
			}
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			right: 0;
			left: 0;
			z-index: 999;
			box-shadow: 0 0 6px 2px rgba(0, 0, 0, .35);
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		@if $ui-transitions {
			transition: max-height $ui-transition-duration ease;
			will-change: max-height;
			transform: translate3d(0, 0, 0);
		}
	}
}
