.no-data-found {
	display: grid;
	align-items: center;
	height: 100%;
	color: $font-alt-color;
	text-align: center;

	[class^="zi-"], [class*=" zi-"] {
		&::before {
			display: block;
			margin-bottom: 8px;
		}
	}

	.no-data-message {
		font-size: 16px;
		text-align: center;
	}

	.no-data-description {
		font-size: 14px;
		margin-top: 4px;
	}
}
