.radio-list-control {
	display: inline-block;
	white-space: nowrap;

	li {
		position: relative;
		display: inline-block;
		margin: 0 -1px 0 0;
		padding: 0;

		&:first-child {
			border-radius: 3px 0 0 3px;

			label {
				border-radius: 2px 0 0 2px;
			}
		}

		&:last-child {
			border-radius: 0 3px 3px 0;

			label {
				border-radius: 0 2px 2px 0;
			}
		}

		&:only-child {
			border-radius: 3px;

			label {
				border-radius: 2px;
			}
		}
	}

	label {
		display: inline-block;
		border: 1px solid $form-border-color;
		line-height: 1.2em;
		padding: 4px 11px;
		transition: background-color .2s ease-out;
		cursor: pointer;
	}

	input[type="radio"] {
		position: absolute !important;
		top: auto !important;
		width: 1px !important;
		height: 1px !important;
		opacity: 0;

		+ label {
			color: $font-color;
			border-color: $form-border-color;
			background-color: $form-bg-color;

			&:hover {
				background-color: $btn-form-hover-color;
			}

			&:active {
				border-color: $form-border-color;
				background-color: $btn-form-hover-color;
			}
		}

		&:focus + label {
			border-color: $form-border-focus-color;
			background-color: $btn-form-hover-color;
			position: relative;
			z-index: 2;
		}

		&:checked + label {
			color: $white;
			border-color: $ui-bg-selected-color;
			background-color: $ui-bg-selected-color;
			position: relative;
			z-index: 1;
		}

		&:checked:focus + label {
			box-shadow: 0 0 0 2px rgba($blue, .35);
			position: relative;
			z-index: 2;
		}

		&:checked[disabled] + label {
			background-color: lighten($ui-bg-selected-color, 33%) !important;
			transition: none;
		}

		&[disabled] + label {
			transition: none;
			@extend %form-disabled;
		}
	}

	+ .icon-info {
		margin-left: 5px;
	}
}
