.radio-card-list {
	gap: 16px;
	align-items: stretch;

	.radio-card {
		display: grid;
		box-sizing: border-box;
		padding: 16px;
		border: 1px solid $form-border-color;
		border-radius: 2px;
		min-width: 0;
		white-space: normal;

		&:has(input[type="radio"]:checked) {
			border-color: $form-radio-selected-color;
		}
	}

	.radio-card-label {
		position: relative;
		padding-right: 26px;
		line-height: 18px;
		cursor: pointer;

		.radio-card-selector {
			display: flex;
			border: 1px solid $form-border-color;
			border-radius: 50%;
			position: absolute;
			top: 1px;
			right: 0;

			input[type="radio"] {
				top: 0;
				margin-right: 0;
				width: 14px;
				height: 14px;
				opacity: 0;
				cursor: pointer;
			}

			&:has(input[type="radio"]:checked)::after {
				content: '';
				position: absolute;
				display: block;
				width: 8px;
				height: 8px;
				top: 3px;
				left: 3px;
				background-color: $form-radio-selected-color;
				border-radius: 50%;
			}
		}
	}
}
