// Range control.
$range-track-color: #c0c0c0;
$range-progress-color: $link-color;
$range-thumb-color: $link-color;
$range-thumb-color-focus: $link-active-color;
$range-progress-color-focus: $link-active-color;
$range-thumb-size: 10px;
$range-track-height: 2px;
$range-input-width: 31px;

.range-control {
	position: relative;
	display: inline-block;

	input[type=range] {
		cursor: pointer;
		-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
		-moz-appearance: none; /* Hides the slider so that custom slider can be made */
		width: calc(100% + 10px);
		opacity: 0;
		vertical-align: middle;
		margin: 0 -5px;
		padding: 0;
		height: 20px;

		&:focus {
			outline: none;
		}

		/* Special styling for WebKit/Blink */
		&::-webkit-slider-thumb {
			margin-top: 1px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
			height: $range-thumb-size;
			width: $range-thumb-size;
			opacity: 0;
		}

		&::-webkit-slider-runnable-track {
			height: $range-thumb-size;
			opacity: 0;
		}
	}

	input[type=text] {
		width: $range-input-width;
	}

	> div {
		position: relative;
		display: inline-block;
		width: calc(100% - 10px - #{$range-input-width});
		margin-right: $range-thumb-size;
	}

	.range-control-track,
	.range-control-progress {
		position: absolute;
		top: 50%;
		margin-top: -$range-track-height / 2;
		left: 0;
		height: $range-track-height;
		cursor: pointer;
	}

	.range-control-track {
		width: 100%;
		background: $range-track-color;
	}

	.range-control-progress {
		background: $range-progress-color;
	}

	.range-control-thumb {
		position: absolute;
		top: 50%;
		margin-top: -$range-thumb-size / 2;
		margin-left: -$range-thumb-size / 2;
		width: $range-thumb-size;
		height: $range-thumb-size;
		border-radius: 50%;
		background: $range-thumb-color;
	}

	&.range-control-focus {
		.range-control-thumb {
			margin-top: -$range-thumb-size / 1.5;
			margin-left: -$range-thumb-size / 1.5;
			background: $range-thumb-color-focus;
			border: 2px solid lighten($btn-bg-color, 10%);
		}

		.range-control-progress {
			background: $range-progress-color-focus;
		}
	}

	&.disabled {
		opacity: 1;

		input[type=range] {
			cursor: default;
		}
		.range-control-progress,
		.range-control-thumb {
			background: #c0c0c0;
		}
	}

	datalist {
		position: absolute;
		display: flex;
		width: 100%;
		top: 50%;
		margin-top: -$range-track-height / 2;

		option {
			padding: 0;
			font-size: 0;
			flex: 1 0 0;
			height: $range-track-height;
			border-left: 1px solid $body-bg-color;
		}
	}
}
