.svg-honeycomb {
	.svg-honeycomb-cell path {
		fill: $honeycomb-cell-color;
	}

	.svg-honeycomb-label {
		color: $honeycomb-label-color;
		text-align: center;

		.svg-honeycomb-label-line {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.svg-honeycomb-cell-no-data path,
	.svg-honeycomb-cell-other path {
		fill: $honeycomb-cell-no-data-color;
	}

	.svg-honeycomb-cell-no-data text {
		text-anchor: middle;
		fill: $honeycomb-label-no-data-color;
	}

	.svg-honeycomb-cell-other-ellipsis circle {
		fill: $honeycomb-label-no-data-color;
	}
}
