.svg-gauge {
	$transition: .5s ease-in-out;

	fill: $font-color;

	.svg-gauge-description {
		text-anchor: middle;
	}

	.svg-gauge-thresholds-arc-sector,
	.svg-gauge-empty-arc-sector {
		fill: $gauge-empty-color;
	}

	.svg-gauge-value-arc-sector {
		fill: $gauge-fill-color;
	}

	.svg-gauge-value-arc-sector,
	.svg-gauge-empty-arc-sector {
		transition: fill $transition;
	}

	.svg-gauge-needle {
		fill: $gauge-needle-color;
		stroke: $gauge-needle-color;
		vector-effect: non-scaling-stroke;
		transition: fill $transition;
	}

	.svg-gauge-label-left {
		text-anchor: end;
	}

	.svg-gauge-label-center {
		text-anchor: middle;
	}

	.svg-gauge-value,
	.svg-gauge-units {
		text-anchor: middle;
	}

	.svg-gauge-no-data {
		text-anchor: middle;
		fill: $font-alt-color;
	}
}
