.filter-container.tabfilter-container {
	padding: 0;
	border: 0 none;
	background-color: transparent;
	margin: 0;

	.form-buttons {
		[name="filter_new"],
		[name="filter_update"] {
			margin-right: 20px;
		}
	}

	// All tab filters content container.
	.tabfilter-content-container {
		border: 1px solid $ui-border-color;
		background-color: $ui-bg-color;
		padding: 10px 0;
		margin-bottom: 6px;

		&.tabfilter-collapsed {
			padding: 0 0 10px 0;

			.tabfilter-tabs-container,
			.form-buttons {
				display: none;
			}
		}
	}

	// Top navigation labels.
	nav > ul {
		display: flex;
		flex: 1;
		justify-content: space-between;
		// Sortable container have padding-top 3px for focused state be visible, therefore filter content shift compensated with negative margin of same size.
		margin-top: -3px;
	}

	nav > ul > li {
		padding-top: 3px;

		// Container with sortable tab items. Occupy space left with overflow and scrolling of content (javascript).
		&:nth-child(2) {
			flex-grow: 1;
			overflow: hidden;
			padding-bottom: 2px;
			margin: 0 3px -2px -3px;
			height: 30px;

			ul {
				white-space: nowrap;
				margin-left: 3px;
				margin-right: 3px;
			}
		}

		&:nth-child(3) {
			> ul > li {
				margin-right: 0;

				&:not(:first-child) {
					margin-left: 5px;
				}

				&.disabled {
					opacity: 1;
				}
			}

			.selected {
				background-color: transparent;
			}
		}

		// Left and right navigation containers. Occupy as much space as needed to render it content.
		&:nth-child(1),
		&:nth-child(3) {
			white-space: nowrap;
		}
	}

	nav {
		margin-bottom: -1px;

		li {
			display: inline-block;
			height: 22px;
			line-height: 22px;
			vertical-align: top;

			button {
				vertical-align: middle;
				// Remove global defined margin-top for buttons.
				margin-top: 0;
			}
		}
	}

	// Tab filter label li element.
	.tabfilter-item-label {
		display: inline-block;
		border-radius: 2px;
		border: 1px solid transparent;
		color: $tab-label-color;
		margin-right: 2px;
		margin-left: 2px;

		&.unsaved .tabfilter-item-link {
			font-style: italic;

			&::before {
				content: '*';
			}

			&[data-counter]::after {
				display: none;
			}
		}

		&.selected.expanded {
			position: relative;
			background-color: $tab-label-expanded-bg-color;
			border: 1px solid $tab-label-expanded-border-color;
			border-bottom: 0;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
			padding-bottom: 7px;
			vertical-align: baseline;

			.tabfilter-item-link {
				color: $tab-label-expanded-color;
			}

			&:hover {
				background: $tab-label-focus-bg-color;
			}
		}

		&.selected {
			background-color: $tab-label-expanded-bg-color;
			border-color: $tab-label-expanded-border-color;

			.tabfilter-item-link[data-counter]::after {
				display: none;
			}
		}

		&.focused {
			box-shadow: 0 0 0 2px $btn-focus-outline-color;

			.btn-icon {
				&:active,
				&:focus {
					box-shadow: none;
				}
			}
		}

		&.disabled {
			box-shadow: none;
			pointer-events: none;
		}

		&.ui-sortable-helper {
			background-color: $tab-label-expanded-bg-color;
		}

		&:first-child {
			.tabfilter-item-link {
				padding: 0 11px 7px 11px;

				&::before {
					vertical-align: middle;
				}
			}
		}
	}

	// Tab filter label li clickable a element.
	.tabfilter-item-link {
		position: relative;
		display: inline-block;
		padding: 0 8px 7px 8px;
		margin-bottom: -7px;
		line-height: 22px;
		color: $tab-label-expanded-color;
		border: 1px transparent;
	}

	.tabfilter-edit {
		margin: -1px 2px -1px -6px;
	}

	.ui-sortable-container {
		// Tab sortable handle left border is visible when handle is not selected, do not have selected sibling before and is not dragged.
		.tabfilter-item-label.ui-sortable-helper,
		.tabfilter-item-label:not(.selected) {
			& + .tabfilter-item-label.ui-sortable-handle:not(.selected,.ui-sortable-helper) {
				.tabfilter-item-link::before {
					content: ' ';
					position: absolute;
					top: 1px;
					left: -3px;
					display: inline-block;
					height: 20px;
					border-left: 1px solid $ui-tabfilter-item-border-color;
				}
			}
		}
	}

	// Tab filter contents container.
	.tabfilter-tabs-container {
		.filter-container.time-selection-container {
			border: 0 none;
		}
	}

	.btn-time {
		padding: 0 11px;
		margin: -1px;
		color: $btn-color;
		border: 1px solid $btn-border-color;
		border-radius: 2px;
		height: 24px;
		box-sizing: border-box;

		&:hover {
			background-color: $btn-hover-bg-color;
			border-color: $btn-hover-border-color;
		}

		&:active,
		&:focus {
			background-color: $btn-focus-bg-color;
			border-color: $btn-focus-border-color;
			box-shadow: none;
		}
	}

	.expanded {
		.btn-time {
			background-color: transparent;
			border-color: transparent;
		}
	}

	.disabled {
		.btn-time {
			&,
			&:hover,
			&:focus,
			&:active {
				color: $btn-disabled-color;
				background-color: $btn-disabled-bg-color;
				border-color: $btn-disabled-border-color;
				box-shadow: none;
			}
		}
	}
}

[data-counter]::after {
	margin-left: .4em;
	padding: 0.1em 0.4em;
	font-size: $font-h3-size;
	background-color: $ui-bg-selected-color;
	border-radius: 2px;
	color: $white;
	content: attr(data-counter);
}

[data-counter=""]::after {
	display: none;
}

.menu-popup {
	.menu-popup-item[data-counter]::after {
		display: block;
		position: absolute;
		top: 2px;
		right: 15px;
		line-height: 18px;
	}

	.menu-popup-item[data-counter] {
		padding-right: 35px;
	}
}

