.toc {
	.toc-row {
		padding: 6px 10px;
		overflow: hidden;
		line-height: 18px;
		text-overflow: ellipsis;
		white-space: nowrap;
		background: $toc-title-bg-color;
		border-bottom: 1px solid $table-border-color;
	}

	.btn-link {
		color: $toc-title-color;
		border-style: none;
		border-color: $toc-title-color;

		&:focus {
			border-style: solid;
		}
	}

	.toc-arrow {
		position: relative;
		margin-left: 12px;

		.arrow-down,
		.arrow-right {
			position: absolute;
			left: -12px;
			top: 50%;
			transform: translateY(-50%);
		}

		.arrow-down {
			border-top-color: $toc-title-color;
		}

		.arrow-right {
			border-left-color: $toc-title-color;
		}
	}

	.toc-sublist {
		.toc-row {
			padding-left: 20px;
			background-color: transparent;
		}

		.toc-sublist .toc-row {
			padding-left: 50px;
		}

		.btn-link {
			color: $font-color;
			border-color: $font-color;
		}

		.arrow-down {
			border-top-color: $toc-title-bg-color;
		}

		.arrow-right {
			border-left-color: $toc-title-bg-color;
		}
	}
}
