z-textarea-flexible {
	display: inline-block;

	textarea {
		width: 100%;
		height: 24px;
		overflow: hidden;
		resize: none;
		line-height: 14px;
		white-space: break-spaces;
		word-break: break-word;

		@extend %form-input-style;
		@extend %webkit-scrollbar;

		&[disabled] {
			@extend %form-disabled;
		}

		&[readonly] {
			@extend %form-readonly;

			&:focus {
				border-color: $form-focus-border-color;
			}
		}
	}
}
