z-textarea-flexible {
	display: inline-block;

	textarea {
		margin: 0;
		padding: 4px 5px;
		min-height: 24px;
		overflow: hidden;
		resize: none;
		font-family: var(--font-stack);
		font-size: $font-form-size;
		vertical-align: top;
		word-break: break-word;
		width: 100%;
		height: 24px;
		line-height: 14px;
		white-space: break-spaces;

		@extend %form-input-style;
		@extend %webkit-scrollbar;

		&[disabled] {
			@extend %form-disabled;
		}

		&[readonly] {
			@extend %form-readonly;

			&:focus {
				border-color: $form-focus-border-color;
			}
		}
	}
}

.macro-input-group {
	z-textarea-flexible {
		flex: 1;

		textarea {
			border-right: 0;

			&:focus {
				+ .btn-undo {
					border-color: $form-focus-border-color;
				}
			}
		}
	}
}

.modal-popup-medium,
.modal-popup-large,
.modal-popup-static,
.modal-popup-preprocessing {
	z-textarea-flexible {
		textarea {
			overflow-y: auto;
		}
	}
}

.textarea-flexible-container {
	td {
		line-height: 22px;

		&.textarea-flexible-parent {
			vertical-align: top;
		}

		&.macro-textarea-parent {
			textarea {
				float: left;
			}
			span {
				margin-left: 10px;
			}
		}

		button {
			line-height: normal;
		}
	}
}
