z-textarea-flexible {
	display: inline-block;

	textarea {
		margin: 0;
		padding: 4px 5px;
		min-height: 24px;
		overflow: hidden;
		resize: none;
		font-family: var(--font-stack);
		font-size: $font-form-size;
		vertical-align: top;
		word-break: break-word;
		width: 100%;
		height: 24px;
		line-height: 14px;
		white-space: break-spaces;

		@extend %form-input-style;
		@extend %webkit-scrollbar;

		&[disabled] {
			@extend %form-disabled;
		}

		&[readonly] {
			@extend %form-readonly;

			&:focus {
				border-color: $form-focus-border-color;
			}
		}
	}
}
