table.tableinfo tr.selected td { background-color: #FFFFBB; }
table.tableinfo tr.selected:hover td { background-color: #BBCCFF; }

table.tableinfo tr.odd_row td { background-color: #DDDDDD; }
table.tableinfo tr.odd_row:hover td { background-color: #BBCCFF; }

table.tableinfo tr.even_row td { background-color: #EEEEEE; }
table.tableinfo tr.even_row:hover td{ background-color: #BBCCFF; }

table.tableinfo tr td.center { vertical-align: middle; text-align: center; }

table.tableinfo tr td.active				{	background-color: #AADDAA;	border: 1px #AADDAA solid; }
table.tableinfo tr:hover td.active			{	background-color: #AAD9AA;	border: 1px #AAD9AA solid; }

table.tableinfo tr td.inactive				{	background-color: #FF8888;	border: 1px #FF8888 solid; }
table.tableinfo tr:hover td.inactive			{	background-color: #FA8388;	border: 1px #FA8388 solid; }

/* DIV */
.menu_icon{
	line-height: 15px;
	height: 15px;
	width: 15px;
}

ul.objectlist li{
	display: inline;
}

ul.formlist li div.dd{
	padding-left: 1%;
	margin-left: 0;
}

/* INPUT */


/* Sortable */
.column{ }
.link_menu{
	border: 0px;
	text-decoration: underline;
}

.footer .dt input.main{ height: 25px; }
.footer .dd { padding-left: 1%; }

.inlineblock{ *display: inline;}
.radio{ border: 0;}

/* form info line */
.formrow .listInfoLabel{
	display: block;
	float: left;
	padding: 8px 0;
}

.formrow .listInfoText{
	margin-left: 21%;
}

.listInfo{
	display: list-item;
}
