/* CSS Document */

form {margin: 0px}

/**************** FORM ELEMENTS ****************/
select{
	cursor: pointer;
}

.biginput, .biginput[disabled]:hover{
	font-family: Verdana, Helvetica, Geneva;
	font-size: 10px;
	border: 1px solid gray;
	background-color: white;
	padding: 0px 1px 0px 0px;
	margin-top: 1px;
	margin-left: 2px;
	vertical-align: top;
}
.biginput:focus	{
	border-color: black;
}
.biginput:hover	{
	border-color: black;
}

.biginput[readonly], .biginput[readonly]:hover{
/* NOTE: Ignored by IE */
	border-color: #D0D0D0;
	background-color: #EEEEEE;
}

.button, .button[disabled]:hover{
	font-family: Verdana, Helvetica, Geneva;
	font-size: 10px;
	background: #F0F0F0 url('../images/gradients/button.gif') repeat-x top left;
	border: 1px solid #808080;
	height: 17px;
	padding: 0px 4px 2px 4px;
	cursor: pointer;
	margin-top: 1px;
	margin-left: 4px;
	vertical-align: top;
}

.button:hover{
	text-decoration: underline;
	border-color: black;
}

.button[disabled], .button[disabled]:hover{
	cursor: default;
}

.checkbox{
	cursor: pointer;
}

/* SPECIAL FOR FILTER */
table.thin_header .button{
	height: 14px;
	margin: 0px;
}

table.thin_header .biginput{
	font-size: 11px;
	height: 14px;
	line-height: 14px;
	padding: 0px 1px 0px 1px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 2px;
	vertical-align: top;
}

form.thin .biginput{
	font-size: 11px;
	height: 14px;
	line-height: 14px;
	padding: 0px 1px 0px 1px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 2px;
	vertical-align: top;
}
