/* CSS Document */

/**************** POPUP MENU ***************/

/* default menu item */
.pum_o_item {
	font-family: sans-serif, Tahoma, Verdana, Geneva, Arial, Helvetica;
	font-size: 12px;
	text-decoration: none;
	background-color: #ECECFF;
	border: black 1px solid;
	margin: 0;
}
.pum_o_item:hover {
	cursor:pointer;
	text-decoration: underline;
	background-color: #FDFDFF;
}
.pum_i_item {
	margin: 3px 0px 0px 8px;
	white-space: nowrap;
}

/* menu menu item with submenu */
.pum_b_submenu{
	font-family: sans-serif, Tahoma, Verdana, Geneva, Arial, Helvetica;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	background: #ECECFF;
	border: black 1px solid;
	margin: 0;
}
.pum_b_submenu:hover {
	cursor:pointer;
	text-decoration: none;
	background-color: #FDFDFF;
}

.pum_o_submenu{
	font-family: sans-serif, Tahoma, Verdana, Geneva, Arial, Helvetica;
	font-size: 12px;
	text-decoration: none;
	background: #ECECFF;
	border: black 1px solid;
	margin: 0;
}
.pum_o_submenu:hover {
	cursor:pointer;
	text-decoration: none;
	background-color: #FDFDFF;
}
.pum_i_submenu{
	margin: 3px 0 0 8px;

}

/* menu group header */
.pum_oheader {
	cursor: default;
	text-decoration: none;
	border: black 1px solid;
	background: #5C7099 url('../images/gradients/table_head2.gif') repeat-x top left;
	margin: 0;
}
.pum_oheader:hover {
	cursor:pointer;
	text-decoration: none;
}
.pum_iheader {
	color: #FFFFFF;
	font-weight: bold;
	margin: 3px 0 0 8px;
}

/************ END OF POPUP MENU ************/
