<?php
/**
 * Copy this file to bootstrap.php and replace URL parameter with
 * location of the front-end files. For example
 * http://127.0.0.1/trunk/frontends/php/
 *
 * Note that file conf/zabbix.conf.php must exist and point to the same
 * database used by the front-end for successful testing.
 */
	define('PHPUNIT_URL', '{URL}');
	define('PHPUNIT_LOGIN_NAME', 'Admin');
	define('PHPUNIT_LOGIN_PWD', 'zabbix');
	define('PHPUNIT_FRONTEND_HOST', 'hudson');
