html,
body {
	height: 100vh;
}

body {
	display: flex;
	min-width: 1200px;
	overflow: hidden;
}

aside
.wrapper,
{
	box-sizing: border-box;
}

.wrapper {
	display: flex;
	flex: 1;
	flex-direction: column;
	overflow: auto;
	position: relative;

	&.layout-kioskmode {

		main {
			padding: 10px;
		}
	}
}

header,
footer {
	flex-shrink: 0;
}

header {
	margin-bottom: 10px;
}

main {
	padding: 0 10px;
}

footer {
	margin-top: auto;
}

output {
	display: flex;
	flex-direction: column;
}
