.sidebar {
	position: relative;
	display: flex;
	flex-direction: column;
	width: max-content;
	background: $sidebar-bg-color;
	z-index: 998;

	.sidebar-header {
		padding: 12px;
	}

	.sidebar-navigation {
		display: flex;
		flex-direction: column;
		flex: 1;

		.navigation-user {
			margin-top: auto;
		}
	}

	.button-sidebar-hide,
	.button-sidebar-show,
	.button-compact,
	.button-expand {
		position: absolute;
		top: 12px;
		width: 24px;
		height: 24px;
		background: url(../img/icon-sprite.svg) no-repeat;
		border: none;
		border-radius: 0;
		text-indent: -9999px;
		opacity: .75;

		&:hover {
			opacity: 1;
		}

		@if $ui-transitions {
			transition: opacity $ui-transition-duration ease-out;
		}
	}

	.button-sidebar-hide {
		right: 12px;
		background-position: -540px -568px;
	}

	.button-sidebar-show {
		display: none;
		right: 12px;
		background-position: -570px -568px;
	}

	.button-compact {
		right: 36px;
		background-position: -540px -544px;
	}

	.button-expand {
		display: none;
		right: 36px;
		background-position: -570px -520px;
	}

	.scrollable {

		.scrollbar-track {
			background: $sidebar-scrollbar-track-color;
		}

		.scrollbar-thumb {
			background: $sidebar-scrollbar-thumb-color;
		}
	}
}


/*


	a {
		vertical-align: middle;
	}

	& + .wrapper {

		.sidebar-switch-nav {
			display: none;
		}
	}

	&.compact {
		box-shadow: 2px 0 6px $action-shadow-color;
		top: 0;
		bottom: 0;
		position: fixed;

		& + .wrapper {
			margin-left: 48px;
		}
	}

	&.mobile {
		box-shadow: 2px 0 6px $action-shadow-color;
		top: 0;
		bottom: 0;
		position: fixed;
		transform: translate3d(-110%, 0, 0);

		@if $ui-transitions {
			transition: transform $ui-transition-duration ease-out;
			will-change: transform;
		}

		&.opened {
			transform: translateX(0);
		}

		& + .wrapper {

			.sidebar-switch-nav {
				display: block;
			}
		}
	}
*/
