$sidebar-width: auto;
$sidebar-compact-width: 48px;
$sidebar-padding: 12px;

.sidebar {
	position: relative;
	z-index: 998;
	display: flex;
	flex-direction: column;
	width: max-content;
	max-width: 480px;
	background: $sidebar-bg-color;

	.sidebar-header {
		padding: $sidebar-padding;
	}

	.sidebar-nav {
		display: flex;
		flex-direction: column;
		flex: 1;
	}

	.nav-user {
		margin-top: auto;
	}

	.scrollable {
		.scrollbar-track {
			z-index: 1000;
			background: $sidebar-scrollbar-track-color;
		}

		.scrollbar-thumb {
			background: $sidebar-scrollbar-thumb-color;
		}
	}

	.button-hide,
	.button-show,
	.button-compact,
	.button-expand {
		position: absolute;
		top: $sidebar-padding;
		width: 24px;
		height: 24px;
		background: url(../img/icon-sprite.svg) no-repeat;
		border: none;
		border-radius: 0;
		text-indent: -9999px;
		opacity: .75;

		&:hover {
			opacity: 1;
		}

		@if $ui-transitions {
			transition: opacity $ui-transition-duration;
		}
	}

	.button-hide {
		right: $sidebar-padding;
		background-position: -540px -568px;
	}

	.button-show {
		display: none;
		right: $sidebar-padding;
		background-position: -570px -568px;
	}

	.button-compact {
		right: 24px + $sidebar-padding;
		background-position: -540px -544px;
	}

	.button-expand {
		display: none;
		right: 24px + $sidebar-padding;
		background-position: -540px -520px;
	}

	@if $ui-transitions {
		transition: max-width $ui-transition-duration,
					transform $ui-transition-duration ease-out;
		will-change: max-width;
		transform: translate3d(0, 0, 0);

		.logo {
			transition: width $ui-transition-duration;
		}

		.form-search {
			.search {
				transition: opacity $ui-transition-duration;
			}

			.search-icon {
				transition: transform $ui-transition-duration;
			}
		}
	}

	&.is-compact,
	&.is-hidden {
		position: fixed;
		top: 0;
		bottom: 0;
		z-index: 10001;
		box-shadow: 2px 0 6px $action-shadow-color;
	}

	&.is-compact {
		& + .wrapper {
			margin-left: $sidebar-compact-width;
		}

		.button-compact,
		.button-show {
			display: none;
		}

		.button-expand,
		.button-hide {
			display: inline-block;
		}

		.is-selected {
			& > a {
				&,
				&:hover,
				&:focus {
					background: $menu-main-selected-bg-color;
					border-color: $menu-main-selected-border-color;
					color: $menu-main-selected-color;
				}
			}
		}

		&:not(.is-opened) {
			max-width: $sidebar-compact-width !important;

			.scrollable {
				.scrollbar-track {
					display: none;
				}
			}

			.logo {
				width: $sidebar-compact-width - $sidebar-padding * 2;

				div {
					background-position: -540px -400px;

					@if $ui-transitions {
						transition: background 0s $ui-transition-duration * .7;
					}
				}
			}

			.button-compact,
			.button-expand,
			.button-hide,
			.button-show {
				opacity: 0;
			}

			.form-search {
				position: relative;

				.search {
					padding: 0 12px;
					opacity: 0;
				}

				.search-icon {
					top: 0;
					right: 0;
					opacity: 1;
					transform: scale(1);
				}
			}

			nav {
				a {
					color: transparent;

					&::after {
						opacity: 0;
					}
				}
			}

			.submenu {
				max-height: 0 !important;
			}
		}
	}

	&.is-hidden {
		.button-show {
			display: inline-block;
		}

		.button-compact,
		.button-expand,
		.button-hide {
			display: none;
		}

		&.focus-off {
			display: none;
		}

		& + .wrapper {

			.sidebar-nav-toggle {
				display: block;
			}
		}

		&:not(.is-opened) {
			transform: translate3d(-110%, 0, 0);
		}
	}
}

.sidebar-nav-toggle {
	display: none;
	flex-shrink: 0;
	margin-right: 10px;

	.button-toggle {
		width: 24px;
		height: 24px;
		background: url(../img/icon-sprite.svg) no-repeat -540px -592px;
		border: none;
		border-radius: 0;
		text-indent: -9999px;
		opacity: .75;

		&:hover {
			opacity: 1;
		}

		@if $ui-transitions {
			transition: opacity $ui-transition-duration ease-out;
		}
	}

	& + div {
		flex-shrink: 1;
	}
}
