.filter-container.tabfilter-container {
	padding: 0;
	border: 0 none;

	/* All tab filters content container */
	.tabfilter-content-container {
		border: 1px solid #353535;	//	TODO: change to scss variable
		padding: 10px 0;
	}

	/* Top navigation labels */
	nav > ul {
		background-color: $body-bg-color;
	}

	& > nav li {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		height: 26px;
	}

	/* tab filter label li element */
	.tabfilter-item-label {
		// @extend button;

		display: inline-block;
		background-color: $btn-bg-color;
		border: 1px solid $btn-bg-color;
		border-radius: 2px;
		color: $btn-font-color;
		margin-right: 1px;

		&.active,
		&.active:hover,
		&.active:focus {
			background-color: $ui-bg-color;
			border: 0 none;

			.icon-edit {
				opacity: 0.5;

				&:hover,
				&:focus {
					opacity: 1;
				}
			}

			.tabfilter-item-link[data-counter]::after {
				display: none;
			}
		}

		&.unsaved .tabfilter-item-link {
			font-style: italic;

			&:before {
				content: '*';
			}
		}

		.tabfilter-item-link[data-counter]::after {
			margin-left: .4em;
			padding: 0.1em 0.4em;
			font-size: $font-h3-size;
			background-color: $form-bg-color;
			color: $btn-alt-font-color;
			content: attr(data-counter);
		}
	}

	/* tab filter label li clickable a element */
	.tabfilter-item-link,
	.tabfilter-item-link:focus,
	.tabfilter-item-link:hover {
		display: inline-block;
		color: $btn-font-color;
		border-bottom: 0 none;
		line-height: 24px;
		padding: 0 11px;
	}

	.icon-edit {
		@extend .btn-widget-edit;

		cursor: pointer;
		vertical-align: middle;
		display: inline-block;
		opacity: 0;
	}
}
